<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-appSearch">
    <md-toolbar class="ks-header ks-search-header">
        <!--        <div layout="row" class="ks-header-divWrap">
                    <div flex layout="row" class="searchBox">
                        &lt;!&ndash;<md-autocomplete
                                class="searchInput"
                                ng-disabled="isDisabled"
                                md-no-cache="noCache"
                                md-min-length="0"
                                md-selected-item="vm.selectedItem"
                                md-selected-item-change="vm.search(vm.searchText,true)"
                                md-items="item in []"
                                md-search-text-change="vm.searchTextChange(searchText)"
                                md-search-text="vm.searchText"
                                placeholder="搜索：商品">
                        </md-autocomplete>&ndash;&gt;

                        <input  flex="100" layout="row" layout-align="center center" class="search" type="search" ng-model="searchTextVal"  placeholder="搜索：分类 商品 系列 服务"/>
                        <md-icon md-font-set="ks-icon" class="searchIcon">search</md-icon>
                    </div>

                    <div class="qx" ng-click="vm.searchTextCancel()">
                        取消
                    </div>
                </div>-->
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex layout="row">
                <!-- <md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->

                <div class="chevron_left_Wrap" ng-click="vm.fallbackPage()">
                    <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"></md-icon>
                </div>
                <div class="searchInputWrap" flex>
                    <input type="search" class="searchInput" ng-model="searchTmp" placeholder="搜索： 分类 商品 系列 服务"/>
                    <md-icon md-font-set="ks-icon" class="searchIcon" md-font-icon="ks-search"></md-icon>
                </div>
                <div class="rightDiv" ng-click="vm.search(searchTmp,true)">
                    <span class="spanSearch">搜索</span>
                </div>

            </div>
        </div>
    </md-toolbar>


    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="SearchTitle">热门搜索</div>
            <div class="hotBox" layout="column">
                <div flex class="row" layout="row" layout-padding layout-wrap>
                    <!-- <div flex layout="column" layout-align="center center" class="cur">蚕丝被</div>
                     <div flex layout="column" layout-align="center center" class="centerDiv">套件</div>
                     <div flex layout="column" layout-align="center center">四件套</div>-->


                    <!--<div flex layout="row" class="main" >-->
                        <div flex="33" layout ng-repeat="tmp in vm.states" class="mainChildren">
                            <div class="i cur" flex="" ng-click="vm.search(tmp.value,true)">
                                {{tmp.value}}
                            </div>
                        </div>
                   <!-- </div>-->
                </div>
            </div>
            <div class="ngif" ng-if="vm.locateStates.length > 0">
                <div class="solidDiv"></div>
                <div class="SearchTitle">搜索历史</div>
                <div class="searchRowBox" layout="column">
                    <div class="searchRow" layout="row" ng-repeat="tmp in vm.locateStates track by $index">
                        <div class="commodity" flex ng-click="vm.search(tmp)">{{tmp}}</div>
                        <div class="closeWrap">
                            <md-icon layout="row" ng-click="vm.removeCookie(tmp)" layout-align="center center"
                                     md-font-set="ks-icon" class="close" md-font-icon="ks-close"></md-icon>
                        </div>
                    </div>
                </div>
                <div class="btnSearch">
                    <span ng-click="vm.removeCookieAll()">清空搜索历史</span>
                </div>
            </div>
        </div>
    </md-content>
</div>
