<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-newPage">
    <md-toolbar class="ks-header-white" layout="row" ng-if="type == 'ANCIENT' ">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex ng-bind="title"></h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-toolbar class="ks-header-black" layout="row" ng-if="type == 'HOT' ">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex ng-bind="title"></h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>

    <md-content flex>

        <div class="guess" ng-if="type == 'HOT' ">
            <div layout="row" layout-wrap>
                <div flex="50" layout="column" class="rec-item" ng-repeat="item in list.itemsDesc track by $index">
                    <div flex layout="column" style="position: relative">
                        <!-- 多追加一层div，方便使用  layout-wrap 和 ng-repeat 。 需要CSS特殊处理  -->
                        <div class="item-img" ui-sref="main.item({itemId:item.itemId})">
                            <!--<img ng-src="{{vm.imgUrl}}{{item.img}}?imageView2/1/w/{{vm.simpleImg.w}}/h/{{vm.simpleImg.h}}"/>-->
                            <img ng-src="{{imgUrl}}/{{item.itemImg}}"
                                 img-holder/>
                        </div>
                        <div>
                            <div class="item-title">
                                {{item.itemTitle}}
                            </div>
                            <div class="item-price">
                                ￥{{item.skuPrice|num:2}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="type == 'ANCIENT' ">
            <img src="./assets/gfgy/gfgy_01.jpg" width="100%"/>
            <img src="./assets/gfgy/gfgy_02.jpg" width="100%"/>
            <img src="./assets/gfgy/gfgy_03.jpg" width="100%"/>
            <img src="./assets/gfgy/gfgy_04.jpg" width="100%"/>
            <img src="./assets/gfgy/gfgy_05.jpg" width="100%"/>
            <img src="./assets/gfgy/gfgy_06.jpg" width="100%"/>
            <img src="./assets/gfgy/gfgy_07.jpg" width="100%"/>
            <img src="./assets/gfgy/gfgy_08.jpg" width="100%"/>
            <img src="./assets/gfgy/gfgy_09.jpg" width="100%"/>
            <img src="./assets/gfgy/gfgy_10.jpg" width="100%"/>
        </div>

    </md-content>
</div>

<style>

    img {
        vertical-align: bottom;
    }
</style>