<div flex="" layout="column" class=" ks-main ks-iframe">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex class>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">小皇叔</span>
            </div>
        </div>
    </md-toolbar>
    <md-content flex="" id="content" class="top-border">
        <iframe id="iframHtml" width="100%" frameborder="no" name="ifrName" height="1500px"></iframe>
    </md-content>
</div>


