<div flex="" layout="column" class="ks-main ks-hotel">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>酒店详情</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex>
        <div class="slideindex">
            <ks-swiper-container direction="horizontal"
                                 initial-slide="0"
                                 effect="between"
                                 swiper="detailSwiper"
                                 loop="fale"
                                 autoplayDisableOnInteraction="false"
                                 autoplay="5000"
                                 show-nav-buttons="false"
                                 pagination-is-active="true"
                                 pagination-clickable="false"
                                 slides-per-view="1"
                                 space-between="5">
                <ks-swiper-slide class="swiper-slide" ng-repeat="sa in vm.data.result.imgs track by $index">
                    <img ng-src="{{imgUrl}}{{sa}}?imageView2/2/w/{{hotImg.w}}/h/{{hotImg.h}}"/>
                    <p class='slide-title'>{{sa.title}}</p>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
        <div class="detail-wrap">
            <div class="detail-txt" layout="column">
                <span class="detail-title">{{vm.data.result.title}}</span>
                <span class="detail-discr">{{vm.data.result.province}}{{vm.data.result.city}}{{vm.data.result.area}}{{vm.data.result.street}}</span>
            </div>
            <md-divider class="line"></md-divider>

        </div>
        <!--配套设施-->
        <div class="detail-icon">
            <div class="icon-title">配套设施</div>
            <div class="icon-wrap" layout="row" layout-wrap layout-fill layout-align="stretch">
                <div class="icon-con" flex="25" ng-repeat="detail in iconList track by $index">
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="{{detail.icon}}"></md-icon>
                    <div class="icon-discrb">{{detail.name}}</div>
                </div>
            </div>
        </div>
        <md-divider class="detail-icon-line"></md-divider>
        <div class="detail-wrap">
            <!--房源-->
            <div class="detail-instru">
                <div class="instru-title">房源介绍</div>
                <div class="instru-detail">
                    {{vm.data.result.memo}}
                </div>
            </div>
        </div>

        <!--地图-->
        <div style="height: 250px;margin: 25px 0;" id="allmap"></div>
        <div class="detail-wrap">
            <!--房源地址-->
            <div class="commit" layout="column">
                <div class="com-wrap" layout="row" layout-align="start start"
                     ng-click=" vm.clickCenter(vm.data.result)">
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-location"></md-icon>
                    <span flex>地址：{{vm.data.result.province}}{{vm.data.result.city}}{{vm.data.result.area}}{{vm.data.result.street}}</span>
                </div>
                <div class="com-wrap " layout="row">
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-telephone"></md-icon>
                    <a style="text-decoration: none" href="tel:{{vm.data.result.phone}}"><span>电话：{{vm.data.result.phone}}</span></a>
                </div>
            </div>
            <md-divider class="line"></md-divider>

            <!--住房须知-->
            <div class="need-know" id="need-detail">
                <!-- <div class="need-title">住房须知</div>
                 <div class="need-con" layout="row" layout-align="space-between center">
                     <div class="need-left" layout="column">
                         <span class="time-dis">入住时间</span>
                         <span class="time">12点之前</span>
                     </div>
                     <div class="need-line"></div>
                     <div class="need-right" layout="column">
                         <span class="time-dis">退房时间</span>
                         <span class="time">12点之后</span>
                     </div>
                 </div>-->
            </div>
            <md-divider class="line"></md-divider>
            <div class="end-wrap" layout="row" layout-align="center center">
                <div class="line-row"></div>
                <span>END</span>
                <div class="line-row"></div>
            </div>
        </div>


    </md-content>
</div>
