<div flex="" layout="column" class="ks-refund ks-main md-whiteframe-z2 ">
   <!-- <md-toolbar class="md-menu-toolbar ks-header">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="vm.fallbackPage()">
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
            </md-button>
            <h1 flex style="margin-left: -10px">申请退货</h1>
        </div>
    </md-toolbar>-->

    <md-toolbar class="md-menu-toolbar ks-header">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="vm.fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">申请退货</span>
            </div>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-content >
        <!--选择框-->
        <div class="choose">
            <div class="chooseContent" layout="row">
                <span>快递公司：</span>
                <div class="sel" flex>
                    <select flex data-ng-model="vm.logisticsCheck">
                        <option ng-repeat="log in vm.logistics.resultList" ng-value="log.status">{{log.name}}</option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_down</md-icon>
                </div>
            </div>
            <div class="chooseContent" layout="row">
                <span>快递单号：</span>
                <input flex type="text" data-ng-model="vm.textLogistics">
                <!--style=’ resize: none;’-->
            </div>
        </div>
        <div class="contBottom">
            <div class="voucher" ng-if="vm.imgs.length">
                <div class="voucherTxt" ng-repeat="img in vm.imgs" >
                    <div class="voucherPhoto">
                        <div class="img">
                            <img ng-src="{{vm.imgUrl}}{{img.avatar}}?imageView2/2/w/{{vm.simpleImg.w}}/h/{{vm.simpleImg.h}}">
                        </div>
                        <div class="txtWarp">
                            <textarea maxlength="10" style="resize: none" placeholder="输入说明"></textarea>
                        </div>
                        <div class="delete" ng-click="vm.removeImg(img.id)">
                            <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">delete</md-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add" ng-click="vm.updateAvatar()" ng-if="vm.imgs.length<3">
                <div class="font">
                    <div class="fontWrap">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">plus</md-icon>
                    </div>
                <span>
                    <span>上传凭证</span>
                    <p style="padding: 0;    margin: 0;">(最多三张)</p>
                </span>
                </div>
            </div>
        </div>
        <div class="fixed" ng-click="vm.submitLogistics()">
            <div>
                <span>提交申请</span>
            </div>
        </div>
    </md-content>

</div>

<input type="file" nv-file-select uploader="vm.uploader" style="display: none" id="uploaderFile"/>