<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-topics">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>精选专题</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex>
        <!--精选专题-->
        <div class="zhuanti">
            <div class="parent" ng-repeat="s in list.recList">
                <div class="zhuanti-img-wrap" ui-sref="main.previewTemplate.topdetail({id:s.id})">
                    <img ng-src="{{imgUrl}}/{{s.img}}?imageView2/2/w/{{indexBelowImg.w}}/h/{{indexBelowImg.h}}"
                         img-holder/>
                    <div class="block"></div>
                </div>
                <div class="img-btn-wrap" layout="row">
                    <div flex="33" ng-repeat="l in s.skus |limitTo:3">
                        <div class="img-btn" ui-sref="main.item({itemId:l.itemId,skuId:l.id})">
                            <div class="img-wrap">
                                <img ng-src="{{imgUrl}}/{{l.firstImg}}?imageView2/2/w/{{indexBelowImg.w}}/h/{{indexBelowImg.h}}"
                                     img-holder/>
                            </div>
                            <div class="dis">
                                <div class="dis-title">
                                    {{l.title}}
                                </div>
                                <div class="dis-price">
                                    ￥{{l.price}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>
