<div flex="" layout="column" class="ks-paymentMethod ks-main md-whiteframe-z2 " style="">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="sqtz" ng-if="!order">支付方式</span>
                <span class="sqtz" ng-if="order">支付</span>
            </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content>
        <div class="payStaleTop">
            <span>支付方式</span>
            <span class="ye">{{qqq}}</span>
        </div>
        <div class="payStyleNext">
            <div class="alipay" layout="row" ng-repeat="ss in list" ng-click="choose(ss.name)">
                <div class="alipayCont">
                    <!--<md-icon class="ks-rmb-symbol ks-icon" md-font-set="ks-icon">ks-rmb-symbol</md-icon>-->
                    <md-icon md-font-set="ks-icon {{ss.icon}}" class="chevron_left ks-icon" md-font-icon="{{ss.icon}}"></md-icon>
                </div>
                <div class="alipayRight" flex>
                    <span>{{ss.name}}
                    </span>
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-if="!state[ss.name]">r-unselected
                    </md-icon>
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-if="state[ss.name]"
                             style="color: #ba9f6e">r-selected
                    </md-icon>
                </div>
            </div>
            <!--<div class="weixin" layout="row">
                <div class="weixinCont">
                    <md-icon md-font-set="ks-icon" class="chevron_left ks-icon" md-font-icon="ks-weixin"></md-icon>
                </div>
                <div class="weixinRight" flex>
                    <span>微信支付</span>
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-if="!state['b']">r-unselected</md-icon>
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-if="state['b']">r-selected</md-icon>
                </div>
            </div>
            <div class="alipay" layout="row">
                <div class="alipayCont">
                    <md-icon md-font-set="ks-icon" class="ks-alipay ks-icon" md-font-icon="ks-alipay"></md-icon>
                </div>
                <div class="alipayRight" flex>
                    <span>支付宝支付</span>
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-if="!state['c']" ng-click="">r-unselected</md-icon>
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-if="state['c']">r-selected</md-icon>
                </div>
            </div>-->

            <!-- <div class="alipay" layout="row">
                 <div class="alipayCont">
                     <md-icon md-font-set="ks-icon" class="ks-bank-logo-cmbchina ks-icon" md-font-icon="ks-bank-logo-cmbchina"></md-icon>
                 </div>
                 <div class="alipayRight" flex>
                     <span>招商银行储蓄卡</span>
                     <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-unselected</md-icon>
                     <span class="kuaijie">快捷支付</span>
                 </div>
             </div>
             <div class="alipay" layout="row">
                 <div class="alipayCont">
                     <md-icon md-font-set="ks-icon" class="ks-bank-logo-tccb ks-icon" md-font-icon="ks-bank-logo-tccb"></md-icon>
                 </div>
                 <div class="alipayRight" flex>
                     <span>天津银行储蓄卡</span>
                     <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-unselected</md-icon>
                     <span class="kuaijie">快捷支付</span>
                 </div>
             </div>
             <div class="alipay" layout="row">
                 <div class="alipayCont">
                     <md-icon md-font-set="ks-icon" class="ks-bank-logo-cmbchina ks-icon" md-font-icon="ks-bank-logo-cmbchina"></md-icon>
                 </div>
                 <div class="alipayRight" flex>
                     <span>天津银行储蓄卡</span>
                     <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-unselected</md-icon>
                     <span class="kuaijie">代扣</span>
                 </div>
             </div>-->

        </div>
        <!-- <div class="add">
             <span>添加银行卡</span>
             <md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>
         </div>-->

        <div class="bottomPay" layout="column">
            <span layout="row" flex layout-align="center center" ng-click="submit()">确定</span>
        </div>
    </md-content>

</div>