<div flex="" layout="column" class="ks-main ks-invoice-list">

    <md-toolbar class="md-menu-toolbar ks-header">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button">
                <md-icon md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
            </md-button>
            <h1 flex ng-click="empty=!empty">发票抬头</h1>
            <div class="icon-placeholder-right"></div>
        </div>
    </md-toolbar>

    <md-content flex layout="column" class="top-border not-empty" ng-if="!empty">

        <div class="invoice-row"
             layout="column"
             ng-repeat="invoice in invoices track by $index">

            <div class="invoice" layout="column">
                <div layout="row">
                    <div class="label">发票类型:</div>
                    <div class="content">个人</div>
                </div>
                <div layout="row">
                    <div class="label">发票抬头:</div>
                    <div class="content">毛豆豆</div>
                </div>
            </div>
            <md-divider></md-divider>

            <div class="actions"
                 layout
                 layout-align="start center">
                <div class="primary">

                    <md-icon md-font-set="ks-icon" md-font-icon="ks-r-selected" ng-if="$first"></md-icon>
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-r-unselected" ng-if="!$first"></md-icon>
                    设为默认
                </div>
                <div flex=""></div>
                <div class="secondary" md-ink-ripple>
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-edit-o"></md-icon>
                    编辑
                </div>
                <div class="secondary" md-ink-ripple>
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-trash-can-o"></md-icon>
                    删除
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center center" class="add-row">
            <md-button class="md-primary md-raised" flex> + 添加新发票抬头</md-button>
        </div>
    </md-content>


    <!-- 发票抬头列表为空 -->
    <md-content flex layout="column" class="top-border empty" ng-if="empty" class="empty">

        <div flex layout="column" layout-align="center center">
            <md-icon md-font-set="ks-icon" md-font-icon="ks-invoice" class="icon"></md-icon>
            <div class="txt">您还没有发票抬头，快开创建吧～</div>
        </div>

        <div layout="row" layout-align="center center" class="add-row">
            <md-button class="md-primary md-raised" flex> + 添加新发票抬头</md-button>
        </div>
    </md-content>
</div>