<div flex="" layout="column" class="ks-rechargecard ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">充值卡</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content>
        <div class="payNum">
            <div class="rechageset rechargeNum" layout="row" layout-align="center center">
                <div flex layout="row" layout-align="start end" class="cash-txt">
                    <span class="cardsell">售价：</span>
                    <span class="cardNum">￥{{requireM/100|num:1}}</span></div>
            </div>
            <div class="rechageset giftNum">
                <div class="cardapl">充值卡介绍</div>
                <div class="cardinfo">
                    ①面值：￥{{requireM/100+giveM/100|num:1}}<br>
                    ②本卡全平台通用<br>
                    ③充值卡的金额不能提现
                </div>
            </div>
        </div>
        <div class="diviline"></div>
        <!--<div class="payStaleTop">-->
        <!--<span>支付方式</span>-->
        <!--<span class="ye">{{qqq}}</span>-->
        <!--</div>-->
        <!--<div class="payStyleNext">-->
        <!--<div class="alipay" layout="row" ng-repeat="ss in list">-->
        <!--<div class="alipayCont">-->
        <!--&lt;!&ndash;<md-icon class="ks-rmb-symbol ks-icon" md-font-set="ks-icon">ks-rmb-symbol</md-icon>&ndash;&gt;-->
        <!--<md-icon md-font-set="ks-icon" class="chevron_left ks-icon" md-font-icon="{{ss.icon}}"></md-icon>-->
        <!--</div>-->
        <!--<div class="alipayRight" flex ng-click="choose(ss.name,ss.status)">-->
        <!--<span>{{ss.name}}</span>-->
        <!--<md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-if="!state[ss.name]" >r-unselected</md-icon>-->
        <!--<md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-if="state[ss.name]" style="color: #ba9f6e">r-selected</md-icon>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="bottomPay" layout="column" >
            <span layout="row" flex layout-align="center center" ng-click="submit()">购买</span>
        </div>
    </md-content>

</div>