<div flex="" layout="column" class="md-whiteframe-z2 ks-selsectProduct ks-main">
    <md-toolbar class="md-menu-toolbar ks-header">
        <div class="md-toolbar-tools ">
            <!--<md-button class="md-icon-button" style="margin-left: -10px" ng-click="fallbackPage()">
                <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
            </md-button>-->
            <div class="chevron_left_Wrap" ng-click="fallbackPage()">
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"></md-icon>
            </div>
            <!--<h1 flex></h1>-->
            <div class="md-icon-button" ui-sref="main.cart()"
                 style="position: absolute; top: 0;right: 45px;line-height: 44px;">
                <!--<md-icon class="shopping-cart-o" md-font-set="ks-icon">shopping-cart-o</md-icon>-->
                <md-icon md-font-set="ks-icon" class="shopping-cart-o" md-font-icon="ks-shopping-cart-o"></md-icon>
                <i ng-if="cartSize.num>0">{{cartSize.num}}</i>
            </div>
            <div class="md-icon-button" ui-sref="main.index"
                 style="position: absolute; top: 0;right: 10px;line-height: 44px;">
                <!--<md-icon class="house-o" md-font-set="ks-house-o"></md-icon>-->
                <md-icon md-font-set="ks-icon" class="house-o" md-font-icon="ks-house-o"></md-icon>
                <!-- <md-icon class="ks-icon" md-font-set="ks-icon">house-o</md-icon>-->
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex>
        <ks-swiper-container direction="horizontal"
                             initial-slide="0"
                             effect="between"
                             swiper="swiper"
                             initial-slide="1"
                             loop="false"
                             show-nav-buttons="false"
                             pagination-is-active="true"
                             pagination-clickable="false"
                             slides-per-view="1"
                             space-between="5">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in  checkSku.imgs track by $index">
                <img ng-src="{{imgUrl}}{{s}}?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
            </ks-swiper-slide>

        </ks-swiper-container>
        <div class="empty">1</div>
        <div class="CommodityName">
            <!--有限时抢购的时候显示-->
            <span style="padding: 0 11px;
                        display: inline-block;
                        background-color: #e84e40;
                        font-size: 12px;
                        line-height: normal;
                        color: #fff;
                        margin-right: 12px;"
                  ng-if="checkSku.activity.name">{{checkSku.activity.name}}</span>
            {{checkSku.title}}
        </div>
        <div class="commodityPrice" ng-if="checkSku.price!=checkSku.acPrice">
            ￥{{checkSku.acPrice/100.0|num:1}}
            <span style="color: #999;font-size: 12px"><del>原价:¥{{checkSku.price/100.0|num:1}}</del></span>
            <span ng-if="itemDetail.type==='RENT_QUILT'">/ {{skuProp.company}}</span>
        </div>
        <div class="commodityPrice" ng-if="checkSku.price==checkSku.acPrice">
            ￥{{checkSku.acPrice/100.0|num:1}}
            <span ng-if="itemDetail.type==='RENT_QUILT'||itemDetail.type==='STUDENT_RENT'"
                  style="font-size: 14px;color: #101010;">/ {{skuProp.company}}</span>
        </div>
        <div class="CommodityRemarks">
            <span>{{checkSku.description}}</span>
        </div>
        <div class="salesSupport" ng-if="type!=='Student'">
            <div>钱皇承担运费</div>
            <div>
            <span>
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-selected</md-icon>正品保证
            </span>
                <span>
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-selected</md-icon>假一罚万
            </span>
                <span>
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-selected</md-icon>15天无理由退款
            </span>
            </div>
        </div>
        <div class="line"></div>
        <div class="CommodityParameters" layout="column" layout-align="center center">
            <div flex ng-click="propItemQuery($event)" ng-if="type!=='Student'" layout="row"
                 layout-align="center center">
                <span style="width: 70px">商品参数</span>
                <span class="wrap" flex="70" style="visibility: hidden">
                    <span ng-repeat="spec in checkSku.specs track by $index">{{spec.name}}:{{spec.value}},</span>
                </span>
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_right</md-icon>
            </div>

            <div flex ng-click="checkSkuDialog($event,1)" layout="row" layout-align="start center">
                <span style="width: 55px">已选：</span>
                <span class="wrap" flex="70" layout-align="start">
                    <span ng-repeat="spec in checkSku.specs track by $index">{{spec.name}}:{{spec.value}},</span>
                </span>
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_right</md-icon>
            </div>
        </div>
        <div class="line"></div>
        <div class="tabsdemoDynamicHeight">
            <md-content>
                <md-tabs md-stretch-tabs="always" md-dynamic-height="" md-border-bottom="">
                    <md-tab md-stretch-tabs="always" md-stretch-tabs label="商品详情">
                        <md-content class="md-padding" md-swipe-content="false">
                            <div class="ks-item-desp" ng-bind-html="checkSku.detail">
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab md-stretch-tabs="always" md-stretch-tabs label="商品评论">
                        <md-content class="md-padding" style="margin-top: -8px">
                            <div class="AttributeCourent" ng-if="comment.commentList.length>0">
                                <div class="AttributeCourentTop">
                                    <!--<div class="txt active">全部</div>-->
                                    <div class="txt">非常实惠</div>
                                    <div class="txt">被子很舒服</div>
                                    <div class="txt">服务态度好</div>
                                    <br style="clear: both">
                                </div>
                                <div class="AttributeCourentCenter"
                                     ng-repeat="reply in comment.commentList  track by $index">
                                    <div class="centermainTop">
                                        <div class="topImg">
                                            <div class="empty"></div>
                                            <img ng-if="reply.userAvator"
                                                 ng-src="{{imgUrl}}{{reply.userAvator}}?imageView2/1/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                                                 alt=""/>
                                        </div>
                                        <div class="centermainTopTxt">
                                            <span class="txt1">{{reply.userName}}</span>
                                            <span class="txt2">{{reply.commentTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                        </div>
                                    </div>
                                    <div class="centermainBottom">
                                        <p>
                                            {{reply.content}}
                                        </p>
                                        <div class="bottomImg" ng-repeat="temp in reply.imgs track by $index">
                                            <img ng-src="{{imgUrl}}{{temp}}?imageView2/1/w/80/h/80"
                                                 ng-click="imgPreviewReply(reply.imgs,temp)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-align="center center" style="padding: 10px"
                                 ng-click="pageChanged()"
                                 ng-if="!comment.pageEnd">
                                <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff">
                                    点击加载更多...
                                </md-button>
                            </div>
                            <div layout="row" layout-align="center center" style="padding: 10px"
                                 ng-if="comment.pageEnd&&comment.totalCount>10">
                                没有更多评论
                                </md-button>
                            </div>
                            <div ng-if="comment.commentList.length==0" class="AttributeCourent">
                                <div flex="" layout="column" layout-align="center center"
                                     class="layout-align-center-center layout-column flex" style="height: 350px">
                                    <md-icon class="ks-icon" md-font-set="ks-icon" style="font-size: 60px;line-height: 60px;margin: 0 0 15px; color:#e5e5e5;
                                            background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(228, 228, 228, 1)), to(rgba(245, 245, 245, 1)));-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                                        msg
                                    </md-icon>
                                    <div class="txt" style="font-size: 14px;color: #999">该商品暂无评论</div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </md-content>

    <div class="fotter" layout="row">
        <div class="fotterLeft" layout="column" flex="20">
            <div layout="column" layout-align="center center">
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">chat</md-icon>
                <div ui-sref="main.item.im" style="font-size: 12px">咨询</div>
            </div>
        </div>
        <div flex="30" ng-click="itemPayBuy(0)">
            加入购物车
        </div>
        <div flex="50" ng-click="checkSkuDialog($event,1)">
            立即购买
        </div>
    </div>
</div>