<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-newLogin">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">登录</span>
            </div>

        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="">
        <div class="content-divWrap" layout="column" layout-align="center center">
            <div flex class="topWrap" layout="column" layout-align="center center">
                <div class="txt" flex>账号太多记不住？</div>
                <div class="txt" flex>微信一键登录，更安全，更方便</div>
            </div>
            <md-icon flex class="font" md-font-set="ks-icon" md-font-icon="ks-weixin"></md-icon>
            <div flex class="btnWrap">
                <div class="btn"  ng-click="wxLogin()">微信登录</div>
            </div>
            <div flex class="bottomTxt">点击登录意味着您同意<a ng-click="goRent()" href="">《用户协议》</a></div>
        </div>
    </md-content>
</div>


