<!--我的订单3-->
<header class="header">
    <div class="left">
        <a class="square" ng-click="fallbackPage()">
            <span class="iconfont icon-arrow icon"></span></a></div>
    <div class="center">
        <div class="title">
            配送信息
        </div>
    </div>
    <div class="right">
        <a class="square" ui-sref-opts="{reload: true}" ui-sref="main.index">
            <span class="iconfont icon-home2 icon"></span></a></div>
</header>
<div class="constant0">
    <section class="receiving" ng-repeat="tmp in transport.trans  track by $index">
        <h2>{{$index+1}}</h2>
        <dl>
            <dt>流程：</dt>
            <dd>
                <span style="margin-right: 20px" ng-cloak>{{tmp.name}}</span>
            </dd>
        </dl>
        <dl ng-if="tmp.begin">
            <dt>配送时间：</dt>
            <dd>
                <span style="margin-right: 20px" ng-cloak>{{tmp.begin|date:'yyyy-MM-dd'}}</span>
            </dd>
        </dl>
        <dl ng-if="tmp.end">
            <dt>收回时间：</dt>
            <dd>
                <span style="margin-right: 20px" ng-cloak>{{tmp.end|date:'yyyy-MM-dd'}}</span>
            </dd>
        </dl>
    </section>
</div>
<!--置顶按钮-->
<div to-top=""></div>