<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-hotelSettle">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>订单确认</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-content flex layout="column" style="overflow-x: hidden">

        <!--中间详细内容-->
        <div class="center-wrap">
            <!--配送内容-->
            <div class="transport" layout="column">
                <div class="title" layout="row" layout-align="start center" ui-sref="main.wallet.recharge({back:'hotelSettle'})">
                    <div class="block"></div>
                    <span class="discr-txt">当前余额：{{vm.price.balance/100 | num : 1}}</span>
                    <span class="right">
                        充值
                        <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_right"></md-icon>
                    </span>
                </div>
                <md-divider></md-divider>
                <div class="title" layout="row" layout-align="start center">
                    <div class="block"></div>
                    <span class="discr-txt">酒店地址</span>
                </div>
                <md-divider class="dashed"></md-divider>
                <div class="address" layout="column">
                    <div class="commit">
                        <span>{{vm.data.address.contact}}</span>
                        <span>{{vm.data.address.phone}}</span>
                    </div>
                    <div class="address-detail">
                        <span>{{vm.data.address.province}}/{{vm.data.address.city}}/{{vm.data.address.area}}/{{vm.data.address.street}}</span>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <!--带图片的样式-->
            <div class="item-list">
                <!---->
                <div class="title" layout="row" layout-align="start center">
                    <div class="block"></div>
                    <span class="discr-txt">商品清单</span>
                </div>
                <!--多个商品可以repeat这个div-->
                <div class="item-detail" ng-repeat="order in vm.data.orderList track by $index">
                    <md-divider class="dashed"></md-divider>
                    <!--多加一层方便布局-->
                    <div class="cen-msg" layout="row">
                        <div class="cen-img-wrap">
                            <!--图片直接在这里变，外层不要删-->
                            <img ng-src="{{vm.imgUrl}}{{order.img}}?imageView2/1/w/92/h/92"/>
                        </div>
                        <!--右边sku部分样式-->
                        <div class="cen-right" flex layout="column" layout-align="space-between start">
                            <div class="cen-title">
                                {{order.title}}
                            </div>
                            <div class="cen-sku">
                                <!-- span用于ng-repeat-->
                                <span ng-repeat="sku in order.specs track by $index">
                                    {{sku.name}} : {{sku.value}}
                                </span>
                            </div>
                            <div class="cen-bottom" layout="row" layout-align="space-between center">
                                <div calss="num">{{order.price/100 | num:1}}</div>
                                <div calss="num">X{{order.num}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div style="width: 100%;height: 60px;flex-shrink: 0"></div>
        </div>
    </md-content>
    <div class="pay-amount" layout="column" layout-align="center center">
        应付金额： ￥{{vm.data.paymentAmount/100 | num:1}}
    </div>
    <div class="submit-btn" layout="row" layout-align="center center">
        <md-button class="ks-black " flex="90" ng-click="vm.goPay()">去支付</md-button>
    </div>

</div>