<md-dialog class="newVipDialog" ng-cloak style="background: rgba(0,0,0,0);max-width: 600px; margin-bottom: 100px;">
    <div class="dialog-wrap" layout="row" style="background: rgba(0,0,0,0);max-width: 600px;padding: 30px 0;">
    </div>

    <div class="swiper-container4" style="position: relative">
        <div class="my-wrapper4">
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-game"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">主题活动</div>
                        <div class="bottom">插花、养生、运动、瘦身、育儿、经济、旅行（100钱币/次）</div>
                    </div>
                </div>
            </div>

            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-sign"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">特惠信息</div>
                        <div class="bottom">第一时间获知钱皇特惠活动信息</div>
                    </div>
                </div>
            </div>

            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-hand-heart"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">免费消毒</div>
                        <div class="bottom">纺织用品免费烘晒、消毒</div>
                    </div>
                </div>
            </div>


            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-cake"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">生日特权</div>
                        <div class="bottom">生日\结婚纪念日当月享受钱币翻倍,生日月可领20元生日券（店铺无门槛优惠券）</div>
                    </div>
                </div>
            </div>


            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-charge"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">商品兑换</div>
                        <div class="bottom">可用钱币兑换商品</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-crown-vip"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">会员活动</div>
                        <div class="bottom">参加各种活动，开始积累钱币</div>
                    </div>
                </div>
            </div>


            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-tie"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">资格优先</div>
                        <div class="bottom">优先参加活动资格</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-up-arrow"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">活动优先</div>
                        <div class="bottom">可用钱币兑换优质活动</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-discount"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">特价优先</div>
                        <div class="bottom">参加各种活动，开始积累钱币</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-crown-vip"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">免费精品</div>
                        <div class="bottom">不定期免费获得农副商品（大米、鸡蛋、水果、蔬菜……）</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-cap"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">奖品优先</div>
                        <div class="bottom">更大机率获得免费礼品、钱币、现金券……</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-percent"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">特价商品</div>
                        <div class="bottom">可以购买所有特价商品</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-new"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">新品体验</div>
                        <div class="bottom"> 优先获得钱皇新品体验机会,100钱币/次</div>
                    </div>
                </div>
            </div>


            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-wifi-40"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">免费WIFI</div>
                        <div class="bottom">提供WiFi、洗手间</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-reading"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">免费阅读</div>
                        <div class="bottom">阅读书籍、杂志报刊</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-taype"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">快递收发</div>
                        <div class="bottom">快递代收寄（门店区域范围）</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-diamond-40"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">会员独享</div>
                        <div class="bottom">享受每月“会员独享日”</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-drink"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">免费茶饮</div>
                        <div class="bottom">免费茶饮。绿茶、红茶、咖啡等</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-lightning"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">便捷充电</div>
                        <div class="bottom">使用充电器充电. 需：10钱币/次</div>
                    </div>
                </div>
            </div>

            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-building-o"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">场地借用</div>
                        <div class="bottom">使用场地（会友休闲、治谈商务）. 需：50钱币/次</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-racket"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">儿童玩乐</div>
                        <div class="bottom">儿童玩乐区（提供玩具、书籍、观看益智教育片等） 需50钱币/次</div>
                    </div>
                </div>
            </div>

            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-ding"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">应急用品</div>
                        <div class="bottom">免费借用日常应急用品（充电宝、创口贴、雨伞…）</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-dollar-o"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">内部优惠</div>
                        <div class="bottom">享受钱皇合作商家的内部优惠价</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-bed-quilt"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">急用借被</div>
                        <div class="bottom">借用应急蚕丝被 , 需100钱币/晚</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-endless"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">双重权益</div>
                        <div class="bottom">可带一个同伴参加线下活动</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-water"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">免费清洁</div>
                        <div class="bottom">免费清洁纺织品（床品、衣服）小块污渍</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-heart-40"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">免费代护</div>
                        <div class="bottom">免费代接儿童放学、看管老人 , 100钱币/次</div>
                    </div>
                </div>
            </div>
            <div class="my-slide4">
                <div class="dialog-box">
                    <div class="dialog-icon">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-dinner"></md-icon>
                    </div>
                    <div class="dialog-dis" layout="column" layout-align="center center">
                        <div class="top">免费简餐</div>
                        <div class="bottom">免费提供简餐， 100钱币/次</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</md-dialog>