<div flex="" layout="column" class="md-whiteframe-z2 ks-main ks-cms">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">活动列表</span>
            </div>
        </div>
    </md-toolbar>
    <md-content flex="" id="content" class="top-border">
        <div class="content-divWrap">
            <ul class="act-list">
                <li ng-repeat="temp in activity.cmsPage" ui-sref="main.cms.detail({id:temp.id})" class="act-item">
                    <div class="item-no1">
                        <div class="activity ib font22 pr05em vam">
                            {{temp.title}}
                        </div>
                    </div>
                </li>
            </ul>
            <button ng-click="pageChanged()" class="act-more" ng-if="!activity.pageEnd">加载更多~</button>
            <button class="act-more" ng-if="activity.pageEnd&&activity.curPage>1">没有更多了~</button>
        </div>
        <!--<div class="text-center">
            <pagination ng-change="pageChanged()" previous-text="<<" next-text=">>"
                        direction-links="true"
                        items-per-page="pageSize" total-items="activity.totalCount"
                        ng-model="activity.curPage"
                        max-size="maxSize" class="pagination-sm">
            </pagination>
        </div>-->
    </md-content>
</div>
