<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-groupOrderDetail">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>拼团详情</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-content flex layout="column" style="overflow-x: hidden">
        <ks-swiper-container direction="horizontal"
                             initial-slide="0"
                             effect="between"
                             swiper="vm.swiper"
                             initial-slide="1"
                             loop="false"
                             show-nav-buttons="false"
                             pagination-is-active="true"
                             pagination-clickable="false"
                             slides-per-view="1"
                             space-between="5">
            <ks-swiper-slide class="swiper-slide">
                <img img-holder
                     ng-src="{{vm.imgUrl}}{{vm.detail.item[0].imgs[0].key}}"/>
                <!--<img src="https://o96iiewkd.qnssl.com/FmkThhbJtK4AzxCXRP_unuOm4dot"/>-->
            </ks-swiper-slide>
        </ks-swiper-container>

        <!--文字描述-->
        <div class="parent-txt">
            <div class="top-txt" layout="column" layout-align="center start">
                <div class="title">
                    {{vm.detail.item[0].title}}
                </div>
                <div class="price-wrap" layout="row" layout-align="space-between end">
                    <div layout="row" layout-align="start end">
                        <span class="price-icon">￥</span>
                        <span class="price">{{vm.detail.item[0].skuList[0].activityPrice/100|num:0}}</span>
                        <span class="first-price">￥{{vm.detail.item[0].skuList[0].price/100|num:0}}</span>
                        <span class="dis">{{vm.detail.item[0].groupNum}}人团省{{vm.detail.item[0].skuList[0].price/100 - vm.detail.item[0].skuList[0].activityPrice/100|num:0}}元</span>
                    </div>
                    <div class="group-num">{{vm.detail.groupCount}}人已团</div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="icon-wrap" layout="row" layout-align="start center">
                <div class="icon-txt" layout="row">
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-check-c-o"></md-icon>
                    <span>正品保障</span>
                </div>
                <div class="icon-txt" layout="row">
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-check-c-o"></md-icon>
                    <span>快递包邮</span>
                </div>
                <div class="icon-txt" layout="row">
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-check-c-o"></md-icon>
                    <span>七天无理由</span>
                </div>
            </div>
            <div class="group-box">
                <div class="group-top">//以下小伙伴正在发起团购，您可直接参与//</div>
                <!--111-->
                <div ng-if="!vm.groupWrap[0]" style="text-align: center">暂无团购信息，马上去开团</div>
                <div class="group-dis" layout="row" layout-align="space-between center"
                     ng-if="vm.groupWrap[0]"
                     ng-repeat="group in vm.groupWrap|limitTo:2">
                    <div class="group-dis-left" layout="row" layout-align="center">
                        <div class="group-dis-img">
                            <!--<img src="https://img.kingsilk.net/FlJaKcjHMqM6GG8ODt_8EhEzy18n" alt="">-->
                            <img width="44px"
                                 height="44px"
                                 img-holder
                                 ng-src="{{vm.imgUrl}}{{group.img}}"/>
                        </div>
                        <div class="group-txt" layout="column" layout-align="center">
                            <div class="txt-title">{{group.nickName}}</div>
                            <div class="txt-address">{{group.addr}}</div>
                        </div>
                    </div>
                    <div class="group-dis-right" layout="row" layout-align="center">
                        <div class="group-right-time" layout="column" layout-align="center">
                            <div class="time-title" ng-if="group.groupNum-group.curSize>0">
                                还差{{group.groupNum-group.curSize}}人
                            </div>
                            <div class="time-title" ng-if="group.groupNum-group.curSize<=0">
                                团已满
                            </div>
                            <div class="time-final">剩余
                                {{vm.groupWrap[$index].activityCheck.hour}}:
                                {{vm.groupWrap[$index].activityCheck.minute}}:
                                {{vm.groupWrap[$index].activityCheck.second}}结束
                            </div>
                        </div>
                        <div class="group-right-btn"
                             ng-if="group.groupNum-group.curSize>0 && group.haveSelf == false"
                             ui-sref="main.groupOrder.group({payId:group.payId,unionGroupOrderId:group.unionGroupOrderId,id: vm.id,skuId: vm.skuId,fromLocal:'111'})">
                            <span>去参团</span>
                        </div>
                        <div class="group-right-btn"
                             ng-if="group.haveSelf == true"
                             ui-sref="main.groupOrder.startGroup({payId:group.payId,skuId: vm.skuId})">
                            <span>去查看</span>
                        </div>
                        <div class="group-right-btn"
                             ng-if="group.groupNum-group.curSize<=0"
                             ng-click="vm.checkSkuDialog($event,2)">
                            <span>去开团</span>
                        </div>
                    </div>
                </div>
                <div class="group-top">//拼团须知//</div>
                <div class="group-know" layou="row" layou-align="center center">
                    <div class="know-wrap" layout="row" layout-align="space-around center">
                        <span class="know" layout="row" layout-align="center center">
                            <span class="circle"></span>
                            <span>邀请好友</span>
                        </span>
                        <span class="know" layout="row" layout-align="center center">
                            <span class="circle"></span>
                            <span>人满发货</span>
                        </span>
                        <span class="know" layout="row" layout-align="center center">
                            <span class="circle"></span>
                            <span>人不满退款</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-line"></div>
        <div class="chooseItem">
            <div class="txt-parent" layout="row" layout-align="space-between center"
                 ng-click="vm.checkSkuDialog($event,2)">
                <div style="font-weight: normal">选择尺寸 / 款式 / 数量</div>
                <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_right"></md-icon>
            </div>
        </div>
        <div class="group-line"></div>
        <!--tab按钮部分-->
        <div class="tabsdemoDynamicHeight">
            <md-content>
                <md-tabs md-stretch-tabs="always" md-dynamic-height="" md-border-bottom="">
                    <md-tab md-stretch-tabs="always" md-stretch-tabs label="商品详情">
                        <md-content class="md-padding" md-swipe-content="false">
                            <div class="ks-item-desp" ng-bind-html="vm.skuDetail.detail">
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab md-stretch-tabs="always" md-stretch-tabs label="商品参数">
                        <md-content class="md-padding" style="margin-top: -8px">
                            <!-- <div class="parameterContent" layout="row"
                                  ng-repeat="tmp in vm.detail.item[0].props track by $index">
                                 <span class="content-wrap">{{tmp.name}}:</span>
                                 <div flex class="content-wrap-bottom">
                                     <span class="content-wrap-two">{{tmp.value}}</span>
                                 </div>
                             </div>-->
                            <div class="parameterContent" layout="row"
                                 ng-repeat="tmp in vm.detail.item[0].specs track by $index">
                                <span class="content-wrap">{{tmp.specName}}:</span>
                                <div flex class="content-wrap-bottom">
                                    <span class="content-wrap-two" ng-repeat="tmpValue in tmp.specValues">
                                        {{tmpValue.name}};
                                    </span>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </md-content>
    <div class="group-fotter" layout="row">
        <div class="service" layout="column" layout-align="center" flex="20" ng-click="vm.contactService()">
            <md-icon md-font-set="ks-icon" class="shopping-cart-o" md-font-icon="ks-chat-smile-o"></md-icon>
            <span>客服</span>
        </div>
        <div flex="40" class="single" layout-align="center" layout="column" ng-click="vm.checkSkuDialog($event,1)">
            <span>￥{{vm.detail.item[0].skuList[0].price/100|num:0}}</span>
            <span>单买</span>
        </div>
        <div flex="60" class="group" layout-align="center" layout="column" ng-click="vm.checkSkuDialog($event,2)">
            <span>￥{{vm.detail.item[0].skuList[0].activityPrice/100|num:0}}</span>
            <span>一键开团</span>
        </div>
    </div>
</div>


