<div flex="" layout="column" class="ks-orderList ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="">
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_left</md-icon>
            </md-button>
            <h1 flex style="margin-left: -10px" ng-click="aaa()">全部订单114 md-dynamic-height</h1>
        </div>
    </md-toolbar>
    <div class="sample" layout="column" ng-cloak>
        <md-tabs md-selected="selectedIndex"
                 md-border-bottom
                 md-center-tabs
                 md-swipe-content="true"
                 md-stretch-tabs="always">
            <md-tab label="全部"></md-tab>
            <md-tab label="待付款"></md-tab>
            <md-tab label="待发货"></md-tab>
            <md-tab label="待收货"></md-tab>
            <md-tab label="待评价"></md-tab>
        </md-tabs>
    </div>
    <md-content flex>
        <!-- ======================================== 内容 -->
        <div class="contentList" ng-repeat="comment in comments track by $index">
            <div class="contentListOne">
                <md-icon class="ks-icon" md-font-set="ks-icon">rent-order</md-icon>
                <span>租赁订单</span>
            </div>
            <div class="contentListTwo" layout="row">
                <span flex="70" layout="row" layout-align="start ">订单号：1234658764</span>
                <span flex="30" layout="row" layout-align="end ">待收货</span>
            </div>
            <div class="contentListThree" layout="row">
                <div class="contentListThreeImg">
                    <div class="empty"></div>
                    <img src="http://placehold.it/600x600">
                </div>
                <div class="contentListThreeRight" flex layout="column">
                    <div class="right1" flex>[租赁]钱皇全面被套100%工艺套100%工艺套100%工艺套100%工艺套100%工艺</div>
                    <span flex>尺寸：180X220cm,租期：2个月</span>
                    <div layout="row" layout-align="end">
                        <span layout="row" flex layout-align="start ">￥10</span>
                        <span layout="row" layout-align="end ">￥10</span>
                    </div>
                </div>
            </div>
            <div class="contentListFour" layout="row">
                <span flex layout-align="start">共1件</span>
                <span layout-align="end"> 订单金额：￥1200</span>
            </div>
            <div class="contentListFive" layout="row">
                <div flex></div>
                <span layout-align="end center">确认收获</span>
                <span layout-align="end center">查看物流</span>
            </div>
            <div class="line"></div>
        </div>
    </md-content>
</div>