<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-hotelManage">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>酒店管理</h1>
        <div class="md-icon-button" flex="20" ui-sref="main.hotelManage.hotelCart()">
            <md-icon style="text-align: right;" class="ks-icon" md-font-set="ks-icon"
                     md-font-icon="ks-fileboard-down-o"></md-icon>
        </div>
    </md-toolbar>
    <md-content flex style="overflow-x: hidden">
        <!--上面部分的信息展示-->
        <div class="top-wrap" layout="row" layout-align="center stretch">
            <div flex class="msg-wrap" layout="column">
                <div class="txt">账户余额</div>
                <div class="num">￥{{vm.data.balance/100| num : 1}}</div>
            </div>
            <div flex class="msg-wrap">
                <div class="txt">今日收入</div>
                <div class="num red">￥{{vm.data.totalPrice/100| num : 1}}</div>
            </div>
        </div>
        <div class="top-wrap" layout="row">
            <div flex class="msg-wrap" layout="column">
                <div class="txt">上架数量</div>
                <div class="num">{{vm.data.totalCount}}</div>
            </div>
            <div flex class="msg-wrap">
                <div class="txt">进货数量</div>
                <div class="num gold">{{vm.data.storage}}</div>
            </div>
        </div>


        <!--下面的图标按钮-->
        <div class="parent-warp" layout="column">
            <div class="icon-wrap" layout="row" layout-align="space-around center">
                <div class="con-wrap" layout="column" ng-click="vm.gotoHotelOrder()">
                    <md-icon class="ks-icon" md-font-set="ks-icon"
                             md-font-icon="ks-order-manage"></md-icon>
                    <div class="con-txt">订单管理</div>
                    <div class="numMsg" ng-if="vm.data.orderCount >0 ">
                        <i>{{vm.data.orderCount}}</i>
                    </div>
                </div>
                <div class="con-wrap" layout="column" ng-click="vm.gotoItemManage()">
                    <md-icon class="ks-icon" md-font-set="ks-icon"
                             md-font-icon=" ks-manage"></md-icon>
                    <div class="con-txt">商品管理</div>
                </div>
                <div class="con-wrap" layout="column" ng-click="vm.gotoHotelShare()">
                    <md-icon class="ks-icon" md-font-set="ks-icon"
                             md-font-icon="ks-qr-code"></md-icon>
                    <div class="con-txt">店铺信息</div>
                </div>
            </div>
            <div class="icon-wrap" layout="row" layout-align="space-around center">
                <div class="con-wrap" layout="column" ng-click="vm.goUrl(vm.data.wapIndexList[0].url)">
                    <md-icon class="ks-icon" md-font-set="ks-icon"
                             md-font-icon="ks-combine"></md-icon>
                    <div class="con-txt">被子下单</div>
                </div>
                <div class="con-wrap" layout="column" ng-click="vm.goUrl(vm.data.wapIndexList[1].url)">
                    <md-icon class="ks-icon" md-font-set="ks-icon"
                             md-font-icon="ks-stats"></md-icon>
                    <div class="con-txt">月度结算</div>
                </div>
                <div class="con-wrap" layout="column" ui-sref="main.wallet({back:'hotel'})">
                    <md-icon class="ks-icon" md-font-set="ks-icon"
                             md-font-icon="ks-wallet-balance"></md-icon>
                    <div class="con-txt">我的余额</div>
                </div>
            </div>
            <!--<div style="width: 50px;height: 50px; background: red" ui-sref="main.hotelManage.hotelBill"></div>-->
        </div>
    </md-content>
</div>