stacktrace.log
web-app/WEB-INF/classes
target/
.classpath
.settings/
.project
*.iml
*.ipr
*.iws
*.swp
.idea/
node_modules
bower_components
./dist
*.log
.sonar/
dist/

app/node_modules
app/bower_components

