
<!--<md-dialog class="ks-lotteryDetail">-->
    <!--<div class="ks-lotteryDetail-titleImg"></div>-->
    <!--<md-dialog-content class="ks-lotteryRules-main">-->

        <!--<div class="ks-lotteryDetail-title">-->
            <!--<label>恭喜您</label>-->
        <!--</div>-->
        <!--<div class="ks-lotteryDetail-list">-->
            <!--<div></div>-->
        <!--</div>-->
        <!--<div class="ks-lotteryDetail-btn">-->
        <!--</div>-->
    <!--</md-dialog-content>-->
<!--</md-dialog>-->


<md-dialog class="ks-lotteryList">
    <md-toolbar>
        <div class="ks-lotteryRules-title">
            <label>恭喜您</label>
            <div class="ks-lotteryRules-cancel" ng-click="vm.cancel()">
                +
                <!--<md-icon md-font-set="ks-icon" md-font-icon="ks-close">+</md-icon>-->
            </div>
        </div>
        <div class="ks-lotteryDetail-titleImg"></div>
    </md-toolbar>
    <md-dialog-content class="ks-lotteryRules-main">
        <!--<div class="ks-lotteryRules-title">-->
        <!--<label>游戏规则</label>-->
        <!--<div class="ks-lotteryRules-cancel" ng-click="vm.cancel()">-->
        <!--<md-icon md-font-set="ks-icon" md-font-icon="ks-close"></md-icon>-->
        <!--</div>-->
        <!--</div>-->
        <div class="ks-lotteryRules-list">
            <md-content>
                <div ng-repeat="order in vm.list">
                    <div class="list" layout="row">
                        <img ng-src="{{vm.imgUrl}}{{order[0].awardImg}}"   width="90px">
                        <div style="float: right">
                            <p class="title">{{order[0].title}}:{{order[0].awardName}}</p>
                            <p class="desp">{{order[0].prompt}}</p>
                        </div>
                    </div>
                    <div class="list" layout="row" ng-if="order[1]">
                        <img ng-src="{{vm.imgUrl}}{{order[1].awardImg}}"   width="90px">
                        <div style="float: right">
                            <p class="title">{{order[1].title}}:{{order[1].awardContent}}</p>
                            <p class="desp">{{order[1].prompt}}</p>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </md-dialog-content>

    <md-dialog-actions >
        <div class="ks-lotteryDetail-buttomTop">
            <!--<div class="ks-lotteryDetail-btn" ng-click="vm.checkSubmit()"></div>-->
            <div class="ks-lotteryDetail-btn" ng-click="vm.cancel()"></div>
        </div>
        <div class="ks-lotteryDetail-buttom" ng-click="vm.cancel()">
            <div class="ks-lotteryDetail-btn" ></div>
        </div>
    </md-dialog-actions>


</md-dialog>