<div class="modal-header">
    <h3 class="modal-title">请输入图片验证码</h3>
</div>
<div class="modal-body">
    <div class="content" style="min-width: 260px">
        <div class="cmd_box addressWindow" layout="column">
            <dl layout="row">
                <dt flex="20">验证码:</dt>
                <dd flex="80" class="dd"><input class="form-control" type="text" data-ng-model="vms.imgCode"/></dd>
            </dl>
            <dl >
                <!--<dt>验证码:</dt>-->
                <dd ><img ng-src="{{vms.tokenImg}}" ng-click="vm.refresh()"></dd>
                <dt  class="dd"><span style="color:#a4a4a4" ng-click="vms.refresh()">看不清楚?换一张.</span></dt>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer" layout="row">
    <div class="btnWrap" flex layout-align="center center">
        <button class="btn btn-danger1" ng-click="vms.cancel()" >取消</button>
    </div>
    <div class="btnWrap" flex layout-align="center center">
        <button class="btn btn-default1" ng-click="vms.sendSuccessCode()" >发送</button>
    </div>

</div>
