<div flex="" layout="column" class=" ks-main ks-estimate" xmlns="">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="vm.fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="sqtz">评价</span>
            </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="niming">
            <div class="nimingBox">
                <div class="line"></div>
                <span>匿名评价配送员</span>
                <div class="line"></div>
            </div>

        </div>
        <div class="content-divWrap">

            <div class="evalua">
                <div class="evaluaTop" layout="row">
                    <span layout="column" layout-align="center">配送速度</span>
                    <!--点击的时候变成填充样式-->
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(1)" ng-if="list[0]">star</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(2)" ng-if="list[1]">star</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(3)" ng-if="list[2]">star</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(4)" ng-if="list[3]">star</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(4)" ng-if="list[4]">star</md-icon>

                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(1)" ng-if="!list[0]">star-o</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(2)" ng-if="!list[1]">star-o</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(3)" ng-if="!list[2]">star-o</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(4)" ng-if="!list[3]">star-o</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCur(5)" ng-if="!list[4]">star-o</md-icon>
                </div>
                <div class="evaluaTop" layout="row">
                    <span layout="column" layout-align="center">服务态度</span>
                    <!--点击的时候变成填充样式-->
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(1)" ng-if="clickCurT[0]">star</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(2)" ng-if="clickCurT[1]">star</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(3)" ng-if="clickCurT[2]">star</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(4)" ng-if="clickCurT[3]">star</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(4)" ng-if="clickCurT[4]">star</md-icon>

                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(1)" ng-if="!clickCurT[0]">star-o</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(2)" ng-if="!clickCurT[1]">star-o</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(3)" ng-if="!clickCurT[2]">star-o</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(4)" ng-if="!clickCurT[3]">star-o</md-icon>
                    <md-icon flex class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="clickCurTow(5)" ng-if="!clickCurT[4]">star-o</md-icon>
                </div>
                <div class="textareaWrap">
                    <textarea placeholder="补充说明..." ng-model="textValue"></textarea>
                </div>

                <div class="submit-btn" layout="row" layout-align="center center" ng-click="tijiao()">
                    <md-button class="ks-black md-raised" flex="100" >提交</md-button>
                </div>
            </div>
        </div>
    </md-content>

    <div service-center="" info="index"></div>
</div>

