<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-authority">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>会员中心</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <div class="topMsg">
        <div class="new-wrap" layout="column" layout-align="space-around center">
            <div class="new-rank-wrap">
                <div class="new-line"></div>
                <div id="changeLine" ng-if="!hasMsg && vm.order && tab == vm.order"
                     ng-class="{green:vm.four,pink:vm.three,yellow:vm.two,red:vm.one,all:vm.order == '2'|| vm.order == '3'}"></div>
                <div id="changeLine2" ng-if="vm.order != '1' || tab != vm.order"
                     ng-class="{green2:vm.four,pink2:vm.three,yellow2:vm.two,red2:vm.one,all:vm.order == '2'|| vm.order == '3' }"></div>

                <div id="changeLine3" ng-if="!hasMsg && vm.order && tab == vm.order"
                     ng-class="{green3:vm.four1,pink3:vm.three1,yellow3:vm.two1,red3:vm.one1,all:vm.order == '3'}"></div>
                <div id="changeLine4" ng-if="vm.order != '2' || tab != vm.order"
                     ng-class="{green4:vm.four1,pink4:vm.three1,yellow4:vm.two1,red4:vm.one1,all:vm.order == '3'}"></div>
                <!--待做进度条-->
                <!-- <div class="changeLine"></div>-->
                <!--<div class="rank-one" layout="column" layout-align="center center"
                     ng-click="tabs(1)"
                     ng-if="vm.order != '1' || tab != vm.order"
                     ng-class="{clickThis:tab=='1',curHeadOne:vm.order == '1',curColor:vm.order<='3'}">
                    <div class="iconPar">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-v-one"></md-icon>
                    </div>
                    <div class="txt">银卡会员</div>
                </div>
                <div class="rank-two" layout="column" layout-align="center center"
                     ng-click="tabs(2)"
                     ng-if="vm.order != '2' || tab != vm.order"
                     ng-class="{clickThis:tab=='2',curColor:vm.order=='2' ||vm.order=='3'}">
                    <div class="iconPar">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-v-two"></md-icon>
                    </div>
                    <div class="txt">金卡会员</div>
                </div>
                <div class="rank-three" layout="column" layout-align="center center"
                     ng-click="tabs(3)"
                     ng-if="vm.order != '3' || tab != vm.order"
                     ng-class="{clickThis:tab=='3',curHeadThree:vm.order == '3',curColor:vm.order=='3'}">
                    <div class="iconPar">
                        <md-icon class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-v-three"></md-icon>
                    </div>
                    <div class="txt">钻石会员</div>
                </div>-->
                <div class="rank-wrap" layout="row" layout-align="space-between center">
                    <div class="rank-one" layout="column" layout-align="center center"
                         ng-click="tabs(1)"
                         ng-class="{clickThis:tab=='1',curHeadOne:vm.order == '1',curColor:vm.order<='3',opacity: tab == '1' && tab == vm.order}">
                        <div class="iconPar">
                            <md-icon class="ks-icon" md-font-set="ks-icon"
                                     md-font-icon="ks-v-one"></md-icon>
                        </div>
                        <div class="txt">银卡会员</div>
                    </div>
                    <!--  <div flex class="changeLine-L"></div>-->
                    <div class="rank-two" layout="column" layout-align="center center"
                         ng-click="tabs(2)"
                         ng-class="{clickThis:tab=='2',curColor:vm.order=='2' ||vm.order=='3',opacity: tab == '2' && tab == vm.order}">
                        <div class="iconPar">
                            <md-icon class="ks-icon" md-font-set="ks-icon"
                                     md-font-icon="ks-v-two"></md-icon>
                        </div>
                        <div class="txt">金卡会员</div>
                    </div>
                    <!--<div flex class="changeLine-R"></div>-->
                    <div class="rank-three" layout="column" layout-align="center center"
                         ng-click="tabs(3)"
                         ng-class="{clickThis:tab=='3',curHeadThree:vm.order == '3',curColor:vm.order=='3',opacity: tab == '3' && tab == vm.order}">
                        <div class="iconPar">
                            <md-icon class="ks-icon" md-font-set="ks-icon"
                                     md-font-icon="ks-v-three"></md-icon>
                        </div>
                        <div class="txt">钻石会员</div>
                    </div>
                    <div flex class="headPicture"
                         ng-if="!hasMsg && vm.order && tab == vm.order"
                         ng-class="{curHeadOne:vm.order == '1',curHeadTwo:vm.order == '2',curHeadThree:vm.order == '3'}">
                        <div class="picture">
                            <!-- 已登录 -->
                            <img ng-if="user.userInfo.avatar && user.userInfo.userId" ui-sref-opts="{reload: true}"
                                 ui-sref="main.user({s:'center'})" class="img-circle"
                                 ng-src="{{userAvt}}"/>
                            <!--ng-src="{{ss}}"/>-->
                            <md-icon ng-if="!user.userInfo.userId" ui-sref-opts="{reload: true}"
                                     class="img-icon" ng-click="login()"
                                     md-font-set="ks-icon" md-font-icon="ks-logo-o"></md-icon>
                        </div>
                        <i class="vipWrap">
                            <!--判断钱币等级是否是1级-->
                            <md-icon ng-if="vm.order=='1'" class="ks-icon" md-font-set="ks-icon"
                                     md-font-icon="ks-v-one"></md-icon>
                            <md-icon ng-if="vm.order=='2'" class="ks-icon" md-font-set="ks-icon"
                                     md-font-icon="ks-v-two"></md-icon>
                            <md-icon ng-if="vm.order=='3'" class="ks-icon" md-font-set="ks-icon"
                                     md-font-icon="ks-v-three"></md-icon>
                        </i>
                        <div class="loginStatus">
                            <div style="min-width: 80px;min-height: 27px">
                                <span ng-if="user.userInfo.userId&&user.userInfo.nickName"
                                      ui-sref="main.user({s:'center'})">
                                        {{user.userInfo.nickName}}
                                </span>
                                <span ng-if="user.userInfo.userId&&!user.userInfo.nickName&&user.userInfo.name"
                                      ui-sref="main.user({s:'center'})">
                                        {{user.userInfo.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--当有头像的时候-->
                <!--vm.order是会员等级    tab使点击时的-->
                <!--<div flex class="headPicture"
                     ng-if="!hasMsg && vm.order && tab == vm.order"
                     ng-class="{curHeadOne:vm.order == '1',curHeadTwo:vm.order == '2',curHeadThree:vm.order == '3'}">
                    <div class="picture">
                        &lt;!&ndash; 已登录 &ndash;&gt;
                        <img ng-if="user.userInfo.avatar && user.userInfo.userId" ui-sref-opts="{reload: true}"
                             ui-sref="main.user({s:'center'})" class="img-circle"
                             ng-src="{{imgUrl}}{{user.userInfo.avatar}}?imageView2/1/w/{{simpleImg.w}}/h/{{simpleImg.h}}"/>
                        <md-icon ng-if="!user.userInfo.userId" ui-sref-opts="{reload: true}"
                                 class="img-icon" ng-click="login()"
                                 md-font-set="ks-icon" md-font-icon="ks-logo-o"></md-icon>
                    </div>
                    <i class="vipWrap">
                        &lt;!&ndash;判断钱币等级是否是1级&ndash;&gt;
                        <md-icon ng-if="vm.order=='1'" class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-v-one"></md-icon>
                        <md-icon ng-if="vm.order=='2'" class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-v-two"></md-icon>
                        <md-icon ng-if="vm.order=='3'" class="ks-icon" md-font-set="ks-icon"
                                 md-font-icon="ks-v-three"></md-icon>
                    </i>
                    <div class="loginStatus">
                        <div style="min-width: 80px;min-height: 27px">
                        <span ng-if="user.userInfo.userId&&user.userInfo.nickName"
                              ui-sref="main.user({s:'center'})">
                                {{user.userInfo.nickName}}
                        </span>
                        <span ng-if="user.userInfo.userId&&!user.userInfo.nickName&&user.userInfo.name"
                              ui-sref="main.user({s:'center'})">
                                {{user.userInfo.name}}
                        </span>
                        </div>
                    </div>
                </div>-->

            </div>
            <div class="new-click-wrap" layout="row" layout-align="space-between center">
                <div class="new-left" layout="column" ui-sref="main.vip.myPoints({tabId:'integral'})">
                    <div class="score">
                        <span class="score-txt">累计钱币</span>
                        <span class="score-color">{{vm.msgData.totalIntegral/100.0|num:1}}</span>
                    </div>
                    <div class="need-score" ng-if="vm.order != vm.data.agents.length">
                        <i style="font-style: inherit" ng-if="(vm.nextIntegral-vm.data.yearIntegral) <= 0">
                            明天即可升到下一等级
                        </i>
                        <i style="font-style: inherit" ng-if="(vm.nextIntegral-vm.data.yearIntegral) > 0">
                            还差{{(vm.nextIntegral-vm.data.yearIntegral)/100.0|num:1}}钱币升级至<span>V{{vm.order+1}}</span>
                        </i>
                    </div>
                    <div class="need-score" ng-if="vm.order == vm.data.agents.length">
                        已达到最高等级
                    </div>
                </div>
                <div class="new-line"></div>
                <div class="new-right" layout="column" ui-sref="main.vip.myPoints({tabId:'account'})">
                    <div class="score">
                        <span class="score-txt">当前钱币</span>
                        <span class="score-color">{{vm.msgData.integral/100.0|num:1}}</span>
                    </div>
                    <div class="need-score">
                        钱币明细
                    </div>
                </div>
            </div>
        </div>

        <!--底部白块-->
        <div class="whiteBlock"></div>
    </div>
    <md-content flex>
        <div class="newMsg">
            <div class="msgWrap" layout="row" layout-align="space-between start">
                <div class="newIconWrap" layout="row" layout-align="center center">
                    <md-icon class="ks-icon" md-font-set="ks-icon"
                             md-font-icon="ks-diamond-o-v"></md-icon>
                </div>
                <div class="newRightWrap" flex>
                    <div class="topTitle">会员升级</div>
                    <div class="bottomMsg">
                        <span ng-if="tab == '1'">
                            1.银卡会员-V1：注册小皇叔帐户同时关注小皇叔公众号的用户。
                        </span>
                        <span ng-if="tab == '2'">
                            1.金卡会员-V2：一次性消费满{{vm.data.agents[tab-1].price/100|num:1}}元或一年累计钱币满{{vm.data.agents[tab-1].integral/100|num:1}}。
                        </span>

                        <span ng-if="tab == '3'">
                            1.钻石会员-V3：一次性消费正价产品满{{vm.data.agents[tab-1].price/100|num:1}}元或一年内累积钱币满{{vm.data.agents[tab-1].integral/100|num:1}}分。
                        </span>
                        <span>
                             2.系统会根据用户的钱币和消费金额，检测是否升级为更高等级。会员等级一经提升，不会降级。
                        </span>
                    </div>
                </div>
            </div>
            <md-divider style="margin-top: 27px"></md-divider>
            <div class="msgWrap" layout="row" layout-align="space-between start">
                <div class="newIconWrap" layout="row" layout-align="center center">
                    <md-icon class="ks-icon" md-font-set="ks-icon"
                             md-font-icon="ks-gift-o"></md-icon>
                </div>
                <div class="newRightWrap" flex>
                    <div class="topTitle">会员福利</div>
                    <div class="bottomMsg" id="vipUpdate">

                    </div>
                </div>
            </div>
            <md-divider style="margin-top: 27px"></md-divider>
            <div class="msgWrap" layout="row" layout-align="space-between start">
                <div class="newIconWrap" layout="row" layout-align="center center">
                    <md-icon class="ks-icon" md-font-set="ks-icon"
                             md-font-icon="ks-star-o"></md-icon>
                </div>
                <div class="newRightWrap" flex>
                    <div class="topTitle">会员权益</div>
                    <div class="bottomMsg" id="vipLations">
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>
