<div flex="" layout="column" class="ks-lotteryMain md-whiteframe-z2 ks-main" style="position: relative">
    <div style="height: 160px"></div>


    <div class="number">
        <!--<img src="assets/img/lottery/lastNum.png" class="img" alt="" >-->
        {{lottery.number}}
    </div>


    <div  class="box1" id="box">

        <div style="position: relative">
            <img src="assets/img/lottery/img1.1.png" class="img00" alt="" ng-show="flog">
            <img src="assets/img/lottery/img1.2.png" class="img00" alt="" ng-show="!flog">
            <img src="assets/img/lottery/img2.0.png" class="img01" alt="" id=".img01">
            <img src="assets/img/lottery/img3.0.png" class="drawBtn2">
            <div class="turn" id="turnBtn" ng-click="turn()"></div>
        </div>

    </div>

    <div class="gameRules" ng-click="showGameRules($event)"></div>
    <!--<md-button ng-click="dialogShow($event)">弹窗</md-button>-->

</div>

