<md-dialog class="md-dialog-register">
    <div>
        <div class="imgReg">
            <img class="imgc" ng-src="{{vm.tokenImg}}" ng-click="vm.refresh()">
            <span style="color:#ba9f6e;margin: 5px 0 0 0;float: right;" ng-click="vm.refresh()" >看不清楚?换一张</span>
        </div>
        <div class="dialogInputWrap">
            <input type="text" placeholder="验证码（不区分大小写）" data-ng-model="vm.imgCode"/>
        </div>
        <div class="modal-footer" layout="row">


            <div class="btnWrap" flex layout-align="center center">
                <button class="btn btn-danger1" ng-click="vm.cancel()">取消</button>
            </div>
            <div class="btnWrap" flex layout-align="center center">
                <button class="btn btn-default1" ng-click="vm.answer()">发送</button>
            </div>
        </div>

    </div>
</md-dialog>