stacktrace.log
web-app/WEB-INF/classes
target/
.classpath
.settings/
.project
/db/
target-eclipse/classes
*.iml
*.ipr
*.iws
*.swp
.idea/
out/
/test/
.DS_Store
node_modules
bower_components
./dist
*.log
.sonar/
dist/
html/front/target/
html/gift/target/
html/hotel/target/
html/wineshop/target/
src/views/fff
src/controllers/TestController.js

src/demo/demo.js
src/demo/demo*.js.map
src/demo/demo.css
src/demo/demo*.css.map

