<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-newLogin">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex class>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()"
                         md-font-icon="ks-arrow_left"></md-icon>
                <!--两种状态-->
                <span class="regSpan">{{params.title}}</span>
                <!--<span class="regSpan">手机号登录</span>-->
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" ng-if="params.phoneLogin">
        <div class="content-divWrap" ng-if="!lottery">
            <form class="registerForm2">
                <div class="relative">
                    <input type="tel" placeholder="手机号" ng-change="checkPhone()" ng-model="user.phone"/>
                </div>
                <div layout="row" class="inputWrap" style="border-bottom: 1px solid #d5d5d5">
                    <div flex="70" layout="row" class="relative" style="border: none;">
                        <input type="tel" ng-change="checkCode()" placeholder="验证码" ng-model="user.code">
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <span ng-click="sendCode()" ng-if="state == 1">{{fsyzm}}</span>
                        <span ng-if="state == 2">{{fsyzm}}</span>
                    </div>
                </div>
                <md-button class="ks-black md-login-button" aria-label="Custom Icon Button" ng-click="submit()"
                           ng-disabled="!user.code || user.code.length <= 5 || !user.phone || user.phone.length<=10">
                    <!--绑定手机号时显示确认，手机号登录时显示登录-->
                    <span>{{confirm}}</span>
                    <!--<span>登录</span>-->
                </md-button>
                <!--手机号登录的时候显示，绑定手机号不显示-->
                <div class="loginLink" ng-if="confirm==='登录'">
                    <span>点击登录意味着您同意&nbsp;&nbsp;</span>
                    <a href=""><span ng-click="goRent()" class="loginGo">《用户协议》</span></a>
                </div>
            </form>
        </div>
    </md-content>
    <md-content flex="" ng-if="params.wxLogin">
        <div class="content-divWrap" layout="column" layout-align="center center" ng-if="!lottery">
            <div flex class="topWrap" layout="column" layout-align="center center">
                <div class="txt" flex>账号太多记不住？</div>
                <div class="txt" flex>微信一键登录，更安全，更方便</div>
            </div>
            <md-icon flex class="font" md-font-set="ks-icon" md-font-icon="ks-weixin"></md-icon>
            <div flex class="btnWrap">
                <div class="btn" ng-click="wxLogin()">微信登录</div>
            </div>
            <div flex class="bottomTxt">点击登录意味着您同意<a ng-click="goRent()" href="">《用户协议》</a></div>
        </div>
    </md-content>
</div>