<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-hotelBill">
    <!-- <md-toolbar class="ks-header" layout="row">
         <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
             <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
         </div>
         <h1 flex>护理账单</h1>
         <div class="md-icon-button" flex="20">

         </div>
     </md-toolbar>-->
    <div class="nav-wrap" layout="row" layout-align="center center">
        <div class="nav-msg" flex layout="column"
             ng-class="{active:vm.choose== '1'}"
             ng-click="vm.chooseType(vm.year,vm.month,'','1')">
            <div class="num">{{vm.data.totalCount}}</div>
            <div class="txt">全部酒店</div>
        </div>
        <div class="nav-msg" flex layout="column"
             ng-class="{active:vm.choose== '2'}"
             ng-click="vm.chooseType(vm.year,vm.month,'OVERDUE','2')">
            <div class="num">{{vm.data.overdueCount}}</div>
            <div class="txt">已逾期</div>
        </div>
        <div class="nav-msg" flex layout="column"
             ng-class="{active:vm.choose== '3'}"
             ng-click="vm.chooseType(vm.year,vm.month,'NOPAY','3')">
            <div class="num">{{vm.data.nopayCount}}</div>
            <div class="txt">未结款</div>
        </div>
        <div class="nav-msg" flex layout="column"
             ng-class="{active:vm.choose== '4'}"
             ng-click="vm.chooseType(vm.year,vm.month,'PAY','4')">
            <div class="num">{{vm.data.payCount}}</div>
            <div class="txt">已结款</div>
        </div>
    </div>
    <div class="tab-wrap">
        <md-tabs md-selected="vm.tableIndex"
                 md-border-bottom
                 md-center-tabs
                 md-swipe-content="true"
                 md-dynamic-height
                 md-center-tabs="true">
            <md-tab
                    ng-repeat="aa in vm.dateMonth track by $index"
                    label="{{aa.month}}月"
                    ng-class="{active:classStatus[1]}"
                    ng-click="vm.statusChoose(aa.year,aa.month,vm.type)"></md-tab>
        </md-tabs>
    </div>
    <md-content flex style="overflow-x: hidden" ng-if="vm.data.recList[0]">
        <!--上部line，不要动-->
        <div class="top-line"></div>
        <!--用于ng-repeat -->
        <div class="msg-wrap" layout="column" ng-repeat="bill in vm.data.recList track by $index">
            <div class="detail" layout="column">
                <!--逾期-->
                <img ng-if="bill.type == 'OVERDUE'" src="assets/img/over.png" width="40px"
                     height="28px">
                <!--已结-->
                <img ng-if="bill.type == 'PAY'" src="assets/img/pay.png" width="40px"
                     height="28px">
                <div class="title">{{bill.org.title}}</div>
                <div class="address">
                    <span ng-if="bill.org.province">{{bill.org.province}}</span>
                    <span ng-if="bill.org.city">{{bill.org.city}}</span>
                    <span ng-if="bill.org.area">{{bill.org.area}}</span>
                    <span ng-if="bill.org.street">{{bill.org.street}}</span>
                </div>
                <div class="time-num" layout="row" layout-align="space-between center">
                    <div class="time" ng-if="bill.type == 'OVERDUE'">上次结款：{{bill.last|date:'yyyy-MM-dd'}}</div>
                    <div class="time" ng-if="bill.type == 'NOPAY'">护理日期：{{bill.serviceDay|date:'yyyy-MM-dd'}}</div>
                    <div class="time red" ng-if="bill.type == 'PAY'">￥{{bill.rate|num:2}}</div>
                    <div class="time" ng-if="bill.type == 'PAY'">使用率：20%</div>
                    <div class="num">被子数量：X{{bill.number}}</div>
                </div>
            </div>
            <md-divider ng-if="bill.type == 'OVERDUE' || bill.type == 'NOPAY' "></md-divider>
            <!--底部按钮样式-->
            <div class="bottom-btn-wrap" layout="row" layout-align="end center">
                <div class="bot-btn red" ng-if="bill.type == 'OVERDUE'"
                     ng-click="vm.sendTemplate(bill.org.id,bill.number,'发起催款')">
                    发起催款
                </div>
                <div class="bot-btn " ng-if="bill.type == 'NOPAY'"
                     ng-click="vm.sendTemplate(bill.org.id,bill.number,'提醒酒店')">
                    提醒酒店
                </div>
            </div>
            <div class="top-line"></div>
        </div>

        <!--分页-->
        <div layout="row" layout-align="center center" style="flex-shrink: 0;padding: 10px">
            <md-button class="ks-white md-raised ks-white-noBorder" flex
                       style="color: #999;box-shadow: 0 0 0 0 #fff"
                       ng-click="vm.loadData();"
                       ng-show="!vm.pageEnd && vm.data.totalCount > 10 ">
                点击加载更多...
            </md-button>

            <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff"
                       ng-click="vm.loadData();"
                       ng-show="vm.pageEnd && vm.data.totalCount > 10">
                没有更多商品了
            </md-button>
        </div>

        <!--这个div不要动-->
        <div class="blank"></div>
    </md-content>

    <md-content flex layout="column" class="empty" ng-if="!vm.data.recList[0]">
        <div flex layout="column" layout-align="center center">
            <md-icon md-font-set="ks-icon" md-font-icon="ks-order-manage" class="icon"></md-icon>
            <div class="txt">暂无数据～</div>
        </div>
    </md-content>
</div>

