<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-weal">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>会员福利</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <div class="topMsg" layout="row">
        <div class="iconWrap">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-gift-o"></md-icon>
        </div>
        <span class="txt">感恩回馈</span>
    </div>
    <md-content flex style="box-sizing: border-box">
        <div class="wrap" layout="row" style="border-bottom: none">
            <div class="iconMsg">
                <md-icon ng-if="tab=='1'" class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-v-one"></md-icon>
                <md-icon ng-if="tab=='2'" class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-v-two"></md-icon>
                <md-icon ng-if="tab=='3'" class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-v-three"></md-icon>
            </div>
            <div flex class="txtMsg">
                <div class="titleMsg">V1等级福利介绍</div>
            </div>
            <!--&lt;!&ndash;V1&ndash;&gt;
            <div flex class="txtMsg" ng-if="tab=='1'">
                <div class="titleMsg">V1等级福利介绍</div>
                <div class="content" layout="column">
                    <span class="rope">
                        1.可获价值299元优惠券礼包；可获赠1000钱币
                    </span>
                    <span class="rope">
                            2.提供WiFi、洗手间
                    </span>
                    <span class="rope">
                            3.阅读书籍、杂志报刊
                    </span>
                    <span class="rope">
                            4.快递代收寄（门店区域范围）
                    </span>
                    <span class="rope">
                            5.第一时间获知钱皇特惠活动信息，免费接受最新产品信息。
                    </span>
                    <br>
                    <span class="rope">
                            6.享受每月“会员独享日”
                    </span>
                </div>
            </div>

            &lt;!&ndash;V2&ndash;&gt;
            <div flex class="txtMsg" ng-if="tab=='2'">
                <div class="titleMsg">V2等级福利介绍</div>
                <div class="content" layout="column">
                    <span class="rope">
                        1.可获价值299元优惠券礼包；可获赠1000钱币
                    </span>
                    <span class="rope">
                            2.提供WiFi、洗手间
                    </span>
                    <span class="rope">
                            3.阅读书籍、杂志报刊
                    </span>
                    <span class="rope">
                            4.快递代收寄（门店区域范围）
                    </span>
                    <span class="rope">
                            5.第一时间获知钱皇特惠活动信息，免费接受最新产品信息。
                    </span>
                    <br>
                    <span class="rope">
                            6.享受每月“会员独享日”
                    </span>
                    <span class="rope">
                            7.消费享1.5倍钱币
                    </span> <span class="rope">
                            8.生日\结婚纪念日享纪念品一份
                    </span>
                </div>
            </div>


            &lt;!&ndash;V3&ndash;&gt;
            <div flex class="txtMsg" ng-if="tab=='3'">
                <div class="titleMsg">V3等级福利介绍</div>
                <div class="content" layout="column">
                    <span class="rope">
                        1.可获价值299元优惠券礼包；可获赠1000钱币
                    </span>
                    <span class="rope">
                            2.提供WiFi、洗手间
                    </span>
                    <span class="rope">
                            3.阅读书籍、杂志报刊
                    </span>
                    <span class="rope">
                            4.快递代收寄（门店区域范围）
                    </span>
                    <span class="rope">
                            5.第一时间获知钱皇特惠活动信息，免费接受最新产品信息。
                    </span>
                    <br>
                    <span class="rope">
                            6.享受每月“会员独享日”
                    </span>
                    <span class="rope">
                            7.2.消费享2倍钱币
                    </span>
                    <span class="rope">
                            8.生日\结婚纪念日享纪念品一份
                    </span>
                    <span class="rope">
                            9.不定期免费获得各种农副产品（大米、鸡蛋、水果、蔬菜……）
                    </span>

                </div>
            </div>-->

        </div>
    </md-content>
</div>
