<div flex="" layout="column" class="ks-refund ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan" ng-if="patterns===0">申请退款</span>
                <span class="regSpan" ng-if="patterns===1">退货退款</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>

    <md-content>
        <!--选择框-->
        <div class="choose">
            <div class="chooseContent" layout="row">
                <span>申请服务：</span>
                <!--<div class="sel" flex ng-if="orderType==='SERVICE'">
                    <div style="margin-left: 10px">仅退款</div>
                </div>-->
                <div class="sel" flex>
                    <select flex data-ng-model="vm.type" ng-change="changeType()">
                        <option value="" checked="true">请选择服务类型</option>
                        <option ng-repeat="t in refundType" value="{{t.value}}">{{t.name}}</option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_down</md-icon>
                </div>
            </div>
            <!--这个仅退款的-->
            <!-- 商品才有货物状态，并且是选择为仅退款时 -->
            <!--<div class="chooseContent" layout="row" ng-if="vm.type==='MONEY_ONLY' && orderType == 'ITEM'">
                <span>货物状态：</span>
                <div class="sel" flex>
                    &lt;!&ndash;<select flex data-ng-model="reason">
                        <option value="" checked="true">选择货物状态</option>
                        <option value="未收到货" data-tip="实际未收到任何商品">
                            未收到货
                        </option>
                        <option value="已收到货" data-tip="实际已收到商品">
                            已收到货
                        </option>
                    </select>&ndash;&gt;
                    <select flex data-ng-model="vm.logistics" >
                        <option value="" checked="true">请选择货物状态</option>
                        <option ng-repeat="t in refund.logisticsStatus" value="{{t.status}}">{{t.name}}</option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_down</md-icon>
                </div>
            </div>-->
            <!--这个退货退款的，只有当申请服务选择退货退款时才显示-->
            <div class="chooseContent" layout="row" ng-if="vm.type=='GOOGS_AND_MONEY'">
                <span>退货原因：</span>
                <div class="sel" flex>
                    <select flex data-ng-model="vm.reason">
                        <option value="" checked="true">选择退货原因</option>
                        <!--<option ng-repeat="rr in refundReason" value="{{rr}}">{{rr}}</option>-->
                        <!--  <option value="商品质量">商品质量</option>
                          <option value="商品错发">商品错发</option>-->
                        <option value="七天无理由退换货" data-tip="申请七天无理由退换货，请注意保持商品的完好，且不影响二次销售">
                            七天无理由退换货
                        </option>
                        <option value="退运费" data-tip="如果您需要退还运费，可申请此退款，并提供有效凭证或与商家协商一致。">
                            退运费
                        </option>
                        <option value="收到商品破损" data-tip="如您收到商品时就存在破损问题，可选择此项退款原因，并且需要提供有效的物流凭证。">
                            收到商品破损
                        </option>
                        <option value="商品错发/漏发" data-tip="如商家发错或漏发商品，可选择此项退款原因，且您需要提供有效的物流凭证。">
                            商品错发/漏发
                        </option>
                        <option value="收到商品与描述不符" data-tip="收到的商品与商家或宝贝详情页面的描述存在不符的情况。">
                            收到商品与描述不符
                        </option>
                        <option value="商品质量问题" data-tip="若您收到的商品存在做工粗糙、商品瑕疵等质量问题时，可申请此原因退款">
                            商品质量问题
                        </option>
                        <option value="未按约定时间发货" data-tip="如您不需要退货，仅对商家未按约定时间发货不满">
                            未按约定时间发货
                        </option>
                        <option value="不想要了" data-tip="如果您只是不想要了，那可以选择此项退款原因">
                            不想要了
                        </option>
                        <option value="其它" data-tip="其它">
                            其它
                        </option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_down</md-icon>
                </div>
            </div>

            <!-- 退款原因，暂时和退货原因一样，别合并，后期会改，就先复制一份 -->
            <!--别合并-->
            <!--别合并-->
            <div class="chooseContent" layout="row" ng-if="vm.type.indexOf('MONEY_ONLY') >=0">
                <span>退款原因：</span>
                <div class="sel" flex>
                    <select flex data-ng-model="vm.reason">
                        <option value="" checked="true">选择退款原因</option>
                        <!--<option ng-repeat="rr in refundReason" value="{{rr}}">{{rr}}</option>-->
                        <!--  <option value="商品质量">商品质量</option>
                          <option value="商品错发">商品错发</option>-->
                        <option value="七天无理由退换货" data-tip="申请七天无理由退换货，请注意保持商品的完好，且不影响二次销售">
                            七天无理由退换货
                        </option>
                        <option value="退运费" data-tip="如果您需要退还运费，可申请此退款，并提供有效凭证或与商家协商一致。">
                            退运费
                        </option>
                        <option value="收到商品破损" data-tip="如您收到商品时就存在破损问题，可选择此项退款原因，并且需要提供有效的物流凭证。">
                            收到商品破损
                        </option>
                        <option value="商品错发/漏发" data-tip="如商家发错或漏发商品，可选择此项退款原因，且您需要提供有效的物流凭证。">
                            商品错发/漏发
                        </option>
                        <option value="收到商品与描述不符" data-tip="收到的商品与商家或宝贝详情页面的描述存在不符的情况。">
                            收到商品与描述不符
                        </option>
                        <option value="商品质量问题" data-tip="若您收到的商品存在做工粗糙、商品瑕疵等质量问题时，可申请此原因退款">
                            商品质量问题
                        </option>
                        <option value="未按约定时间发货" data-tip="如您不需要退货，仅对商家未按约定时间发货不满">
                            未按约定时间发货
                        </option>
                        <option value="不想要了" data-tip="如果您只是不想要了，那可以选择此项退款原因">
                            不想要了
                        </option>
                        <option value="其它" data-tip="其它">
                            其它
                        </option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_down</md-icon>
                </div>
            </div>

            <div class="chooseContent" layout="row" ng-if="vm.type==='GOOGS_AND_MONEY'">
                <span>退货数量：</span>
                <input flex type="text" placeholder="填写件数" ng-model="refund.applyedNum" ng-change="requireNum()">
            </div>
            <div class="chooseContent" layout="row">
                <span>退款金额：</span>
                <span style="line-height: 40px;width: auto;color: #101010;">￥</span>
                <!--<div style="line-height: 40px;margin-left: 10px;color:#dd191d" >{{refund.price}}</div>-->
                <input flex style="color: #dd191d;margin-left: 0;" type="text" placeholder="填写金额"
                       data-ng-model="refund.price" ng-change="requirePrice()">
            </div>
            <!--此段说明代码是新加的，也加了css样式-->
            <div class="chooseTxt">
                <span>(最多￥{{maxPrice}},含邮费￥0)</span>
            </div>
            <div class="chooseContent" layout="row">
                <span ng-if="patterns===0">退款说明：</span>
                <span ng-if="patterns===1">退货说明：</span>
                <textarea flex type="text" placeholder="最多200字" ng-change="checkText()" data-ng-model="vm.memo">
                </textarea>
                <!--style=’ resize: none;’-->
            </div>
        </div>
        <div class="voucher">
            <div class="voucherTxt" ng-repeat="img in imgs">
                <div class="voucherPhoto">
                    <div class="img">
                        <div class="imgTop"></div>
                        <img ng-src="{{imgUrl}}{{img.avatar}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                             alt="Picture" ng-click="imgPreviewReply(imgs,img.avatar)">
                    </div>
                    <div class="txtWarp">
                        <textarea maxlength="10" style="resize: none" placeholder="输入说明"></textarea>
                    </div>
                    <div class="delete">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="removeOneImg(img.id)">
                            delete
                        </md-icon>
                    </div>
                </div>
            </div>
            <div class="add" ng-if="imgs.length<3">
                <div class="font">
                    <div class="fontWrap">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="uploaderFiles()">plus
                        </md-icon>
                        <input type="file" nv-file-select uploader="uploader" style="display: none" id="uploaderFile"/>
                    </div>
                <span>
                    上传凭证
                    <br>
                    <span style="font-size: 13px">(最多三张)</span>
                </span>
                </div>
            </div>
        </div>


    </md-content>
    <div class="fixed" style="position: fixed;bottom: 0">
        <div>
            <span ng-click="orderRefund()">提交申请</span>
        </div>
    </div>
</div>