<div flex="" layout="column" class="ks-refund ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">取消订单</span>
            </div>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-content flex>

        <!--选择框-->
        <div class="choose">
            <div class="chooseContent" layout="row">
                <!--<select class="form-control" data-ng-model="vm.reason" style="font-size: 13px;color: #646464;">-->
                <!--<option value="" checked="true">选择退货原因</option>-->
                <!--&lt;!&ndash; <option value="商品错发/漏发" data-tip="如商家发错或漏发商品，可选择此项退款原因，且您需要提供有效的物流凭证。">-->
                <!--商品错发/漏发-->
                <!--</option>&ndash;&gt;-->
                <!--<option value="拍错" data-tip="天猫商家承诺提供发票，若商家实际未提供发票，您可以要求商家进行补寄，您也可以提供凭证申请维权。">-->
                <!--拍错-->
                <!--</option>-->
                <!--<option value="未按约定时间发货" data-tip="如您不需要退货，仅对商家未按约定时间发货不满">-->
                <!--未按约定时间发货-->
                <!--</option>-->
                <!--</select>-->
                <span>取消原因：</span>
                <div class="sel" flex>
                    <select flex data-ng-model="vm.reason">
                        <option value="" checked="true">选择退货原因</option>
                        <!-- <option value="商品错发/漏发" data-tip="如商家发错或漏发商品，可选择此项退款原因，且您需要提供有效的物流凭证。">
                             商品错发/漏发
                         </option>-->
                        <option value="拍错了" data-tip="天猫商家承诺提供发票，若商家实际未提供发票，您可以要求商家进行补寄，您也可以提供凭证申请维权。">
                            拍错了
                        </option>
                        <option value="不想要了" data-tip="如您不需要退货，仅对商家未按约定时间发货不满">
                            不想要了
                        </option>
                        <option value="其他" data-tip="">
                            其他
                        </option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_down</md-icon>
                </div>
            </div>

            <!--<div class="chooseContent" layout="row">-->
            <!--<textarea style="resize: none" class="form-control" ng-change="vm.checkText()"-->
            <!--data-ng-model="vm.memo"></textarea>-->
            <!--<div class="text-right" style="font-size: 12px;color: #909090;">剩余:{{vm.numWords}}字</div>-->
            <!--</div>-->
            <div class="chooseContent" layout="row">
                <span>取消说明：</span>
                <input flex type="text" placeholder="最多200字" ng-change="vm.checkText()" data-ng-model="vm.memo">
                <!--style=’ resize: none;’-->
            </div>
        </div>

        <!--<div class="add">
            <div class="font">
                <div class="fontWrap">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">plus</md-icon>
                </div>
                <span>
                    <span>上传凭证</span>
                    <p>(最多三张)</p>
                </span>
            </div>
        </div>-->
    </md-content>
    <div class="fixed">
        <!-- 没有这个方法<div>
             <span ng-click="vm.cancel()">取消</span>
         </div>-->

        <div>
            <span ng-click="vm.checkSubmit()">确定</span>
        </div>

    </div>
</div>
<!--

<div class="modal-body">
    <div class="content">
        <dl>
            <dt>取消原因:</dt>
            <dd>
                <select class="form-control" data-ng-model="vm.reason" style="font-size: 13px;color: #646464;">
                    <option value="" checked="true">选择退货原因</option>
                    &lt;!&ndash; <option value="商品错发/漏发" data-tip="如商家发错或漏发商品，可选择此项退款原因，且您需要提供有效的物流凭证。">
                         商品错发/漏发
                     </option>&ndash;&gt;
                    <option value="拍错" data-tip="天猫商家承诺提供发票，若商家实际未提供发票，您可以要求商家进行补寄，您也可以提供凭证申请维权。">
                        拍错
                    </option>
                    <option value="未按约定时间发货" data-tip="如您不需要退货，仅对商家未按约定时间发货不满">
                        未按约定时间发货
                    </option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>取消说明:</dt>
            <dd>
                <textarea style="resize: none" class="form-control" ng-change="vm.checkText()"
                          data-ng-model="vm.memo"></textarea>
                <div class="text-right" style="font-size: 12px;color: #909090;">剩余:{{vm.numWords}}字</div>
            </dd>
        </dl>
    </div>
</div>
<div class="modal-footer" style="cursor:default">
    <button class="btn btn-danger1" ng-click="vm.cancel()">取消</button>
    <button class="btn btn-default1" ng-click="vm.checkSubmit()">确定</button>
</div>-->
