<div flex="" layout="column" class="ks-orderList ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar" ng-if="vm.hide">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap" ng-class="{hideClass:vm.hide!='hide'}">
            <div class="divTop" flex>
                <md-icon ng-if="vm.hide=='hide'" md-font-set="ks-icon" class="chevron_left"
                         ng-click="vm.fallbackPage()" md-font-icon="ks-arrow_left">
                </md-icon>
                <span class="regSpan">全部订单</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <div class="sample" layout="column" ng-cloak style="flex-shrink:0;padding: 0">
        <md-tabs md-selected="vm.tableIndex"
                 md-border-bottom
                 md-center-tabs
                 md-swipe-content="true"
                 md-dynamic-height
                 md-stretch-tabs="always">
            <md-tab label="全部" ng-class="{active:classStatus[0]}" ng-click="vm.statusQueryAll(1)"></md-tab>
            <md-tab label="待付款" ng-class="{active:classStatus[1]}" ng-click="vm.statusQueryAll(2)"></md-tab>
            <md-tab label="待发货" ng-class="{active:classStatus[2]}" ng-click="vm.statusQueryAll(3)"></md-tab>
            <md-tab label="待收货" ng-class="{active:classStatus[3]}" ng-click="vm.statusQueryAll(4)"></md-tab>
            <md-tab label="待评价" ng-class="{active:classStatus[4]}" ng-click="vm.statusQueryAll(5)"></md-tab>
        </md-tabs>
    </div>
    <md-content flex ng-if="vm.orders.orders[0]">

        <!-- ======================================== 内容 -->
        <div class="contentList" ng-repeat="order in vm.orders.orders track by $index">
            <div class="contentListOne">
                <md-icon class="ks-icon" md-font-set="ks-icon"
                         md-font-icon="ks-rent-order"
                         ng-if="order.type==='RENT'"></md-icon>
                <md-icon class="ks-icon" md-font-set="ks-icon"
                         md-font-icon="ks-heart"
                         ng-if="order.type==='SERVICE'"></md-icon>
                <md-icon class="ks-icon" md-font-set="ks-icon"
                         md-font-icon="ks-hand-bag"
                         ng-if="order.type==='ITEM'"></md-icon>
                <md-icon class="ks-icon" md-font-set="ks-icon"
                         md-font-icon="ks-hand-bag"
                         ng-if="order.type==='CLEAN'"></md-icon>
                <md-icon class="ks-icon" md-font-set="ks-icon"
                         md-font-icon="ks-shelf"
                         ng-if="order.type==='ORGORDER'"></md-icon>
                <md-icon class="ks-icon" md-font-set="ks-icon"
                         md-font-icon="ks-menbers"
                         ng-if="order.type==='GROUPORDER'"></md-icon>
                <!--赔偿订单暂用这个图标-->
                <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-rmb-square"
                         ng-if="order.type==='RESTITUTION'"></md-icon>
                <span ng-if="order.type==='RENT'" style="margin-left: 0px">租赁订单</span>
                <span ng-if="order.type==='SERVICE'">服务订单</span>
                <span ng-if="order.type==='ITEM'">商品订单</span>
                <span ng-if="order.type==='RESTITUTION'">赔偿订单</span>
                <span ng-if="order.type==='CLEAN'">清洗订单</span>
                <span ng-if="order.type==='ORGORDER'">商铺订单</span>
                <span ng-if="order.type==='GROUPORDER'">拼团订单</span>
            </div>
            <div class="contentListTwo" layout="row" ng-click="vm.orderDetail(order)">
                <span flex="70" layout="row" layout-align="start ">订单号：{{order.seq}}</span>
                <span flex="30" layout="row" layout-align="end ">{{order.statusName}}</span>
            </div>
            <div class="contentListThree" layout="row" ng-click="vm.orderDetail(order)"
                 ng-repeat="item in order.orderItems">
                <div class="contentListThreeImg">
                    <img ng-src="{{vm.appConfig.imgUrl}}{{item.img}}?imageView2/2/w/{{vm.imgService.simpleImg.w}}/h/{{vm.imgService.simpleImg.h}}"/>
                </div>
                <div class="contentListThreeRight" flex layout="column" layout-align="start">
                    <div class="right1">{{item.title}}</div>
                    <span layout-align="start start" flex class="wrap">
                        <span ng-if="order.type==='RENT'">租期:{{item.day}}天</span>
                        <span ng-repeat="spec in item.specs">
                            <!--<span ng-if="$index != item.specs.length-1">{{spec.name}}:{{spec.value}}</span>
                            <span ng-if="$index == item.specs.length-1">{{spec.name}}:{{spec.value}}</span>-->
                            <span>{{spec.name}}:{{spec.value}}</span>
                        </span>
                    </span>

                    <div layout="row" layout-align="end" style="margin-bottom: -3px" ng-if="order.type!='RESTITUTION'">
                        <span style="font-size: 13px" layout="row" flex layout-align="start "> ¥{{item.price/100.0|num:1}}</span>
                        <span style="font-size: 13px" layout="row" layout-align="end ">x{{item.num}}</span>
                    </div>
                </div>
            </div>
            <div class="contentListThree" layout="row" ng-click="vm.orderDetail(order)" ng-if="order.cleanItem">
                <div class="contentListThreeImg">
                    <img ng-src="{{vm.appConfig.imgUrl}}{{order.cleanItem.img}}?imageView2/2/w/{{vm.imgService.simpleImg.w}}/h/{{vm.imgService.simpleImg.h}}"/>
                </div>
                <div class="contentListThreeRight" flex layout="column" layout-align="start">
                    <div class="right1">服务物品:{{order.cleanItem.title}}</div>
                </div>
            </div>
            <div ng-if="order.instructionItems">
                <div class="contentListThree" layout="row" ng-click="vm.orderDetail(order)"
                     ng-repeat="item in order.instructionItems">
                    <div class="contentListThreeImg" style="background-color: #333">
                        <img ng-src="{{vm.appConfig.imgUrl}}{{item.selectImg}}?imageView2/2/w/{{vm.imgService.simpleImg.w}}/h/{{vm.imgService.simpleImg.h}}"/>
                    </div>
                    <div class="contentListThreeRight" flex layout="column" layout-align="start">
                        <div class="right1">{{item.title}}</div>
                        <div layout="row" layout-align="end" style="margin-bottom: -3px">
                            <span style="font-size: 13px" layout="row" flex layout-align="start "> ¥{{item.price/100.0|num:1}}</span>
                            <span style="font-size: 13px" layout="row" layout-align="end ">x1</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentListFour" layout="row">
                <span flex layout-align="start" ng-if="order.type!='RESTITUTION'&&order.type!='CLEAN'">共{{order.orderItems.length}}件
                    <!--<span ng-if="order.type==='RENT'">天</span>-->
                    <!--<span ng-if="order.type==='ITEM'">件</span>-->
                    <!--<span ng-if="order.type==='SERVICE'">件</span>-->
                </span>
                <span layout-align="end"> 订单金额：￥{{order.paymentAmount/100.0|num:1}}</span>
            </div>
            <!-- 申请取消中、已关闭、拒绝接单、未接单、未提交订单，都不显示下面这条横线 -->
            <!-- <md-divider ng-if="order.status != 'CANCELING' && order.status != 'CLOSED' && order.status != 'REJECTED' &&
                  order.status != 'REFUSED' && order.status != 'UNCOMMITED'"></md-divider>-->


            <div ng-if="order.type!=='ORGORDER' && order.type!=='GROUPORDER'">
                <md-divider ng-if="order.status=='UNPAYED' ||order.status=='PAY'||order.status=='PAYED' ||order.status=='CANCELED' ||order.status=='UNRECEIVED'
             || order.status=='UNCONFIRMED' ||order.status=='UNCOMMENTED' ||order.status=='FINISHED'|| order.status=='USER_UNSHIPPED'
              || (order.status=='UNSHIPPED' && order.type=='RENT') "></md-divider>
                <!-- 待付款 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNPAYED'" class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderCancel($event,order,0)">取消订单</span>
                    <span layout-align="end center" ng-click="vm.orderPay(order)" ng-if="!order.cleanItem">去支付</span>
                    <span layout-align="end center" ng-click="vm.orderCleanPay(order)"
                          ng-if="order.cleanItem">去支付</span>
                </div>
                <div class="contentListFive" layout="row" ng-if="order.status=='PAY'" class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderPay(order)">去支付</span>
                </div>
                <div class="contentListFive" layout="row" ng-if="order.status=='PAYED'&&order.status!=='CLEAN'"
                     class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderCancel($event,order,1)">取消订单</span>
                </div>
                <!-- 隐藏赔偿订单退款按钮 -->
                <!--<div class="contentListFive" layout="row" ng-if="order.status=='SUCCESS'" class="contentListFive">-->
                <!--<div flex></div>-->
                <!--<span layout-align="end center" ng-click="vm.refundPayment(order)">退款</span>-->
                <!--</div>-->
                <!-- 删除消毒柜订单  下次开启就行 -->
                <!--<div class="contentListFive" layout="row" ng-if="(order.status=='CLOSED'||order.status==='FINISHED')&&order.type==='CLEAN'" class="contentListFive">-->
                <!--<div flex></div>-->
                <!--<span layout-align="end center" ng-click="vm.deleteOrder(order)">删除订单</span>-->
                <!--</div>-->
                <!-- 已取消 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='CANCELED'" class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.deleteOrder(order)">删除订单</span>
                    <span layout-align="end center" ng-click="vm.againOrder(order)">再次下单</span>
                </div>
                <!-- 待收货 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNRECEIVED'" class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-if="order.type!='RENT'"
                          ng-click="vm.queryLogistics(order.id)">订单跟踪</span>

                    <span layout-align="end center" ng-if="order.type==='RENT'"
                          ng-click="vm.queryLogisticsrent(order.id)">订单跟踪</span>
                    <span layout-align="end center" ng-click="vm.orderConfirm($event,order)">确认收货</span>
                </div>
                <!-- 待确认，待发货的不可取消订单，只有未付款的才能取消，api会调整 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNCONFIRMED'"
                     class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderCancel($event,order,1)">取消订单</span>
                </div>
                <!-- 待评价 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNCOMMENTED'" class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderComment(order)">评价晒单</span>
                    <span layout-align="end center" ng-click="vm.againOrder(order)">再次下单</span>
                </div>
                <!-- 已完成 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='FINISHED'&&order.type!=='CLEAN'"
                     class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.commentDetail(order)">查看评价</span>
                    <span layout-align="end center" ng-click="vm.againOrder(order)">再次下单</span>
                </div>
                <!-- 待用户发货 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='USER_UNSHIPPED'"
                     class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.hadtoMail(order.id)">填写物流</span>
                </div>
                <!-- 租赁待发货 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNSHIPPED' && order.type=='RENT'"
                     class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderCancel($event,order,1)">取消订单</span>
                    <span layout-align="end center" ng-click="vm.queryLogistics(order.id)">订单跟踪</span>
                </div>
            </div>
            <div ng-if="order.type==='ORGORDER'">
                <md-divider ng-if="order.status=='UNPAYED' ||order.status=='PAY'||order.status=='PAYED' ||order.status=='CANCELED' ||order.status=='UNRECEIVED'
             || order.status=='UNCONFIRMED' ||order.status=='UNCOMMENTED' || order.status=='USER_UNSHIPPED'||order.status ==='UNSHIPPED'
               "></md-divider>
                <!-- 待付款 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNPAYED'" class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderCancel($event,order,0)">取消订单</span>
                    <span layout-align="end center" ng-click="vm.orderPay(order)">去支付</span>
                </div>
                <!-- 待收货 -->
                <div class="contentListFive" layout="row"
                     ng-if="order.status=='UNRECEIVED' || order.status=='UNRECEIVE' || order.status=='UNSHIP'"
                     class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderConfirm($event,order)">确认收货</span>
                </div>

                <!-- 待确认，待发货的不可取消订单，只有未付款的才能取消，api会调整 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNCONFIRMED'"
                     class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderCancel($event,order,1)">取消订单</span>
                </div>
            </div>
            <div ng-if="order.type==='GROUPORDER'">
                <md-divider ng-if="order.status=='UNPAYED' ||order.status=='UNGROUP'||order.status=='UNSHIP' ||order.status=='UNRECEIVE' ||order.status=='UNCOMMENT'
             || order.status=='SUCCESS' ||order.status=='CLOSED'"></md-divider>
                <!-- 待付款 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNPAYED'" class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderCancel($event,order,0)">取消订单</span>
                    <span layout-align="end center" ng-click="vm.orderPay(order)">去支付</span>
                </div>
                <!-- 待收货 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNRECEIVE'" class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderConfirm($event,order)">确认收货</span>
                </div>

                <!--//评价-->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNCOMMENT'" class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderComment(order)">去评价</span>
                </div>
                <!-- 待确认，待发货的不可取消订单，只有未付款的才能取消，api会调整 -->
                <div class="contentListFive" layout="row" ng-if="order.status=='UNCONFIRMED'"
                     class="contentListFive">
                    <div flex></div>
                    <span layout-align="end center" ng-click="vm.orderCancel($event,order,1)">取消订单</span>
                </div>
            </div>
            <div class="line"></div>
        </div>
        <div layout="row" layout-align="center center" style="padding: 10px" ng-click="vm.pageChanged()"
             ng-if="!vm.orders.pageEnd">
            <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff">
                <!-- <md-icon style="color: #999;margin-right: 10px" class=" ks-icon" md-font-set="ks-icon">loading</md-icon>-->
                点击加载更多...
            </md-button>
        </div>
        <div layout="row" layout-align="center center" style="padding: 10px"
             ng-if="vm.orders.pageEnd&&vm.orders.totalCount>10">
            <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff"
                       ng-if="vm.orders.pageEnd&&vm.orders.totalCount>10">
                没有更多订单了...
            </md-button>
        </div>

    </md-content>
    <md-content flex layout="column" class="empty" ng-if="!vm.orders.orders[0]">
        <div flex layout="column" layout-align="center center">
            <md-icon md-font-set="ks-icon" md-font-icon="ks-order" class="icon"></md-icon>
            <div class="txt">啊哦，没有订单～</div>
        </div>
    </md-content>
    <ks-footer-menu cur="'unionOrder'" ng-if="vm.hide!='hide'"></ks-footer-menu>
</div>

<style>
    .empty .icon {
        font-size: 60px;
        line-height: 60px;
        margin: 0 0 15px;
    }

    .empty .txt {
        color: #999;
    }
</style>