<div flex="" layout="column" class="md-whiteframe-z2 ks-main ks-sleepingAction">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">护眠行动</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>

    <md-content flex="">
        <div class="bg">
            <div class="wrap">
                <div class="msg" layout="row" layout-align="center center">
                    <input class="inputWrap" flex="100" type="text" placeholder="姓名" ng-model="username">
                </div>
                <div class="msg" layout="row" layout-align="center center">
                    <input class="inputWrap" flex="100" type="text" placeholder="手机号码" ng-model="phone">
                </div>
                <div class="msg" layout="row" layout-align="center center">
                    <input flex class="codeWarp" type="text" ng-model="code" placeholder="输入验证码">
                    <span style="border-left: 1px solid #9bd8c4; padding:0 15px"
                          ng-click="sendCode()">{{fsyzm}}</span>
                </div>
                <div class="bottomBtn">
                    <md-button class="ks-black btn" ng-click="submit()">点击立即加入</md-button>
                </div>
            </div>
        </div>
    </md-content>
</div>

