<div flex="" layout="column" class="ks-orgDetail ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()"
                         md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">订单详情</span>
            </div>
        </div>
            <span class="cancleBtn"
                  ng-click="orderCancel($event)"
                  ng-if="order.status==='UNPAYED'">取消订单</span>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex>
        <!--此处有修改  下面还有一处-->
        <div class="orderDetailHeader">
            <div class="top-wrap" layout="row">
                <!--待付款 UNPAYED-->
                <md-icon md-font-set="ks-icon" md-font-icon="ks-card" ng-if="order.status==='UNPAYED'"></md-icon>
                <!--调拨中 ALLOCATION-->
                <md-icon md-font-set="ks-icon" md-font-icon="ks-carton-sort"
                         ng-if="order.status ==='ALLOCATION'"></md-icon>
                <!--待发货 CANCELING PAYED UNSHIPPED-->
                <md-icon md-font-set="ks-icon" md-font-icon="ks-drawer-arrow-up"
                         ng-if="order.status ==='CANCELING' || order.status ==='PAYED' ||order.status ==='UNSHIPPED'"></md-icon>
                <!--待收货 UNRECEIVED-->
                <md-icon md-font-set="ks-icon" md-font-icon="ks-delivery"
                         ng-if="order.status ==='UNRECEIVED'"></md-icon>
                <!--已完成 UNCOMMENTED FINISHED-->
                <md-icon md-font-set="ks-icon" md-font-icon="ks-done"
                         ng-if="order.status == 'UNCOMMENTED'||order.status == 'FINISHED' "></md-icon>
                <!--已关闭 CLOSED-->
                <md-icon md-font-set="ks-icon" md-font-icon="ks-order-close"
                         ng-if=" order.status =='CLOSED'"></md-icon>
                <!--退款中-->
                <md-icon md-font-set="ks-icon" md-font-icon="ks-rmb-square"
                         ng-if="order.status==='REFUND'"></md-icon>

                <!--文字切换-->
                <div flex class="top-txt" ng-if="order.status==='UNPAYED'">待付款</div>
                <div flex class="top-txt" ng-if="order.status ==='ALLOCATION'">调拨中</div>
                <div flex class="top-txt"
                     ng-if="order.status ==='CANCELING' || order.status ==='PAYED' ||order.status ==='UNSHIPPED'">待发货
                </div>
                <div flex class="top-txt" ng-if="order.status ==='UNRECEIVED'">待收货</div>
                <div flex class="top-txt" ng-if="order.status == 'UNCOMMENTED'||order.status == 'FINISHED' ">已完成</div>
                <div flex class="top-txt" ng-if=" order.status =='CLOSED'">已关闭</div>
                <div flex class="top-txt" ng-if=" order.status =='REFUND'">退款中</div>
            </div>
            <md-divider></md-divider>
            <div class="circle-msg-wrap" layout="column" layout-align="center center">
                <div class="circle-wrap" layout="row" layout-align="space-between center">

                    <!--第一条线对应第二个圆。以此类推-->
                    <!--判断active位置-->
                    <!--第一个圆，一直显示-->
                    <div class="circle active"></div>
                    <!--第一条线-->
                    <div flex class="line"
                         ng-class="{lineActive:order.status != 'UNPAYED'}"
                    ></div>
                    <!--第二个圆-->
                    <div class="circle"
                         ng-class="{active:order.status != 'UNPAYED'}"
                    ></div>

                    <!--第二个线-->
                    <div flex class="line"
                         ng-class="{lineActive:order.status == 'UNRECEIVED'||order.status == 'UNCOMMENTED'||order.status == 'FINISHED' || order.status =='CLOSED'}"
                    ></div>
                    <!--第三个圆-->
                    <div class="circle"
                         ng-class="{active:order.status == 'UNRECEIVED'||order.status == 'UNCOMMENTED'||order.status == 'FINISHED' || order.status =='CLOSED'}"
                    ></div>

                    <!--第三个线-->
                    <div flex class="line"
                         ng-class="{lineActive:order.status == 'UNCOMMENTED'||order.status == 'FINISHED' || order.status =='CLOSED'}"
                    ></div>
                    <!--第四个圆-->
                    <div class="circle"
                         ng-class="{active:order.status == 'UNCOMMENTED'||order.status == 'FINISHED' || order.status =='CLOSED'}"
                    ></div>
                </div>
                <div class="txt-wrap" layout="row" layout-align="space-between center">
                    <div class="msg-txt active">
                        提交订单
                    </div>
                    <div class="msg-txt"
                         style="margin-left: -5px"
                         ng-class="{active:order.status != 'UNPAYED'}">
                        已支付
                    </div>
                    <div class="msg-txt"
                         ng-class="{active:order.status == 'UNRECEIVED'||order.status == 'UNCOMMENTED'||order.status == 'FINISHED' || order.status =='CLOSED'}">
                        已发货
                    </div>
                    <div class="msg-txt"
                         ng-class="{active:order.status == 'UNCOMMENTED'||order.status == 'FINISHED' || order.status =='CLOSED'}">
                        已完成
                    </div>
                </div>
            </div>
        </div>
        <div class="partLine"></div>
        <div class="orderMessage" ng-if="classActive.view">
            <div class="orderMessageTop">
                <div class="leftBlock"></div>
                <span>订单信息</span>
            </div>
            <div class="orderMessageWrap">
                <div class="wrapChild">
                    <div class="txtMessage">订单编号：</div>
                    <span>{{order.seq}}</span>
                </div>
                <div class="wrapChild">
                    <div class="txtMessage">下单时间：</div>
                    <span>{{order.dateCreated|date:"yyyy-MM-dd HH:mm"}}</span>
                </div>

            </div>
            <md-divider></md-divider>
        </div>

        <div class="distribution" ng-if="order.type!=='CLEANORDER'">
            <div class="distributionHeader">
                <div class="leftBlock"></div>
                <span>配送</span>
            </div>
            <!--<div class="txtWrap" layout="row" ng-if="order.logisticsType!=='STOCK'">-->
            <!--<div class="txt" style="font-size: 14px; text-indent: 18px;  width: 85px;">订单跟踪:</div>-->
            <!--<div class="txt" flex style="margin-left: 5px" layout="row" ng-click="queryLogistics()">-->
            <!--{{logistics.trackInfo[0].content}}<br>-->
            <!--{{logistics.trackInfo[0].time|date:'yyyy-MM-dd HH:MM:ss'}}-->
            <!--</div>-->
            <!--<div class="txt" flex="8" layout="row" layout-align="end">-->
            <!--<md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_right</md-icon>-->
            <!--</div>-->
            <!--</div>-->
            <div class="distributionMode">
                <div class="txt" style="font-size: 14px; text-indent: 18px;  width: 85px;">配送方式:</div>
                <span>{{lagis}}</span>
            </div>
            <div class="address" layout="column" ng-if="order.logisticsType!=='STOCK'">
                <div class="addressTxt">{{order.address.contact}} {{order.address.phone}}</div>
                <div class="addressTxt" flex layout="row">
                    {{order.address.province}}/{{order.address.city}}/
                    {{order.address.area}}/{{order.address.street}}
                </div>
            </div>
        </div>
        <div class="commodityList">
            <div class="commodityListHeader">
                <div class="leftBlock"></div>
                <span>商品清单</span>
            </div>
        </div>
        <div class="commodityListContent" ng-repeat="orderItem in order.orderItems">
            <md-divider class="dashed"></md-divider>
            <img class="contentListImg"
                 ng-src="{{imgUrl}}{{orderItem.img}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                 ng-if="!orderItem.selectImg">
            <img class="contentListImg"
                 ng-src="{{imgUrl}}{{orderItem.selectImg}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                 ng-if="orderItem.selectImg" style="background-color: #333">
            <div class="contentListRight" ng-click="itemDetail(orderItem)">
                <div class="right1">{{orderItem.title}}</div>
                <!--<span class="spanWrap" layout="row" flex>
                    <span class="text-spec" ng-repeat="spec in orderItem.specs">
                                        {{spec.name}}：{{spec.value}}；
                                    </span>
                </span>-->
                <div class="item-specs">
                    <span ng-repeat="spec in orderItem.specs">
                        <span ng-if="$index != orderItem.specs.length-1">{{spec.name}}:{{spec.value}}；</span>
                        <span ng-if="$index == orderItem.specs.length-1">{{spec.name}}:{{spec.value}}</span>
                    </span>
                </div>
                <div class="num1" ng-if="orderItem.price">￥{{orderItem.price/100.0|num:1}}</div>
                <br style="clear: both">
            </div>
            <div class="ib" layout="row"
                 ng-if="order.status=='UNRECEIVED'||order.status=='UNCOMMENTED'||order.status=='FINISHED'||
                            order.status=='USER_UNSHIPPED' || order.status=='UNSHIPPED'||order.status ==='ALLOCATION'">
                <span flex layout="column" layout-align="center end"></span>
                    <span class="ibButton" ng-if="orderItem.refund" layout="row">
                        <i flex></i>
                        <md-button class="ks-white ibBtn"
                                   ng-class="{refundOnlyText:orderItem.refund.status!='FINISHED',refundOnlyFinish:orderItem.refund.status==='FINISHED'}"
                                   ng-if="orderItem.refund.status!=('WAIT_BUYER_SENDING')">
                            {{orderItem.refund.name}}
                        </md-button>
                         <md-button class="ks-white ibBtn"
                                    ng-if="orderItem.refund.status==='WAIT_BUYER_SENDING'"
                                    ng-click="inputLogistics(orderItem.refund)">
                             {{orderItem.refund.name}}
                         </md-button>
                    </span>
                <span class="ibButton" layout="row" ng-if="!orderItem.refund">
                    <i flex></i>
                     <md-button class="ks-white ibBtn" ng-click="orderRefund(orderItem)">退款
                     </md-button>
                </span>
            </div>
            <br style="clear: both">
        </div>
        <md-divider style="margin: 0 20px"></md-divider>
        <!--<div style="background:#fff; flex-shrink: 0;min-height: 48px" ></div>-->
    </md-content>
    <md-divider ng-if="order.status!='CANCELING'&&order.status=='UNPAYED'"></md-divider>
    <div class="pay-amount" layout="column" layout-align="center center"
         ng-if="order.status=='UNPAYED'">
        应付金额：￥{{(order.paymentAmount)/100.0|num:1}}
    </div>
    <div class="submit-btn" layout="row" layout-align="center center"
         ng-if="order.status=='UNPAYED'">
        <md-button class="ks-black md-raised" flex="90" ng-click="orderPay()">
            去支付
        </md-button>
    </div>
    <div class="fotterFixed" layout="column" ng-if="order.status!='UNPAYED'">
        <div ng-if="order.status=='UNRECEIVED'" layout="row">
            <div class="fotterFixedBottom" layout-align="center center"
                 flex
                 style="background: #ba9f6e;line-height: 48px;"
                 ng-click="orderConfirm($event)">确认收货
            </div>
        </div>
        <div ng-if="order.status=='UNCOMMENTED'" layout="row">
            <div class="fotterFixedBottom" layout-align="center center"
                 flex
                 style="line-height: 48px;"
                 ng-click="orderComment($event)">评价晒单
            </div>
        </div>
        <div ng-if="order.status=='FINISHED'" layout="row">
            <div style="padding-bottom: 1px" class="fotterFixedBottom" layout="column" flex
                 layout-align="center center"
                 ng-click="commentDetail()">查看评价
            </div>
        </div>
    </div>
</div>