<md-dialog ng-cloak>
    <div class="logout">
        <div class="dialogTitle">
            <p>即将进行通话</p>
            <p>请您确认是否跟0517-89517056进行通话</p>
        </div>
        <div class="select" layout="row" >
            <div class="left" flex layout="row" layout-align="center center">
                <span ng-click="cancel()">点错了</span>
            </div>
            <div class="right" flex layout="row" layout-align="center center">
                <span ng-click="hide()">确定</span>
            </div>
        </div>
    </div>
</md-dialog>