<div flex="" layout="column" class=" ks-main  ks-hotelPay">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"
                         ng-click="vm.fallbackPage()"></md-icon>
                <span class="regSpan">订单提交成功</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="changeTxtEmailBox">
                <div class="txtEmailBox ">
                    <p class="bindEmailTxt">
                        <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-selected"></md-icon>
                    </p>
                    <p class="emailCode">您已成功提交本月账单</p>

                </div>
            </div>
            <div class="InformationBox">
                <div class="IfmRow"><span class="Information">支付号</span>
                    <div class="floatRight" style="margin-right: 15px;">
                        <div class="rightChildren">{{vm.payId}}</div>
                    </div>
                </div>
                <div class="IfmRow" ng-click="vm.choosePay()">
                    <span class="Information">支付方式</span>
                    <div class="floatRight">
                        <div class="rightChildren">
                            <span class="" ng-if="vm.paySize==='4'">生成支付宝支付码</span>
                            <span class="" ng-if="vm.paySize==='3'">生成微信支付码</span>
                            <span class="" ng-if="vm.paySize==='2'||!vm.paySize">支付宝支付</span>
                            <span class="" ng-if="vm.paySize==='1'">微信支付</span>
                            <span class="" ng-if="vm.paySize==='0'">余额支付</span>
                        </div>
                        <md-icon md-font-icon="ks-arrow_right" class="chevron_right md-font ks-arrow_right ks-icon"
                                 md-font-set="ks-icon" aria-hidden="true"></md-icon>
                    </div>
                </div>
                <div class="IfmRow"><span class="Information">订单金额</span>
                    <div class="floatRight">
                        <div class="rightChildren">
                            <span class="redTxt jine" style="margin-right: -15px;">￥{{vm.pays.price/100.0|num:1}}</span>
                        </div>
                        <md-icon class="chevron_right md-font  ks-icon"></md-icon>
                    </div>
                </div>
            </div>


            <div class="solidRow"></div>
            <!-- 支付宝微信等支付 -->
            <div class="butWrap" ng-click="vm.payment()">
                <button class="but">去支付</button>
            </div>
            <p class="botTxt">24小时内未付款，订单将会被系统取消</p>
        </div>
    </md-content>
    <div class="backfall" ng-if="vm.backfall">
        <div class="header">
            <md-icon md-font-set="ks-icon" md-font-icon="ks-arrow_left"
                     ng-click="vm.openBack()"></md-icon>
            二维码扫码支付
        </div>
        <div class="backpic">
            <div class="price">
                <div class="nums">￥{{vm.pays.price/100.0|num:1}}</div>
                <div class="info">支付金额</div>
            </div>
            <div class="code">
                <qrcode data="{{vm.codeUrl}}" size="163"></qrcode>
            </div>
        </div>
    </div>
</div>