<!--兑换-->
<header class="header">
    <div class="left">
        <a class="square" ng-click="fallbackPage()">
            <span class="iconfont icon-arrow icon"></span></a></div>
    <div class="center">
        <div class="title">兑换优惠券</div>
    </div>
    <!--<div class="right"-->
    <!--&gt;<a class="square" ui-sref="main.index" ui-sref-opts="{reload: true}"-->
    <!--&gt;<span class="iconfont icon-home2 icon"></span></a></div>-->
</header>

<div>
    <form role="form" name="myForm" class="form-horizontal">
        <div style="margin: 10px 0">
            <input type="text" data-ng-model='assets.code' id="name" name="username" placeholder="兑换码"
                   style="padding: 15px;border: none;width: 100%">
        </div>
        <div style="margin: 10px 0;width: 100%">
            <div style="padding: 5px 0;background: white;width: 100%">
                <div style="padding: 5px 0;border: none;width: 50%;float: left">
                    <input type="text" placeholder="请输入验证码"
                           id="code" name="code" data-ng-model="assets.check"
                           style="padding: 5px 15px;border: none;border-right: 1px solid #ededed;width: 100%">
                </div>

                <div style="text-align: center;float: left;width: 50%">
                    <img ng-src="{{tokenImg}}" style="height: 40px" ng-click="refreshImg()">
                </div>
                <span class="clear"></span>
            </div>
            <div class="clear"></div>
            <div>
                <span ng-click="refreshImg()"
                      style="float: right;width: 50%;text-align: center;padding: 5px 0;color: #949494">看不清?点击验证码切换</span>
            </div>
        </div>
        <div class="clear"></div>
        <div class="form-group  text-center">
            <input type="submit" ng-click="exchange()" class="btn btn-default1 inp_btn_login "
                   ng-class="{disabled:!assets.check||!assets.code}" value="兑换"
                   style="width: 83%;height:40px;font-size: 17px"/>
        </div>
    </form>
</div>
<div to-top=""></div>