<div flex="" layout="column" class=" ks-main ">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex class>
                <!-- <md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()">arrow_left</md-icon>
                <span class="regSpan">找回密码</span>
            </div>

        </div>
    </md-toolbar>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="solidDiver"></div>
            <form class="registerForm1" >
                <input type="text" placeholder="手机号">
                <input type="button"  value="获取验证码">
                <md-icon md-font-set="ks-icon" class="close" >close</md-icon>
            </form>
            <form class="registerForm2" style=" display: none">

                <!-- <div layout="row" class="inputWrap">
                     <input type="text" data-ng-model="user.code" placeholder="验证码">
                     <div flex layout="row" layout-align="center center">
                         &lt;!&ndash;<input type="button" ng-click="openDialogCode($event)" value="{{fsyzm}}">&ndash;&gt;
                     </div>
                 </div>-->
                <div  layout="row" class="inputWrap" >
                    <div flex="85" layout="row">
                        <input type="text" placeholder="验证码">
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <span>60s</span>
                        <!-- <input type="button" ng-click="openDialogCode($event)" value="{{fsyzm}}">-->
                    </div>
                </div>
                <div>
                    <input type="password" placeholder="密码" />
                    <md-icon md-font-set="ks-icon" class="visibility" >
                        close
                    </md-icon>
                </div>
                <div>
                    <input type="password" placeholder="再次输入密码" />
                    <md-icon md-font-set="ks-icon" class="visibility" >
                        close
                    </md-icon>
                </div>
                <input type="button" ng-click="register()" value="确定">
            </form>


        </div>

    </md-content>
    <div service-center="" info="index"></div>
</div>


