<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-weal">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>会员权益</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <div class="topMsg" layout="row">
        <div class="iconWrap">
            <md-icon style="line-height: 24px" class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-star-o"></md-icon>
        </div>
        <span class="txt">专享特权</span>
    </div>
    <md-content flex style="box-sizing: border-box">
        <div class="wrap">
            <div class="title">
                特权介绍
            </div>


            <div id="text" layout="column"></div>

<!--
            &lt;!&ndash;V1&ndash;&gt;
            <div ng-if="tab=='1'" class="text" layout="column">
                银卡会员：下单返钱币，订单金额与钱币返比为1:1。
            </div>


            &lt;!&ndash;V2&ndash;&gt;
            <div ng-if="tab=='2'" class="text" layout="column">
                金卡会员：下单返钱币，订单金额与钱币比例为1:1.5。
            </div>

            &lt;!&ndash;V3&ndash;&gt;
            <div ng-if="tab=='3'" class="text" layout="column">
                砖石会员：下单返钱币，订单金额与钱币比例为1:2。
            </div>-->


        </div>
    </md-content>
</div>
