<div flex="" layout="column" class=" ks-main ks-staffactivity md-whiteframe-z2">
    <md-content flex="" id="content">
        <div class="topbanner">
            <div class="fromUser">
                <div class="bj"></div>
                <div class="user" layout="row">
                    <img ng-if="!userAvatar" ng-src="{{imgUrl}}{{fromUser.userInfo.avatar}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"/>
                    <img src="userAvatar" ng-if="userAvatar">
                    <div class="txt" flex layout="column">
                        <span flex>来自“
                            <i ng-if="fromUser.userInfo.nickName">{{fromUser.userInfo.nickName}}</i>
                            <i ng-if="!fromUser.userInfo.nickName">{{fromUser.userInfo.name}}</i>
                        </span>
                        <span flex>分享给你的福利</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="topSale">
            <div class="topItem" layout="row" ui-sref="main.item({itemId:'58be52b9dc8d4c22781efbeb',skuId:'58be52b9dc8d4c22781efbee',fromId:fromId})">
                <div class="left" flex="50">
                    <div class="bgcl"></div>
                    <div class="pic">
                        <img ng-src="{{imgUrl}}f37a4cff70e39ac56d9e59e6b3d0ec89?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                    </div>
                </div>
                <div class="right" flex="50">
                    <div class="title">钱小钱系列</div>
                    <div class="depict">新生儿睡袋九件套 </div>
                    <div class="orign">原价￥455</div>
                    <div class="sales">内部 <span>￥221</span></div>
                    <div class="btn">立即购买</div>
                </div>
            </div>
            <div class="topItem else1" layout="row"  ui-sref="main.item({itemId:'58be4a9adc8d4c22781efad9',skuId:'58be4a9bdc8d4c22781efb6f',fromId:fromId})">
                <div class="right" flex="50">
                    <div class="title">享入妃妃系列</div>
                    <div class="depict">富贵牡丹4斤</div>
                    <div class="orign">原价￥1199</div>
                    <div class="sales">内部 <span>￥973</span></div>
                    <div class="btn">立即购买</div>
                </div>
                <div class="left" flex="50">
                    <div class="bgcl"></div>
                    <div class="pic">
                        <img ng-src="{{imgUrl}}32f93e3a6719586b3b8e0c29929d4d37?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                    </div>
                </div>
            </div>
        </div>
        <!--钱小钱-->
        <div class="series">
            <div class="logo">
                <img ng-src="{{imgUrl}}7de34b9791aa33a1aa6b3d110fcaf955?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
            </div>
            <div class="mainBar" ui-sref="main.item({itemId:'58be8586dc8d4c3ad75cb171',skuId:'58be8586dc8d4c3ad75cb174',fromId:fromId})">
                <img ng-src="{{imgUrl}}290d0e8c5daf165ef0c25f8b73646fd5?imageView2/1/w/{{slideImg.w}}/h/{{slideImg.h}}"/>
            </div>
            <div class="itemlist">
                <!--floor是作为一层用的,两个商品一层 这里也有底色要求 这样比较快-->
                <div class="floor" layout="row">
                    <!--item是单个商品-->
                    <div class="item" flex="50" ui-sref="main.item({itemId:'58be1a4e0d29f249f081c458',skuId:'58be1a4e0d29f249f081c472',fromId:fromId})">
                        <div class="imgs">
                            <img ng-src="{{imgUrl}}bc68a8702be2ca2f39b0176883a9d6c8?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                        </div>
                        <div class="nr" layout="row">
                            <div class="txt" flex>
                                <div class="title">动物世界</div>
                                <div class="price">
                                    ￥223 <span>起</span>
                                </div>
                            </div>
                            <div class="buy">
                                <div class="btn">立即购买</div>
                            </div>
                        </div>
                    </div>
                    <div class="item" flex="50" ui-sref="main.item({itemId:'58be1d39dc8d4c22781ef91e',skuId:'58be1d39dc8d4c22781ef93d',fromId:fromId})">
                        <div class="imgs">
                            <img ng-src="{{imgUrl}}107ac5013bf3f88e684477c6a79b504c?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                        </div>
                        <div class="nr" layout="row">
                            <div class="txt" flex>
                                <div class="title">钱钱的梦</div>
                                <div class="price">
                                    ￥272 <span>起</span>
                                </div>
                            </div>
                            <div class="buy">
                                <div class="btn">立即购买</div>
                            </div>
                        </div>
                    </div>
                    <div class="bgcolor"></div>
                </div>
            </div>
        </div>
        <!--蚕丝被-->
        <div class="series">
            <div class="logo">
                <img ng-src="{{imgUrl}}122ec60f659c872e33178e37ed3a2163?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
            </div>
            <div class="mainBar" ui-sref="main.item({itemId:'58be4a9adc8d4c22781efad9',skuId:'58be4a9bdc8d4c22781efaf3',fromId:fromId})">
                <img ng-src="{{imgUrl}}3ebfb7405c15a1eb3c9d0be5ec4ae2a0?imageView2/1/w/{{slideImg.w}}/h/{{slideImg.h}}"/>
            </div>
            <div class="itemlist">
                <!--floor是作为一层用的,两个商品一层 这里也有底色要求 这样比较快-->
                <div class="floor" layout="row">
                    <!--item是单个商品-->
                    <div class="item" flex="50" ui-sref="main.item({itemId:'58be4d61dc8d4c22781efb79',skuId:'58be4d61dc8d4c22781efba1',fromId:fromId})">
                        <div class="imgs">
                            <img ng-src="{{imgUrl}}3e318654872457564e6691750f4788c8?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                        </div>
                        <div class="nr" layout="row">
                            <div class="txt" flex>
                                <div class="title">金玉满堂</div>
                                <div class="price">
                                    ￥337 <span>起</span>
                                </div>
                            </div>
                            <div class="buy">
                                <div class="btn">立即购买</div>
                            </div>
                        </div>
                    </div>
                    <div class="item" flex="50" ui-sref="main.item({itemId:'58be4a9adc8d4c22781efad9',skuId:'58be4a9bdc8d4c22781efb4a',fromId:fromId})">
                        <div class="imgs">
                            <img ng-src="{{imgUrl}}32f93e3a6719586b3b8e0c29929d4d37?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                        </div>
                        <div class="nr" layout="row">
                            <div class="txt" flex>
                                <div class="title">富贵牡丹</div>
                                <div class="price">
                                    ￥373 <span>起</span>
                                </div>
                            </div>
                            <div class="buy">
                                <div class="btn">立即购买</div>
                            </div>
                        </div>
                    </div>
                    <div class="bgcolor"></div>
                </div>
                <!--第二层-->
                <div class="floor" layout="row">
                    <!--item是单个商品-->
                    <div class="item" flex="50" ui-sref="main.item({itemId:'58be308edc8d4c22781ef97e',skuId:'58be308fdc8d4c22781ef9b6',fromId:fromId})">
                        <div class="imgs">
                            <img ng-src="{{imgUrl}}0df937c1f04f25b0551eb7e1de591fcd?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                        </div>
                        <div class="nr" layout="row">
                            <div class="txt" flex>
                                <div class="title">满堂秋醉</div>
                                <div class="price">
                                    ￥465 <span>起</span>
                                </div>
                            </div>
                            <div class="buy">
                                <div class="btn">立即购买</div>
                            </div>
                        </div>
                    </div>
                    <div class="item" flex="50" ui-sref="main.item({itemId:'58be4006dc8d4c22781efa43',skuId:'58be4006dc8d4c22781efa46',fromId:fromId})">
                        <div class="imgs">
                            <img ng-src="{{imgUrl}}a0f317941fb4cc2e1b87d0f4badd870e?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                        </div>
                        <div class="nr" layout="row">
                            <div class="txt" flex>
                                <div class="title">十二金钗</div>
                                <div class="price">
                                    ￥502 <span>起</span>
                                </div>
                            </div>
                            <div class="buy">
                                <div class="btn">立即购买</div>
                            </div>
                        </div>
                    </div>
                    <div class="bgcolor"></div>
                </div>
                <!--第三层-->
                <div class="floor" layout="row">
                    <!--item是单个商品-->
                    <div class="item" flex="50" ui-sref="main.item({itemId:'58be409ddc8d4c22781efa49',skuId:'58be409ddc8d4c22781efa4c',fromId:fromId})">
                        <div class="imgs">
                            <img ng-src="{{imgUrl}}7a7da923c2fc17a2b4d1b43668647ce3?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                        </div>
                        <div class="nr" layout="row">
                            <div class="txt" flex>
                                <div class="title">金粉世家</div>
                                <div class="price">
                                    ￥643 <span>起</span>
                                </div>
                            </div>
                            <div class="buy">
                                <div class="btn">立即购买</div>
                            </div>
                        </div>
                    </div>
                    <div class="item" flex="50" ui-sref="main.item({itemId:'58be4572dc8d4c22781efaa6',skuId:'58be4572dc8d4c22781efaaa',fromId:fromId})">
                        <div class="imgs">
                            <img ng-src="{{imgUrl}}135a5e143f13ba10f8a7109d824b8148?imageView2/2/w/{{itemImg.w}}/h/{{itemImg.h}}"/>
                        </div>
                        <div class="nr" layout="row">
                            <div class="txt" flex>
                                <div class="title">蝶恋花</div>
                                <div class="price">
                                    ￥790 <span>起</span>
                                </div>
                            </div>
                            <div class="buy">
                                <div class="btn">立即购买</div>
                            </div>
                        </div>
                    </div>
                    <div class="bgcolor"></div>
                </div>
            </div>
        </div>
    </md-content>
    <div class="qualify" ng-if="isHide">
        <div class="backfall"></div>
        <div class="info">
            <div class="text">亲，您暂无福利资格仅限员工或员工好友</div>
            <div class="btn" ui-sref="main.index">返回商城</div>
        </div>
    </div>
</div>


