<div flex="" layout="column" class=" ks-main ks-hotelDetails" xmlns="">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="vm.fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="sqtz">资产详情</span>
            </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex id="content">
        <div class="content-divWrap">
            <div class="commodityList">
                <div class="commodityListHeader">
                    <div class="leftBlock"></div>
                    <span>物品信息</span>
                </div>
            </div>
            <div class="commodityListContent">
                <md-divider class="dashed"></md-divider>
                <img class="contentListImg"
                     ng-src="{{imgUrl}}/{{data.sku.img}}?w/20/h/20">
                <div class="contentListRight">
                    <div class="right1">
                        {{data.sku.title}}
                        <span ng-if="data.curCount>-1&&lishi!=='3'">x{{data.curCount}}</span>
                        <span ng-if="data.curCount<0&&lishi!=='3'">x{{-data.curCount}}</span>
                    </div>
                    <div class="item-specs">
                        <span ng-repeat="dd in data.sku.specs">
                             {{dd.name}}:{{dd.value}}
                        </span> &nbsp;
                    </div>
                    <br style="clear: both">
                </div>
                <br style="clear: both">
            </div>
        </div>
        <div class="content-divWrap" style="border-top: 10px solid #f5f5f5">
            <div class="commodityList">
                <div class="commodityListHeader">
                    <div class="leftBlock"></div>
                    <span>变更</span>
                </div>
            </div>
            <div class="commodityListContent" ng-click="orderLink()">
                <md-divider class="dashed"></md-divider>
                <p class="text2" ng-if="data.count>0">变更记录：新增{{data.count}}条被子</p>
                <p class="text2" ng-if="data.count<0">变更记录：退租{{-data.count}}条被子</p>
                <p class="text1">变更时间：{{data.lastUpdated|date:'yyyy-MM-dd'}}</p>
                <md-icon md-font-set="ks-icon" class="arrow_right">arrow_right</md-icon>
                <br style="clear: both">
            </div>
            <div class="commodityListContent">
                <md-divider class="dashed"></md-divider>
                <p class="text1" style="margin-top: 15px;">创建时间：{{data.beginDate | date:'yyyy-MM-dd'}}</p>
                <p class="text1" style="margin-bottom: 50px;">资产编号：{{data.seq}}</p>
            </div>

        </div>
    </md-content>
</div>

