<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-coinMall">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>钱币商城</h1>
        <div class="md-icon-button" flex="20" ui-sref="main.vip.record()">
            兑换记录
        </div>
    </md-toolbar>
    <md-content flex>
        <ks-swiper-container direction="horizontal"
                             initial-slide="0"
                             effect="between"
                             swiper="swiper"
                             initial-slide="1"
                             loop="false"
                             autoplay="3000"
                             show-nav-buttons="false"
                             pagination-is-active="true"
                             pagination-clickable="false"
                             slides-per-view="1"
                             space-between="5">
            <ks-swiper-slide class="swiper-slide">
                <img src="https://o96iiewkd.qnssl.com/FhFnQouS2LQgr-_z2juK2bZFhA5z"/>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide">
                <img src="https://o96iiewkd.qnssl.com/FmkThhbJtK4AzxCXRP_unuOm4dot"/>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide">
                <img src="https://o96iiewkd.qnssl.com/FvGu6YV_aLJlLrdzT8QmyOK72pIQ"/>
            </ks-swiper-slide>
        </ks-swiper-container>
        <div class="coin-txt" layout="row" layout-align="center center">
            <div flex class="coin-num" ui-sref="main.wallet({num:'1'})">
                <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-gold-coin"></md-icon>
                钱币{{data.integral/100.0|num:1}}
            </div>
            <div class="coin-lin"></div>
            <div flex class="coin-get" ui-sref="main.wallet.earnMoney">
                <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-earn"></md-icon>
                赚钱币
            </div>
        </div>
        <div class="line"></div>
        <div class="tab">
            <div class="tab-wrap" layout="row" layout-align="center center">
                <div class="tab-btn" ng-class="{active:num == 'SERVICE'}" ng-click="activeShow('SERVICE')" flex>门店服务
                    <div class="triangle" ng-show="num == 'SERVICE'"></div>
                </div>
                <div class="tab-btn" ng-class="{active:num == 'ITEM'}" ng-click="activeShow('ITEM')" flex>物品兑换
                    <div class="triangle" ng-show="num == 'ITEM'"></div>
                </div>
                <div class="tab-btn" ng-class="{active:num == 'CARD'}" ng-click="activeShow('CARD')" flex>卡券专区
                    <div class="triangle" ng-show="num == 'CARD'"></div>
                </div>
            </div>
        </div>


        <div class="guess">
            <div layout="row" layout-wrap>
                <!--ng-repeat="item in vm.comments.result track by $index"-->
                <div flex="50" layout="column" class="rec-item" ng-repeat="comment in comments.result track by $index">
                    <div flex layout="column" style="position: relative">
                        <!-- 多追加一层div，方便使用  layout-wrap 和 ng-repeat 。 需要CSS特殊处理  -->
                        <div class="item-img" ui-sref="main.vip.detail({id:comment.id})">
                            <img src="https://img.kingsilk.net/{{comment.img}}"
                                 alt="">
                        </div>
                        <div>
                            <div class="item-title">
                                {{comment.title}}
                            </div>
                            <div class="item-price">
                                {{comment.integral/100.0|num:1}}钱币
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" layout-align="center center" style="padding: 10px" ng-click="page()"
             ng-if="!pageEnd">
            <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff">
                <!-- <md-icon style="color: #999;margin-right: 10px" class=" ks-icon" md-font-set="ks-icon">loading</md-icon>-->
                点击加载更多...
            </md-button>
        </div>
        <div layout="row" layout-align="center center" style="padding: 10px"
             ng-if="pageEnd&&totalCount>10">
            <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff">
                没有更多商品了
            </md-button>
        </div>


    </md-content>
</div>
