<div flex="" layout="column" class=" ks-main ">
    <md-toolbar class="ks-header" >
        <div layout="row" class="ks-header-divWrap" >

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">护眠活动报名</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content"  >
        <div class="content-divWrap" layout="column" style="width: 70%;margin: 0 auto">

            <md-input-container>
                <label>姓名</label>
                <input>
            </md-input-container>
            <md-input-container>
                <label>手机号</label>
                <input>
            </md-input-container>
            <md-input-container>
                <label>学校</label>
                <input>
            </md-input-container>
            <md-input-container>
                <label>性别</label>
                <input>
            </md-input-container>
            <md-button class="md-raised md-primary">提交</md-button>
        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>

