<div class="modal-header">
    <span class="iconfont icon-close" style="color: #e3e3e3;float: right" ng-click="cancel()"></span>
    <span class="clear"></span>
</div>
<div class="modal-body" style="padding: 30px 8px; text-align: center; box-sizing: border-box">
    <div ng-if="paySuccess">
        支付成功,1秒后跳转
    </div>
    <qrcode data="{{vm.payUrl.code_url}}" size="200"></qrcode>
    <div style="font-size: 13px;width: 200px; color: #101010; text-align: center; margin-top: 15px">
        {{vm.payUrl.msg}}
    </div>
</div>
