<div class=" ks-main  ks-bindPhone ">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex >
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"
                         ng-click="vm.fallbackPage()"></md-icon>
                <span class="regSpan">{{vm.userphoneTitle}}</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content  id="content">
        <div class="content-divWrap">
            <div class="changeTxtEmailBox" ng-if="vm.status">
                <div class="txtEmailBox ">
                    <p class="bindEmailTxt">{{vm.status}}</p>
                    <p class="emailCode">{{vm.user.hidephone}}</p>
                </div>
            </div>
            <div class="loginPassRows bindcolor">
                <input type="password" placeholder="当前账户密码" data-ng-model="vm.user.password"/>
            </div>
            <div class="loginPassRows bindcolor">
                <input type="tel" placeholder="要绑定的手机号" data-ng-model="vm.user.phone"/>
            </div>

            <div class="loginPassRows layoutRow" layout="row">
                <div layout="row" flex="70" class="layout-row flex-70">
                    <input type="tel" placeholder="短信验证码" data-ng-model="vm.user.code" class="layout-row-input">
                </div>
                <div layout-align="center center" layout="row" flex  ng-disabled="!vm.btnState"
                     class="layout-align-center-center layout-row flex rightbutton" ng-click="vm.openDialogCode($event)" ng-class="{countdown:vm.waitShow}">
                    <span ng-class="{spanText:vm.fsyzm=='重新获取',spanTexta:vm.fsyzm!='发送验证码' && vm.fsyzm!='重新获取',spanText:(vm.user.phone.length==11 && vm.fsyzm=='发送验证码') || (vm.user.phone.length==11 && vm.fsyzm=='重新获取') }">{{vm.fsyzm}}</span>
                </div>
            </div>
            <div class="butWrap">
                <button class="but ks-black" ng-click="vm.phonePush($event)" >提交</button>
            </div>
        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>


