<div flex="" layout="column" class="md-whiteframe-z2 ks-main ks-useCoupon">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">领取成功</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" style="font-size: 0">
        <div class="coupon">
            <img src="{{imgUrl}}/{{couponImg}}"/>
            <md-button class="ks-black"
                       ng-click="useCoupon()">确定
            </md-button>
        </div>
    </md-content>
</div>

