<div flex="" layout="column" class="ks-introduceUser ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="fallbackPage()">
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
            </md-button>
            <h1 flex>引入会员</h1>
            <span flex="5"></span>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content ng-if="counts.sort[0]">
        <div class="introduceContent">
            <!--  <div class="month">
                  <span> 本月：</span>
                  <span>2</span>
              </div>-->
            <!--<div class="month">
                <span> 总人数：</span>
                <span>{{counts.totalCount}}</span>
            </div>-->
            <div class="introduceWrap" ng-repeat="tmp in counts.sort">
                <div class="month">{{tmp.month}}-{{tmp.day}}</div>
                <div class="contentUserName" layout="row" ng-repeat="user in tmp.users">
                    <div class="contentUserNameOne" flex="15" layout-align="center center " layout="column">
                        <!--layout="column"-->
                        <!--<span>周二</span>-->
                        <span><!--{{tmp.month}}-{{tmp.day}}--></span>
                    </div>
                    <br/>
                    <div flex="85" layout="row">
                        <div class="contentUserNameTwo" layout-align="center center " flex="20">
                            <div class="img1">
                                <div class="imgTop"></div>
                                <img ng-src="{{imgUrl}}{{user.img}}?imageView2/1/w/60/h/60">
                            </div>
                        </div>
                        <div class="contentUserNameThree" layout="column" layout-align="center start " flex>
                            <div flex layout-align="center center "><span class="inv-name">{{user.phone}}</span></div>
                            <div flex layout-align="center center "><span class="ivt-status">注册成为会员</span></div>
                        </div>
                        <div flex="30" class="contentUserNameFor" layout-align=" end first" layout="row">
                            <span>{{user.date| date:'HH:mm:ss'}}</span>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        <div layout="row" layout-align="center center" style="padding: 10px" ng-click="queryInviter(curPage)"
             ng-if="!pageEnd">
            <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff">
                点击加载更多...
            </md-button>
        </div>
        <div layout="row" layout-align="center center" style="padding: 10px"
             ng-if="pageEnd && curPage!=1">
            <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff">
                没有更多记录了...
            </md-button>
        </div>

    </md-content>
    <md-content flex layout="column" class="empty" ng-if="!counts.sort[0]">

        <div flex layout="column" layout-align="center center">
            <md-icon md-font-set="ks-icon" class="icon">crown</md-icon>
            <div class="txt">您还没有引入会员~</div>
        </div>
    </md-content>
</div>