<!--订单付款-->
<header class="header">
    <div class="left">
        <a class="square" ng-click="fallbackPage()">
            <span class="iconfont icon-arrow icon"></span></a></div>
    <div class="center">
        <div class="title">等待确认</div>
    </div>
    <div class="right"
            ><a class="square"
            ></a></div>
</header>

<!--<div class="header">-->
    <!--<div class="title_top_left"><span class="glyphicon glyphicon-menu-left bt_cursor" ng-click="fallbackPage()"></span>-->
    <!--</div>-->
    <!--<div class="navbar-brand navbar-brand-center" ui-yield-to="title">-->
        <!--等待确认-->
    <!--</div>-->
<!--</div>-->

<div class="container-fluid">
    请等待卖家审核
</div>