<md-bottom-sheet class="md-list md-has-header ks-cleansilkDlg" ng-cloak  layout="column">

    <div class="sheet-top" >
        <div class="clearTxt" ng-click="vm.qingkong()">清空</div>
        <md-icon md-font-set="ks-icon" md-font-icon="ks-close" class="close" ng-click="vm.close()"></md-icon>
    </div>

    <md-content flex="" stop-touch-event>
        <div class="sheet-body" >
            <div class="layouts" ng-repeat="sk in vm.skus track by $index" ng-if="sk.value.length>0">
                <div class="row" layout="row" ng-repeat="skuse in sk.value track by $index">
                    <div class="rightDivWrap" flex layout="column">
                        <div class="rightDiv" flex layout="row">
                            <img class="imgc" ng-src="{{vm.imgUrl}}{{skuse.imgs[0]}}?imageView2/2/w/{{vm.simpleImg.w}}/h/{{vm.simpleImg.h}}" />
                            <div class="textWrap" flex>
                                <p>
                                    <span style="padding-right:4px">【{{skuse.name}}】</span>
                                    <span style="padding-right:4px">{{skuse.childname}}</span>
                                    <span style="padding-right:4px">{{skuse.title}}</span></p>
                                <div class="textRow">
                                    <div class="textPrice">￥{{skuse.price/100}}</div>
                                    <div class="bujin">
                                        <div class="bujinLeft" ng-click="vm.bujinLeft(skuse,$index)">
                                            <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ks-minus"></md-icon>
                                        </div>
                                        <div class="bujingNum">{{skuse.num}}</div>
                                        <div class="bujinRight" ng-click="vm.bujinRight(skuse)">
                                            <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ks-plus-bold"></md-icon>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <div class="sheet-footer" ng-if="vm.skus.length>0">
        <div class="msg">{{vm.contactUs}}</div>
        <div class="but" layout="row">
            <div class="heji" flex="50" ng-click="vm.close()">
                <div class="icoImg">
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-shopping-basket" class="gift"></md-icon>
                </div>
                <span>合计:￥{{vm.priceAll/100|num:1}}</span>
                <div class="yuanxing">{{vm.nums}}</div>
            </div>
            <div class="xiadan" flex="50" ng-click="vm.getBuy()">
                立即下单
            </div>
        </div>
    </div>
</md-bottom-sheet>