<div flex="" layout="column" class="md-whiteframe-z2 ks-main ks-topDetail">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="vm.fallbackPage()"
                         md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">
                    {{vm.info.subTitle}}
                </span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="discuss">
                <div class="title">{{vm.info.title}}</div>
                <div class="time">{{vm.info.lastUpdated|date:"yyyy-MM-dd"}}</div>
                <div class="intrt" layout="row" ng-if="vm.info.introduction">
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-quotes-left" style="margin-top: 0"></md-icon>
                    <span flex>{{vm.info.introduction}}</span>
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-quotes-right" style="margin-bottom: 0"></md-icon>
                </div>
                <div class="layouts" ng-bind-html="vm.info.content">
                </div>
            </div>
        </div>
        <div class="diviline"></div>
        <div class="Recommend">
            <div class="title">
                <md-icon md-font-set="ks-icon" md-font-icon="ks-rhombus-o"></md-icon>
                推荐单品
                <md-icon md-font-set="ks-icon" md-font-icon="ks-rhombus-o"></md-icon>
            </div>
            <div class="img-btn-wrap" layout="row" layout-wrap="wrap">
                <div flex="50" ng-repeat="l in vm.info.skus">
                    <div class="img-btn"  ui-sref="main.item({itemId:l.itemId,skuId:l.id})">
                        <div class="img-wrap">
                            <img ng-src="{{vm.imgUrl}}/{{l.firstImg}}?imageView2/2/w/{{vm.indexBelowImg.w}}/h/{{vm.indexBelowImg.h}}"
                                 img-holder/>
                        </div>
                        <div class="dis">
                            <div class="dis-title">
                                {{l.title}}
                            </div>
                            <div class="dis-price">
                                ￥{{l.price}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>
