<!--
<div flex="" layout="column" class=" ks-main  orderSuccess md-whiteframe-z2">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                &lt;!&ndash;<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>&ndash;&gt;
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"
                         ng-click="fallbackPage()"></md-icon>
                <span class="regSpan" ng-if="!id">订单提交成功</span>
                <span class="regSpan" ng-if="id">支付</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="changeTxtEmailBox" ng-if="!id">
                <div class="txtEmailBox">
                    <p class="bindEmailTxt">
                        <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-selected"></md-icon>
                    </p>
                    <p class="emailCode">您已成功提交订单</p>
                </div>
            </div>
            <div class="InformationBox" style="margin: 0 10px;" ng-if="!id">
                <div class="IfmRow "><span class="Information">支付号</span>
                    <div class="floatRight">
                        <div class="rightChildren" style="  margin-right: -1px;">{{qhPay.seq}}</div>
                        &lt;!&ndash;       <md-icon md-font-icon="ks-arrow_right"
                                        class="chevron_right md-font ks-arrow_right ks-icon ks-diy"
                                        md-font-set="ks-icon" aria-hidden="true"></md-icon>&ndash;&gt;
                    </div>
                </div>
                <div class="IfmRow"><span class="Information">金额</span>
                    <div class="floatRight">
                        <div class="rightChildren">
                            <span class="redTxt" style="color: #dd191d ; margin-right: -1px;">￥{{qhPay.price/100.0|num:2}}</span>
                        </div>
                        &lt;!&ndash;<md-icon md-font-icon="ks-arrow_right" class="chevron_right md-font ks-arrow_right ks-icon ks-diy"
                                 md-font-set="ks-icon" aria-hidden="true"></md-icon>&ndash;&gt;
                    </div>
                </div>
            </div>
            <div class="solidRow" ng-if="!id"></div>
            <div class="content-divWrap">
                <div class="loginPassRow diy"><span class="sexTxt">支付方式</span>
                </div>
                <div class="loginPassRow" style="border: none" ng-click="checkPay(1)">
                    <div class="weixin">
                        <div class="mdWrap">
                            <md-icon md-font-set="ks-icon" md-font-icon="ks-weixin"></md-icon>
                        </div>
                        <span class="sexTxt">微信支付</span>
                    </div>

                    <md-icon class="ckd md-font ks-r-selected ks-icon" md-font-icon="ks-r-selected"
                             md-font-set="ks-icon" aria-hidden="true" ng-if="wxpay"></md-icon>
                    <md-icon md-font-icon="ks-r-unselected" md-font-set="ks-icon"
                             class="md-font ks-r-selected ks-icon" aria-hidden="true" ng-if="!wxpay"></md-icon>

                </div>
                <div style="border: none;" class="loginPassRow" ng-click="checkPay(0)">
                    <div style="height: 1px;clear: both;border-bottom: 1px dashed #d5d5d5;margin-left: 35px;margin-right: 0px"></div>
                    <div class="zhifu">
                        <div class="mdWrap">
                            <md-icon md-font-set="ks-icon" md-font-icon="ks-alipay"></md-icon>
                        </div>
                        <span class="sexTxt">支付宝支付</span>
                    </div>
                    <md-icon class="ckd md-font ks-r-selected ks-icon" md-font-icon="ks-r-selected"
                             md-font-set="ks-icon" aria-hidden="true" ng-if="!wxpay"></md-icon>
                    <md-icon md-font-icon="ks-r-unselected" md-font-set="ks-icon"
                             class="md-font ks-r-selected ks-icon" aria-hidden="true" ng-if="wxpay"></md-icon>
                </div>
            </div>
            <div class="butWrap">
                <button class="but" ng-click="payment()">支付</button>
            </div>
            <p class="botTxt">24小时内未付款，订单将会被系统取消</p>
        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>
-->


<div flex="" layout="column" class=" ks-main  ks-orderSuccess">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"
                         ng-click="fallbackPage()"></md-icon>
                <span class="regSpan" ng-if="!id">订单提交成功</span>
                <span class="regSpan" ng-if="id">支付</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="changeTxtEmailBox">
                <div class="txtEmailBox ">
                    <p class="bindEmailTxt">
                        <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-selected"></md-icon>
                    </p>
                    <p class="emailCode">您已成功提交订单</p>

                </div>
            </div>
            <div class="InformationBox">
                <div class="IfmRow"><span class="Information">支付号</span>
                    <div class="floatRight" style="margin-right: -15px;">
                        <div class="rightChildren">{{qhPay.seq}}</div>
                        <md-icon class="chevron_right md-font  ks-icon"></md-icon>
                    </div>
                </div>
                <div class="IfmRow" ng-click="choosePayMethod()">
                    <span class="Information">支付方式</span>
                    <div class="floatRight">
                        <div class="rightChildren">
                            <span class="" ng-if="ccc==='2'">支付宝支付</span>
                            <span class="" ng-if="ccc==='1'">微信支付</span>
                            <span class="" ng-if="ccc==='0'">余额支付</span>
                        </div>
                        <md-icon md-font-icon="ks-arrow_right" class="chevron_right md-font ks-arrow_right ks-icon"
                                 md-font-set="ks-icon" aria-hidden="true"></md-icon>
                    </div>
                </div>
                <div class="IfmRow"><span class="Information">订单金额</span>
                    <div class="floatRight">
                        <div class="rightChildren">
                            <span class="redTxt jine" style="margin-right: -15px;">￥{{qhPay.price/100.0|num:1}}</span>
                        </div>
                        <md-icon class="chevron_right md-font  ks-icon"></md-icon>
                    </div>
                </div>
            </div>


            <div class="solidRow"></div>
            <!-- 用余额支付，打开弹窗 -->
            <div class="butWrap" ng-if="pay === '0'" ng-click="checkSetPay()">
                <button class="but">{{goTitle}}</button><!--去支付、下一步-->
            </div>

            <!-- 支付宝微信等支付 -->
            <div class="butWrap" ng-if="pay != '0'" ng-click="payment()">
                <button class="but">{{goTitle}}</button>
            </div>
            <p class="botTxt">24小时内未付款，订单将会被系统取消</p>
        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>