<md-bottom-sheet class="md-list md-has-header ks-details" ng-cloak>
    <div class="md-bottom-header">
        <span>输入支付密码</span>
        <md-icon md-font-set="ks-icon" class="ks-close" md-font-icon="ks-close" ng-click="vm.cancel()"></md-icon>
    </div>
    <div class="inputWrap" layout="row">
        <div flex layout="row" class="inputWrapBox">
            <div flex layout="row" layout-align="center center">
                <span ng-class="{dian:vm.dots[0]}"></span>
            </div>
        </div>
        <div flex layout="row" class="inputWrapBox">
            <div flex layout="row" layout-align="center center">
                <span ng-class="{dian:vm.dots[1]}"></span>
            </div>
        </div>
        <div flex layout="row" class="inputWrapBox">
            <div flex layout="row" layout-align="center center">
                <span ng-class="{dian:vm.dots[2]}"></span>
            </div>
        </div>
        <div flex layout="row" class="inputWrapBox">
            <div flex layout="row" layout-align="center center">
                <span ng-class="{dian:vm.dots[3]}"></span>
            </div>
        </div>
        <div flex layout="row" class="inputWrapBox">
            <div flex layout="row" layout-align="center center">
                <span ng-class="{dian:vm.dots[4]}"></span>
            </div>
        </div>
        <div flex layout="row" class="inputWrapBox">
            <div flex layout="row" layout-align="center center" style="border: none">
                <span ng-class="{dian:vm.dots[5]}"></span>
            </div>
        </div>
    </div>
    <div class="wjmm" ng-click="vm.uisref()">忘记密码？</div>
    <br style="clear: both">
    <md-divider></md-divider>
    <div class="passwordBtn" layout="column">
        <div layout="row" layout-align="center center">
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('1')"
                 my-touchstart="touchStart()" my-touchend="touchEnd()">1
            </div>
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('2')">2
            </div>
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('3')" style="border-right: none">3
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('4')">4
            </div>
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('5')">5
            </div>
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('6')" style="border-right: none">6
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('7')">7
            </div>
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('8')">8
            </div>
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('9')" style="border-right: none">9
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <div flex class="numBtn" layout="row" layout-align="center center"
                 style="background: #d1d5db; color: #d1d5db;border-bottom: none;height: 55px">.
            </div>
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.num('0')" style=";border-bottom: none;height: 55px">0
            </div>
            <div flex class="numBtn" layout="row" layout-align="center center"
                 ng-mobile-click="vm.deletePwds()"
                 style="background: #d1d5db;border-right: none;border-bottom: none">
                <md-icon md-font-set="ks-icon" class="deleteIcon" md-font-icon="ks-times--irregular-o"></md-icon>
            </div>
        </div>
        <!-- <div class="numBtn" ng-repeat="ss in vm.pwds">
             <span>{{ss}}</span>
         </div>-->
    </div>


</md-bottom-sheet>