<div flex="" layout="column" class="md-whiteframe-z2 ks-bindAccounts ks-main">
    <!-- <md-toolbar class="ks-header">
         <div layout="row" class="ks-header-divWrap">

             <div class="divTop" flex>
                 &lt;!&ndash;<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>&ndash;&gt;
                 <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"
                          ng-click="fallbackPage()"></md-icon>
                 <span class="regSpan">帐号绑定</span>
             </div>
         </div>
     </md-toolbar>-->
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">帐号绑定</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap ">
            <div class="txtEmailBox" ng-if="account.wx==1">
                <p>您已绑定微信号</p>
                <p class="emailCode">{{account.wxName}}</p>
                <div class="but" ng-click="relieveWx()">解除绑定</div>
            </div>
            <div class="weixinbind " style="" ng-if="account.wx==-1">
                <md-icon md-font-set="ks-icon" md-font-icon=" ks-weixin" class="ks-weixin"></md-icon>
                <p>绑定微信后，可以：</p>
                <p>下次登录免密码。</p>
            </div>
        </div>
    </md-content>
    <div class="yzjlBtn " ng-if="account.wx==-1&&wxIconFunction" ng-click="bindWx()">
        <span>马上绑定</span>
    </div>
</div>

