<div flex="" layout="column" class=" ks-main ks-withdraw md-whiteframe-z2">
    <md-toolbar class="ks-header" >
        <div layout="row" class="ks-header-divWrap" >
            <div class="divTop" flex class>
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left" ng-click="fallbackPage()"></md-icon>
                <span class="regSpan">提现</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content"  >
        <div class="candraw" layout="row" layout-align="center center">
            <div flex layout="row" layout-align="start center" class="draw-cash">可提现金额：<span>￥{{canamount|num:1}}</span></div>
            <div flex="10" layout="row" layout-align="end center" ui-sref="main.wallet.balanceDetail()">
                <md-icon md-font-set="ks-icon" class="question" md-font-icon="ks-question"></md-icon>
            </div>
        </div>
        <div class="forcash" layout="row" layout-align="center center">
            <div flex layout="row" layout-align="start center" class="cash-txt">提现金额</div>
            <div flex="70" layout="row" layout-align="end center" class="cash-input">
                <input type="text" placeholder="请输入提现金额" ng-model="cashmodel" ng-change="getMaxNum()">
            </div>
        </div>
        <div class="diviline"></div>
        <div class="drawinfo">
            <div class="infotitle"  >
                <md-icon md-font-set="ks-icon" class="question" md-font-icon="ks-bulb"></md-icon>
                <span>提现说明</span>
            </div>
            <div class="infocontent">目前只支持佣金提现，充值金额不纳入可提现的范围。提现之前请确保已经绑定了微信账号，提现成功后便可到微信钱包中查看。</div>
        </div>
        <div class="butWrap">
            <button class="but" ng-class="{sure:cashmodel}" ng-click="subWithdraw()">确认提现</button>
        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>


