<div flex="" layout="column" class="ks-introduceUser ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="">
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_left</md-icon>
            </md-button>
            <h1 flex>引入会员</h1>
            <span flex="5"></span>
        </div>
    </md-toolbar>
    <md-content>
        <div class="introduceContent" ng-repeat="comment in comments track by $index">
            <div class="month">
                <span> 本月：</span>
                <span> 2</span>
            </div>
            <div class="introduceWrap"  ng-repeat="comment in comments track by $index">
                <div class="contentUserName" layout="row">
                    <div class="contentUserNameOne" flex="15" layout="column" layout-align="center center ">
                        <span>周二</span>
                        <span>06-30</span>
                    </div>
                    <div class="contentUserNameTwo" flex="20" layout="column" layout-align="center center ">
                        <div class="img1">
                            <div class="imgTop"></div>
                            <img src="http://placehold.it/600x600">
                        </div>
                    </div>
                    <div class="contentUserNameThree" flex="50" layout="column" layout-align="center start ">
                        <span>会员名</span>
                        <span>注册成为会员</span>
                    </div>
                    <div class="contentUserNameFor" flex="15" layout="column" layout-align="start center ">
                        <span>23：31</span>
                    </div>
                </div>
            </div>
        </div>

    </md-content>
</div>