<!--我的资产-->
<header class="header">
    <div class="left">
        <a class="square" ng-click="fallbackPage()">
            <span class="iconfont icon-arrow icon"></span></a></div>
    <div class="center">
        <div class="title">我的资产</div>
    </div>
    <div class="right"
            ><a class="square" ui-sref="main.index" ui-sref-opts="{reload: true}"
            ><span class="iconfont icon-home2 icon" ></span></a></div>
</header>



<div class="container-fluid">
    <ul class="ulline">
        <li  ui-sref-opts="{reload: true}" ui-sref="main.myAssets.coupons">
            <!--ui-sref="user.bindPhone"-->
            <div class="rowclear" >
                <div class="fl"><span>优惠券</span></div>
                <div class="ui0" >
                    <span class="pull-right iconfont icon-right1"></span>
                    <span class="pull-right">{{myAssets.coupons}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--置顶按钮-->
<div to-top=""></div>

