<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-manageItemDetail">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>商品详情</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-content flex layout="column" style="overflow-x: hidden">
        <ks-swiper-container direction="horizontal"
                             initial-slide="0"
                             effect="between"
                             swiper="vm.swiper"
                             initial-slide="1"
                             loop="false"
                             show-nav-buttons="false"
                             pagination-is-active="true"
                             pagination-clickable="false"
                             slides-per-view="1"
                             space-between="5">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in vm.checkSku.imgs track by $index">
                <img img-holder ng-src="{{vm.imgUrl}}{{s}}?imageView2/2/w/{{vm.itemImg.w}}/h/{{vm.itemImg.h}}"/>
            </ks-swiper-slide>
        </ks-swiper-container>

        <!--文字描述-->
        <div class="parent-txt">
            <div class="top-txt" layout="column" layout-align="center start">
                <div class="title">
                    {{vm.detail.title}}
                </div>
                <div class="price-wrap" layout="row" layout-align="center start">
                    <span class="price">￥{{vm.checkSku.price/100|num:1}}</span>
                    <span class="dis">起</span>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="icon-wrap" layout="row" layout-align="start center">
                <div class="icon-txt" layout="row">
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-point"></md-icon>
                    <span>正品保障</span>
                </div>
                <div class="icon-txt" layout="row">
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-point"></md-icon>
                    <span>快递包邮</span>
                </div>
                <div class="icon-txt" layout="row">
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-point"></md-icon>
                    <span>七天无理由</span>
                </div>
            </div>
            <div class="chooseItem">
                <div class="txt-parent" layout="row" layout-align="space-between center"
                     ng-click="vm.checkSkuDialog($event)">
                    <div>选择尺寸/款式/数量</div>
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_right"></md-icon>
                </div>
            </div>
        </div>

        <!--tab按钮部分-->
        <div class="tabsdemoDynamicHeight" style="margin-top: 30px">
            <md-content>
                <md-tabs md-stretch-tabs="always" md-dynamic-height="" md-border-bottom="">
                    <md-tab md-stretch-tabs="always" md-stretch-tabs label="商品详情">
                        <md-content class="md-padding" md-swipe-content="false">
                            <div class="ks-item-desp" ng-bind-html="vm.skuDetail.detail">
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab md-stretch-tabs="always" md-stretch-tabs label="商品参数">
                        <md-content class="md-padding" style="margin-top: -8px">
                            <div class="parameterContent" layout="row"
                                 ng-repeat="tmp in vm.detail.props track by $index">
                                <span class="content-wrap">{{tmp.name}}:</span>
                                <div flex class="content-wrap-bottom">
                                    <span class="content-wrap-two">{{tmp.value}}</span>
                                </div>
                            </div>
                            <div class="parameterContent" layout="row"
                                 ng-repeat="tmp in vm.detail.specs track by $index">
                                <span class="content-wrap">{{tmp.specName}}:</span>
                                <div flex class="content-wrap-bottom">
                                    <span class="content-wrap-two" ng-repeat="tmpValue in tmp.specValues">
                                        {{tmpValue.name}};
                                    </span>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </md-content>
    <div class="fotter" layout="row">
        <!-- <div class="fotterLeft" layout="column" flex="20">
             <div flex layout="column" layout-align="center center" ui-sref="main.hotelManage.hotelCart()">
                 <md-icon flex class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-fileboard-down-o"></md-icon>
                 &lt;!&ndash;<div ui-sref="main.item.help" style="font-size: 12px">咨询</div>&ndash;&gt;
             </div>
         </div>-->

        <div class="fotterLeft" layout="row" flex="20" ui-sref="main.hotelManage.hotelCart()">
            <div class="md-icon-button" ui-sref="main.hotelManage.hotelCart()" flex>
                <md-icon md-font-set="ks-icon" class="shopping-cart-o" md-font-icon="ks-fileboard-down-o"></md-icon>
                <i ng-if="vm.cartData.num>0">{{vm.cartData.num}}</i>
            </div>
            <div class="diviline"></div>
        </div>
        <div flex="30" ng-click="vm.itemPayBuy(0)">
            加入进货单
        </div>
        <div flex="50" ng-click="vm.checkSkuDialog($event)">
            立即购买
        </div>
    </div>
</div>