<!--
<md-bottom-sheet class="md-grid ks-select-spec" layout="column" ng-cloak>
    <div class="parameterHeader" layout="row">
        <div flex class="parameterWord">
            产品参数
        </div>
        <md-icon flex="5" class="chevron_left ks-icon" md-font-set="ks-icon">close</md-icon>
    </div>
    <md-divider></md-divider>

    <md-content style="background: white">
        <div class="parameterContent" layout="row" ng-repeat="array in arrays track by $index">
            <span flex="35">品牌</span>
            <span flex="65">钱皇</span>
        </div>
    </md-content>
</md-bottom-sheet>-->
<md-bottom-sheet class="md-grid ks-select-spec" layout="column" ng-cloak>
    <div class="parameterHeader" layout="row">
        <div flex class="parameterWord">
            产品参数
        </div>
        <md-icon flex="5" class="chevron_left ks-icon" md-font-set="ks-icon">close</md-icon>
    </div>
    <md-divider></md-divider>

    <md-content style="background: white">
        <div class="parameterContent" layout="row" ng-repeat="array in arrays track by $index">
            <span flex="35">品牌</span>
            <span flex="65">钱皇</span>
        </div>
    </md-content>
</md-bottom-sheet>