<md-bottom-sheet class="md-grid ks-select-spec" layout="column" ng-cloak>
    <div class="header" layout="row">
        <div class="item-img">
            <img src="http://placehold.it/600x600"/>
            <div class="ribbon" ng-if="$last">赠品</div>
        </div>
        <div flex>
            <div class="Htop">￥ 399</div>
            <div class="txtWarp">库存21件</div>
            <div class="txtWarp">已选 “160X210cm”</div>
        </div>
        <md-icon flex="5" class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="cc()">close</md-icon>
    </div>
    <md-divider></md-divider>

    <md-content flex>
        <!--<div class="contentTxt" layout="row">
            <div class="selectLeft">尺寸</div>
            <div flex>
                <div class="slectBtn">160X210</div>
                <div class="slectBtn">160X210</div>
                <div class="slectBtn">160X210</div>
                <div class="slectBtn">160X210</div>
                <div class="slectBtn">160X210</div>
            </div>
        </div>
        <div class="contentTxt" layout="row">
            <div class="selectLeft">净重</div>
            <div flex>
                <div class="slectBtn">160X210</div>
                <div class="slectBtn">160X210</div>
                <div class="slectBtn">160X210</div>
                <div class="slectBtn">160X210</div>
                <div class="slectBtn">160X210</div>
            </div>
        </div>
        <div class="contentTxt" layout="row">
            <div class="selectLeft">数量</div>
            <div layout="row" class="count">
                <div class="minus" ng-click="cartItemCount=cartItemCount-1" layout="" layout-align="center center">-</div>
                <input type="number" ng-model="cartItemCount" layout="" layout-align="center center" ng-init="cartItemCount=2"/>
                <div class="add" ng-click="cartItemCount=cartItemCount+1" layout="" layout-align="center center">+</div>
            </div>
        </div>-->
    </md-content>

    <div class="footer" layout="row">
        <div class="btnLeft" flex>加入购物车</div>
        <div class="btnRight" flex>确定车</div>
    </div>

</md-bottom-sheet>