<div flex="" layout="column" class=" ks-main ks-cleansilk md-whiteframe-z2">
    <md-toolbar class="ks-header" >
        <div layout="row" class="ks-header-divWrap" >
            <div class="divTop" flex class>
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left" ng-click="fallbackPage()"></md-icon>
                <span class="regSpan">{{topTitle}}</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <div class="sample" layout="column" ng-cloak style="flex-shrink:0;">
        <md-tabs md-selected="listIndex"
                 md-border-bottom
                 md-center-tabs
                 md-swipe-content="false"
                 md-dynamic-height
                 md-stretch-tabs="always">
            <md-tab label="{{l.name}}" ng-click="changeType(l.code,l.children[0].code)" ng-repeat="l in list">
            </md-tab>
        </md-tabs>
    </div>
    <md-content flex="" id="content" ng-repeat="l in list" ng-if="l.shows">
        <div class="tag" layout-wrap layout="row" ng-if="l.children.length>1">
            <span class="tags" flex ng-repeat="tags in l.children" ng-class="{'actives':tags.active}" ng-click="changeType(l.code,tags.code)">{{tags.name}}</span>
        </div>
        <div ng-repeat="top in l.children" ng-if="top.active">
            <div ng-repeat="so in top.service_item"  class="myClean" >
                <div class="myTitle" flex="99">{{so.title}}</div>
                <div class="cleanling" layout="row" layout-wrap layout-fill layout-align="stretch">
                    <div flex="33" class="cl_item" ng-repeat="cl in so.sku track by $index" ng-click="addBasket(cl,l)"  ng-if="!cl.delete">
                        <img ng-src="{{imgUrl}}{{cl.imgs[0]}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}" alt="{{cl.title}}">
                        <div class="cl_tiele">{{cl.title}}</div>
                        <div class="cl_pri">
                            ￥{{cl.price/100|num:1}}<span ng-if="cl.itemUnit">/{{cl.itemUnit}}</span>
                            <!--<span class="pri_del">￥71</span>-->
                        </div>
                        <div class="radio" ng-if="cl.num>0">{{cl.num}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details">
            <md-tabs md-stretch-tabs="always" md-dynamic-height="" md-border-bottom="">
                <md-tab md-stretch-tabs="always" md-stretch-tabs label="服务详情">
                    <md-content class="md-infos" md-swipe-content="false">
                        <div class="ks-item-desp" ng-bind-html="htmls"></div>
                    </md-content>
                </md-tab>
                <md-tab md-stretch-tabs="always" md-stretch-tabs label="服务评论">
                    <md-content class="md-info" md-swipe-content="false">
                        <div class="AttributeCourent">
                            <div class="AttributeCourentCenter"
                                 ng-repeat="reply in comment.commentList track by $index">
                                <div class="centermainTop">
                                    <div class="topImg">
                                        <div class="empty"></div>
                                        <img ng-if="reply.userAvator"
                                             ng-src="{{imgUrl}}{{reply.userAvator}}?imageView2/1/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                                             alt=""/>
                                    </div>
                                    <div class="centermainTopTxt">
                                        <span class="txt1">{{reply.userName}}</span>
                                        <span class="txt2">{{reply.commentTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                    </div>
                                </div>
                                <div class="centermainBottom">
                                    <p>
                                        {{reply.content}}
                                    </p>
                                    <div class="bottomImg" ng-repeat="temp in reply.imgs track by $index">
                                        <img ng-src="{{imgUrl}}{{temp}}?imageView2/1/w/80/h/80"
                                             ng-click="imgPreviewReply(reply.imgs,temp)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center" style="padding: 10px"
                             ng-click="pageChange(curPage)"
                             ng-if="!pageEnd">
                            <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff">
                                点击加载更多...
                            </md-button>
                        </div>
                        <div layout="row" layout-align="center center" style="padding: 10px"
                             ng-if="pageEnd&&comment.totalCount>10">
                            暂无评论
                            </md-button>
                        </div>
                        <div ng-if="comment.commentList.length==0" class="AttributeCourent">
                            <div flex="" layout="column" layout-align="center center"
                                 class="layout-align-center-center layout-column flex" style="height: 350px">
                                <md-icon class="ks-icon" md-font-set="ks-icon" style="font-size: 60px;line-height: 60px;margin: 0 0 15px; color:#e5e5e5;
                                            background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(228, 228, 228, 1)), to(rgba(245, 245, 245, 1)));-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                                    msg
                                </md-icon>
                                <div class="txt" style="font-size: 14px;color: #999">该商品暂无评论</div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </md-content>
    <div class="sheet-footer" ng-if="list">
        <div class="msg">{{contactUs}}</div>
        <div class="but" layout="row" ng-if="nums>0">
            <div class="heji" flex="50" ng-click="userAvatarUpdate()">
                <div class="icoImg">
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-shopping-basket" class="gift"></md-icon>
                </div>
                <span>合计:￥{{price/100|num:1}}</span>
                <div class="yuanxing">{{nums}}</div>
            </div>
            <div class="xiadan" flex="50" ng-click="getBuy()">
                立即下单
            </div>
        </div>
        <div class="but" layout="row" ng-if="nums===0">
            <div class="heji" flex="50">
                <div class="icoImg">
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-shopping-basket" class="gift" style="color: #999"></md-icon>
                </div>
                <span>合计:￥{{price/100|num:1}}</span>
            </div>
            <div class="xiadan" flex="50" style="background: #d5d5d5">
                立即下单
            </div>
        </div>
    </div>
    <div service-center="" info="index"></div>
</div>


