<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-hotelShare">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>店铺信息</h1>
        <div class="md-icon-button" flex="20">
            <!--<md-icon style="text-align: right;" class="ks-icon" md-font-set="ks-icon"
                     md-font-icon="ks-more"></md-icon>-->
        </div>
    </md-toolbar>
    <md-content flex layout="column" style="overflow-x: hidden">

        <span class="title">店铺信息</span>
        <div class="parent-wrap" layout="column">
            <div class="input-wrap" layotu="row" layout-align="space-between center">
                <div flex ng-click="vm.backOpen('open')">{{vm.data.title}}</div>
                <!--<md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>-->
            </div>
            <md-divider style="margin-top: 11px"></md-divider>
        </div>

        <qrcode data="{{vm.data.url}}" style="height: 100%;width: 100%;margin-top: 60px;text-align: center" size="180"
                version="10"></qrcode>

    </md-content>

    <div class="back" ng-if="vm.backshow">
        <div class="backScreen"></div>
        <div class="changeNick">
            <div class="title">修改店铺名称</div>
            <div class="changeTxt">
                <input type="text" placeholder="请输入昵称" ng-model="vm.data.changeTitle" autofocus>
            </div>
            <div class="btns" layout="row" layout-align="center center">
                <div class="leftBtn isBtn" flex ng-click="vm.backOpen('off')">取消</div>
                <div class="rightBtn isBtn" flex ng-click="vm.updateTitle()">确定</div>
            </div>
        </div>
    </div>
</div>