<div flex="" layout="column" class="md-whiteframe-z2 ks-main ks-topic">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex class>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">热门话题</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap" layout="column">
            <div class="hot">
                <h3 class="pai_title">热门话题</h3>
                <div class="brand">
                    <ks-swiper-container direction="horizontal"
                                         initial-slide="0"
                                         effect="between"
                                         swiper="swiper"
                                         initial-slide="1"
                                         loop="false"
                                         show-nav-buttons="false"
                                         pagination-is-active="false"
                                         pagination-clickable="false"
                                         slides-per-view="1.4"
                                         space-between="10">
                        <ks-swiper-slide class="swiper-slide" ng-repeat="s in hotList.recList track by $index">
                            <a ui-sref="main.topic.topicdetail({id:s.id})"><img
                                    ng-src="{{imgUrl}}{{s.img}}?imageView2/2/w/{{slideImg.w}}/h/{{slideImg.h}}"></a>
                        </ks-swiper-slide>
                    </ks-swiper-container>
                </div>
            </div>
            <div class="diviline"></div>
            <div class="discuss" layout="column">
                <div class="headline">大家来讨论</div>
                <div class="msgBox" ng-repeat="l in list.recList" ui-sref="main.topic.topicdetail({id:l.id})">
                    <img ng-src="{{imgUrl}}/{{l.subImg}}?imageView2/2/w/{{imgService.indexBelowImg.w}}/h/{{imgService.indexBelowImg.h}}"
                         img-holder/>
                    <div class="msgContent">
                        <div class="title">{{l.title}}</div>
                        <div class="content" layout="row" layout-align="center center">
                            <span class="name" flex>
                                <img flex ng-src="{{imgUrl}}/{{l.userAvatar}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}" img-holder/>
                                <span flex>{{l.username}}</span>
                            </span>
                            <span class="reply" flex="13">
                                <md-icon md-font-set="ks-icon" md-font-icon="ks-like-o"></md-icon>
                                {{l.voteNum}}
                            </span>
                            <span class="reply" flex="13">
                                <md-icon md-font-set="ks-icon" md-font-icon="ks-chat"></md-icon>
                                {{l.commentNum}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>
