<div flex="" layout="column" class="ks-orderTrack ks-main md-whiteframe-z2 ">
    <!--<md-toolbar class="md-menu-toolbar ks-header">
        <div class="md-toolbar-tools">
            <div class="chevron_left_Wrap" ng-click="fallbackPage()">
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"></md-icon>
            </div>
            <h1 flex>订单跟踪</h1>
        </div>
        <span flex="10"></span>
    </md-toolbar>-->
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">订单跟踪</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <!--订单内容-->
    <md-content>
        <div ng-class="{trackMessageNext:($index)>(0),trackMessage:($index)===(0)}"
             layout="row" ng-repeat="info in logistics.trackInfo track by $index">
            <!--{{$index+1}}{{logistics.trackInfo.length}}-->
            <div class="messageLeft">
                <div class="leftCircle">
                    <div class="leftCircleIn" ng-class="{active:($index)===(0)}"></div>
                </div>
               <!-- <div class="line" ng-if="($index)===(0)"></div>
                <div class="line1" ng-if="($index)!==(0)&&($index)!==(logistics.trackInfo.length-1)"></div>
                <div class="line2" ng-if="($index)===(logistics.trackInfo.length-1)"></div>
-->
                <div class="line" ng-if="($index)===(0)&&($index)!==(logistics.trackInfo.length-1)"></div>
                <div class="line1" ng-if="($index)!==(0)&&($index)!==(logistics.trackInfo.length-1)"></div>
                <div class="line2" ng-if="($index)===(logistics.trackInfo.length-1)"></div>
            </div>
            <div class="messageRight" flex>
                <div class="msRight">
                    <span>{{info.content}}</span>
                    <div>{{info.time}}</div>
                </div>
            </div>
        </div>

        <!--

                &lt;!&ndash;trackMessage是第一条数据，没有线 <div class="line1"></div>  然后黑点就是active所在的 <div class="leftCircleIn active"></div>&ndash;&gt;
                <div class="trackMessage" layout="row">
                    <div class="messageLeft">
                        <div class="leftCircle">
                            <div class="leftCircleIn active"></div>
                        </div>
                    </div>
                    <div class="messageRight" flex>
                        <div class="msRight">
                            <span>您的订单待出库，交付中通快递，运单号为125456654555</span>
                            <div>12-08 16:23</div>
                        </div>
                    </div>
                </div>

                &lt;!&ndash;trackMessageNext是第二条数据之后要增加的数据，有 <div class="line1"></div>&ndash;&gt;
                <div class="trackMessageNext" layout="row">
                    <div class="messageLeft">
                        <div class="leftCircle">
                            <div class="leftCircleIn active"></div>
                        </div>
                        <div class="line1"></div>  &lt;!&ndash; 这条线是下面增加的数据所带的线&ndash;&gt;
                    </div>
                    <div class="messageRight" flex>
                        <div class="msRight">
                            <span style="color: #999999">您运单号为125456654555</span>
                            <div style="color: #999999">12-08 16:23</div>
                        </div>
                    </div>
                </div>
        -->


    </md-content>

    <!--此段是快递信息，如果订单跟踪没有此信息，可以删除-->
    <div class="fotterFixed" ng-if="logistics.company">
        <div class="txt" layout="row">
            <span>承运来源:</span>
            <div flex>{{logistics.company}}</div>
        </div>
        <div class="txt" layout="row">
            <span>运单编号:</span>
            <div flex>{{logistics.expressNo}}</div>
        </div>
    </div>
    <div class="hiddenBg" ng-if="logistics.company"></div>
</div>
