<div flex="" layout="column" class="ks-main ks-hotelCooper">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>酒店合作</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex layout="column" style="flex-shrink: 0;padding-bottom: 20px;">
        <!--ui-sref="main.item({itemId:'57cfac1a5ed9b56b4d283d47',skuId:'57cfac1a5ed9b56b4d283d48',type:'Hotel'})"-->
        <div flex class="top-wrap" ng-repeat="ss in  vm.data.result track by $index"
             ng-click="vm.clickUrl(ss.url)">
            <!--  <img ng-src="https://o96iiewkd.qnssl.com/FvMn_X8jrV3s_yldHfpU4vLZeMF8">-->
            <img ng-src="{{vm.appConfig.imgUrl}}{{ss.img}}?imageView2/1/w/960/h/640">
        </div>
        <!-- <div flex class="bottom-wrap" ui-sref="main.leasingAsset({a:'cooper'})">
             &lt;!&ndash;<img src="https://o96iiewkd.qnssl.com/FpzX8uyaocnYE4cwjuVJP8XLaSlY">&ndash;&gt;
             <img ng-src="{{vm.appConfig.imgUrl}}{{ss.img}}?imageView2/1/w/{{vm.imgService.slideImg.w}}/h/{{vm.imgService.slideImg.h}}">
         </div>-->
    </md-content>

</div>
