<div flex="" layout="column" class="ks-main ks-hotel">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>酒店推荐</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex>
        <!--<div style="width: 100px;height: 100px;" ui-sref="main.hotel.detail()">详情</div>-->
        <div class="bg-wrap">
            <!--ng-repeat   wrap这个div-->
            <div class="wrap" layout="column"
                 ng-repeat="hotel in data.orgs track by $index ">
                <div class="img" ui-sref="main.hotel.detail({id:hotel.id})">
                    <!--  <img src="https://o96iiewkd.qnssl.com/FlzPWZtWK4TE7QfWGE3jN5xW21Kt">-->
                    <img img-holder ng-src="{{imgUrl}}{{hotel.img}}?imageView2/1/w/600/h/400"/>
                </div>
                <div class="txt-wrap" layout="column">
                    <span class="txt-title">{{hotel.title}}</span>
                    <span class="txt-discr">{{hotel.province}}{{hotel.city}}{{hotel.area}}{{hotel.street}}</span>
                </div>
            </div>
        </div>
    </md-content>

</div>
