<div flex="" layout="column" class="md-whiteframe-z2 ks-main ks-counsel">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <div class="chevron_left_Wrap" ng-click="fallbackPage()">
                    <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"></md-icon>
                </div>
                <span class="regSpan">兑换须知</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="zixunWrap">
                <div class="txtTitle">
                    <div class="txtWrap">
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-hand-bag"></md-icon>
                        <span>物品兑换</span>
                    </div>
                </div>
                <div class="TxtSlide">
                    <div class="dropDown" ng-click="goOpens2 = !goOpens2">
                        物品兑换
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpens2"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpens2"></md-icon>
                    </div>
                    <md-divider class="dashed"></md-divider>
                    <div class="txtWrap" ng-if="goOpens2">
                        <p>
                            物品兑换流程请仔细参考商品详情页，知悉“活动时间及有效期”，商品一经兑换、一律不退还钱币。
                        </p>
                    </div>
                    <md-divider class="dashed" ng-if="goOpens2"></md-divider>
                    <div class="dropDown" ng-click="goOpens4 = !goOpens4">
                        发货时间
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpens4"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpens4"></md-icon>
                    </div>
                    <md-divider class="dashed" ng-if="goOpens4"></md-divider>
                    <div class="txtWrap" ng-if="goOpens4">
                        <p>
                            用户兑换后两天内发货
                        </p>
                    </div>
                </div>
            </div>
            <div class="solidRow"></div>
            <div class="zixunWrap">
                <div class="txtTitle">
                    <div class="txtWrap">
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-building"></md-icon>
                        <span>门店兑换</span>
                    </div>
                </div>
                <div class="TxtSlide">
                    <div class="dropDown" ng-click="goOpenb3 = !goOpenb3">
                        实体店取货
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpenb3"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpenb3"></md-icon>
                    </div>
                    <md-divider class="dashed" ng-if="goOpenb3"></md-divider>
                    <div class="txtWrap" ng-if="goOpenb3">
                        <p>
                            门店兑换物品需要到物品所在门店兑换
                        </p>
                    </div>
                </div>
            </div>
            <div class="solidRow"></div>
            <div class="zixunWrap">
                <div class="txtTitle">
                    <div class="txtWrap">
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-card"></md-icon>
                        <span>支付方式</span>
                    </div>
                </div>
                <div class="TxtSlide">
                    <div class="dropDown" ng-click="goOpenb5 = !goOpenb5">
                        全额现金支付
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpenb5"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpenb5"></md-icon>
                    </div>
                    <md-divider class="dashed"></md-divider>
                    <div class="txtWrap" ng-if="goOpenb5">
                        <p>
                            现金兑换的物品，须现金全额兑换，不支持部分钱币部分现金兑换的形式。
                        </p>
                    </div>
                    <md-divider class="dashed" ng-if="goOpenb5"></md-divider>
                </div>
                <div class="TxtSlide">
                    <div class="dropDown" ng-click="goOpenb6 = !goOpenb6">
                        钱币支付
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpenb6"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpenb6"></md-icon>
                    </div>
                    <md-divider class="dashed" ng-if="goOpenb6"></md-divider>
                    <div class="txtWrap" ng-if="goOpenb6">
                        <p>
                            钱币兑换的物品，须钱币全额兑换，不支持部分钱币部分现金兑换的形式。
                        </p>
                    </div>
                </div>
            </div>
            <div class="solidRow"></div>
            <div class="zixunWrap">
                <div class="txtTitle">
                    <div class="txtWrap">
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-coupon-square"></md-icon>
                        <span>优惠券、充值卡兑换</span>
                    </div>
                </div>
                <div class="TxtSlide">
                    <div class="dropDown" ng-click="goOpenb7 = !goOpenb7">
                        卡券兑换支付方式
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpenb7"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpenb7"></md-icon>
                    </div>
                    <md-divider class="dashed" ng-if="goOpenb7"></md-divider>
                    <div class="txtWrap" ng-if="goOpenb7">
                        <p>
                            一经兑换，立马到账。卡券仅支持钱币兑换，钱币不足不能兑换。
                        </p>
                    </div>
                </div>
            </div>
            <div class="solidRow"></div>
            <div class="zixunWrap">
                <div class="txtTitle">
                    <div class="txtWrap">
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon=" ks-phone"></md-icon>
                        <span>客服热线</span>
                    </div>
                </div>
                <div class="TxtSlide ">

                    <div class="txtWrap cur" style="border: none">
                        <p class="txt" style="border: none">
                            <span class="sp1">官方服务热线:</span>
                            <span class="sp2">（9.00-24.00）</span>
                            <a class="sp3" href="tel:0571-86064050">0571-86064050转803</a>
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>
