<!--已登陆用户-->
<!--
<header class="header">
    <div class="left">
        <a class="square" ng-click="fallbackPage()">
            <span class="iconfont icon-arrow icon"></span></a></div>
    <div class="center">
        <div class="title">微信绑定</div>
    </div>
    <div class="right"
    ><a class="square" ui-sref-opts="{reload: true}" ui-sref="main.index"
    ><span class="iconfont icon-home2 icon"></span></a></div>
</header>

<div class="container-fluid">
    该微信账号已经被绑定,请返回个人中心
    <md-button class="ks-black" ng-click="fallbackPage()">返回</md-button>
</div>
-->


<div flex="" layout="column" class="md-whiteframe-z2 ks-bindAccounts ks-main">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">微信绑定</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap ">
            <div class="txtEmailBox" >
                <p>该微信账号已经被绑定,请返回个人中心</p>
            </div>
        </div>
    </md-content>
    <div class="yzjlBtn "  ng-click="fallbackPage()">
        <span>返回个人中心</span>
    </div>
</div>
<!--置顶按钮-->
<div to-top=""></div>
