<div flex="" layout="column" class=" ks-main ks-setPay ">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan" ng-if="vm.aaa==0">支付密码</span>
                <span class="regSpan" ng-if="vm.aaa==1">重置支付密码</span>
                <span class="regSpan" ng-if="vm.aaa==2">设置支付密码</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="selectpass" ng-if="vm.userInfo.pass&&!vm.payMsgStatus.change&&!vm.payMsgStatus.isPhone">
                <div class="codeTop">
                    <span>您正在为{{vm.payMsgStatus.phone}}重置支付密码</span>
                </div>
                <div class="passWrap" ng-click="vm.oldChangePass()">
                    <span>我记得原支付密码</span>
                    <md-icon md-font-set="ks-icon" class="arrow_right">
                        arrow_right
                    </md-icon>
                </div>
                <div class="passWrap last" ng-click="vm.oldChangePhonePass()">
                    <span>我忘记支付密码了</span>
                    <md-icon md-font-set="ks-icon" class="arrow_right">arrow_right
                    </md-icon>
                </div>
            </div>
            <div class="md-list md-has-header ks-setPay-details" ng-cloak
                 ng-if="!vm.userInfo.pass||vm.payMsgStatus.change">
                <div class="md-bottom-header">
                    <span>{{vm.payMsgStatus.msg}}</span>
                </div>
                <div class="inputWrap" layout="row" style="">
                    <div flex layout="row" class="inputWrapBox">
                        <div flex layout="row" layout-align="center center">
                            <span ng-class="{dian:vm.focusModel[0].focus}"></span>
                        </div>
                    </div>
                    <div flex layout="row" class="inputWrapBox">
                        <div flex layout="row" layout-align="center center">
                            <span ng-class="{dian:vm.focusModel[1].focus}"></span>
                        </div>
                    </div>
                    <div flex layout="row" class="inputWrapBox">
                        <div flex layout="row" layout-align="center center">
                            <span ng-class="{dian:vm.focusModel[2].focus}"></span>
                        </div>
                    </div>
                    <div flex layout="row" class="inputWrapBox">
                        <div flex layout="row" layout-align="center center">
                            <span ng-class="{dian:vm.focusModel[3].focus}"></span>
                        </div>
                    </div>
                    <div flex layout="row" class="inputWrapBox">
                        <div flex layout="row" layout-align="center center">
                            <span ng-class="{dian:vm.focusModel[4].focus}"></span>
                        </div>
                    </div>
                    <div flex layout="row" class="inputWrapBox">
                        <div flex layout="row" layout-align="center center">
                            <span ng-class="{dian:vm.focusModel[5].focus}"></span>
                        </div>
                    </div>
                </div>
                <md-bottom-sheet class="md-list md-has-header ks-details" ng-cloak>
                    <div class="passwordBtn" layout="column">
                        <div layout="row" layout-align="center center">
                            <div flex class="numBtn" ng-class="{active:vm.isActive}" layout="row"
                                 layout-align="center center"
                                 ng-mobile-click="vm.textChange('1')"
                                 my-touchstart="touchStart()" my-touchend="touchEnd()">1
                            </div>
                            <div flex class="numBtn" ng-class="{active:vm.isActive}" layout="row"
                                 layout-align="center center"
                                 ng-mobile-click="vm.textChange('2')">2
                            </div>
                            <div flex class="numBtn" ng-class="{active:vm.isActive}" layout="row"
                                 layout-align="center center"
                                 style="border-right: none"
                                 ng-mobile-click="vm.textChange('3')">3
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex class="numBtn" ng-class="{active:vm.isActive}" layout="row"
                                 layout-align="center center"
                                 ng-mobile-click="vm.textChange('4')">4
                            </div>
                            <div flex class="numBtn" layout="row" layout-align="center center"
                                 ng-mobile-click="vm.textChange('5')">
                                5
                            </div>
                            <div flex class="numBtn" layout="row" layout-align="center center"
                                 style="border-right: none"
                                 ng-mobile-click="vm.textChange('6')">
                                6
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex class="numBtn" layout="row" layout-align="center center"
                                 ng-mobile-click="vm.textChange('7')">
                                7
                            </div>
                            <div flex class="numBtn" layout="row" layout-align="center center"
                                 ng-mobile-click="vm.textChange('8')">
                                8
                            </div>
                            <div flex class="numBtn" layout="row" layout-align="center center"
                                 style="border-right: none"
                                 ng-mobile-click="vm.textChange('9')">
                                9
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex class="numBtn" layout="row" layout-align="center center"
                                 style="background: #d1d5db; color: #d1d5db;border-bottom: none">.
                            </div>
                            <div flex class="numBtn" layout="row" layout-align="center center"
                                 ng-mobile-click="vm.textChange('0')" style=";border-bottom: none">0
                            </div>
                            <div flex class="numBtn" layout="row" layout-align="center center"
                                 ng-mobile-click="vm.deletePassword()"
                                 style="background: #d1d5db;border-right: none;border-bottom: none">
                                <md-icon md-font-set="ks-icon" class="deleteIcon"
                                         md-font-icon="ks-times--irregular-o"></md-icon>
                            </div>
                        </div>
                        <!-- <div class="numBtn" ng-repeat="ss in vm.pwds">
                             <span>{{ss}}</span>
                         </div>-->
                    </div>
                </md-bottom-sheet>
            </div>
            <form class="registerForm2" ng-if="vm.payMsgStatus.isPhone">
                <div layout="row" class="inputWrap" style="border-bottom: 1px solid #d5d5d5">
                    <div flex layout="row" class="relative" style="border: none;">
                        <span>{{vm.payMsgStatus.phone}}</span>
                    </div>
                    <div style="width: 100px;" layout="row" layout-align="center center">
                        <span ng-click="vm.openDialogCode()" ng-class="{rePush:!vm.waitShow}"
                              class="mYyzm">{{vm.fsyzm}}</span>
                    </div>
                </div>
                <div class="relative">
                    <input type="text" placeholder="短信验证码" data-ng-model="vm.payPass.code" ng-change=""/>
                </div>
                <md-button class="md-login-button" ng-click="vm.changePhonePass()"
                           ng-class="{'ng-class-button':vm.payPass.code.length>0}">
                    <span>下一步</span>
                </md-button>
            </form>
        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>