<div flex="" layout="column" class=" ks-main ks-checkin" xmlns="">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="vm.fallbackPage()"
                         md-font-icon="ks-arrow_left"></md-icon>
                <span class="sqtz">登记</span>
            </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex id="content">
        <div class="topbar" layout="column" layout-align="center">
            <div class="name">统计时间</div>
            <div class="timer">{{vm.useList.begin|date:"yyyy-MM-dd"}}<span>至</span>{{vm.useList.end|date:"yyyy-MM-dd"}}
            </div>
        </div>
        <div class="content-divWrap">
            <div class="commodityList">
                <div class="commodityListHeader">
                    <div class="leftBlock"></div>
                    <span>使用累计</span>
                </div>
                <md-divider></md-divider>
            </div>

            <div class="commodityListContent">
                <div class="spec-wrap" ng-repeat="item in vm.useList.orderItems">
                    <md-divider class="dashed"></md-divider>
                    <img class="contentListImg"
                         ng-src="{{imgUrl}}/{{item.img}}?imageView2/2/w/50/h/50">
                    <div class="contentListRight" layout="column" layout-align="space-between start">
                        <div class="right1">{{item.title}}</div>
                        <div class="item-specs" layout="row">
                            <span flex layout="row" layout-align="start center">{{item.price/100|num:2}}/天</span>
                            <!--<input type="number" placeholder="{{item.num}}" ng-model="item.num">-->

                            <div layout="row" class="count">
                                <div class="minus" ng-mobile-click="vm.reduce($index)" layout=""
                                     layout-align="center center">
                                    <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ks-minus"></md-icon>
                                </div>
                                <input type="number" ng-model="item.num" layout=""
                                       onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                       layout-align="center center" ng-change="vm.getTotalPrice()"/>
                                <div class="add" ng-mobile-click="vm.add($index)" layout=""
                                     layout-align="center center">
                                    <md-icon class="iconBtn" md-font-set="ks-icon"
                                             md-font-icon="ks-plus-bold"></md-icon>
                                </div>

                            </div>
                            <div layout="row" layout-align="center center"
                                 style="margin-left: 10px;font-size: 13px;color: #101010">
                                天
                            </div>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
            </div>
        </div>
    </md-content>
    <!--<div class="submit-btn" layout="row" layout-align="center center" ng-click="vm.creatHotel()">
        <md-button class="ks-black md-raised" flex="100">生成账单</md-button>
    </div>-->

    <md-divider ng-if="vm.totalPrice>0"></md-divider>
    <div class="pay-amount" layout="column" layout-align="center center" ng-if="vm.totalPrice>0">
        应付金额：￥{{vm.totalPrice/100|num:1}}
    </div>
    <div class="submit-btn" layout="row" layout-align="center center" ng-if="vm.totalPrice>0">
        <md-button class="ks-black md-raised" flex="90" ng-click="vm.creatHotel()">
            生成账单
        </md-button>
    </div>
</div>

