<div flex="" layout="column" class="ks-leaseApplication ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">租赁申请</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex>
        <!--选择框-->
        <div class="choose">
            <!--2.2版本暂时不需要选择地区
            <div class="chooseContent" layout="row">
                <span>所在地区：</span>
                <div class="sel" flex>
                    <select flex>
                        <option>选择地区</option>
                        <option value="aaaa">
                            aaa
                        </option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_down"></md-icon>
                </div>
            </div>-->
            <div class="chooseContent" layout="row">
                <span>院校名称：</span>
                <div class="sel" flex>
                    <select flex ng-model="vm.orgId">
                        <option value="" checked="true">选择院校</option>
                        <option ng-repeat="org in orgs" value="{{org.id}}">{{org.title}}</option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_down"></md-icon>
                </div>
            </div>
        </div>
        <div class="chooseTxt" layout="center center">
            <span class="txtSpan" flex>
                证件照上传
            </span>
        </div>
        <md-divider style="margin:0 10px;"></md-divider>
        <div layout="row">
            <!-- 身份证正面 -->
            <div class="contBottom" flex>
                <div class="voucher" ng-if="vm.idJust">
                    <div class="voucherPhoto">
                        <!--<img class="imgWrap" src="http://placehold.it/600x600">-->
                        <img class="imgWrap"
                             ng-src="{{imgUrl}}{{vm.idJust.avatar}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                             alt="Picture"><!-- ng-click="imgPreviewReply(imgs,img.avatar)"-->
                        <div class="delete">
                            <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="removeOneImg(1)">
                                delete
                            </md-icon>
                        </div>
                    </div>
                </div>
                <div class="add" ng-if="!vm.idJust">
                    <div class="font">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="uploaderFiles1()">plus
                        </md-icon>
                        <input type="file" nv-file-select uploader="uploader1" style="display: none"
                               id="uploaderFile1"/>
                    </div>
                <span ng-click="uploaderFiles1()">
                   身份证正面
                </span>
                </div>
            </div>

            <!-- 身份证背面 -->
            <div class="contBottom" flex>
                <div class="voucher" ng-if="vm.idBack">
                    <div class="voucherPhoto">
                        <!--<img class="imgWrap" src="http://placehold.it/600x600">-->
                        <img class="imgWrap"
                             ng-src="{{imgUrl}}{{vm.idBack.avatar}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                             alt="Picture"><!-- ng-click="imgPreviewReply(imgs,img.avatar)"-->
                        <div class="delete">
                            <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="removeOneImg(2)">
                                delete
                            </md-icon>
                        </div>
                    </div>
                </div>
                <div class="add" ng-if="!vm.idBack">
                    <div class="font">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="uploaderFiles2()">plus
                        </md-icon>
                        <input type="file" nv-file-select uploader="uploader2" style="display: none"
                               id="uploaderFile2"/>
                    </div>
                <span ng-click="uploaderFiles2()">
                   身份证背面
                </span>
                </div>
            </div>
            <!-- 手持身份证正面 -->
            <div class="contBottom" flex>
                <div class="voucher" ng-if="vm.people">
                    <div class="voucherPhoto">
                        <!--<img class="imgWrap" src="http://placehold.it/600x600">-->
                        <img class="imgWrap"
                             ng-src="{{imgUrl}}{{vm.people.avatar}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                             alt="Picture"><!-- ng-click="imgPreviewReply(imgs,img.avatar)"-->
                        <div class="delete">
                            <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="removeOneImg(4)">
                                delete
                            </md-icon>
                        </div>
                    </div>
                </div>
                <div class="add" ng-if="!vm.people">
                    <div class="font">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="uploaderFiles4()">plus
                        </md-icon>
                        <input type="file" nv-file-select uploader="uploader4" style="display: none"
                               id="uploaderFile4"/>
                    </div>
                <span ng-click="uploaderFiles4()">

                    <i>手持身份证</i>
                    <i>正面</i>
                </span>
                </div>
            </div>
        </div>
        <div layout="row">
            <div class="contBottom" flex>

            </div>
            <!-- 学生证或录取通知书 -->
            <div class="contBottom" flex>
                <div class="voucher" ng-if="vm.student">
                    <div class="voucherPhoto">
                        <!--<img class="imgWrap" src="http://placehold.it/600x600">-->
                        <img class="imgWrap"
                             ng-src="{{imgUrl}}{{vm.student.avatar}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                             alt="Picture"><!-- ng-click="imgPreviewReply(imgs,img.avatar)"-->
                        <div class="delete">
                            <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="removeOneImg(3)">
                                delete
                            </md-icon>
                        </div>
                    </div>
                </div>
                <div class="add" ng-if="!vm.student">
                    <div class="font">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="uploaderFiles3()">plus
                        </md-icon>
                        <input type="file" nv-file-select uploader="uploader3" style="display: none"
                               id="uploaderFile3"/>
                    </div>
                <span ng-click="uploaderFiles3()">

                    <i>学生证或</i>
                    <i>录取通知书</i>
                </span>
                </div>
            </div>
            <div class="contBottom" flex>

            </div>
        </div>
        <br style="clear: both">
        <div class="msgWrap">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-verified"></md-icon>
            <span>小皇叔承诺保障你的信息安全</span>
        </div>
        <div style="padding-bottom: 15px"></div>
    </md-content>
    <div class="fixed">
        <div ng-click="submit()">
            <span>提交申请</span>
        </div>
    </div>
</div>