<div flex="" layout="column" class="md-whiteframe-z2 ks-main ks-counsel">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <div class="chevron_left_Wrap" ng-click="fallbackPage()">
                    <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"></md-icon>
                </div>
                <span class="regSpan">钱币规则</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="zixunWrap">
                <div class="txtTitle">
                    <div class="txtWrap">
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-sign-circular"></md-icon>
                        <span>钱币</span>
                    </div>
                </div>
                <div class="TxtSlide">
                    <div class="dropDown" ng-click="goOpens2 = !goOpens2">
                        什么是钱币？
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpens2"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpens2"></md-icon>
                    </div>
                    <md-divider class="dashed"></md-divider>
                    <div class="txtWrap" ng-if="goOpens2">
                        <p>钱币是面对小皇叔用户推出的一种增值服务，数量或时间等的一种统计代码，并非任何代币票券，不能用于小皇叔增值服务以外的任何商品或服务。</p>
                    </div>
                    <md-divider class="dashed" ng-if="goOpens2"></md-divider>
                    <div class="dropDown" ng-click="goOpens3 = !goOpens3">
                        如何获取钱币？
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpens3"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpens3"></md-icon>
                    </div>
                    <md-divider class="dashed"></md-divider>
                    <div class="txtWrap" ng-if="goOpens3">
                        <p>
                        <p>1.注册即送1000钱币。</p>
                        <p>2.每介绍1个注册会员积1分。</p>
                        <p>3.每分享1次信息积0.5分。</p>
                        <p>4.坚持每天连续签到，每天均可获得1个钱币奖励，连续签到7天以上，每天可获得5个钱币。</p>
                        <p>5.下单购买商城商品，根据用户的等级不同，返回不同比例的钱币给会员。按照消费金额返钱币。</p>
                        <p>6.下单所返钱币在订单确认收货后15天返回到会员帐户中，若订单发生退款，则退款部分不记录钱币返比。</p>
                        <p>7.每个小皇叔账号每天仅能签到一次，对于任何通过不正当手段参与活动者，小皇叔有权取消其签到资格与领取奖励资格。</p>
                        <p>8.用户所得钱币，不会在年底清除。钱币不支持商品购买时使用。</p>
                        </p>
                    </div>
                    <md-divider class="dashed" ng-if="goOpens3"></md-divider>
                    <div class="dropDown" ng-click="goOpens4 = !goOpens4">
                        如何使用钱币？
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpens4"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpens4"></md-icon>
                    </div>
                    <md-divider class="dashed" ng-if="goOpens4"></md-divider>
                    <div class="txtWrap" ng-if="goOpens4">
                        <p>
                            钱币可在钱币商城兑换相应商品，具体兑换内容，请去钱币商城查看
                        </p>
                    </div>
                </div>
            </div>
            <div class="solidRow"></div>
            <div class="zixunWrap">
                <div class="txtTitle">
                    <div class="txtWrap">
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-exclamation-circle"></md-icon>
                        <span>声明</span>
                    </div>
                </div>
                <div class="TxtSlide">
                    <div class="dropDown" ng-click="goOpenb1 = !goOpenb1">
                        小皇叔郑重声明
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_up"
                                 ng-if="goOpenb1"></md-icon>
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon="ks-arrow_down"
                                 ng-if="!goOpenb1"></md-icon>
                    </div>
                    <md-divider class="dashed" ng-if="goOpenb1"></md-divider>
                    <div class="txtWrap" ng-if="goOpenb1">
                        <p>
                        <p>如发现利用非法途径谋取利益，小皇叔将取消活动资格，所有获取的利益自始无效，小皇叔将予以追回，本活动最终解释权归小皇叔所有。</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="solidRow"></div>
            <div class="zixunWrap">
                <div class="txtTitle">
                    <div class="txtWrap">
                        <md-icon md-font-set="ks-icon" class="tbIcont" md-font-icon=" ks-phone"></md-icon>
                        <span>客服热线</span>
                    </div>
                </div>
                <div class="TxtSlide ">

                    <div class="txtWrap cur" style="border: none">
                        <p class="txt" style="border: none">
                            <span class="sp1">官方服务热线:</span>
                            <span class="sp2">（9.00-24.00）</span>
                            <a class="sp3" href="tel:0571-86064050">0571-86064050转803</a>
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>
