<div flex="" layout="column" class=" ks-main md-whiteframe-z2 ks-welfareSmall">
    <md-toolbar class="ks-header" >
        <div layout="row" class="ks-header-divWrap" >

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">10元小福利</span>
            </div>

        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content"  >
        <div class="content-divWrap">
            <div class="contentCommodity contentCommodityLeft welfareSmall" layout="row">
                <div class="layoutWrap " l >
                    <div class="commodityList">
                        <div class="commodity " >
                            <div class="commodityImg" style="background: red"></div>
                            <img src="http://placehold.it/600x600" title="商品图片">
                        </div>
                        <div class="paremsTtitle">100%手工蚕丝被爱上打算打算</div>
                        <div class="paremsPrice">￥199<span class="ykj">￥599</span></div>
                    </div>
                    <div class="commodityList">
                        <div class="commodity " >
                            <div class="commodityImg" style="background: red"></div>
                            <img src="http://placehold.it/600x600" title="商品图片">
                        </div>
                        <div class="paremsTtitle">100%手工蚕丝被爱上打算打算</div>
                        <div class="paremsPrice">￥199<span class="ykj">￥599</span></div>
                    </div>
                    <div class="commodityList">
                        <div class="commodity " >
                            <div class="commodityImg" style="background: red"></div>
                            <img src="http://placehold.it/600x600" title="商品图片">
                        </div>
                        <div class="paremsTtitle">100%手工蚕丝被爱上打算打算</div>
                        <div class="paremsPrice">￥199<span class="ykj">￥599</span></div>
                    </div>
                    <div class="commodityList">
                        <div class="commodity " >
                            <div class="commodityImg" style="background: red"></div>
                            <img src="http://placehold.it/600x600" title="商品图片">
                        </div>
                        <div class="paremsTtitle">100%手工蚕丝被爱上打算打算</div>
                        <div class="paremsPrice">￥199<span class="ykj">￥599</span></div>
                    </div>
                </div>

            </div>
        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>

