<div flex="" layout="column" class="ks-moreHelp ks-main md-whiteframe-z2 ">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"
                         ng-click="fallbackPage()"></md-icon>
                <span class="regSpan">更多</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content style="">
        <div class="txtContent" layout="row" ui-sref="main.more.feedBack">
            <div flex class="txt">意见反馈</div>
            <span>吐槽一下</span>
            <md-icon md-font-set="ks-icon" class="chevron_right" md-font-icon="ks-arrow_right"></md-icon>
        </div>
        <div class="txtContent" layout="row" ui-sref="main.more.aboutUs">
            <div flex class="txt">关于我们</div>
            <!--这个页面跟promotionHelp.html一样  可以参照-->
            <!--<span>V{{version}}</span>-->
            <md-icon md-font-set="ks-icon" class="chevron_right" md-font-icon="ks-arrow_right"></md-icon>
        </div>

    </md-content>
</div>