<div flex="" layout="column" class="md-whiteframe-z2 ks-main ks-shippingAddress">
   <!-- <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex class>
                &lt;!&ndash;<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>&ndash;&gt;
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">收货地址</span>
            </div>
        </div>
    </md-toolbar>
-->

    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>收货地址</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content" class="top-border" ng-if="list.addressList[0]">
        <div class="content-divWrap">
            <div class="shWrap" ng-repeat="addr in list.addressList track by $index">
                <div class="line" ng-if="$index!=0"></div>
                <div class="shBox" ng-click="orderUpdateAddress(addr)">
                    <div class="nameRow">
                        <span class="name">{{addr.contact}}</span>
                        <span class="tel">{{addr.phone}}</span>
                    </div>
                    <p class="xiangxi">
                        <span ng-if="addr.province">{{addr.province}}/</span>
                        <span ng-if="addr.city">{{addr.city}}/</span>{{addr.area}}/{{addr.street}}
                    </p>
                </div>

                <div class="set">
                    <div class="defaultSet" >
                        <md-icon style="color: #ba9f6e" md-font-set="ks-icon" md-font-icon="ks-r-selected"
                                 ng-if="addr.updateDefault"></md-icon>
                        <md-icon style="color: #999" md-font-set="ks-icon" md-font-icon="ks-r-unselected"
                                 ng-if="!addr.updateDefault" ng-click="setDefault(addr,$index)"></md-icon>
                        <span ng-if="addr.updateDefault" >默认地址</span>
                        <span ng-if="!addr.updateDefault" class="cur">设为默认</span>
                    </div>
                    <!-- <div class="defaultSet" ng-click="setDefault(addr)" ng-if="!addr.updateDefault">
                         <span>设为默认</span>
                     </div>-->
                    <div class="edit">
                        <div class="icon" ng-click="openadddialog($event,1,$index)">
                            <md-icon md-font-set="ks-icon" md-font-icon="ks-edit-o"></md-icon>
                            <span>编辑</span>
                        </div>
                        <div class="icon" ng-click="deleteAddress($event,addr.id)">
                            <md-icon md-font-set="ks-icon" md-font-icon="ks-trash-can-o"></md-icon>
                            <span>删除</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-divi" ></div>
        </div>
        <div class="address">
            <button class="but" ng-click="openadddialog($event,0)">+添加新地址</button>
        </div>
    </md-content>

    <!-- 收货地址列表为空 -->
    <md-content flex layout="column" class="top-border empty" class="empty" ng-if="!list.addressList[0]">

        <div flex layout="column" layout-align="center center">
            <md-icon md-font-set="ks-icon" md-font-icon="ks-location" class="icon"></md-icon>
            <div class="txt">您还没有收货地址，快来创建吧～</div>
        </div>

        <div layout="row" layout-align="center center" class="add-row">
            <md-button class="ks-black md-raised" flex ng-click="openadddialog($event,0)" style="border-radius: 0"> + 添加新地址</md-button>
        </div>
    </md-content>
</div>


<style>
    .empty .icon {
        font-size: 60px;
        line-height: 60px;
        margin: 0 0 15px;
        background: linear-gradient(to bottom, #e6e6e6, #f5f5f5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .empty .txt {
        color: #999;
    }

</style>
