<div flex="" layout="column" class="ks-rechargecard ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="">
                <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
            </md-button>
            <h1 flex style="margin-left: -10px">充值卡</h1>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content>
        <div class="payNum">
            <div class="rechageset rechargeNum" layout="row" layout-align="center center">
                <div flex layout="row" layout-align="start end" class="cash-txt">
                    <span class="cardsell">售价：</span>
                    <span class="cardNum">￥100.00</span></div>
            </div>
            <div class="rechageset giftNum">
                <div class="cardapl">充值卡介绍</div>
                <div class="cardinfo">
                    ①面值：￥110<br>
                    ②本卡全平台通用<br>
                    ③充值卡的金额不能提现<br>
                    ④客服热线:400-0000-000
                </div>
            </div>
        </div>
        <div class="diviline"></div>
        <div class="content-divWrap">
            <div class="payStaleTop"><span>支付方式</span></div>
            <div class="payStyleNext">
                <div class="paytypes" layout="row">
                    <div class="paytypesCont">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-rmb-symbol"></md-icon>
                    </div>
                    <div class="paytypesRight" flex>
                        <span>余额支付</span>
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-selected</md-icon>
                    </div>
                </div>
                <div class="paytypes" layout="row">
                    <div class="paytypesCont">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-weixin"></md-icon>
                    </div>
                    <div class="paytypesRight" flex>
                        <span>微信支付</span>
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-selected</md-icon>
                    </div>
                </div>
                <div class="paytypes" layout="row">
                    <div class="paytypesCont">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-alipay"></md-icon>
                    </div>
                    <div class="paytypesRight" flex>
                        <span>支付宝支付</span>
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-unselected</md-icon>
                    </div>
                </div>
                <div class="paytypes" layout="row" ng-if="!types">
                    <div class="paytypesmore" flex ng-click="getMoreTypes()">
                        <span>更多支付方式</span>
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_down"></md-icon>
                    </div>
                </div>
                <div class="paytypes" layout="row" ng-repeat="s in ['农业银行','招商银行','工商银行']" ng-if="types">
                    <div class="paytypesCont">
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-alipay"></md-icon>
                    </div>
                    <div class="paytypesRight" flex>
                        <span>{{s}}</span>
                        <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">r-unselected</md-icon>
                    </div>
                </div>
            </div>
            <div class="payStyleMore" layout="row" ng-if="types">
                <span flex layout="row" layout-align="start center">添加银行卡</span>
                <div flex="10" layout="row" layout-align="center center">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_right"></md-icon>
                </div>
            </div>
            <div class="bottomPay" layout="column"">
                <span layout="row" flex layout-align="center center">购买</span>
            </div>
        </div>
    </md-content>

</div>