<div flex="" layout="column" class=" ks-main ks-product">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"
                         ng-click="fallbackPage()"></md-icon>
                <span class="regSpan">验证结果</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="changeTxtEmailBox">
                <div class="txtEmailBox ">
                    <p class="bindEmailTxt">
                        <md-icon md-font-set="ks-icon" class="ks-success" md-font-icon="ks-success"></md-icon>
                    </p>
                    <p class="emailCode">恭喜！您的商品是正品！</p>
                </div>
            </div>
            <div class="cpss">
                <span>产品参数</span>
            </div>
            <div class="detailedParameter">
                <div class="detailedParameRow" layout="row">
                    <div class="ParameName">品牌</div>
                    <div class="ParameMessage" flex>{{itemDetail.brandName}}</div>
                </div>
                <div class="detailedParameRow" ng-repeat="prop in itemDetail.propertys" layout="row">
                    <div class="ParameName">{{prop.name}}</div>
                    <div class="ParameMessage" flex>{{prop.value}}</div>
                </div>
                <div class="detailedParameRow" ng-repeat="spec in itemDetail.specs" layout="row">
                    <div class="ParameName">{{spec.name}}</div>
                    <div class="ParameMessage" flex>{{spec.value}}</div>
                </div>
            </div>
            <div class="diviline"></div>
            <div class="cpss">
                <span>生产跟踪</span>
            </div>
            <div class="detailedParameter detaiBorderSpl" ng-repeat="trInfo in tracks.trackList.slice().reverse()">

                <div class="detailedParameRow" layout="row">
                    <div class="ParameName">时间</div>
                    <div class="ParameMessage" flex>{{trInfo.date | date:"yyyy-MM-dd HH:mm:ss"}}</div>
                </div>
                <div class="detailedParameRow" layout="row">
                    <div class="ParameName">地点</div>
                    <div class="ParameMessage" flex>{{trInfo.addr}}</div>
                </div>
                <div class="detailedParameRow" layout="row">
                    <div class="ParameName">事件</div>
                    <div class="ParameMessage" flex>{{trInfo.event}}</div>
                </div>
                <div class="detailedParameRow" layout="row">
                    <div class="ParameName">结果</div>
                    <div class="ParameMessage" flex>{{trInfo.result}}</div>
                </div>
                <div class="detailedParameRow" layout="row">
                    <div class="ParameName">负责人</div>
                    <div class="ParameMessage" flex>{{trInfo.director}}</div>
                </div>
            </div>
        </div>
    </md-content>
    <div service-center="" info="index"></div>
</div>


