<!--除了此页有新加代码之外，其他退货退款页面没有css改动，可以复用，但是头部ks-这块不一样-->
<div flex="" layout="column" class="ks-returnRefund ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">退货信息</span>
            </div>
        </div>

    </md-toolbar>
    <md-divider></md-divider>

    <md-content flex>
        <!--选择框-->
        <div class="choose">
            <div class="chooseContent" layout="row">
                <span>申请服务：</span>

                <div class="sel" flex>
                    <select flex>
                        <option>退租</option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_down</md-icon>
                </div>
            </div>
            <div class="chooseContent" layout="row">
                <span>退货原因：</span>
                <div class="sel" flex>
                    <select flex data-ng-model="refund.reason">
                        <option value="" checked="true">选择退租原因</option>
                        <!--  <option value="商品质量">商品质量</option>
                          <option value="商品错发">商品错发</option>-->
                        <option value="不想租了">
                            不想租了
                        </option>
                    </select>
                </div>
                <div class="txt" flex="10" layout="row">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">arrow_down</md-icon>
                </div>
            </div>
            <div class="chooseContent" layout="row">
                <span>退货时间：</span>
                <input flex type="date" placeholder="选择时间" ng-model="endDate" ng-change="changeDate()">

            </div>
            <div class="chooseTxt">
                <span>为了不需要的麻烦，请提前3天最佳</span>
            </div>
            <div class="chooseContent" layout="row">
                <span>预计可退款金额：</span>
                <div class="chooseContentRight">{{refund.refundPrice/100.0|num:1}}</div>
            </div>
            <!--此段说明代码是新加的，也加了css样式-->
            <div class="chooseTxt">
                <span>(最多￥{{refund.payment/100.0|num:1}},含邮费￥0)</span>
            </div>
            <div class="chooseContent" layout="row">
                <span>退货说明：</span>
                <textarea flex type="text" placeholder="最多200字" ng-change="checkText()" data-ng-model="memo">
                </textarea>
                <!--style=’ resize: none;’-->
            </div>
        </div>
        <!-- <div class="voucher" ng-repeat="img in imgs">
             <div class="voucherTxt">
                 <div class="voucherPhoto">
                     <img ng-src="{{imgUrl}}{{img.avatar}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                          alt="Picture" ng-click="imgPreviewReply(imgs,img.avatar)">
                     <div class="txtWarp">
                     </div>
                     <div class="delete">
                         <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="removeOneImg(img.id)">
                             delete
                         </md-icon>
                     </div>
                 </div>
             </div>
         </div>
         <div class="add" ng-if="imgs.length<=3">
             <div class="font">
                 <div class="fontWrap">
                     <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="uploaderFiles()">plus
                     </md-icon>
                     <input type="file" nv-file-select uploader="uploader" style="display: none" id="uploaderFile"/>
                 </div>
                 <span>
                     上传凭证
                     <br>
                     (最多三张)
                 </span>
             </div>
         </div>-->
        <div class="contBottom">
            <div class="voucher" style="margin-top: 10px;margin-right: 0;padding-left: 0" ng-repeat="img in imgs">
                <div class="voucherTxt">
                    <div class="voucherPhoto">
                        <img class="img"
                             ng-src="{{imgUrl}}{{img.avatar}}?imageView2/2/w/{{simpleImg.w}}/h/{{simpleImg.h}}"
                             alt="Picture" ng-click="imgPreviewReply(imgs,img.avatar)">
                        <div class="txtWarp">
                            <textarea maxlength="10" style="resize: none" placeholder="输入说明" ></textarea>
                        </div>
                        <div class="delete">
                            <md-icon class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="removeOneImg(img.id)">
                                delete
                            </md-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add" ng-if="imgs.length<=3">
                <div class="font" ng-click="uploaderFiles()">
                    <md-icon class="chevron_left ks-icon" md-font-set="ks-icon">plus
                    </md-icon>

                </div>
                <span ng-click="uploaderFiles()">
                   上传凭证
                <br>
                    (最多三张)
                </span>
                <input type="file" nv-file-select uploader="uploader" style="display: none" id="uploaderFile"/>
            </div>
        </div>
        <div style="padding-bottom: 15px"></div>
    </md-content>
    <div class="fixed">
        <div>
            <span ng-click="orderRefund()">提交申请</span>
        </div>
    </div>
</div>