<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-previewTemplate">
    <!--<md-toolbar class="ks-header" layout="row">-->
    <!--<div class="md-icon-button" flex="20" ng-click="fallbackPage()">-->
    <!--<md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>-->
    <!--</div>-->
    <!--<h1 flex>每日必团</h1>-->
    <!--<div class="md-icon-button" flex="20">-->
    <!--</div>-->
    <!--</md-toolbar>-->


    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>每日必团</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <md-content flex>
        <!--<img src="https://img.kingsilk.net/Fu6So3GapLlIl-Apox4wllgTvZnK" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FkAcQxRwz7Prr928aW83Ie16-_kP" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FrvvGN8ZIW3VRlSJ_ZnJ1XHIoyI9" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/Fnrx0xbKVqh1QHN-QyzPAMcpF9XE" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FrSYm_rWAm7rq-GQatIRRvrG4XDk" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/Fpm8opWTz-lx4Y5ILIygNH5Ps2Ac" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FiaTz6aGMMwlYrmFOgbw7ZaKJDGQ" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FtPMoryj7fixhW71KiVYkaVAwTJc" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/Fs2YpwTfrMKHOLwgzi1kwqcmwt_1" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FiHJ492UT2AWSBIscb85_3NrEx5D" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/Fs_Pz-lhrNSnp9meZYCUHY9i_WP5" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FmOF2MfkbRnXeN4IrAR3tNFhZhAW" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FpvnmE_OmkOLvRtjxbiq9UsrZBxh" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FhWyv6xxnJlKAuBdClgTx9JTZHu-" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/FsnHr-ZoUcC2C8yPL_778xSk7RRW" width="100%"/>-->
        <!--<img src="https://img.kingsilk.net/Fo5Qig3HXb9c1ipzS_5HhLOWJDWB" width="100%"/>-->

        <div class="pintuan-box" ng-repeat="group in orderList.recList"
             ui-sref="main.groupOrder.groupOrderDetail({id:group.id,skuId:group.skus[0].skuId,lastStap:'saveLove'})">
            <div class="pintuan-img">
                <img img-holder ng-src="{{imgUrl}}{{group.img}}?imageView2/2/w/{{slideImg.w}}/h/{{slideImg.h}}"></a>
                <!--<img src="https://o96iiewkd.qnssl.com/FmkThhbJtK4AzxCXRP_unuOm4dot"/>-->
            </div>
            <div class="pintuan-txt">
                <div class="pintuan-title">{{group.name}}</div>
                <div class="pintuan-con" layout="row" layout-align="space-between center">
                    <div class="pintuan-price">
                        <span class="price">￥{{group.skus[0].activityPrice/100|num:0}}</span>
                        <span class="num">已团{{group.groupCount}}人</span>
                    </div>
                    <div class="pintuan-btn">去开团
                    </div>
                </div>
            </div>
            <div class="pintuan-line">
            </div>
        </div>
    </md-content>
</div>
<style>

    img {
        vertical-align: bottom;
    }
</style>