<div flex="" layout="column" class="ks-hotelOrderDetail ks-main md-whiteframe-z2 ">
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">订单详情</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex>
        <!--此处有修改  下面还有一处-->
        <div class="orderMessage">
            <div class="orderMessageTop">
                <div class="leftBlock"></div>
                <span>订单信息</span>
            </div>
            <md-divider class="dashed" style=" margin-left:10px;"></md-divider>
            <div class="orderMessageWrap">
                <div class="wrapChild">
                    <div class="txtMessage">账单编号：</div>
                    <span>{{order.seq}}</span>
                </div>
                <div class="wrapChild">
                    <div class="txtMessage">账单状态：</div>
                    <span>{{order.statusDes}}</span>
                </div>
                <div class="wrapChild">
                    <div class="txtMessage">统计时间：</div>
                    <span>{{order.date|date:"yyyy-MM-dd"}}</span>
                </div>
                <div class="wrapChild">
                    <div class="txtMessage">账单日期：</div>
                    <span>{{order.begin|date:"yyyy-MM-dd"}}至{{order.end|date:"yyyy-MM-dd"}}</span>
                </div>
            </div>
        </div>
        <div class="orderMessage">
            <div class="orderMessageTop">
                <div class="leftBlock"></div>
                <span>用户信息</span>
            </div>
            <md-divider class="dashed" style=" margin-left:10px;"></md-divider>
            <div class="orderMessageWrap">
                <div class="wrapChild">
                    <div class="txtMessage">酒店：</div>
                    <span>{{order.org.title}}</span>
                </div>
                <div class="wrapChild">
                    <div class="txtMessage">负责人：</div>
                    <span>{{order.org.user.name}}</span>
                </div>
                <div class="wrapChild">
                    <div class="txtMessage">联系方式：</div>
                    <span>{{order.org.user.phone}}</span>
                </div>
            </div>
        </div>
        <div class="commodityList">
            <div class="commodityListHeader">
                <div class="leftBlock"></div>
                <span>商品清单</span>
            </div>
        </div>
        <div class="commodityListContent" ng-repeat="orderItem in order.orderItems">
            <md-divider class="dashed"></md-divider>
            <img class="contentListImg"
                 ng-src="{{imgUrl}}{{orderItem.img}}?imageView2/2/w/100/h/100">
            <div class="contentListRight" ng-click="itemDetail(orderItem)">
                <div class="right1">{{orderItem.title}}</div>
                <div class="num1">￥{{orderItem.price/100.0|num:1}}/天</div>
                <div class="num2">x{{orderItem.day}}天</div>
                <br style="clear: both">
            </div>
            <br style="clear: both">
        </div>
        <div class="orderMessage" ng-if="order.status==='SUCCESS'" style="border-top: 1px solid #d5d5d5;border-bottom:none">
            <div class="orderMessageTop">
                <div class="leftBlock"></div>
                <span>支付相关</span>
            </div>
            <md-divider class="dashed" style=" margin-left:10px;"></md-divider>
            <div class="orderMessageWrap">
                <div class="wrapChild">
                    <div class="txtMessage">支付金额：</div>
                    <span>￥{{order.paymentAmount/100|num:1}}</span>
                </div>
                <div class="wrapChild">
                    <div class="txtMessage">支付会员：</div>
                    <span>{{order.user.username}}</span>
                </div>
                <div class="wrapChild">
                    <div class="txtMessage">支付时间：</div>
                    <!--没有,先用创建时间-->
                    <span>{{order.date|date:"yyyy-MM-dd"}}</span>
                </div>
            </div>
        </div>
        <div style="border-top: 1px solid #d5d5d5;height: 60px;margin: 0 10px" ng-if="order.status !== 'SUCCESS'"></div>
    </md-content>
    <md-divider ng-if="order.status!=='SUCCESS'"></md-divider>
    <div class="pay-amount" layout="column" layout-align="center center"
         ng-if="order.status=='PAY'">
        应付金额：￥{{order.paymentAmount/100|num:1}}
    </div>
    <div class="submit-btn" layout="row" layout-align="center center"
         ng-if="order.status=='PAY'">
        <md-button class="ks-black md-raised" flex="90" ng-click="orderPay(order.id)">
            去支付
        </md-button>
    </div>

</div>