<div flex="" layout="column" class="ks-main">

    <md-toolbar layout="row" class="ks-header">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button">
                <md-icon md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
            </md-button>
            <h1 flex>标题</h1>
            <md-button class="md-icon-button">
                <md-icon md-font-set="ks-icon" md-font-icon="ks-kingsilk-logo"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex="" class="top-border">
        <ol>
            <li>{{$window.document.documentElement.clientHeight}}</li>
            <li ng-click="getHeight()">.ks-main.height = {{mainHeight}}</li>
            <li ng-click="getHeight()">.ks-header.height = {{ksHeaderHeight}}</li>
            <li ng-click="getHeight()">md-content.height = {{mdContentHeight}}</li>
            <li ng-click="getHeight()">[ks-footer-menu].height = {{ksFooterMenuHeight}}</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
            <li>aaaa</li>
        </ol>
    </md-content>
    <div ks-footer-menu cur="'index'" ng-if="showFooter"></div>
</div>