<div flex="" layout="column" class=" ks-main ks-welfare md-whiteframe-z2">
    <md-toolbar class="ks-header">
        <!-- <div layout="row" class="ks-header-divWrap">
             <div class="divTop" flex>
                 &lt;!&ndash;<md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"></md-icon>&ndash;&gt;
                 <span class="regSpan">福利社</span>
             </div>
         </div>-->


        <div layout="row" class="ks-header-divWrap">
            <div class="divTop" flex>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"
                         ng-click="vm.fallbackPage()"></md-icon>
                <span class="regSpan">福利社</span>
            </div>
        </div>
    </md-toolbar>


    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">

            <div id="banner">

            </div>
            <div class="cxTime" layout="row">
                <div class="cx" ng-class="{cur:tmp.click}" ng-click="vm.querySku(tmp)" flex
                     ng-repeat="tmp in vm.activityList">
                    <p class="num">
                        <b ng-if="!tmp.isYesterday">{{tmp.beginDate|date:"HH:mm"}}</b>
                        <b ng-if="tmp.isYesterday">{{tmp.beginDate|date:"MM-dd"}}</b>
                    </p>
                    <p>
                        <b ng-if="tmp.type==='END'">已结束</b>
                        <b ng-if="tmp.type==='USED'">开抢中</b>
                        <b ng-if="tmp.type==='BEGIN'">即将开始</b>
                    </p>
                    <!-- <div class="trag-down"></div>-->
                </div>
            </div>

            <div class="bannerTow" ng-if="vm.activityCheck">
                <div class="bannerChengTow"></div>
                <a ng-click="vm.clickUrl(vm.activityCheck.url)"><img
                        ng-src="{{vm.appConfig.imgUrl}}{{vm.activityCheck.img}}?imageView2/2/w/{{vm.imgService.indexBelowImg.w}}/h/{{vm.imgService.indexBelowImg.h}}"
                        class="promotionImg"/></a>
            </div>
            <div class="timeOverBox" ng-if="vm.activityCheck">
                <div class="timeOver">
                    <span class="jssp" ng-if="vm.activityCheck.type==='USED'">距离结束</span>
                    <span class="jssp" ng-if="vm.activityCheck.type==='BEGIN'">距离本场开始</span>
                    <i class="shi" ng-if="vm.activityCheck.type!='END'">{{vm.activityCheck.house}}</i>
                    <span class="dot" ng-if="vm.activityCheck.type!='END'">:</span>
                    <i class="fen" ng-if="vm.activityCheck.type!='END'">{{vm.activityCheck.minu}}</i>
                    <span class="dot" ng-if="vm.activityCheck.type!='END'">:</span>
                    <i class="miao" ng-if="vm.activityCheck.type!='END'">{{vm.activityCheck.second}}</i>
                </div>
                <div class="timeOver" ng-if="vm.activityCheck.type==='END'">
                    <span class="jssp">本场已结束，下次赶早吧!</span>
                </div>
            </div>
            <div class="promotionList">
                <div class="promotion" layout="row" ng-repeat="tmp in vm.activitySku" ng-click="vm.gotoDetail(tmp.sku)">
                    <div class="promotionBox">
                        <img ng-src="{{vm.appConfig.imgUrl}}{{tmp.sku.img}}?imageView2/2/w/{{vm.imgService.simpleImg.w}}/h/{{vm.imgService.simpleImg.h}}"
                             class="promotionImg"/>
                    </div>
                    <div flex class="promotionTxt" layout="column">
                        <p class="promotionTitle">{{tmp.sku.title}}</p>
                        <div class="priceBox">
                            <p class="price">
                                <b>￥{{tmp.price/100.0|num:1}}</b>
                                <span>￥{{tmp.sku.price/100.0|num:1}}</span>
                            </p>
                            <span class="jianNum" ng-if="tmp.remainCount>0">仅剩{{tmp.remainCount}}件</span>
                            <span class="jianNum" ng-if="tmp.remainCount<1">已抢光</span>
                        </div>

                        <button class="qiang over" ng-if="vm.activityCheck.type==='END'">已结束
                        </button>
                        <button class="qiang" ng-class="{cur:tmp.remainCount<1}"
                                ui-sref="main.item({itemId:tmp.sku.itemId,skuId:tmp.sku.id})"
                                ng-if="vm.activityCheck.type==='USED'">马上抢
                        </button>
                    </div>
                </div>
                <!-- <div class="promotion" layout="row">
                     <div class="promotionBox">
                         <img src="http://www.7colorings.com/uploads/allimg/140107/2122-14010G4415O05.jpg"
                              class="promotionImg"/>
                     </div>
                     <div flex class="promotionTxt" layout="column">
                         <p class="promotionTitle">钱皇正品真丝五件套100%桑蚕丝奢侈豪华装</p>
                         <div class="priceBox">
                             <p class="price">
                                 <b>￥999</b>
                                 <span>￥1199</span>
                             </p>
                             <span class="jianNum cur">已抢光</span>
                         </div>
                         <button class="qiang cur">马上抢</button>
                     </div>
                 </div>-->
            </div>


        </div>
    </md-content>
    <!--底部-->
    <!--<ks-footer-menu cur="'gift'"></ks-footer-menu>-->
</div>
