<div flex="" layout="column" class="md-whiteframe-z2 ks-main twoCode">
    <md-toolbar class="ks-header ">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" md-font-icon="ks-arrow_left"
                         ng-click="fallbackPage()"></md-icon>
                <span class="regSpan">我的二维码</span>
            </div>
        </div>
    </md-toolbar>
    <md-content flex="" id="content">
        <div class="content-divWrap ">

            <div class="ewmWrap">
                <div class="ewmBox">
                    <div class="ewmTop" >
                        <div class="left">
                            <img ng-if="user.userInfo.avatar"
                                 ng-src="{{titelImgUrl}}"/>
                        </div>
                        <div class="right" >
                            <p class="name" ng-if="user.hidephone"> {{user.hidephone}}</p>
                            <p class="name" ng-if="!user.hidephone"> {{user.userInfo.name}}</p>
                            <p class="address" ng-if="user.userInfo.residence.pro||user.userInfo.residence.city">{{user.userInfo.residence.pro}}&nbsp;&nbsp;
                                {{user.userInfo.residence.city}}</p>
                            <p class="address" ng-if="!user.userInfo.residence.pro&&!user.userInfo.residence.city">至尊VIP</p>
                        </div>
                    </div>
                    <div class="ewm">
                        <div class="ewmWrap"></div>
                        <div class="ico">
                            <div style="width: 100%;
                            height: 100%">
                                <qrcode data="{{codeUrl}}" style="height: 100%;width: 100%" size="200" version="10" ></qrcode>

                            </div>
                        </div>
                    </div>
                    <div class="botTxt">手机扫一扫二维码，海量优惠等您拿</div>
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-kingsilk-logo" class="logo" ></md-icon>
                </div>


            </div>
        </div>
    </md-content>
</div>
