<!--<div flex layout="column" class="ks-lotteryDialog">-->
<!--<div class="ks-lotteryDialog-bg">-->
<!--</div>-->
<!--</div>-->


<!--<div class="md-dialog-container" id="myStaticDialog">-->
<!--<md-dialog>-->
<!--This is a pre-rendered dialog.-->
<!--</md-dialog>-->
<!--</div>-->

<md-dialog class="ks-lotteryDialog">

    <md-dialog-content class="ks-lotteryDialog-main">
        <div class="ks-lotteryDialog-cancel" ng-click="vm.cancel()"></div>
        <div class="ks-lotteryDialog-label">
            <label>{{vm.ind}}乐视超级电视一台</label>
        </div>
        <div class="ks-lotteryDialog-img"></div>
        <div class="ks-lotteryDialog-checked" ng-click="vm.checkSubmit()">
            <!--<a ng-href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NzY4NTc2Mg==&scene=124#wechat_redirect">领取奖品</a>-->
            <!--领取奖品-->
        </div>
    </md-dialog-content>


</md-dialog>