<div flex="" layout="column" class="ks-presentRecord ks-main md-whiteframe-z2 ">
   <!-- <md-toolbar class="md-menu-toolbar ks-header tixian">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="fallbackPage()">
                <md-icon class="arrow_left ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
            </md-button>
            <h1 flex ui-sref-opts="{reload: true}" ui-sref="main.index">提现记录</h1>
            <span flex="10"></span>
        </div>
    </md-toolbar>
    -->
    <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan" ui-sref-opts="{reload: true}" ui-sref="main.index">提现记录</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content ng-if="counts.recode[0]">
        <div class="introduceContent">
            <div class="month">
                <span> {{counts.year}}提现总金额：</span>
                <span> ¥{{counts.totalPrice/100.0|num:1}}</span>
            </div>
            <div class="introduceWrap" ng-repeat="tmp in counts.recode">
                <div class="contentUserName" layout="row">
                    <div class="contentUserNameOne" flex="15" layout="column" layout-align="center first ">
                        <!--<span>{{tmp.date| date:'EEE'}}</span>-->
                        <span>{{tmp.date| date:'MM-dd'}}</span>
                    </div>
                    <div class="contentUserNameTwo" flex="20" layout="column" layout-align="center center ">
                        <md-icon ng-if="tmp.status==='FAIL'" style="background: #e84e40" class="ti-word ks-icon"
                                 md-font-set="ks-icon">ti-word
                        </md-icon>
                        <md-icon ng-if="tmp.status!='FAIL'" style="background: #101010" class="ti-word ks-icon"
                                 md-font-set="ks-icon">ti-word
                        </md-icon>
                    </div>
                    <div class="contentUserNameThree" flex="50" layout="column" layout-align="center start ">
                        <span class="recordNum">￥{{tmp.price/100.0|num:1}}</span>
                        <span class="recordTxt">{{tmp.statusName}}，{{tmp.mode}}</span>
                    </div>
                    <div class="contentUserNameFor" flex="15" layout="column" layout-align="start start ">
                        <span>{{tmp.date| date:'HH:mm'}}</span>
                    </div>
                </div>
            </div>


            <div layout="row" layout-align="center center" style="padding: 10px" ng-click="queryRecord(curPage)"
                 ng-if="!pageEnd">
                <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff">
                    点击加载更多...
                </md-button>
            </div>
            <div layout="row" layout-align="center center" style="padding: 10px"
                 ng-if="pageEnd && curPage!=1">
                <md-button class="ks-white md-raised" flex style="color: #999;box-shadow: 0 0 0 0 #fff">
                    没有更多记录了...
                </md-button>
            </div>

            <!--<div class="introduceWrap">-->
            <!--<div class="contentUserName" layout="row">-->
            <!--<div class="contentUserNameOne" flex="15" layout="column" layout-align="center center ">-->
            <!--<span>周二</span>-->
            <!--<span>06-30</span>-->
            <!--</div>-->
            <!--<div class="contentUserNameTwo" flex="20" layout="column" layout-align="center center ">-->
            <!--<md-icon style="background: #e84e40" class="chevron_left ks-icon" md-font-set="ks-icon">-->
            <!--ti-word-->
            <!--</md-icon>-->
            <!--</div>-->
            <!--<div class="contentUserNameThree" flex="50" layout="column" layout-align="center start ">-->
            <!--<span>￥888</span>-->
            <!--<span>提现<span style="color: #e84e40">失败</span></span>-->
            <!--</div>-->
            <!--<div class="contentUserNameFor" flex="15" layout="column" layout-align="start center ">-->
            <!--<span>23：31</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>

    </md-content>
    <md-content flex layout="column" class="empty" ng-if="!counts.recode[0]">

        <div flex layout="column" layout-align="center center">
            <md-icon md-font-set="ks-icon" class="icon">dollar</md-icon>
            <div class="txt">您还没有提现记录~</div>
        </div>
    </md-content>
</div>


<!--
&lt;!&ndash;登录&ndash;&gt;
<header class="header">
    <div class="left">
        <a class="square" ng-click="fallbackPage()">
            <span class="iconfont icon-left icon"></span></a></div>
    <div class="center">
        <div class="title">提现记录</div>
    </div>
    &lt;!&ndash;<div class="right">&ndash;&gt;
        &lt;!&ndash;<a class="square" ui-sref-opts="{reload: true}" ui-sref="main.index"><span&ndash;&gt;
                &lt;!&ndash;class="iconfont icon-home2 icon"></span></a>&ndash;&gt;
    &lt;!&ndash;</div>&ndash;&gt;
</header>

<div class="noCoupons" ng-if="counts.totalPrice<=0">
    <div class="noCoupons1" style="background-color: white">
        <span class="iconfont icon-assets noRecord" style="line-height: 110px;"></span>
    </div>
    <div class="noCoupons2">
        <span style="color: #cfa97b;font-size: 12px">您当前还没有提现记录哦，好好努力一定有</span>
    </div>
</div>

&lt;!&ndash;布局参照选择被子&ndash;&gt;
<div class="container-fluid extension-record" ng-if="counts.totalPrice>0">
    &lt;!&ndash;   <ul ng-repeat="tmp in counts.recode">
           <li>
               <dt>&nbsp;</dt>
               <dd>{{tmp.date| date:'yyyy-MM-dd HH:mm:ss'}}</dd>
           </li>
           <li>
               <dt>提现金额</dt>
               <dd>{{tmp.price}}</dd>
           </li>
           <li>
               <dt>提现状态</dt>
               <dd>{{tmp.status}}</dd>
           </li>
           <li>
               <dt>提现方式</dt>
               <dd>{{tmp.mode}}</dd>
           </li>
       </ul>
   &ndash;&gt;

    &lt;!&ndash;ul>(li>((h2>span)+(div.moreinfo>h3+small)+(h4>span)))*3&ndash;&gt;
    <div class="content-block-title">
        {{counts.year}}年提现总金额：¥{{counts.totalPrice/100.0|num:2}}
    </div>
    <ul ng-repeat="tmp in counts.recode">
        <li>
            <h2><span ng-class="{fail:tmp.status=='FAIL'}">提</span></h2>
            <div class="moreinfo">
                <h3>
                    <span>¥</span>
                    <span class="big-num">{{tmp.price/100.0|num:2}}</span>

                </h3>
                <small>{{tmp.statusName}}，{{tmp.mode}}</small>
            </div>
            <h4><span>{{tmp.date| date:'HH:mm'}}</span></h4>
        </li>
        &lt;!&ndash; <li>
             <h2><span>提</span></h2>
             <div class="moreinfo">
                 <h3>8999</h3>
                 <small>提现成功，微信转账</small>
             </div>
             <h4><span>18：17</span></h4>
         </li>
         <li>
             <h2><span class="fail">提</span></h2>
             <div class="moreinfo">
                 <h3>8999</h3>
                 <small>提现成功，微信转账</small>
             </div>
             <h4><span>18：17</span></h4>
         </li>&ndash;&gt;
    </ul>


</div>
<div class="text-center" style="margin-bottom: 50px" ng-if="counts.totalPrice>0">
    <pagination ng-change="pageChanged()" previous-text="<<" next-text=">>"
                direction-links="true"
                items-per-page="pageSize" total-items="counts.totalCount" ng-model="counts.curPage"
                max-size="maxSize" class="pagination-sm"></pagination>
</div>

&lt;!&ndash;置顶按钮&ndash;&gt;
<div to-top=""></div>-->
