<div flex="" layout="column" class="md-whiteframe-z2 ks-main  ks-chooseCoupon">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap">

            <div class="divTop" flex class>
                <!--<md-icon  md-font-set="material-icons" class="chevron_left">chevron_left</md-icon>-->
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()" md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">使用优惠券</span>
            </div>

        </div>
    </md-toolbar>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <!--<div class="inputCouponWrap">
                <input type="text" data-ng-model='chooseCode' placeholder="请输入优惠码"/>
                <span class="jh" ng-click="createCouponOrder()">兑换</span>
            </div>-->

            <div class="inputCouponWrapBox">
                <div class="inputCouponWrap" layout="row" layout-align="center center">
                    <div class="inputCouponsWrap" flex>
                        <form name="form">
                            <input type="text" data-ng-model="chooseCode" placeholder="请输入优惠码" name="yanzheng" required minlength="6"/>
                        </form>
                    </div>
                    <div class="jhWrap" ng-click="createCouponOrder()" ng-class="{'jh-sure':form.yanzheng.$valid}"><span class="jh" >兑换</span></div>
                </div>
            </div>
            <div class="towNav" layout="row" style="height: 38px">
                <div flex layout="row" layout-align="center center" ng-class="{cur:vsChange.not}"
                     ng-click="clickChange(1)">可使用
                </div>
                <div flex layout="row" layout-align="center center" ng-class="{cur:vsChange.overdue}"
                     ng-click="clickChange(2)">不可用
                </div>
            </div>
            <div class="toggleDiv1" ng-if="vsChange.not">
                <div>
                    <div class="couponBox" layout="row" ng-click="updateCouponOrder(coupon)"
                         ng-repeat="coupon in chooseCoupon.useableCoupons track by $index">
                        <div class="couponPrice" flex="33" ng-if="coupon.type==='ORDER'"><i>¥</i>&nbsp;<b>{{coupon.reduceMoney/100.0|num:0}}</b></div>
                        <div class="couponPrice" flex="33" ng-if="coupon.type==='DISCOUNT'"><b>{{coupon.discount/10.0|num:1}}</b>&nbsp;<i>折</i></div>
                        <div class="couponDate" flex layout="column">
                            <!--<p ng-if="coupon.requireMoney===0">-->
                                <!--无门槛使用-->
                            <!--</p>-->
                            <p>{{coupon.name}}</p>
                            <!--<p class="" ng-if="coupon.requireMoney>0">-->
                                <!--满{{coupon.requireMoney/100.0|num:0}}减{{coupon.reduceMoney/100.0|num:0}}</p>-->
                            <p class="date">有效期：{{coupon.startTime | date:'yyyy-MM-dd'}} ~
                                {{coupon.endTime|date:'yyyy-MM-dd'}}</p>
                        </div>
                    </div>
                    <div class="toggleDiv2" ng-if="!chooseCoupon.useableCoupons || chooseCoupon.useableCoupons.length == 0">
                        <div class="noneCoupon">
                            <div class="cheng"></div>
                            <div class="iconBoxWrap">
                                <md-icon md-font-set="ks-icon" class="coupon">coupon</md-icon>
                                <p>暂无优惠券</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggleDiv1" ng-if="vsChange.overdue">
                <div>
                    <div class="couponBox" layout="row"
                         ng-repeat="coupon in chooseCoupon.unUseableCoupons track by $index">
                        <div class="couponPrice pri-disable" flex="33" ng-if="coupon.type==='ORDER'"><i>¥</i>&nbsp;<b>{{coupon.reduceMoney/100.0|num:0}}</b></div>
                        <div class="couponPrice pri-disable" flex="33" ng-if="coupon.type==='DISCOUNT'"><b>{{coupon.discount/10.0|num:1}}</b>&nbsp;<i>折</i></div>
                        <div class="couponDate date-disable" flex layout="column">
                            <!--<p ng-if="coupon.requireMoney===0">-->
                                <!--无门槛使用-->
                            <!--</p>-->
                            <p>{{coupon.name}}</p>
                            <!--<p class="" ng-if="coupon.requireMoney>0">-->
                                <!--满{{coupon.requireMoney/100.0|num:0}}减{{coupon.reduceMoney/100|num:0}}</p>-->
                            <p class="date">有效期：{{coupon.startTime | date:'yyyy-MM-dd'}} ~
                                {{coupon.endTime|date:'yyyy-MM-dd'}}</p>
                        </div>
                    </div>
                    <div class="toggleDiv2" ng-if="!chooseCoupon.unUseableCoupons || chooseCoupon.unUseableCoupons.length == 0">
                        <div class="noneCoupon">
                            <div class="cheng"></div>
                            <div class="iconBoxWrap">
                                <md-icon md-font-set="ks-icon" class="coupon">coupon</md-icon>
                                <p>暂无优惠券</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>