<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-weal">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>会员升级</h1>
        <div class="md-icon-button" flex="20">
        </div>
    </md-toolbar>
    <div class="topMsg" layout="row">
        <div class="iconWrap">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-diamond-o-v"></md-icon>
        </div>

        <!--显示v1 v2 v3-->
        <span class="txt" ng-if="tap==order">V{{order}}</span>
        <span class="txt" ng-if="tap!=order">V{{tab}}</span>
    </div>
    <md-content flex style="box-sizing: border-box">
        <div class="wrap">
            <div class="title">
                会员等级
            </div>
            <!--V1-->
            <div ng-if="tab=='1'" class="text" layout="column">
                1.银卡会员-V1：注册小皇叔帐户同时关注小皇叔公众号的用户。
            </div>

            <!--V2-->
            <div ng-if="tab=='2'" class="text" layout="column">
                1.金卡会员-V2：一次性消费满{{vm.data.agents[tab-1].price/100|num:1}}元或一年累计钱币满{{vm.data.agents[tab-1].integral/100|num:1}}。
                <!-- <span>A.一次性消费满800元；</span>
                 <span>B.一年内累计钱币满3000分；</span>-->
            </div>

            <!--V3-->
            <div ng-if="tab=='3'" class="text" layout="column">
                1.砖石会员-V3：一次性消费正价产品满{{vm.data.agents[tab-1].price/100|num:1}}元或一年内累积钱币满{{vm.data.agents[tab-1].integral/100|num:1}}分。
                <!--<span>A.一次性消费正价产品满3000元；</span>
                <span>B.一年内累计钱币满8000分；</span>-->
            </div>

            <div class="text" layout="column">
                2.系统会根据用户的钱币和消费金额，检测是否升级为更高等级。会员等级一经提升，不会降级。
            </div>
        </div>
    </md-content>
</div>
