<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-hotelCart">
    <md-toolbar class="ks-header" layout="row">
        <div class="md-icon-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
        </div>
        <h1 flex>进货单</h1>
        <div class="md-icon-button" flex="20" style="text-align: right;padding-right: 20px">
            <span ng-click="vm.edit()" ng-if="!vm.editCartClick&&vm.data.recList[0]">编辑</span>
            <span ng-click="vm.edit()" ng-if="vm.editCartClick&&vm.data.recList[0]">完成</span>
        </div>
    </md-toolbar>
    <md-content flex layout="column" style="overflow-x: hidden" ng-if="vm.data.recList[0]">

        <div class="order-wrap" ng-repeat="c in vm.data.recList track by $index">
            <!--上部line，不要动-->
            <div class="top-line"></div>
            <!--中间部分样式-->
            <div layout="row"
                 class="cart-item"
                 layout-align="center center">
                <div layout="" layout-align="end center">
                    <md-checkbox class="ks-gold goes" ng-model="c.selected"
                                 ng-change="vm.calcTotalPrice()"></md-checkbox>
                </div>
                <div class="item-img">
                    <img src="{{vm.imgUrl}}/{{c.pic}}?imageView2/2/w/92/h/92"
                         width="92px" height="92px"/>
                </div>

                <div flex layout="column" class="item-desp" layout-align="space-between start">
                    <div class="item-title">{{c.skuTitle}}
                    </div>
                    <div class="item-specs">
                        <span ng-repeat="s in c.specs">
                            <span>{{s.name}}</span>
                            <span>{{s.value}}</span>
                        </span>
                    </div>
                    <div layout="row" layout-align="space-between center" class="price-row">
                        <div flex class="item-price">
                            ￥{{c.price/100|num:2}}
                        </div>
                        <div layout="row" class="count" ng-if="!vm.editCartClick">
                            x{{c.num}}
                        </div>


                        <div layout="row" class="count" ng-if="vm.editCartClick">
                            <div class="minus" ng-mobile-click="vm.add(c,0)" layout=""
                                 layout-align="center center">
                                <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ks-minus"></md-icon>
                            </div>
                            <input type="text" ng-model="c.num" layout="" ng-blur="vm.editNum(c)"
                                   onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                   layout-align="center center"/>
                            <div class="add" ng-mobile-click="vm.add(c,1)" layout=""
                                 layout-align="center center">
                                <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ks-plus-bold"></md-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <md-divider style="margin: 0 10px"></md-divider>
    </md-content>
    <md-content flex layout="column" class="empty" ng-if="!vm.data.recList[0]" style="overflow-x: hidden">
        <div flex layout="column" layout-align="center center">
            <md-icon md-font-set="ks-icon" md-font-icon="ks-fileboard-down-o" class="icon"></md-icon>
            <div class="txt">暂无商品～</div>
        </div>
    </md-content>
    <md-divider ng-if="vm.data.recList[0]"></md-divider>
    <div layout="row" layout-align="center center" class="cartToolbar" ng-if="vm.data.recList[0]">
        <div layout="" layout-align="end center" class="selectAll">
            <md-checkbox class="ks-gold goes" ng-change="vm.selectAllChanged()" ng-model="vm.allSelected">全选
            </md-checkbox>
        </div>
        <div flex class="totalPrice">合计: ￥{{vm.totalPrice/100|num:2}}</div>
        <!--按钮有不同颜色，不同文字，可以js判断-->
        <md-button class="delete" ng-class="{delete:!vm.editCartClick,go:vm.editCartClick}"
                   ng-click="vm.removeOrCreate($event)">
            <span ng-if="vm.editCartClick">删除</span>
            <span ng-if="!vm.editCartClick">结算</span>
        </md-button>
    </div>
</div>