<md-bottom-sheet class="md-list md-has-header ks-cleaningDetails" ng-cloak  layout="column">

    <div class="sheet-top" >
        <div class="clearTxt" ng-click="vm.qingkong()">清空</div>
        <md-icon md-font-set="ks-icon" md-font-icon="ks-close" class="close" ng-click="vm.close()"></md-icon>
    </div>

    <md-content flex="" stop-touch-event>
        <div class="sheet-body" >
            <div class="row" layout="row" ng-repeat="skuse in vm.skus track by $index">
                <div class="leftDiv">
                    <md-checkbox ng-model="skuse.check" class="ks-gold goes mdbox" ></md-checkbox>
                </div>
                <div class="rightDivWrap" flex layout="column">
                    <div class="rightDiv" flex layout="row">
                        <img  class="imgc" ng-src="{{vm.imgUrl}}{{skuse.imgs[0]}}?imageView2/2/w/70/h/70" />
                        <div class="textWrap" flex>
                            <p>{{skuse.title}}</p>
                            <div class="textRow">
                                <div class="textPrice">￥{{skuse.price/100}}</div>
                                <div class="bujin">


                                    <div class="bujinLeft"ng-click="vm.bujinLeft(skuse)" layout=""
                                         layout-align="center center">
                                        <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ks-minus"></md-icon>
                                    </div>
                                    <div class="bujingNum">{{skuse.num}}</div>
                                    <div class="bujinRight" ng-click="vm.bujinRight(skuse)" layout=""
                                         layout-align="center center">
                                        <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ks-plus-bold"></md-icon>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <div class="sheet-footer" >
        <div class="msg">下单后客服会在2小时内与您联系</div>
        <div class="but" layout="row">
            <div class="heji" flex="50">
                <div class="icoImg">
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-shopping-basket" class="gift"></md-icon>
                </div>
                <span>合计:￥{{vm.priceAll/100}} </span>
                <div class="yuanxing">{{vm.jianshu}}</div>
            </div>
            <div class="xiadan" flex="50" ng-click="vm.goumaiT()">
                立即下单
            </div>
        </div>
    </div>
</md-bottom-sheet>