<div flex="" layout="column" class=" ks-main md-whiteframe-z2 ks-personCenter">
    <md-toolbar class="ks-header">
        <div layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()"
                         md-font-icon="ks-arrow_left"></md-icon>
                <span class="regSpan">个人信息</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex="" id="content">
        <div class="content-divWrap">
            <div class="InformationBox">
                <div class="headerDiv" ng-click="userAvatarUpdate()">
                    <span class="Information">头像</span>
                    <div class="floatRight">
                        <div class="rightChildren">
                            <img ng-if="user.userInfo.avatar &&user.userInfo.imgType != 'URLIMG' "
                                 class="img-circle avatar"
                                 ng-src="{{user.userInfo.avatar}}"/>
                            <img ng-if="user.userInfo.avatar &&user.userInfo.imgType == 'URLIMG' "
                                 class="img-circle avatar"
                                 src="{{user.userInfo.avatar}}"/>
                        </div>
                        <md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>
                    </div>
                </div>
                <div class="IfmRow" ui-sref-opts="{reload: true}" ui-sref="main.user.gender">
                    <span class="Information">性别</span>
                    <div class="floatRight">
                        <div class="rightChildren"></div>
                        <div class="rightChildren" ng-show="user.userInfo.gender=='MALE'">男</div>
                        <div class="rightChildren" ng-show="user.userInfo.gender=='FEMALE'">女</div>
                        <div class="rightChildren" ng-show="user.userInfo.gender=='SECRET'">保密</div>
                        <md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>
                    </div>
                </div>
                <div class="IfmRow" ui-sref-opts="{reload: true}" ui-sref="main.user.code()">
                    <span class="Information">二维码</span>
                    <div class="floatRight">
                        <div class="rightChildren">
                            <md-icon md-font-set="ks-icon" md-font-icon="ks-qrcode"/>
                        </div>
                        <md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>
                    </div>
                </div>
                <div class="IfmRow" ui-sref-opts="{reload: true}" ui-sref="main.address({s:'center'})">
                    <span class="Information">收货地址</span>
                    <div class="floatRight">
                        <div class="rightChildren">
                            <md-icon md-font-set="ks-icon" md-font-icon="ks-location-o"/>
                        </div>
                        <md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>
                    </div>
                </div>
            </div>
            <div class="solidRow"></div>
            <div class="InformationBox">
                <!-- <div class="IfmRow" style="border: none;">
                     <span class="Information">用户名</span>
                     <div class="floatRight">
                         <div class="rightChildren">
                             <span>只可设置一次</span>
                         </div>
                         <md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>
                     </div>
                 </div>-->
                <div class="IfmRow" style="border: none;">
                    <span class="Information">用户名</span>
                    <div class="floatRight">
                        <div class="rightChildren" ng-if="user.userInfo.name">
                            <span>{{user.userInfo.name}}</span>
                        </div>
                        <!-- <div class="rightChildren" ng-if="!user.userInfo.name" ng-click="userNameClick()">
                             <span>只能设置一次</span>
                         </div>-->
                        <md-icon md-font-set="ks-icon" class="chevron_right"></md-icon>
                    </div>
                </div>
                <div class="IfmRow">
                    <span class="Information">手机号</span>
                    <div class="floatRight">
                        <div class="rightChildren">{{user.hidephone}}</div>
                        <md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>
                    </div>
                </div>
                <!--<div class="IfmRow">-->
                <!--<span class="Information">电子邮箱</span>-->
                <!--<div class="floatRight">-->
                <!--<div class="rightChildren">-->
                <!--<span>{{user.hideemail}}</span>-->
                <!--</div>-->
                <!--<md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>-->
                <!--</div>-->
                <!--</div>-->
                <!--改变登录页面，暂时没有登陆密码-->
                <!--<div class="IfmRow" ui-sref="main.user.password({s:'user'})">
                    <span class="Information">登录密码</span>
                    <div class="floatRight">
                        <div class="rightChildren"></div>
                        <md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>
                    </div>
                </div>-->
                <div class="IfmRow" ng-click="" ui-sref="main.user.setPay({s:'user'})">
                    <span class="Information">支付密码</span>
                    <div class="floatRight">
                        <div class="rightChildren">
                            <span ng-if="!user.userInfo.pass" style="color: #999">未设置</span>
                        </div>
                        <md-icon md-font-set="ks-icon" class="chevron_right">arrow_right</md-icon>
                    </div>
                </div>
            </div>
            <div class="butWrap">
                <button class="but" ng-click="logout()">退出登录</button>
            </div>
        </div>
    </md-content>
</div>