.ks-extraDetail {
  .topToolbar {
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
        .top-but {
          position: absolute;
          font-size: 14px;
          line-height: 40px;
          right: 0;
          color: #101010;
        }
      }
    }
    .cancleBtn {
      width: 61px;
      position: absolute;
      right: 5px;
      line-height: 44px;
      top: 0;
      color: #808080;
      font-size: 14px;
    }
  }

  .orderMessage {
    margin: 0 10px;
    .orderMessageTop {
      border-bottom: 1px dashed #d5d5d5;
      height: 44px;
      margin-left: 5px;
      .leftBlock {
        position: relative;
        left: 5px;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 44px;
        height: 44px;
        margin-left: 12px;
        font-size: 14px;
        color: #101010;
      }
    }
    .orderMessageWrap {
      padding: 10px 0;
      .wrapChild {
        .txtMessage {
          display: inline-block;
          font-size: 14px;
          text-indent: 28px;
          color: #999;
        }
        span {
          margin-left: 10px;
          font-size: 14px;
          color: #999;
        }
      }
      /* &:last-child .orderMessageWrap{
         border-bottom: 1px solid #d5d5d5;
       }*/
    }

  }
  .extraDetailHeader {
    padding: 0 10px;
    .extraDetailHeaderTop {
      border-bottom: 1px dashed #d5d5d5;
      padding-left: 10px;
      .ks-icon {
        font-size: 24px;
        color: #333333;
        margin: 25px auto 30px 0;
      }
      div {
        height: 10px;
        display: inline;
        margin-left: 15px;
        font-size: 16px;
        color: #101010;
        font-weight: bold;
        line-height: 10px;
      }
    }
    .extraDetailHeaderBottom {
      .bottomList {
        z-index: 2;
        width: 20%;
        text-align: center;
        float: left;
        position: relative;
        height: 60px;
        margin-top: 15px;
        .circle {
          display: inline-block;
          position: absolute;
          left: 50%;
          margin-left: -10px;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ba9f6e;
          .circleIn {
            position: absolute;
            left: -5px;
            top: -5px;
            margin: 10px;
            line-height: 20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
          }
          .circleIn.active {
            background: #333333;
          }
        }
        .word {
          margin-top: 35px;
          font-size: 12px;
          color: #999;
        }
        .word.cur {
          color: #101010;
        }
      }
      .bottomList_ser {
        z-index: 2;
        width: 33%;
        text-align: center;
        float: left;
        position: relative;
        height: 60px;
        margin-top: 15px;
        .circle {
          display: inline-block;
          position: absolute;
          margin-left: -10px;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ba9f6e;
          .circleIn {
            position: absolute;
            left: -5px;
            top: -5px;
            margin: 10px;
            line-height: 20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
          }
          .circleIn.active {
            background: #333333;
          }
        }
        .word {
          margin-top: 35px;
          font-size: 12px;
          color: #999;
        }
        .word.cur {
          color: #101010;
        }
      }
      .line {
        width: 90%;
        position: relative;
        left: 5%;
        top: -52px;
        height: 4px;
        background: #ba9f6e;
      }
    }
  }
  .partLine {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
  }
  .commodityList {
    padding: 0 10px;
    .commodityListHeader {
      height: 42px;
      margin-left: 7px;
      .leftBlock {
        position: relative;
        left: 3px;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 45px;
        height: 44px;
        margin-left: 12px;
        font-size: 14px;
        color: #101010;
      }
    }
  }

  .commodityListContent {
    margin-bottom: -16px;
    padding: 0px 10px 0 20px;
    .contentListImg {
      width: 70px;
      max-width: 70px;
      height: 70px;
      float: left;
      margin: 15px 10px 0 0;
    }
    .contentListRight {
      margin-top: 12px;
      position: relative;
      width: 100%;
      padding-bottom: 10px;
      .right1 {
        font-size: 13px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 2px;
      }
      .num1 {
        font-size: 13px;
        position: absolute;
        bottom: 10px;
        left: 76px;
        margin-top: 10px;
      }
      .num2 {
        font-size: 13px;
        position: absolute;
        bottom: 10px;
        right: 6px;
        margin-top: 10px;
      }
    }
    .item-specs {
      font-size: 12px;
      color: #999;
      margin: 5px 0 15px 0;
      height: 30px;
      line-height: 1.3;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      span {
        font-size: 12px;
        color: #999999;
      }
    }
  }

  //暂时没用到这个
  .fotterFixed {
    width: 100%;
    max-width: 600px;
    flex-shrink: 0;
    background: #333;
    text-align: center;
    min-height: 48px;
    .divBtn {
      color: #fff;
      font-size: 16px;
    }
  }

  // 应付金额
  .pay-amount {
    @include flex-shrink(0);
    height: 50px;
    margin-bottom: 5px;
    background-color: transparent;
    color: #101010;
    font-size: 16px;
  }

  // 提交按钮
  .submit-btn {
    margin-bottom: 10px;
    @include flex-shrink(0);
    height: 40px;
    background-color: transparent;
    .md-button {
      max-width: 95%;
      border-radius: 0;
      margin: 5px 0 15px 0;
      height: 40px;
      color: #fff;
      font-size: 15px;
    }
  }
  .ks-black.md-button:hover:not([disabled]) {
    background: #333 !important;
  }
  //弹出框
  .logout {
    border-radius: 6px;
    .dialogTitle {
      width: 280px;
      text-align: center;
      border-bottom: 1px solid #d5d5d5;
      font-size: 16px;
      color: #101010;
      padding: 20px 0;
      max-width: 310px;
      min-width: 280px;
    }
    div.select {
      width: 100%;
      div.left, div.right {
        height: 45px;
        font-size: 15px;
        line-height: 45px;
        border-right: 1px solid #d5d5d5;
        span {
          width: 100%;
          height: 100%;
          text-align: center;
        }
      }
      div.left {
        color: #999999;
      }
      div.right {
        color: #ba9f6e;
      }
    }
  }

}