.ks-vipOrderDetail {
  //header开始
  .ks-header {
    background: #fff;
    height: 44px;
    font-size: 16px;
    color: #101010;
    min-height: 44px;
    .ks-icon {
      font-size: 16px;
      margin-left: 13px;
      color: #101010;
      line-height: 20px;
      width: 40px;
      margin-top: 3px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
      font-size: 14px;
      color: #fff;
      line-height: 44px;
    }
    .md-icon-button:last-child {
      width: auto;
    }
    h1 {
      font-size: 20px;
      color: #101010;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
  }
  .extract {
    background: url("https://o96iiewkd.qnssl.com/FiXHpPNU6uzLvN2RR078Ql2IAW_p") 0 -100px no-repeat;
    height: 88px;
    padding: 0 20px;
    background-size: cover;
    .condition {
      line-height: 88px;
      font-size: 20px;
      color: #ba9f6e;
      .ks-icon {
        color: #ba9f6e;
        font-size: 24px;
        padding-right: 15px;
        margin-top: -3px;
      }
    }
    .findShop {
      span {
        padding-right: 7px;
        font-size: 18px;
        color: #666;
      }
      text-align: right;
      line-height: 88px;
      color: #999;
      .ks-icon {
        color: #999;
        font-size: 12px;
        min-width: 19px;
      }
    }
  }
  .orderDetailHeader {
    padding: 0 10px;
    border-bottom: 10px solid #f5f5f5;
    .orderDetailHeaderTop {
      border-bottom: 1px dashed #d5d5d5;
      margin-left: 10px;
      .ks-icon {
        font-size: 24px;
        color: #333333;
        margin: 25px auto 30px 0;
      }
      div {
        height: 10px;
        display: inline;
        margin-left: 15px;
        font-size: 16px;
        color: #101010;
        font-weight: bold;
        line-height: 10px;
      }
    }
    .orderDetailHeaderBottom {
      .bottomList {
        z-index: 2;
        width: 25%;
        text-align: center;
        float: left;
        position: relative;
        height: 60px;
        margin-top: 15px;
        .circle {
          display: inline-block;
          position: absolute;
          left: 50%;
          margin-left: -10px;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ba9f6e;
          .circleIn {
            position: absolute;
            left: -5px;
            top: -5px;
            margin: 10px;
            line-height: 20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
          }
          .circleIn.active {
            background: #333333;
          }
        }
        .word {
          margin-top: 35px;
          font-size: 12px;
          color: #999;
        }
        .word.cur {
          color: #101010;
        }
      }
      .bottomList_ser {
        z-index: 2;
        width: 16.6%;
        text-align: center;
        float: left;
        position: relative;
        height: 60px;
        margin-top: 15px;
        .circle {
          display: inline-block;
          position: absolute;
          left: 50%;
          margin-left: -10px;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ba9f6e;
          .circleIn {
            position: absolute;
            left: -5px;
            top: -5px;
            margin: 10px;
            line-height: 20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
          }
          .circleIn.active {
            background: #333333;
          }
        }
        .word {
          margin-top: 35px;
          font-size: 12px;
          color: #999;
        }
        .word.cur {
          color: #101010;
        }
      }
      .line {
        width: 80%;
        position: relative;
        left: 10%;
        top: -52px;
        height: 4px;
        background: #ba9f6e;
      }
    }
  }

  // 有padding
  .order-detail {
    background-color: #fff;
    padding: 0 10px 30px 10px;

    // 内容块
    .block {
      // 标题行
      .title-row {
        margin-top: -1px;
        .color-block {
          margin: 0 10px;
          background-color: #ba9f6e;
          display: inline-block;
          height: 16px;
          width: 8px;
        }

        color: #101010;
        height: 44px;

        .select-left {
          color: #999;
          margin-left: 10px;
          margin-top: 3px;
          md-icon {
            line-height: 20px;
            font-size: 12px;
            text-align: center;
          }
        }
      }

      // 标题行下面的虚线
      md-divider.dashed {
        margin-left: 10px;
      }

      // 内容行
      .content-row {
        color: #999;
        margin: 10px 0px 10px 28px;

        &.no-right {
          margin-right: 0;
          margin-bottom: 8px;
        }

        md-icon.ks-trash-can-o {
          color: #999;
          font-size: 14px;
          text-align: center;
        }
        .content-row-txt {
          margin-top: 3px;
        }
      }

      // 商品清单中的每一行商品
      .item-row {
        background-color: #fff;
        height: 100px;
        // margin-bottom: 10px;
        margin-left: 10px;

        // 商品图片
        .item-img {
          width: 70px;
          position: relative;
          &:before {
            content: "";
            display: block;
            padding-top: 100%;
          }
          img {
            position: absolute;
            top: 0;
            padding: 0;
            width: 100%;
          }

          // “赠品” 等飘带角标
          .ribbon {
            background-color: #ba9f6e;
            height: 16px;
            width: 32px;
            font-size: 12px;
            line-height: 16px;
            position: absolute;
            top: 6px;
            left: -6px;
            padding-left: 8px;

            &::before, &::after {
              display: inline-block;
              box-sizing: border-box;
              width: 8px;
              height: 8px;
              content: '';
              border: 4px solid;
              position: absolute;
            }

            // 角标
            &::before {
              border-color: #ba9f6e transparent transparent #ba9f6e;
              top: 0;
              right: -8px;
            }
            &::after {
              border-color: transparent transparent #ba9f6e #ba9f6e;
              bottom: 0;
              right: -8px;
            }
          }
        }

        .item-desp {
          padding-left: 10px;
          padding-right: 10px;
          height: 80px;

          // 商品标题
          .item-title {
            font-size: 13px;
            color: #333;
            height: 20px;
            min-height: 20px;
            @include text-overflow();
          }

          // 规格
          .item-specs {
            font-size: 12px;
            color: #999;
            margin: 7px 0;
            height: 35px;
            line-height: 1.3;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-break: break-all;
            word-wrap: break-word;
          }

          .price-row {

            height: 25px;
            line-height: 25px;
            // 价格
            .item-price {
              font-size: 13px;
              color: #101010;
              &.free {
                text-decoration: line-through;
              }
            }
            .count-show {
              font-size: 13px;
              color: #101010;
            }

          }
        }
      }

      // 汇总
      &.summary {
        color: #101010;
        padding: 10px 0;
      }
    }
  }

  .buyer-memo {
    background: #fff;
    padding: 15px 20px;
    textarea {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      /*-webkit-line-clamp: 2;*/
      -webkit-box-orient: vertical;
      font-size: 14px;
      background: none;
      color: #101010;
      border: 1px solid #d5d5d5;
      padding: 10px 0 0 15px;
      height: 80px;
      -webkit-appearance: none;
      border-radius: 0;
      resize: none;
      box-shadow: 0 0 0 #fff;
    }
  }
  .agreement {
    padding: 0 20px 15px;
    background: #fff;
    .ks-icon {
      color: #ba9f6e;
      text-align: center;
      font-size: 18px;
      margin-top: -4px;
    }
    .agreetxt {
      padding-left: 8px;
      line-height: 24px;
      font-size: 13px;
      color: #101010;
    }
    .info {
      color: #ba9f6e;
      font-style: normal;
      font-size: 13px;
    }
  }

  // 应付金额
  .pay-amount {
    @include flex-shrink(0);
    height: 50px;
    margin-bottom: 5px;
    background-color: transparent;
    color: #101010;
    font-size: 16px;
    border-top: 1px solid #d5d5d5;
  }

  // 提交按钮
  .submit-btn {
    @include flex-shrink(0);
    height: 48px;
    background-color: transparent;
    .md-button {
      max-width: 100%;
      border-radius: 0;
      height: 48px;
      color: #fff;
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
  }
  .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    background-color: #ba9f6e !important;
  }
}