.ks-center.my-center {
  .mainBg {
    position: relative;
    overflow: hidden;
    background: #333;

    .ks-kingsilk-logo{
      font-size: 240px;
      width: 240px;
      height: 240px;
      position: absolute;
      left:-120px;
      bottom: -65px;

    }
    .centerHeader {
      width: 100%;
      height: 44px;
      .md-icon-button {
        float: right;
        font-size: 20px;
        color: #fff;
      }
    }
    .headPicture {
      width: 100%;
      height: 80px;
      .picture {
        text-align: center;
        img {

        }
        .mdWrap{
          width: 80px;
          height: 80px;
          border: 1px solid #d5d5d5;
          border-radius: 50%;
          overflow: hidden;
          margin:0 auto;
          background: #fff;
          md-icon{
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            font-size: 50px;
            color: #ccc;
          }

        }
      }
    }
    .loginStatus {
      margin-top: 10px;
      box-sizing: border-box;
      text-align: center;
      padding-left: 0px;
      span {
        font-size: 14px;
        color: #fff;
        .ks-icon {
          box-sizing: border-box;
          font-size: 8px;
          padding: 7px;
          color: #fff;
        }
      }
    }
    .myWallet {
      margin-top: 30px;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      padding-left: 26px;
      padding-bottom: 30px;
      span.qianbao{
        color: #fff;
      }
      span.price{
        color: #ba9f6e;
        font-weight: bold;
      }
      .ks-icon {
        box-sizing: border-box;
        font-size: 8px;
        padding: 7px;
        color: #ba9f6e;
      }
    }
    .myWallet:nth-of-type(1) {
      color: #fff;
      font-size: 14px;
    }
    .myWallet:nth-of-type(2) {
      color: #ba9f6e;
      font-size: 14px;
    }
    .myWallet:nth-of-type(3) {
      color: #ba9f6e;
      font-size: 14px;
      font-weight: bold;
    }
    .centerCurrent {
      width: 100%;
    }
  }
  .centerCurrent > div {
    position: relative;
    box-sizing: border-box;
    background: none;
    width: 80px;
    height: 80px;
    border: 1px solid #d5d5d5;
    border-right: none;
    padding: 15px;
    .ks-icon {
      font-size: 20px;
      color: #ba9f6e;
    }
    .ks-icon:nth-of-type(2) {
      font-size: 23px;
    }
    span {
      font-size: 12px;
      color: #101010;
    }
    i {
      position: absolute;
      top: 11px;
      text-align: center;
      line-height: 14px;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      background: #e84e40;
      border: 2px solid #fff;
      color: #ffffff;
      font-size: 11px;
      font-style: normal;
    }
  }
  .centerCurrent > div:nth-of-type(1){
    border-left: none;
  }
  .partingLine {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
  }
  .bottomCurrent > div {
    margin-top: -1px;
    position: relative;
    box-sizing: border-box;
    background: none;
    width: 80px;
    height: 80px;
    border: 1px solid #d5d5d5;
    border-right: none;
    padding: 15px;
    .ks-icon {
      font-size: 20px;
      color: #101010;
    }
    span {
      font-size: 12px;
      color: #101010;
    }
  }
  .bottomCurrent > div:nth-of-type(1){
    border-left: none;
  }

}