
//帐号绑定部分
.ks-bindAccounts{
  //header开始
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
      }

    }
  }
  .content-divWrap{
    .txtEmailBox{
      margin-top:50px;
      text-align: center;
      p{
        font-size: 14px;
        color: #101010;
      }
      p.emailCode{
        font-size: 16px;
        margin-top:10px;
        margin-bottom:10px;
      }
      div.but{
        height: 24px;
        width: 80px;
        border:1px solid #101010;
        text-align: center;
        line-height: 24px;
        font-size: 14px;
        color: #101010;
        margin: 20px auto 0 auto;
      }
    }
    //帐号绑定页面,为绑定状态
    .weixinbind{
      top: 50%;
      left: 50%;
      margin-left: -63px;
      margin-top: -52px;
      position: absolute;
      .ks-weixin{
        width: 60px;
        height: 60px;
        font-size: 60px;
        text-align: center;
        line-height: 60px;
        display: block;
        margin: 0 auto;
        color: #ccc;

        background: -webkit-gradient(linear, 0 0, 0 bottom,from(#e6e6e6),to(#f5f5f5));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p{
        color: #999;
        font-size: 14px;
        text-align: center;
        margin: 0;
      }
    }
    .yzjlBtn{
      display: block;
    }
  }
  .yzjlBtn{
    height: 40px;
    background: #333;
    text-align: center;
    line-height: 40px;
    margin: 0 10px 15px 10px;
    span{
      color: #fff;
      font-size: 15px;
    }
  }
  .toggle{
    display: none;
  }
}
