.ks-login.ks-main{

  //header开始
  .ks-header._md{
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap{
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop{
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left{
          color: #101010;
          position: absolute;
          left:0;
          font-size: 14px;
          line-height: 44px;
        }
      }

    }
  }
  //主体部分
  .content-divWrap{

    .loginForm1{
      position: relative;
      padding: 0 20px;
      margin-top: 40px;
      .close{
        right:20px;
        top:0;
        line-height: 40px;
        position: absolute;
      }
      .relative{
        position: relative;
        height: 44px;
        border-bottom: 1px solid #d5d5d5;
        line-height: 44px;
        input[type="text"],input[type="password"]{
          width: 100%;
          font-size: 14px;
          height:14px;
          background: transparent;
          border:none;
        }
        .visibility,.close{
          position: absolute;
          right: 0px;
          top: 50%;
          margin-top: -7px;
          font-size: 14px;
        }
        .close{
          top:10px;
        }

      }

      .md-button{
        width: 100%;
        padding: 0;
        margin: 20px 0 0 0;
        border-radius:  0;
        height: 40px;
        line-height: 40px;
        background: #999;
        color: #fff;
        border:none;
        font-size: 15px;
      }
     .md-button.ng-class-button {
        background: #333;
      }
    }

    .loginLink{
      padding: 0 20px;
      margin-top: 10px;
      font-size: 13px;
      a{
        text-decoration: none;
        .loginGo{
          color: #bfa679;
        }
        .wjmm{
          float: right;
          color: #101010;
        }
      }
    }
    .sfLogin{

      margin:0 20px;
      margin-top: 60px;
      .title{
        width: 100%;
        position: relative;
        height: 30px;
        .titleChildrenhr{
          width: 33%;

        }
        .titleChildrenhr{
          width: 33%;
          height:1px;
          background: #cccccc;
          position: absolute;
          left:0;
          top:9px;
        }
        .titleChildrenhr.titleChildrenhr1{
          position: absolute;
          left:auto;
          right:0;
        }
        .titleChildren{
          width: 100%;
          text-align: center;
          color: #ccc;
          font-size: 12px;

        }
      }
      .iconTab{
        width: 33%;
        margin: 0 auto;
        position: relative;

        div.iconWrap{
          top: 15px;
          left:50%;
          margin-left: -30px;
          position: absolute;
          width: 60px;
          height: 60px;
          border:1px solid #d5d5d5;
          border-radius: 50%;
          text-align: center;

          .weixin{
            position: absolute;
            width: 28px;
            height: 28px;
            font-size: 30px;
            color: #62b566;
            top: 50%;
            left: 50%;
            margin: -14px 0 0 -14px;


          }

        }
      }

    }
  }


}