.ks-orderList {
  background-color: white;
  .ks-header-divWrap {
    padding: 0 10px;
    height: 100%;
    color: #101010;
    .divTop {
      text-align: center;
      position: relative;
      line-height: 44px;
      .chevron_left {
        color: #101010;
        position: absolute;
        left: 0;
        font-size: 14px;
        line-height: 44px;
      }
      .top-but {
        position: absolute;
        font-size: 14px;
        line-height: 40px;
        right: 0;
        color: #101010;
      }
    }
  }

  .hideClass{
    background: #101010;
    color: #fff;
    .chevron_left{
      color: #fff;
    }
  }


  md-content.md-default-theme, md-content {
    background: #fff;
  }
  .sample {
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    height: 48px;
    background: #fff;
    min-height: 48px;

    /* z-index: 9999999;
     background: #fff;*/
  }
  .sample md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    color: #333333;
    font-size: 15px;
  }
  .md-tab {
    font-weight: normal;
  }
  .sample .md-tab {
    padding: 12px 6px;
  }
  .sample .md-tab.md-active {
    color: #ba9f6e;
  }
  .sample md-tabs md-ink-bar {
    flex-shrink: 0;
    color: #ba9f6e;
    height: 4px;
    margin: 0px 10px -4px 10px;
    background-color: #ba9f6e;
  }
  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon .tabsdemoDynamicHeight md-content {
    flex-shrink: 0;
    background: #fff !important;
  }
  md-tabs-canvas {
    flex-shrink: 0;
    overflow: visible;
    height: 44px;
  }
  md-tabs[md-border-bottom] md-tabs-wrapper {
    flex-shrink: 0;
    border-width: 0 0 4px;
  }
  md-pagination-wrapper {
    flex-shrink: 0;
    height: 44px;
  }
  .sample .md-tab.md-active {
    font-size: 15px;
  }

  .contentList {
    margin: 0 10px;
    .contentListOne {
      border-bottom: 1px solid #d5d5d5;
      height: 44px;
      line-height: 44px;
      .ks-icon {
        margin-left: 5px;
        font-size: 15px;
        color: #101010;
        text-align: center;
        line-height: 22px;
      }
    }
    .contentListOne > span {
      font-size: 14px;
      color: #101010;
      margin-left: -4px;
    }
  }
  .contentListTwo {
    margin: 0 0 0 10px;
    border-bottom: 1px dashed #d5d5d5;
    height: 44px;
    line-height: 44px;
    span {
      font-size: 14px;
    }
    span:nth-of-type(1) {
      color: #101010;
    }
    span:nth-of-type(2) {
      color: #999999;
    }
  }
  .contentListThree {
    margin: 15px 0px 0 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #d5d5d5;
    .contentListThreeImg {
      width: 70px;
      height: 70px;
      img {
        width: 70px;
        height: 70px;
      }
    }
    .contentListThreeRight {
      margin: 0 0 0 10px;
      .right1 {
        margin-bottom: 7px;
        font-size: 13px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .wrap {
        line-height: 1.3em;
        float: left;
        margin-top: -5px;
        font-size: 12px;
        color: #999;
        span {
          margin-right: 5px;
        }
      }
    }
  }
  .contentListFour {
    /*border-bottom: 1px solid #d5d5d5;*/
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 15px;
    font-size: 14px;
    color: #101010;
    line-height: 44px;
  }
  .contentListFive {
    margin: 15px 0px;
    span {
      border: 1px solid #101010;
      height: 24px;
      line-height: 24px;
      font-size: 14px;
      color: #101010;
      width: 80px;
      text-align: center;
      margin-left: 10px;
    }
  }
  .line {
    margin: 0 -10px;
    height: 10px;
    background: #f5f5f5;
  }
  .submit-btn {
    @include flex-shrink(0);
    height: 44px;
    background-color: transparent;
    .md-button {
      border-radius: 0;
    }
  }
}

.backgroundcliptext {
  .ks-orderList {
    .empty {
      .icon {
        background: linear-gradient(to bottom, #e6e6e6, #f5f5f5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}