.ks-topics {
  overflow-x: hidden;

  .ks-header {
    background: #ffffff;
    height: 44px;
    font-size: 16px;
    color: #101010;
    min-height: 44px;
    .ks-icon {
      margin-left: -18px;
      font-size: 16px;
      color: #333;
      line-height: 20px;
      width: 40px;
      margin-top: 3px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
      font-size: 14px;
      text-align: center;
      color: #101010;
      line-height: 40px;
      margin-right: 6px;
    }

    .md-icon-button:last-child {
      width: auto;
    }
    h1 {
      font-size: 20px;
      color: #101010;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
  }

  #my-content {
    width: 94%;
    height: 39px;
    min-height: 39px;
    margin: 0 auto 5px;
    overflow: hidden;
    position: relative;
    .swiper-pagination-bullets {
      display: block !important;
    }
    .active {
      visibility: visible !important;
    }
    .my-wrapper-content {
      display: flex;
      visibility: hidden;
      height: inherit;
    }
  }

  //精选专题对应css
  .zhuanti {
    margin: 14px 10px 10px;
    .zhuanti_title {
      font-size: 16px;
      color: #333;
      font-weight: 700;
      margin: 10px 10px;
      display: inline-block;
    }
    .zhuanti_title_right {
      font-size: 14px;
      color: #999;
      margin-top: 15px;
      margin-right: 10px;
      display: inline-block;
      float: right;
    }
    p {
      font-size: 14px;
      color: #999999;
      margin: 0 0 10px 10px;
    }
    .parent {
      /*精选专题*/
      .zhuanti-msg {

      }
      /*精选专题图片*/
      .zhuanti-img-wrap {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        &:before {
          content: "";
          display: block;
          padding-top: 50%;
        }
        img {
          position: absolute;
          top: 0;
          padding: 0;
          width: 100%;
        }
        .block {
          width: 12px;
          height: 12px;
          background: #fff;
          position: absolute;
          left: 50%;
          margin-left: -6px;
          bottom: -6px;
          transform: rotate(45deg);
        }
        .title-wrap {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .img-btn-wrap {
        margin: 10px -5px 20px -5px;
        .img-btn {
          .img-wrap {
            // width: 92px;
            position: relative;
            overflow: hidden;
            &:before {
              content: "";
              display: block;
              padding-top: 100%;
            }
            img {
              position: absolute;
              top: 0;
              padding: 0;
              width: 100%;
            }
          }
          .dis {
            margin-top: 10px;
            .dis-title {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #333333;
              text-align: center;
            }
            .dis-price {
              text-align: center;
              color: #333333;
              font-weight: bold;
            }
          }
        }
        .img-btn {
          margin: 0 5px;
        }
      }
    }
  }

  /*猜你喜欢*/
  .guess {
    background-color: #fff;
    margin-top: 30px;
    .guess-title {
      font-size: 16px;
      color: #333333;
      font-weight: bold;
      margin-left: 10px;
      line-height: 1em;
      margin-bottom: 10px;
    }
    .title {
      font-size: 16px;
      color: #101010;
      height: 46px;
    }

    // 推荐商品
    .rec-item {
      margin-bottom: 15px;
      background: #fff;
      // 奇数
      &:nth-child(odd) > div {
        //border: 1px solid blue;
        margin: 5px 5px 5px 10px;
      }

      // 偶数
      &:nth-child(even) > div {
        //border: 1px solid greenyellow;
        margin: 5px 10px 5px 5px;
      }

      /* 前两个 */
      &:nth-child(-n+2) > div {
        margin-top: 0;
      }

      /* 倒数第二个并且是基数、最后一个元素并且是偶数 */
      &:nth-last-child(-n+2):nth-child(odd) > div, &:last-child:nth-child(even) > div {
        margin-bottom: 10px;
      }

      // 商品图片
      .item-img {
        width: 100%;
        position: relative;
        overflow: hidden;

        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
        img {
          position: absolute;
          top: 0;
          padding: 0;
          width: 100%;
        }
      }

      .item-title {
        height: 42px;
        min-height: 42px;
        margin: 6px 0 4px 0;
        font-size: 14px;
        color: #333333;
        line-height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .item-price {
        font-size: 14px;
        color: #333333;
        margin-top: -4px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: bold;
      }

      .positionWap {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 64px;
        height: 22px;
        background: rgba(51, 51, 51, 0.9);
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        .ks-icon {
          font-size: 14px;
          color: #ba9f6e;
          line-height: 26px;
          margin: 0;
        }
        span {
          color: #ba9f6e;
        }
      }
    }
  }
}
