.ks-commission {
  .md-toolbar-tools {
    padding: 0 10px;
    height: 40px;
    font-size: 16px;
    color: #101010;
    .nav-left {
      font-size: 14px;
      color: white;
    }
    .md-icon-button {
      margin-top: 13px;
    }
    span {
      color: #808080;
      font-size: 14px;
    }
    .ks-icon{
      font-size: 16px;
      color: #101010;
    }
  }
  .sample{
    position: relative;
    z-index: 2;
    height: 30px;
    background: #fff;
    min-height: 44px;
    .md-stretch-tabs {
      border: 0;
    }
    .md-center-tabs{
      height: 44px;
      border: 0;
    }
  }
  .sample md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    color: #101010;
    border-bottom: 4px solid #d5d5d5;
    font-size: 14px;
  }
  .sample .md-tab {
    padding: 10px 6px;
  }
  .sample .md-tab.md-active {
    color: #ba9f6e;
  }
  .sample md-tabs md-ink-bar {
    color: #ba9f6e;
    background-color: #ba9f6e;
    height: 4px;
  }
  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon .tabsdemoDynamicHeight md-content{
    background: none !important;
  }

  .commissionContent{
    height: 44px;
    margin: 0 10px;

    border-bottom: 1px solid #d5d5d5;
    .contentWord{
      font-size: 14px;
      color: #101010;
    }
    .contentWord.jiu{
      color: #999;
    }
  }

  .fixed {
    width: 100%;
    position: fixed;
    bottom: 0;
    div {
      max-width: 600px;
      height: 48px;
      background: #fff9eb;
      text-align: center;
      span {
        line-height: 48px;
        text-align: center;
        font-size: 15px;
        color: #ba9f6e;
      }

    }

  }

    .icon{
      font-size: 60px;
      line-height: 60px;
      margin: 0 0 10px;
      background: -webkit-gradient(linear, 0 0, 0 bottom,from(#e6e6e6),to(#f5f5f5));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .txt{
      color: #999;
    }

}