// 发票列表
.ks-invoice-list {
  .chevron_left {
    color: #101010;
    line-height: 24px;
    font-size: 16px;
    margin-top: 2px;
  }
  .not-empty {
    .line-divi {
      height: 1px;
      background-color: #d5d5d5;

    }
    // 一条发票记录
    .invoice-row {
      background-color: #fff;
      position: relative;

      // 内容行
      .invoice {
        padding: 10px;

        .label {
          color: #808080;
        }
        .content {
          margin-left: 6px;
          color: #333;
        }
      }
      md-divider {
        margin-left: 10px;
      }

      // 按钮行
      .actions {
        @include flex-shrink(0);
        height: 44px;

        // 主要:
        .primary {
          margin-left: 10px;
          color: #999;
          md-icon {
            color: #999;
            font-size: 18px;
            text-align: center;
          }
          .primaryFont{
            line-height: 22px;
          }
          .kds{
            color: #ba9f6e;
          }
        }
        .font-defualt{
          color: #101010;
        }
        .secondary {
          margin-left: 14px;
          @include flex-shrink(0);
          position: relative;
          color: #808080;
          padding: 0;
          md-icon {
            font-size: 14px;
            text-align: center;
            line-height: 20px;
          }
        }
        .drop{
          margin-right: 10px;
        }
      }
      .line {
        height: 10px;
        background: #f5f5f5;
      }
    }

    // 新增
    .add-row {
      padding: 10px;
      .invoiceBtn{
        margin:6px 0px;
        border-radius: 0;
      }
    }

  }

  .empty {
    .icon {
      font-size: 60px;
      line-height: 60px;
      margin: 0 0 15px;
    }
    .txt {
      color: #999;
    }
  }
}

.backgroundcliptext {
  .ks-invoice-list {
    .empty {
      .icon {
        background: linear-gradient(to bottom, #e6e6e6, #f5f5f5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

}
.invoiceBtn{
  margin:6px 0px;
  border-radius: 0;
  height: 40px;
  width: 100%;
  background: #333;
  color: #fff;
  font-size: 15px;
  border: none;
}