.ks-rechargecard {
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #ffffff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 16px;
          line-height: 44px;
        }
      }
    }
  }
  .diviline{
    height: 10px;
    background-color: #f5f5f5;
  }
  .payNum{
    background-color: #fff;
    padding: 0 10px;
    .rechageset{
      background-color: #fff;
      .cardapl{
        font-size: 13px;
        line-height: 1.5;
        padding: 11px 0 4px 0;
      }
      .cardinfo{
        margin-left: 39px;
        margin-bottom: 10px;
        line-height: 1.5;
      }
    }
    .rechargeNum{
      border-bottom: 1px dashed #d5d5d5;
      height: 65px;
      color: #ba9f6e;
      .cardNum{
        font-size: 30px;
        padding-top: 10px;
      }
      .cardsell{
        padding-bottom: 7px;
      }
    }
  }
  .payNumCash{
    height: 88px;
    background-color: #fff;
    padding: 0 10px;
    .rechageset{
      height: 44px;
      background-color: #fff;
      .cash-txt{
        height: 40px;
        span{
          color: #ccc;
          padding-left: 10px;
        }
      }
      .cash-input{
        height: 44px;
        width: 100%;
        input{
          border: none;
          width: 100%;
          text-align: right;
        }
      }
      .cashgift{
        color: #dd191d;
      }
    }
    .rechargeNum{
      border-bottom: 1px solid #d5d5d5;
    }
  }

  .payStaleTop {
    border-bottom: 1px solid #d5d5d5;
    height: 44px;
    span {
      font-size: 14px;
      color: #101010;
      line-height: 44px;
      margin-left: 10px;
    }
    span.ye{
      float: right;
      margin-right: 10px;
      color: #999;
    }
  }
  .payStyleNext {
    .weixin {
      height: 44px;
      .weixinCont {
        display: inline-block;
        margin: 8px 10px;
        width: 25px;
        height: 25px;
        background: #62b566;
        .ks-icon {
          text-align: center;
          font-size: 15px;
          line-height: 24px;
          color: #fff;
        }
      }
      .weixinRight {
        margin-right: 10px;
        display: inline-block;
        border-bottom: 1px dashed #d5d5d5;
        span {

          line-height: 44px;
          font-size: 14px;
          color: #101010;
        }
        .ks-icon {
          float: right;
          line-height: 44px;
          font-size: 18px;
          color: #ba9f6e;
          text-align: right;
        }
      }
    }
    .alipay {
      height: 44px;

      .alipayCont {
        display: inline-block;
        margin: 8px 10px;
        width: 25px;
        height: 25px;
        .ks-icon {
          text-align: center;
          font-size: 15px;
          color: #fff;
          line-height: 24px;
        }
      }
      .alipayRight {
        border-bottom: 1px dashed #d5d5d5;
        margin-right: 10px;
        display: inline-block;
        span {
          line-height: 44px;
          font-size: 14px;
          color: #101010;
        }
        .ks-icon {
          text-align: right;
          float: right;
          line-height: 44px;
          font-size: 18px;
          color: #999;
        }
        .kuaijie{
          color: #ccc;
          font-size: 14px;
          float: right;
        }
      }

      //阿里
      .ks-alipay{
        background: #1faeff;
      }
      //微信
      .ks-weixin{
        background: #0eb83a;
      }
      //余额颜色
      .ks-rmb-symbol{
        background: #ebbd34;
      }
      //招商颜色
      .ks-bank-logo-cmbchina{
        background: #b02509;
      }
      //天津颜色
      .ks-bank-logo-tccb{
        background: #1162a8;
      }
    }
    .alipay:last-child{
      border-bottom: 1px solid #d5d5d5;
      .alipayRight{
        border-bottom: none;
      }
    }

  }
  .payStyleMore{
    height: 44px;
    padding-left: 10px;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    .ks-icon{
      text-align: center;
      height: 44px;
      width: 44px;
      line-height: 44px;
    }
  }
  .bottomPay {
    height: 40px;
    margin: 20px 10px 15px 10px;
    background: #333333;
    span{
      text-align: center;
      font-size: 15px;
      color: #ffffff;
    }
  }
}