.ks-servGetDetails {
  //header开始
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
      }

    }
  }
  .sqtz{
    font-size: 18px;
  }
  .topToolbar {
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
        .top-but {
          position: absolute;
          font-size: 14px;
          line-height: 40px;
          right: 0;
          color: #101010;
        }
      }
    }
    .cancleBtn {
      width: 61px;
      position: absolute;
      right: 5px;
      line-height: 44px;
      top: 0;
      color: #808080;
      font-size: 14px;
    }
  }
  .confirmHeader {
    padding: 0 0px;
    .confirmHeaderTop {
      border-bottom: 1px dashed #d5d5d5;
      margin-left: 10px;
      .ks-icon {
        font-size: 24px;
        color: #333333;
        margin: 30px auto 30px 20px;
      }
      div {
        height: 10px;
        display: inline;
        margin-left: 10px;
        font-size: 16px;
        color: #101010;
        font-weight: bold;
        line-height: 10px;
      }
    }
    .confirmHeaderBottom {
      margin: 0 30px;
      .bottomList {
        z-index: 2;
        width: 25%;
        text-align: center;
        float: left;
        position: relative;
        height: 65px;
        margin-top: 15px;
        .circle {
          display: inline-block;
          position: absolute;
          left: 50%;
          margin-left: -10px;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ba9f6e;
          .circleIn {
            position: absolute;
            left: -5px;
            top: -5px;
            margin: 10px;
            line-height: 20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
          }
          .circleIn.active {
            background: #333333;
          }
        }
        .word {
          margin-top: 35px;
          font-size: 12px;
          color: #999;
        }
        .word.cur {
          color: #101010;
        }
      }
      .line {
        width: 100%;
        position: relative;
        top: -57px;
        height: 4px;
        background: #ba9f6e;
      }
      //取回
      .bottomList.quhui:nth-child(1){
        .circle{
          left: 0;
        }
        .word{
          float: left;
          margin-left: -18px;
        }
      }
      .bottomList.quhui:nth-child(2){
        .circle{
          left: 40%;
        }
        .word{
          margin-left: -14px;
        }
      }
      .bottomList.quhui:nth-child(3){
        .circle{
          left: 60%;
        }
        .word{
          margin-left: 14px;
        }
      }
      .bottomList.quhui:nth-child(4){
        .circle{
          left: auto;
          right: -10px;
        }
        .word{
          float: right;
          margin-right: -18px;
        }
      }
    }
  }
  .confirmHeader.sange{
    .confirmHeaderBottom{
      margin:0 30px;
      position: relative;
      //配送圆点样式
      .bottomList.peisong{
        position: relative;
        width: 33.3%;
      }
      .bottomList.peisong:nth-child(1){
        .circle{
          left: 0;
        }
        .word{
          float: left;
          margin-left: -18px;
        }
      }
      .bottomList.peisong:nth-child(2){

      }
      .bottomList.peisong:nth-child(3){
        .circle{
          left: auto;
          right: -10px;
        }
        .word{
          float: right;
          margin-right: -18px;
        }
      }

    }
  }
  .partLine {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
  }
  .distribution {
    margin: 0 0 60px 0;
    padding: 0 10px;
    .distributionHeader {
      margin-left: 0px;
      height: 44px;
      .leftBlock {
        margin-left: 10px;
        position: relative;
        left: 5px;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 45px;
        height: 44px;
        margin-left: 14px;
        font-size: 14px;
        color: #101010;
      }
    }
    .txtWrap {
      padding-bottom: 0px;
      border-bottom: 1px solid #d5d5d5;
      color: #999;
      font-size: 13px;
      margin-top: 15px;
      margin-left: 0px;


      p{
        line-height: 0.8em;
        margin-left: 28px;
        a{
          text-decoration: none;
        }
        span{
          color: #505999;
        }
      }
      p.addressText{
        line-height: 1.5em;
        margin-top: -5px;
      }
      .item-img{
        margin-left:10px ;
        .img-left{
          width: 70px;
          height:70px;
        }
      }
      .cart-item {
        //border: 1px solid blue;
        border-bottom: 1px solid #d5d5d5;
        .md-padding{
          padding: 0;
        }
        background-color: #fff;
        border-top: 10px solid #f5f5f5;
        md-checkbox {
          width: 30px;
          height: 40px;
          margin: 0 0 0 10px;
        }
        //购物车复选框样式
        md-checkbox.goes.ks-gold:not([disabled]) ._md-icon {
          border-color: #333 !important;
        }
        md-checkbox.ks-gold:not([disabled]).md-checked ._md-icon {
          background-color: #333 !important;
        }

        border-top: none;
        .item-img {
          margin-bottom: 15px;
          width: 70px;
          position: relative;
          overflow: hidden;
          &:before {
            content: "";
            display: block;
            padding-top: 100%;
          }
          img {
            position: absolute;
            top: 0;
            padding: 0;
            width: 100%;
            height: 100%;
          }
        }

        .item-desp {
          padding-left: 10px;
          padding-right: 10px;
          height: 70px;

          // 商品标题
          .item-title {
            font-size: 13px;
            color: #333;
            @include text-overflow();
          }

          // 规格
          .item-specs {
            font-size: 13px;
            color: #101010;
            margin:  0;

            @include text-overflow();
            margin-top: -11px;
          }

          .price-row {

            height: 25px;

            // 价格
            .item-price {
              font-size: 12px;
              color: #999;
            }

            .count-show {
              margin-right: 10px;
              font-size: 14px;
              color: #101010;
            }

            .count {
              padding: 0;
              position: relative;
              text-align: center;
              line-height: 80px;
              color: #101010;
              font-size: 12px;
              //margin: 6px 8px;
              span.dev{
                position: absolute;
                left:0;
              }
              input {
                text-align: center;
                background: #d5d5d5;
                display: inline-block;
                border: none;
                margin: 0;
                padding: 0;
                width: 56px;
                font-size: 14px;
                color: #101010;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                }
                -moz-appearance: textfield;
                border-radius: 0px;
              }
              .minus, .add {
                width: 30px;
                background-color: #F5F5F5;
              }
            }
          }
        }
      }
    }
    .distributionMode {
      border-bottom: 1px dashed #d5d5d5;
      padding: 15px 0;
      margin-left: 16px;
      .txt {
        display: inline-block;
        font-size: 14px;
        text-indent: 35px;
        width: 96px;
        color: #999;
      }
      span {
        font-size: 14px;
        color: #999;
      }
    }
    .address {
      border-bottom: 1px solid #d5d5d5;
      padding: 15px 0;
      margin: 0;
      .addressTxt {
        line-height: 1.5em;
        font-size: 14px;
        color: #999;
        margin-left: 33px;
      }
    }
  }
  .commodityList {
    padding: 0 10px;
    border-bottom: 1px solid #d5d5d5;
    .commodityListHeader {
      height: 44px;
      margin-left: 16px;
      .leftBlock {
        position: relative;
        left: 5px;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 44px;
        height: 44px;
        margin-left: 13px;
        font-size: 14px;
        color: #101010;
      }
    }
    .commodityListContent {
      position: relative;
      margin-left: 15px;
      border-top: 1px dashed #d5d5d5;
      padding: 15px 5px 0 5px;
      .contentListImg {
        width: 70px;
        max-width: 70px;
        height: 70px;
        float: left;
        margin: 5px 10px 0 0;
      }
      .contentListRight {
        position: relative;
        width: 100%;
        .right1 {
          font-size: 13px;
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .num1 {
          font-size: 13px;
          position: absolute;
          bottom: 10;
          left: 76px;
          margin-top: 20px;
        }
        .num2 {
          font-size: 13px;
          position: absolute;
          right: 6px;
          margin-top: 20px;
        }
      }
      .contentListRight > span {
        font-size: 12px;
        color: #999999;
        margin-bottom: 10px;
      }
      // “赠品” 等飘带角标
      .ribbon {
        background-color: #ba9f6e;
        height: 16px;
        width: 32px;
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        color: #fff;
        top: 27px;
        left: 0;
        padding-left: 8px;

        &::before, &::after {
          display: inline-block;
          box-sizing: border-box;
          width: 8px;
          height: 8px;
          content: '';
          border: 4px solid;
          position: absolute;
        }

        // 角标
        &::before {
          border-color: #ba9f6e transparent transparent #ba9f6e;
          top: 0;
          right: -8px;
        }
        &::after {
          border-color: transparent transparent #ba9f6e #ba9f6e;
          bottom: 0;
          right: -8px;
        }
      }
    }
  }

  .discount {
    padding: 0 10px;
    .discountHeader {
      border-bottom: 1px dashed #d5d5d5;
      height: 44px;
      margin-left: 15px;
      .leftBlock {
        position: relative;
        left: 5px;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 44px;
        height: 44px;
        margin-left: 13px;
        font-size: 14px;
        color: #101010;
      }
    }
    .discountbottom {
      border-bottom: 1px solid #d5d5d5;
      padding: 15px 20px 15px 34px;
      line-height: 1.5em;
      font-size: 14px;
      color: #999;
    }
  }
  .invoice {
    padding: 0 10px;
    .invoiceHeader {
      border-bottom: 1px dashed #d5d5d5;
      height: 44px;
      margin-left: 15px;
      .leftBlock {
        position: relative;
        left: 5px;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 44px;
        height: 44px;
        margin-left: 13px;
        font-size: 14px;
        color: #101010;
      }
    }
    .invoiceMode {
      border-bottom: 1px solid #d5d5d5;
      padding: 15px 0;
      .txt {
        display: inline-block;
        font-size: 14px;
        text-indent: 35px;
        color: #999;
      }
      span {
        margin-left:10px;
        font-size: 14px;
        color: #999;
      }
    }
  }
  .cash {
    border-bottom: 1px solid #d5d5d5;
    font-size: 14px;
    color: #999999;
    padding: 15px 0 15px 0;
    .csahTxt {
      margin-left: 113px;
    }
  }
  .textArea {
    padding: 15px 20px;
    margin-bottom: 48px;
    .message {
      height: 80px;
      padding: 10px 0 0 15px;
      border: 1px solid #d5d5d5;
      font-size: 14px;
      color: #101010;
    }
  }
  .fotterFixed {
    width: 100%;
    height: 48px;
    position: fixed;
    max-width: 600px;
    bottom: 0;
    background: #ba9f6e;
    text-align: center;
    .fotterFixedBottom {
      height: 48px;
      color: #fff;
      font-size: 15px;
      color: #fff;
    }
  }
}
