.ks-withdraw {
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #ffffff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
      }
    }
  }
  .candraw{
    height: 40px;
    background-color: #f5f5f5;
    .draw-cash{
      padding-left: 10px;
      height: 40px;
      span{
        color: #ba9f6e;
      }
    }
    .question{
      margin-right: 5px;
      text-align: center;
      font-size: 14px;
      color: #999999;
    }
  }
  .forcash{
    height: 44px;
    background-color: #fff;
    padding-right: 10px;
    .cash-txt{
      padding-left: 10px;
      height: 40px;
      span{
        color: #ba9f6e;
      }
    }
    .cash-input{
      height: 44px;
      width: 100%;
      input{
        border: none;
        width: 100%;
        text-align: right;
        color: #ba9f6e;
      }
    }
  }
  .diviline{
    height: 10px;
    background-color: #f5f5f5;
  }
  .drawinfo{
    padding: 10px 15px;
    .infotitle {
      .ks-icon {
        text-align: center;
        font-size: 14px;
        color: #ba9f6e;
      }
      span{
        padding-left: 2px;
      }
    }
    .infocontent{
      padding: 5px 10px 10px 25px;
      font-size: 13px;
      color: #999;
      line-height: 1.5;
    }
  }
  .butWrap{
    margin:10px 10px 10px 10px;
    .but{
      width: 100%;
      height: 40px;
      background: #d5d5d5;
      color: #fff;
      font-size: 14px;
      border:none;
    }
    .sure{
      background-color: #333!important;
    }
  }
  //退出弹出框
  .logout {
    min-width: 280px;
    max-width: 310px;
    border-radius: 6px;
    .dialogTitle{
      height: 75px;
      line-height: 306px;
      text-align: center;
      border-bottom: 1px solid #d5d5d5;
      font-size: 16px;
      padding-top: 20px;
    }
    div.select {
      width: 100%;
      div.left, div.right {
        height: 45px;
        font-size: 15px;
        line-height: 45px;
        border-right:1px solid #d5d5d5;
        span{
          width: 100%;
          height: 100%;
          text-align: center;
        }
      }
      div.left {
        color: #999;
      }
      div.right {
        color: #ba9f6e;
      }
    }
  }
}

