.ks-welfareSmall{
  //header开始
  .ks-header._md{
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap{
      padding: 0 10px;
      height: 100%;
    }
  }
  //主题部分
  .content-divWrap{
    .solidDiv{
      margin: 0 10px;
      border-top:1px solid #d5d5d5;
    }
    .welfareSmall{
      margin: 15px  20px 0 20px;
    }
  }

}
