//header开始
md-toolbar.ks-index-header.ks-header {
  height: 100px;
  margin: 0 auto;
  position: relative;
  background: #fff;
  .ks-header-divWrap {
    height: 44px;
    padding: 0 10px;
    .textCenter {
      color: #101010;
    }
  }
  .xhs {
    height: 44px;
    text-align: center;
    .ks-logo-word {
      text-align: center;
      font-size: 60px;
      width: 61px;
      height: 20px;
      color: #101010;
      line-height: 28px;
      margin-top: 10px;
    }
  }
  //搜索框容器
  .searchWrap {
    position: relative;
    height: 36px;
    background: #fafafa;
    margin: 10px;
    text-align: center;
    line-height: 36px;
    border: 1px solid #cccccc;
    padding: 0;
    .searchFather {
      width: 100%;
      margin: 0 auto;
      height: 34px;
      font-size: 14px;
      color: #808080;
      text-align: center;
      .searchIcon {
        color: #808080;
        font-size: 14px;
        line-height: 22px;
        padding-right: 7px;
      }
    }
  }
}

md-toolbar.ks-index-header.ks-header.notapp {
  height: 56px;
}

//主体
.content-divWrap {
  .slidenav .subsilde .subitem .ks-icon-box .ks-icon:last-child {
    font-size: 24px;
  }
  width: 100%;
  margin: 0 auto;
  .ks-header {
    height: 35px;
  }
  .slidenav {
    .persons {
      height: 49px;
      background-color: #fff9eb;
      width: 100%;
      min-height: 49px;
      .logo {
        img {
          margin: 16px 0 15px 10px;
          width: 100px;
        }
      }
      .people {
        img {
          width: 20px;
          margin: 16px 10px;
        }
      }
      .nb {
        line-height: 49px;
        text-align: right;
        span.one {
          background: #333;
          color: #fff;
          padding: 3px 5px;
          font-size: 16px;
        }
      }
    }

    //首页轮播
    .slideindex {
      width: 100%;
      margin: 0 auto;
      ks-swiper-container {
        //修改轮播图白点
        .swiper-container-horizontal > .swiper-pagination-bullets {
          bottom: 10px !important;
          display: inherit !important;

        }
        ks-swiper-slide {
          width: 100%;
          position: relative;
          overflow: hidden;
          &:before {
            content: "";
            display: block;
            padding-top: 50%;
          }
        }
        img {
          /* position: absolute;*/
          left: 0;
          top: 0;
          width: 100%;
        }

        .swiper-container, .swiper-slide {
          float: left;
        }
        .swiper-pagination-bullet {
          background: #fff !important;
          height: 7px;
          width: 7px;
        }
        .swiper-pagination-bullet-active {
          background: #fff !important;
        }

        .swiper-slide {
          overflow: hidden;
        }
        /* .swiper-container {
           height: 70%;
         }*/
      }
      .swiper-container {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        z-index: 1;
        width: 100%;
      }

    }
    //首页固定的导航
    .subsilde {
      height: 90px;
      min-height: 90px;
      width: 100%;
      margin: 0 auto;
      .subitem {
        box-sizing: border-box;
        background: none;
        width: 80px;
        height: 90px;
        .ks-icon-box {
          border-radius: 50%;
          width: 32px;
          height: 32px;
          .ks-icon {
            font-size: 24px;
            /*padding: 10px;*/
            color: #666;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
          }

        }
        span {
          font-size: 14px;
          color: #333;
        }
      }
      .subitem:last-child {
        .ks-icon-box {
          .ks-icon {
            font-size: 24px;
          }
        }
      }
    }
  }
  //商品服务区容器
  .appMainBody {
    margin: 0 10px;
    border-top: 1px solid #d5d5d5;
    padding-top: 15px;
    .commodityWrap, .serviceWrap {
      width: 100%;
      /*      overflow: hidden;*/
      position: relative;
      div.commodityBox, div.serviceBox {
        padding-top: 66.66%;
        .commodityImg, .serviceImg {
          width: 100%;
          position: absolute;
          top: 0;
        }
      }
      div.opacity {
        width: 100%;
        height: 100%;
        /*        background: #000;
                opacity: 0.4;*/
        position: absolute;
        top: 0;
      }
      div.textWrap {
        div.fff {
          margin: 11px 0 25px 0;
          font-size: 14px;
          color: #101010;
          .block {
            font-weight: 700;
            display: block;
            font-size: 16px;
            height: 24px;
            line-height: 24px;
            overflow: hidden;
          }
          div {
            height: 20px;
            line-height: 20px;
          }
        }
      }
    }
    .pinpai {
      width: 100%;
      margin: 25px auto 5px;
      .pai_title {
        font-size: 18px;
        color: #101010;
        font-weight: 700;
        margin: 10px 0;
        display: inline-block;
      }
      .pai_title_right {
        font-size: 14px;
        color: #101010;
        margin-top: 15px;
        display: inline-block;
        float: right;
      }
      .brand {
        width: 100%;
        img {
          width: 100%;
        }
        .slide-title {
          padding: 10px 0 20px 0;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }

}

.indexInfo {
  .infosys {
    margin: 50px auto;
    text-align: center;
    .ks-icon {
      font-size: 26px;
    }
    .maintxt {
      display: block;
      font-size: 16px;
      color: #101010;
      font-weight: bold;
      padding: 10px 0 5px;
    }
    .normaltxt {
      display: block;
      font-size: 14px;
      color: #333;
      line-height: 1.5;
    }
    .tel_icon {
      color: #333;
    }
    .serv_icon {
      color: #ff2121;
    }
    .heart_icon {
      color: #5cb85c;
    }
    .diviline {
      width: 60px;
      height: 1px;
      background: #d5d5d5;
      margin: 15px auto 0;
    }
  }
}

.toShare {
  img {
    display: block;
    padding: 0;
  }
}

.fotter-index {
  width: 100%;
  height: 150px;
  min-height: 150px;
  background: url("https://o96iiewkd.qnssl.com/FilQIiSegkI7nrnZiuHVb88nTF2t") no-repeat center center;
  background-size: cover;
  .icon-btn-wrap {
    text-align: center;
    .icon-parent {
      margin-bottom: 10px;
      .ks-icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        border-radius: 50%;
      }
      .ks-icon:nth-of-type(1) {
        margin-right: 10px
      }
      .ks-icon:nth-of-type(2) {
        margin-left: 10px
      }
    }
    .qianhuang {
      background: transparent;
    }
  }
}

.wushiwan {
  position: absolute;
  height: 75px;
  bottom: -75px;
  background: red;
  div.line {
    height: 1px;
    background: #d5d5d5;
    width: 84px;
    display: inline-block;
  }
  span {
    font-size: 13px;
    color: #ccc;
  }
}

//去轮播底部的空白
.content-divWrap .slideindex ks-swiper-container .swiper-container, .content-divWrap #banner ks-swiper-container .swiper-slide {
  font-size: 0;
}

