.ks-welfare.ks-main{

  //header开始
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
        .regSpan{
          font-size: 18px;
        }
      }

    }
  }
  //主题部分
  .content-divWrap{
    #banner{
      /* position: relative;
       z-index: 3;
       .swiper-pagination-bullet{
         background: grey;
         opacity: 0.5;
       }
       .swiper-pagination-bullet-active{
         background: #fff;
       }
       .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
         margin: 0 7px;
       }*/
      /*此处是轮播图更改处*/
      ks-swiper-container {
        ks-swiper-slide {
          width: 100%;
          position: relative;
          overflow: hidden;
          &:before {
            content: "";
            display: block;
            padding-top: 66.66%;
          }
        }
        img {
          /* position: absolute;*/
          left: 0;
          top: 0;
          width: 100%;
        }

        .swiper-container, .swiper-slide {
          float: left;
        }
        .swiper-pagination-bullet {
          background: #fff !important;
          height: 7px;
          width: 7px;
        }
        .swiper-pagination-bullet-active {
          background: #fff !important;
        }

        .swiper-slide {
          overflow: hidden;
        }
        /* .swiper-container {
           height: 70%;
         }*/
      }


    }
    .solidDiv{
      margin: 0 10px;
      border-top:1px solid #d5d5d5;
    }
    .banner{
      min-height: 219px;
      width: 100%;
      position: relative;
      .bannerCheng{
        padding-top:66.66%;
      }
      .bannerImg{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
      }
      .bannerTitle{
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        z-index: 3;
        p{
          margin:0;
          text-align: center;
          b{
            font-size: 14px;
            color: #fff;
          }
        }
        div.iWrap{
          position: relative;
          bottom: 0;
          text-align: center;
          i{
            width: 7px;
            height: 7px;
            display:inline-block;
            border-radius: 50%;
            background: #ccc;
            margin-right: 10px;
          }
          i.cur{
            background: #fff;
          }
        }
      }
    }
    .cxTime{
      width: 100%;
      height: 49px;
      background: #333;
      position: relative;
      div.cx{
        position: relative;
        text-align: center;

        p{
          margin:0;
          font-size: 12px;
        }
        p.num{
          font-size: 16px;
          margin-top: 5px;
        }
        b{
          color: #fff;
          font-weight: normal;
        }
        .arrow-down{
          position: absolute;
          z-index: 666;
          width:0;
          height:0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid #e84e40;
          bottom: -8px;
          left:50%;
          margin-left: -8px;
        }
      }

      div.cx.cur{
        background: #e84e40;
        .trag-down{
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 7px solid #e84e40;
          position: absolute;
          bottom: -7px;
          left: 50%;
          margin-left: -8px;
          z-index: 9;
        }
      }
      div.cx.cur:after{

      }
    }
    .bannerTow{
      width: 100%;
      position: relative;
      .bannerChengTow{
        padding-top: 33.33%;
      }
      .bannerTowImg{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
      }
      .promotionImg{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
      }
    }
    .timeOverBox{
      background: #d5d5d5;
      height: 40px;
      position: relative;

      .timeOver{
        position: absolute;
        top: 50%;
        margin: -10px 0 0 10px;
        border-left: 8px solid #333;
        height: 16px;
        line-height: 16px;
        span{
          font-size: 14px;
          color: #333;
          line-height: 16px;
          float: left;
        }
        .jssp{
          margin: 0 10px;
        }
        .dot{
          margin:0 3px;
        }
        i{
          float: left;
          font-style:normal;
          width: 20px;
          height: 20px;
          display: inline-block;
          background: #333;
          font-weight: bold;
          font-size: 13px;
          color: #fff;
          text-align: center;
          line-height: 20px;
          margin-top:-1px;
        }
      }
    }

    .promotionList{
      margin:0 0 30px 0;
      .promotion{
        border-bottom: 1px solid #d5d5d5;
        .promotionBox{
          width: 100px;
          height: 100px;
          margin:15px 10px;
          .promotionImg{
            width: 100%;
            height: 100%;
          }
        }
        .promotionTxt{
          position: relative;
          margin: 15px 10px 0 0;
          height: 100px;
          p{
            margin:0;
          }
          p.promotionTitle{
            font-size: 14px;
            color: #101010;
            line-height: 1.5em;
          }

          div.priceBox{
            position: absolute;
            bottom: 5px;
            p.price{
              margin: 7px 0;

              b{
                font-size: 15px;
                color: #dd191d;
                font-weight: normal;
              }
              span{
                text-decoration:line-through;
                font-size: 12px;
                color:#999;
              }
            }
            span.jianNum{
              color: #dd191d;
              font-size: 12px;
            }
            span.jianNum.cur{
              color: #999;
            }
          }
          .qiang{
            height: 30px;
            border: 1px solid #101010;
            color: #101010;
            text-align: center;
            padding: 0 15px;
            position: absolute;
            bottom: 0;
            right: 0;
            background: transparent;
          }
          .qiang.cur{
            color: #d5d5d5;
            border:1px solid #d5d5d5;
          }
          .qiang.over{
            color: #d5d5d5;
            border:1px solid #d5d5d5;
          }
        }
      }
    }

  }
  //福利舍轮播图
  .swiper-container {
    width: 100%;
    /*height: 320px;*/
    margin: 0 auto;
  }
  .swiper-slide {
    text-align: center;
    background: #fff;
    position: relative;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img{
      width: 100%;
      height:100%;
    }
    p.slide-title{
      position: absolute;
      bottom: 27px;
      left: 0;
      text-align: center;
      font-size: 16px;
      color: #fff;
      width: 100%;
      margin: 0;
    }
  }
  .content-divWrap #banner ks-swiper-container .swiper-container, .content-divWrap #banner ks-swiper-container .swiper-slide{
    font-size: 0;
  }
}