.ks-vipExchange {
  .ks-header {
    background: #fff;
    height: 44px;
    font-size: 16px;
    color: #333;
    min-height: 44px;
    .ks-icon {
      margin-left: -18px;
      font-size: 16px;
      color: #333;
      line-height: 20px;
      width: 40px;
      margin-top: 3px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
      font-size: 14px;
      text-align: center;
      color: #333;
      line-height: 40px;
    }

    .md-icon-button:last-child {
      width: auto;
      margin-right: 10px;
    }
    h1 {
      color: #333;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
  }
  .list{
    .time{
      text-align: center;
      background-color: #f1f1f1;
      font-size: 16px;
      padding: 10px 0;
    }
    .content{
      margin: 10px 20px;
      .goodsImg{
        img{
          width: 100px;
          height: 100px;
          background-color: #ba9f6e;
        }
      }
    }
    .url{
      border-top: 1px dashed #d5d5d5;
      margin: 0 20px;
      padding: 10px 0;
      font-size: 16px;
      .ks-icon{
        float: right;
      }
    }
  }
}