.ks-balanceDetail {
  .header {
    background: #101010;
    height: 44px;
    font-size: 16px;
    color: #fff;
    .ks-icon {
      margin-left: -5px;
      font-size: 16px;
      color: #fff;
      line-height: 20px;
    }
    md-icon.question-o{
      font-size: 18px;
      margin: 0 0 0 5px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
    }

    .chevron_left_Wrap {
      padding-right: 34px;
      width: 20px;
      .chevron_left {
        color: #101010;
        line-height: 24px;
        font-size: 16px;
        margin-top: 2px;
      }
    }
    h1 {
      color: #fff;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin:0;
      font-weight: normal;
    }

  }
  .topContent {
    background: #101010;
    height: 204px;
    div {
      color: #ba9f6e;
      text-align: center;
    }
    .topTxt {
      padding: 8px 0;
      margin: 0 10px;
      border-bottom: 1px dashed #fafafa;
      span {
        font-size: 14px;
      }
      .allcount{
        color: #fff;
      }
      .allnum{
        font-size: 18px;
      }
    }
    .charts{
      height: 160px;
      padding: 20px 10px 20px 20px;
      #mychart{
        width: 120px;
        height: 120px;
      }
      .detailtype{
        height: 80px;
        margin-top: 20px;
        .detitem{
          width: 100%;
          span.pri{
            text-align: right;
            width: 100px;
            color: #ba9f6e;
          }
          span{
            padding-left: 15px;
            color: #999999;
          }
          .disc{
            width: 14px;
            height: 14px;
            border-radius: 7px;
          }
          .yjcolor{
            background-color: #ffffff;
          }
          .czcolor{
            background-color: #edcb8c;
          }
          .lqcolor{
            background-color: #ba9f6e;
          }
        }
      }
    }
  }

  .contentWarp {
    border-bottom: 1px solid #d5d5d5;
    background: #fff9eb;
    text-align: center;
    height: 75px;
    .warpLeft, .warpRight {
      margin: 15px 0;
      span {
        font-size: 14px;
        color: #101010;
      }
      div {
        span {
          font-size: 15px;
          color: #ba9f6e;
        }
        .ks-icon {
          margin-left: -3px;
          font-size: 8px;
          color: #ba9f6e;
          line-height: 21px;
        }
      }
    }
    .warpLeft {
      border-right: 1px solid #d5d5d5;
    }

  }
  .contentNext {
    border-bottom: 1px #d5d5d5 solid;
    .txtWarp {
      margin: 0 0 0 20px;
      height: 44px;

      .warpLeft {
        float: left;
      }
      .warpRight {
        float: right;
      }
      .balance-right{
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 2px;
        font-size: 12px;
        color: #999;
      }
    }
    .txtWarp:nth-of-type(1) {
      border-bottom: 1px solid #d5d5d5;
    }
  }
}