.ks-antiCounterfeiting{
  //header开始
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
        .top-but-yz{
          position: absolute;
          font-size: 14px;
          line-height: 44px;
          right:0;
          color: #808080;
        }
      }
    }
  }

  //主体部分
  .content-divWrap.yzm{
    background: transparent;
    height: 100%;
    .yzm{
      margin:50px 20px 0 20px;
      .inputWrap{

        width: 100%;
        border-bottom: 1px solid #d5d5d5;
        margin-bottom: 20px;
        input{
          border:none;
          font-size: 14px;
          color: #101010;
          margin-bottom: 15px;
          background: transparent;
          width: 100%;
        }
      }
      .btn{
        width: 100%;
        height: 40px;
        background: #333;
        text-align: center;
        line-height: 40px;
        span{
          color: #fff;
          font-size: 15px;
        }
      }
    }
  }

}