.ks-orderTrack {
  background: #fff;
  padding-bottom: 11px;
  //header开始
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
      }

    }
  }
  /*订单信息*/
  .trackMessage {
    overflow: hidden;

    padding: 10px 0 0 0;
    flex-shrink: 0;
    .messageLeft {
      position: relative;
      width: 40px;
      .leftCircle {
        z-index: 2;
        top: 5px;
        display: inline-block;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ba9f6e;
        .leftCircleIn {
          position: absolute;
          left: -5px;
          top: -5px;
          margin: 10px;
          line-height: 20px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #fff;
        }
        .leftCircleIn.active {
          background: #333;
        }
      }
      .line {
        position: absolute;
        left: 50%;
        top: 15px;
        margin-left: -2px;
        width: 4px;
        height: 500px;
        background: #ba9f6e;
      }
    }
    .messageRight {
      padding-right: 10px;
      .msRight {
        border-bottom: 1px #d5d5d5 dashed;
        span {
          font-size: 14px;
          color: #ba9f6e;
          line-height: 1.5em;
        }
        div {
          padding-bottom: 10px;
          font-size: 12px;
          color: #ba9f6e;
        }
      }
    }
  }
  .trackMessageNext {
    overflow: hidden;
    .messageLeft {
      position: relative;
      width: 40px;
      top: 10px;
      .leftCircle {
        z-index: 2;
        top: 5px;
        display: inline-block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #ba9f6e;
        .leftCircleIn {
          margin: 4px;
          line-height: 20px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white;
        }
        .leftCircleIn.active {
          background: #333;
        }
      }
      .line1 {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -2px;
        width: 4px;
        height: 500px;
        background: #ba9f6e;
      }
      .line2 {
        position: absolute;
        left: 50%;
        bottom: 50px;
        margin-left: -2px;
        width: 4px;
        height: 500px;
        background: #ba9f6e;
      }

    }
    .messageRight {
      padding: 10px 10px 0 0;

      .msRight {

        span {
          font-size: 14px;
          color: #999999;
          line-height: 1.5em;
        }
        div {
          border-bottom: 1px dashed #d5d5d5;
          padding-bottom: 10px;
          font-size: 12px;
          color: #999999;
        }
      }
    }
  }

  /*快递信息*/
  .fotterFixed {
    z-index: 3;
    position: fixed;
    bottom: 0;
    max-width: 600px;
    min-height: 80px;
    background: white;
    border-top: 10px #f5f5f5 solid;
    width: 100%;
    .txt {
      padding: 10px 0 0 10px;
      span {
        width: 75px;
        font-size: 14px;
        color: #808080;
        text-align: right;
      }
      div {
        margin-left: 10px;
        display: inline;
        font-size: 14px;
        color: #101010;
      }
      .num {
        margin-left: 10px;
        display: inline;
        font-size: 14px;
        color: #505999;
      }
    }
  }
  .hiddenBg {
    min-height: 80px;
    height: 80px;
    position: relative;
    bottom: 0;
  }

  //弹出框
  .logout {
    border-radius: 6px;
    .dialogTitle {
      width: 280px;
      text-align: center;
      border-bottom: 1px solid #d5d5d5;
      padding: 20px 0 15px 0;
      max-width: 310px;
      min-width: 280px;
      p:nth-of-type(1) {
        font-size: 16px;
        color: #101010;
        margin-top: -15px;
        padding: 0;
      }
      p:nth-of-type(2) {
        font-size: 13px;
        color: #101010;
        margin-top: -35px;
        padding: 0;
      }
    }
    div.select {
      width: 100%;
      div.left, div.right {
        height: 45px;
        font-size: 15px;
        line-height: 45px;
        border-right: 1px solid #d5d5d5;
        span {
          width: 100%;
          height: 100%;
          text-align: center;
        }
      }
      div.left {
        color: #999999;
      }
      div.right {
        color: #ba9f6e;
      }
    }
  }
}
