.ks-leftnav {
  background-color: $ks-leftnav-bg-color;

  md-content {
    background-color: transparent;
    color: #FFF;

    md-list {
      background-color: transparent;
      color: #FFF;

      .header {
        .md-avatar {
          margin-right: 0;
        }
      }
      md-icon {
        background-color: transparent;
        color: #FFF;
        margin-left: inherit;
      }

      md-divider[md-inset] {
        left: 68px;
        width: calc(100% - 68px);
      }
    }
  }

  md-divider {
    border-top-color: rgba(255, 255, 255, 0.12);
  }
}
