.ks-leaseDetails{
  //header开始
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
      }

    }
  }
  .sqtz{
    font-size: 18px;
  }
  .commodityList {
    padding: 0 10px;
    .commodityListHeader {
      height: 42px;
      margin-left: 7px;
      .leftBlock {
        position: relative;
        left: 3px;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 45px;
        height: 44px;
        margin-left: 10px;
        font-size: 14px;
        color: #101010;
      }
    }
  }
  .commodityListContent {
    position: relative;
    margin-bottom: -16px;
    padding: 0px 10px 0 20px;
    .contentListImg {
      width: 70px;
      max-width: 70px;
      height: 70px;
      float: left;
      margin: 15px 10px 0 0;
    }
    .contentListRight {
      margin-top: 12px;
      position: relative;
      width: 90%;
      .right1 {
        font-size: 13px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 2px;
      }
      .num1 {
        font-size: 13px;
        position: absolute;
        bottom: 10px;
        left: 76px;
        margin-top: 10px;
      }
      .num2 {
        font-size: 13px;
        position: absolute;
        bottom: 10px;
        right: 6px;
        margin-top: 10px;
      }

    }
    .item-specs {
      font-size: 12px;
      color: #999;
      margin: 5px 0 10px 0;
      height: 35px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      span {
        font-size: 12px;
        color: #999999;
        line-height: 1.3em;
      }
    }

    /*.contentListRight > .spanWrap {
      -webkit-line-clamp: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-break: break-all;
      word-wrap: break-word;

    }*/
    .ib {
      .ibButton {
        margin: -5px -7px 17px 0;
        width: 140px;
        height: 24px;
        .ibBtn {
          border-radius: 0;
          border: 1px solid #101010;
          line-height: 22px;
          font-size: 14px;
          color: #101010;
          height: 24px;
          min-height: 24px;
        }
        .refundOnlyText {
          color: #dd191d;
          font-size: 14px;
          border: none;
          line-height: 24px;
          text-align: right;
        }
        .refundOnlyFinish {
          color: #999;
          font-size: 14px;
          border: none;
          line-height: 24px;
          text-align: right;
        }
      }

    }
    p.text1{
      line-height: 0.6em;
      color: #999;
      margin-left: 14px;
    }
    p.text1.none{
      margin: 6px 0 6px 14px;
      line-height: normal;
    }
    p.text2{
      margin-left: 14px;
    }
    .arrow_right{
      font-size: 14px;
      position: absolute;
      right: 10px;
      color: #999;
      line-height: 24px;
      text-align: center;
      top: 50%;
      margin-top: -24px;
    }
  }





  .submit-btn{
    width: 100%;

    .ks-black.md-button{
      width: 100%;
      height: 48px;
      border-radius: 0;
      margin:0;
      font-size:16px;
    }
  }
  .ks-black.md-button:hover:not([disabled]){
    background:#333 !important;;
  }
}