.ks-receive {
  .md-toolbar-tools {
    height: 40px;
    font-size: 16px;
    color: white;
    .nav-left {
      font-size: 14px;
      color: white;
    }
    .md-icon-button {
      width: 22px;
    }
    span {
      color: #808080;
      font-size: 14px;
    }
  }

  .payStaleTop {
    border-bottom: 1px solid #d5d5d5;
    height: 44px;
    span {
      font-size: 14px;
      color: #101010;
      line-height: 44px;
      margin-left: 10px;
    }
  }
  .payStyleNext {
    margin-bottom: 20px;
    .weixin {
      height: 44px;
      .weixinCont {
        display: inline-block;
        margin: 8px 10px;
        width: 25px;
        height: 25px;
        background: #62b566;
        .ks-icon {
          text-align: center;
          margin-top: 4px;
          font-size: 15px;
          color: #fff;
        }
      }
      .weixinRight {
        margin-right: 10px;
        display: inline-block;
        border-bottom: 1px dashed #d5d5d5;
        span {

          line-height: 44px;
          font-size: 14px;
          color: #101010;
        }
        .ks-icon {
          float: right;
          line-height: 44px;
          font-size: 18px;
          color: #ba9f6e;
        }
      }
    }
    .alipay {
      height: 44px;
      .alipayCont {
        display: inline-block;
        margin: 8px 10px;
        width: 25px;
        height: 25px;
        background: #4fa5db;
        .ks-icon {
          text-align: center;
          margin-top: 4px;
          font-size: 15px;
          color: #fff;
        }
      }
      .alipayRight {
        margin-right: 10px;
        display: inline-block;
        span {
          line-height: 44px;
          font-size: 14px;
          color: #101010;
        }
        .ks-icon {
          float: right;
          line-height: 44px;
          font-size: 18px;
          color: #ba9f6e;
        }
      }
    }

  }
  .bottomPay {
    height: 40px;
    margin: 0 10px;
    background: #333333;
    span{
      text-align: center;
      font-size: 15px;
      color: #ffffff;
    }
  }
}