.ks-bindPhone{
  //header开始
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
      }

    }
  }
  //主体部分
  .content-divWrap {
    .changeTxtEmailBox{
      .txtEmailBox{
        margin-top:0px;
        text-align: center;
      }

      height: 107px;
      background: #333;
      p{
        margin:0;
        color: #ba9f6e;
      }
      p.bindEmailTxt{
        padding-top:33px ;
        font-size: 18px;

      }
    }
    .loginPassRows{
      margin: 0 20px;
      height: 44px;
      border-bottom: 1px solid #d5d5d5;
      input{
        background: transparent;
        width: 100%;
        height: 20px;
        line-height: 20px;
        border: none;
        font-size: 14px;
        color: #101010;
        margin: 12px 0;
      }
      .layout-row-input{
        height: 20px;
        color: #101010;
      }
      .layout-align-center-center{
        color: #ccc;
        .spanTexta{
          color: #101010;
        }
        .spanText{
          color: #101010;
        }
      }
      .rightbutton{
        margin: 10px 0;
        border-left: 1px solid #d5d5d5;
      }
    }
    .bindcolor{
      input{
        color: #101010;
      }
    }
    .butWrap{
      margin:20px 20px 10px 20px;
      .but{
        width: 100%;
        height: 40px;
        background: #333;
        color: #fff;
        font-size: 14px;
        border:none;
      }
    }
  }
}