.ks-group {
  position: relative;
  .ks-header {
    background: #fff;
    height: 44px;
    font-size: 16px;
    color: #333;
    min-height: 44px;
    .ks-icon {
      font-size: 16px;
      margin-left: 13px;
      color: #333;
      line-height: 20px;
      width: 40px;
      margin-top: 3px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
      font-size: 14px;
      color: #fff;
      line-height: 44px;
    }

    .md-icon-button:last-child {
      width: auto;
    }
    h1 {
      font-size: 20px;
      color: #333;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
  }
  md-divider {
    height: 1px;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    overflow: hidden;
  }
  .item-detail {
    margin: 0 10px;
    .det-wrap {
      height: 56px;
      line-height: 56px;
      min-height: 56px;
      .det-left {
        font-size: 16px;
        color: #333;
      }
      .det-order-right {
        font-size: 14px;
        color: #d15976;
      }
      .det-time-right {
        font-size: 14px;
        color: #999;
      }
    }
    .detail-wrap {
      text-align: center;
      .detail-txt {
        margin-top: 20px;
        margin-bottom: 15px;
        line-height: 1em;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
      }
      .img-header {
        position: relative;
        margin-bottom: 20px;
        .img-wrap {
          width: 44px;
          position: relative;
          overflow: hidden;
          margin-left: 15px;
          &:first-of-type {
            margin-left: 0;
          }
          &:before {
            content: "";
            display: block;
            padding-top: 100%;
          }
          img {
            position: absolute;
            left: 0;
            top: 0;
            padding: 0;
            width: 100%;
            border-radius: 50%;
          }
          .tuanzhang {
            position: absolute;
            left: -18px;
            top: -4px;
            width: 48px;
            height: 20px;
            font-size: 12px;
            text-align: center;
            background: #fa9a9a;
            color: #fff;
            font-weight: bold;
            transform: rotate(-45deg);
            line-height: 26px;
          }
        }
      }
      .time {
        font-size: 14px;
        color: #333;
        height: 22px;
        line-height: 22px;
        min-height: 22px;
        text-align: center;
        > span {
          display: inline-block;
          width: 32px;
          border-radius: 2px;
          background: #666;
          height: 20px;
          line-height: 20px;
          color: #fff;
          font-weight: bold;
          text-align: center;
        }
      }
    }
    .cen-msg {
      margin: 15px 0;
      .cen-img-wrap {
        width: 90px;
        position: relative;
        overflow: hidden;
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
        img {
          position: absolute;
          top: 0;
          padding: 0;
          width: 100%;
          height: 100%;
        }
      }
      .cen-right {
        margin-left: 15px;
        .cen-title {
          line-height: 1em;
          font-size: 16px;
          color: #333333;
        }
        .cen-sku {
          font-size: 14px;
          color: #999999;
        }
        .cen-bottom {
          .cen-des {
            font-size: 14px;
            color: #999999;
          }
          .price-icon {
            font-size: 16px;
            color: #d15976;
            vertical-align: bottom;
            line-height: 1em;
            margin-bottom: 1px;

          }
          .price {
            flex-shrink: 0;
            line-height: 1em;
            font-size: 16px;
            color: #d15976;
            font-weight: bold;
          }
          .first-price {
            font-size: 14px;
            color: #999;
            text-decoration: line-through;
            margin-left: 8px;
          }
          .dis {
            //border: 1px solid #fa9a9a;
            background: #fa9a9a;
            border-radius: 2px;
            //width: 80px;
            padding: 0 4px;
            height: 14px;
            font-size: 11px;
            flex-shrink: 0;
            color: #fff;
            line-height: 1.4em;
            font-weight: bold;
            margin-left: 10px;
            margin-bottom: 3px;
          }
          .group-num {
            color: #999;
            font-size: 12px;
          }
          p {
            width: 100%;
            color: #d15976;
            font-size: 20px;
            font-weight: bold;
            line-height: 1em;
            margin: 8px 0 0 0;
          }
        }
      }
    }
    .need-know {
      .need-txt {
        line-height: 1em;
        font-size: 16px;
        color: #333;
        margin-top: 20px;
      }
      .icon-wrap {
        min-height: 50px;
        flex-shrink: 0;
        padding: 15px 0 20px 0;
        .icon-txt {
          flex-shrink: 0;
          margin-right: 18px;
          .circle {
            border-radius: 50%;
            display: inline-block;
            width: 4px;
            height: 4px;
            background: #999;
            margin-right: 8px;
          }
          > span {
            flex-shrink: 0;
            white-space: nowrap;
            color: #999;
            font-size: 14px;
          }
        }
      }
    }
  }
  .group-detail {
    .detail-wrap {
      .detail-txt {
        margin-top: 20px;
        margin-bottom: 15px;
        line-height: 1em;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
      }
      .img-header {
        position: relative;
        margin-bottom: 20px;
        .img-wrap {
          width: 44px;
          position: relative;
          overflow: hidden;
          margin-left: 15px;
          &:first-of-type {
            margin-left: 0;
          }
          &:before {
            content: "";
            display: block;
            padding-top: 100%;
          }
          img {
            position: absolute;
            top: 0;
            padding: 0;
            width: 100%;
            border-radius: 50%;
          }
          .tuanzhang {
            position: absolute;
            left: -18px;
            top: -4px;
            width: 48px;
            height: 20px;
            font-size: 12px;
            text-align: center;
            background: #fa9a9a;
            color: #fff;
            font-weight: bold;
            transform: rotate(-45deg);
            line-height: 26px;
          }
        }
      }
      .time {
        font-size: 14px;
        color: #333;
        height: 22px;
        line-height: 22px;
        min-height: 22px;
        text-align: center;
        > span {
          display: inline-block;
          width: 32px;
          border-radius: 2px;
          background: #666;
          height: 20px;
          line-height: 20px;
          color: #fff;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
  /*按钮*/
  .group-fotter {
    @include flex-shrink(0);
    height: 49px;
    text-align: center;
    background: #fff;
    .group, .single {
      span {
        color: #fff;
        font-weight: bold;
      }
      span:nth-of-type(1) {
        font-size: 14px;
      }
      span:nth-of-type(2) {
        font-size: 16px;
      }
    }
    .single {
      background: #fa8585; /* 一些不支持背景渐变的浏览器 */
      background: -webkit-linear-gradient(left, #fcc0a5, #fa9a9a);
      background: -moz-linear-gradient(left, #fcc0a5, #fa9a9a);
      background: -webkit-gradient(linear, 0 0, 0 right, from(#fcc0a5), to(#fa9a9a));
      background: -o-linear-gradient(left, #fcc0a5, #fa9a9a);
    }
    .group {
      background: #fa8585; /* 一些不支持背景渐变的浏览器 */
      background: -webkit-linear-gradient(left, #fa8585, #d15976);
      background: -moz-linear-gradient(left, #fa8585, #d15976);
      background: -webkit-gradient(linear, 0 0, 0 right, from(#fa8585), to(#d15976));
      background: -o-linear-gradient(left, #fa8585, #d15976);
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(#000000, #BBBBBB); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#000000, #BBBBBB); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#000000, #BBBBBB); /* Firefox 3.6 - 15 */
    background: linear-gradient(#000000, #BBBBBB); /* 标准的语法（必须放在最后） */
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    .maskButton {
      position: absolute;
      float: right;
      width: 259px;
      height: 176px;
      right: 9px;
      background: url("../assets/bg-img/share.png") no-repeat;
      background-size: 100%;
      .shareKnow {
        position: absolute;
        border-radius: 20px !important;
        width: 120px;
        height: 40px;
        bottom: 0;
        left: 20px;
      }
    }
    .maskButton1 {
      position: absolute;
      float: right;
      width: 259px;
      height: 176px;
      right: 9px;
      background: url("../assets/bg-img/yaoqing.png") no-repeat;
      background-size: 100%;
      .shareKnow {
        position: absolute;
        border-radius: 20px !important;
        width: 120px;
        height: 40px;
        bottom: 0;
        left: 20px;
      }
    }
  }
}