.ks-hotelOrderDetail {
  .topToolbar {
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
        .top-but {
          position: absolute;
          font-size: 14px;
          line-height: 40px;
          right: 0;
          color: #101010;
        }
      }
    }
    .cancleBtn {
      width: 61px;
      position: absolute;
      right: 5px;
      line-height: 44px;
      top: 0;
      color: #808080;
      font-size: 14px;
    }
  }

  .orderMessage {
    margin: 0 10px;
    border-bottom: 1px solid #d5d5d5;
    .orderMessageTop {
      height: 44px;
      margin-left: 5px;
      .leftBlock {
        position: relative;
        left: 5px;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 44px;
        height: 44px;
        margin-left: 12px;
        font-size: 14px;
        color: #101010;
      }
    }
    .orderMessageWrap {
      padding: 10px;
      .wrapChild {
        .txtMessage {
          display: inline-block;
          font-size: 14px;
          text-indent: 18px;
          color: #999;
        }
        span {
          margin-left: 10px;
          font-size: 14px;
          color: #999;
        }
      }
      /* &:last-child .orderMessageWrap{
         border-bottom: 1px solid #d5d5d5;
       }*/
    }

  }
  .orderDetailHeader {
    padding: 0 10px;
    .orderDetailHeaderTop {
      border-bottom: 1px dashed #d5d5d5;
      margin-left: 10px;
      .ks-icon {
        font-size: 24px;
        color: #333333;
        margin: 25px auto 30px 0;
      }
      div {
        height: 10px;
        display: inline;
        margin-left: 15px;
        font-size: 16px;
        color: #101010;
        font-weight: bold;
        line-height: 10px;
      }
    }
    .orderDetailHeaderBottom {
      .bottomList {
        z-index: 2;
        width: 20%;
        text-align: center;
        float: left;
        position: relative;
        height: 60px;
        margin-top: 15px;
        .circle {
          display: inline-block;
          position: absolute;
          left: 50%;
          margin-left: -10px;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ba9f6e;
          .circleIn {
            position: absolute;
            left: -5px;
            top: -5px;
            margin: 10px;
            line-height: 20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
          }
          .circleIn.active {
            background: #333333;
          }
        }
        .word {
          margin-top: 35px;
          font-size: 12px;
          color: #999;
        }
        .word.cur {
          color: #101010;
        }
      }
      .bottomList_ser {
        z-index: 2;
        width: 16.6%;
        text-align: center;
        float: left;
        position: relative;
        height: 60px;
        margin-top: 15px;
        .circle {
          display: inline-block;
          position: absolute;
          left: 50%;
          margin-left: -10px;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ba9f6e;
          .circleIn {
            position: absolute;
            left: -5px;
            top: -5px;
            margin: 10px;
            line-height: 20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
          }
          .circleIn.active {
            background: #333333;
          }
        }
        .word {
          margin-top: 35px;
          font-size: 12px;
          color: #999;
        }
        .word.cur {
          color: #101010;
        }
      }
      .line {
        width: 80%;
        position: relative;
        left: 10%;
        top: -52px;
        height: 4px;
        background: #ba9f6e;
      }
    }
  }
  .partLine {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
  }
  .distribution {
    padding: 0 10px;
    .distributionHeader {
      border-bottom: 1px dashed #d5d5d5;
      margin-left: 10px;
      height: 42px;
      .leftBlock {
        position: relative;
        left: 0;
        top: 14px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 44px;
        height: 44px;
        margin-left: 10px;
        font-size: 14px;
        color: #101010;
      }
    }
    .txtWrap {
      padding-bottom: 8px;
      border-bottom: 1px dashed #d5d5d5;
      color: #ba9f6e;
      font-size: 14px;
      margin-top: 10px;
      margin-left: 10px;
      .ks-icon {
        margin-left: 8px;
        font-size: 12px;
        color: #ba9f6e;
      }
      md-icon {
        text-align: center;
        line-height: 20px;
      }
    }
    .distributionMode {
      border-bottom: 1px dashed #d5d5d5;
      padding: 11px 0;
      margin-left: 12px;
      .txt {
        display: inline-block;
        font-size: 14px;
        text-indent: 35px;
        width: 96px;
        color: #999;
      }
      span {
        font-size: 14px;
        color: #999;
      }
    }
    .address {
      border-bottom: 1px solid #d5d5d5;
      padding: 10px 0;
      margin: 0;
      .addressTxt {
        line-height: 1.5em;
        font-size: 14px;
        color: #999;
        margin-left: 30px;
      }
    }
  }
  .commodityList {
    padding: 0 10px;
    .commodityListHeader {
      height: 42px;
      margin-left: 7px;
      .leftBlock {
        position: relative;
        left: 3px;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 45px;
        height: 44px;
        margin-left: 12px;
        font-size: 14px;
        color: #101010;
      }
    }
  }
  /*

  .commodityListContent {
    border-bottom: 1px solid #d5d5d5;
    padding: 10px 10px 0 30px;
    .leftImg{
      position: relative;
      width: 70px;
      .imgtop{
        padding-top: 100%;
        position: relative;
      }
      img{
        width: 100%;
        height: 100%;
        position: absolute;
        left:0;
        top:0;
      }
    }

    .contentListRight {
      margin-left: 10px;
      position: relative;
      width: 100%;
      .right1 {
        font-size: 13px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 2px;
      }
      .item-specs {
        font-size: 12px;
        color: #999;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        word-break: break-all;
        word-wrap: break-word;
        span {
          font-size: 12px;
          color: #999999;
          margin-bottom: 10px;
        }
      }
      .num1 {
        font-size: 13px;
      }
      .num2 {
        font-size: 13px;
      }
    }
  */

  .commodityListContent {
    padding: 0px 10px 0 20px;
    .contentListImg {
      width: 70px;
      max-width: 70px;
      height: 70px;
      float: left;
      margin: 15px 10px 0 0;
    }
    .contentListRight {
      margin-top: 12px;
      position: relative;
      width: 100%;
      .right1 {
        font-size: 13px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 2px;
      }
      .num1 {
        font-size: 13px;
        position: absolute;
        bottom: 0;
        left: 76px;
        margin-top: 10px;
      }
      .num2 {
        font-size: 13px;
        position: absolute;
        bottom: 0;
        right: 6px;
        margin-top: 10px;
      }
    }
    .item-specs {
      font-size: 12px;
      color: #999;
      margin: 5px 0 15px 0;
      height: 30px;
      line-height: 1.3;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      span {
        font-size: 12px;
        color: #999999;
      }
    }

    /*.contentListRight > .spanWrap {
      -webkit-line-clamp: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-break: break-all;
      word-wrap: break-word;

    }*/
    .ib {
      .ibButton {
        margin: -5px -7px 17px 0;
        width: 140px;
        height: 24px;
        .ibBtn {
          border-radius: 0;
          border: 1px solid #101010;
          line-height: 22px;
          font-size: 14px;
          color: #101010;
          height: 24px;
          min-height: 24px;
        }
        .refundOnlyText {
          color: #dd191d;
          font-size: 14px;
          border: none;
          line-height: 24px;
          text-align: right;
        }
        .refundOnlyFinish {
          color: #999;
          font-size: 14px;
          border: none;
          line-height: 24px;
          text-align: right;
        }
      }

    }
  }
  .discount {
    padding: 0 10px;
    .discountHeader {
      height: 42px;
      margin-left: 10px;
      .leftBlock {
        position: relative;
        left: 0;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 45px;
        height: 44px;
        margin-left: 10px;
        font-size: 14px;
        color: #101010;
      }
    }
    .discountbottom {
      border-bottom: 1px solid #d5d5d5;
      padding: 10px 20px 10px 30px;
      line-height: 1.5em;
      font-size: 14px;
      color: #999;
    }
  }
  .invoice {
    padding: 0 10px;
    .invoiceHeader {
      height: 42px;
      margin-left: 10px;
      .leftBlock {
        position: relative;
        left: 0;
        top: 15px;
        float: left;
        width: 8px;
        height: 16px;
        background: #ba9f6e;
      }
      span {
        line-height: 45px;
        height: 44px;
        margin-left: 10px;
        font-size: 14px;
        color: #101010;
      }
    }
    .invoiceMode {
      border-bottom: 1px solid #d5d5d5;
      padding: 10px 0;
      .txt {
        display: inline-block;
        font-size: 14px;
        text-indent: 35px;
        color: #999;
      }
      span {
        margin-left: 10px;
        font-size: 14px;
        color: #999;
      }
    }
  }
  .cash {
    border-bottom: 1px solid #d5d5d5;
    font-size: 14px;
    color: #999999;
    padding: 10px 0;
    .csahTxt {
      line-height: 1.5em;
      text-align: center;
      font-size: 14px;
      color: #999999;
    }
  }
  .textArea {
    padding: 15px 20px 15px 20PX;
    .message {
      height: 80px;
      padding: 10px 0 0 15px;
      border: 1px solid #d5d5d5;
      font-size: 14px;
      color: #101010;
    }
    textarea {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      font-size: 14px;
      background: none;
      color: #101010;
      border: 1px solid #d5d5d5;
      padding: 10px 0 0 20px;
      height: 80px;
      border-radius: 0;
      box-shadow: 0 0 0 #fff;
      -webkit-appearance: none;
    }
  }
  .agreement{
    padding: 0 20px 15px;
    .ks-icon{
      color: #ba9f6e;
      text-align: center;
      font-size: 18px;
      margin-top: -4px;
    }
    .agreetxt{
      padding-left: 8px;
      line-height: 24px;
      font-size: 13px;
      color: #101010;
    }
    .info{
      color: #ba9f6e;
      font-style: normal;
      font-size: 13px;
    }
  }
  .disclear{
    display: none!important;
  }
  .fotterFixed {
    /*    position: fixed;
        bottom: 0;*/
    width: 100%;
    max-width: 600px;
    flex-shrink: 0;
    background: #fff;
    text-align: center;
    min-height: 48px;
    .fotterFixedTop {
      width: 100%;
      font-size: 16px;
      color: #101010;
      padding: 15px 0;
    }
    .fotterFixedBottom {
      background: #333;
      width: 100%;
      height: 48px;
      color: #fff;
      font-size: 15px;
      span {
        font-size: 14px;
        color: #ba9f6e;
      }
    }
    .fotterFixedLeft {
      width: 50%;
      float: left;
      font-size: 16px;
      color: #101010;
      flex-shrink: 0;
      background: #f5f5f5;
      text-align: center;
      height: 48px;

    }
    .fotterFixedRight {
      flex-shrink: 0;
      width: 50%;
      float: right;
      text-align: center;
      background: #333;
      height: 48px;
      color: #fff;
      font-size: 15px;
      span {
        font-size: 14px;
        color: #ba9f6e;
      }
    }
  }
  .fotterFixedTop {
    font-size: 16px;
    color: #101010;
    padding: 15px 0;
    flex-shrink: 0;
    width: 100%;
    background: #f5f5f5;
    text-align: center;
    max-width: 600px;
  }
  .fotterFixedBottom {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    max-width: 600px;
    background: #333;
    height: 48px;
    color: #fff;
    font-size: 15px;
    span {
      font-size: 14px;
      color: #ba9f6e;
    }
  }

  .fotterFixedLeft {
    @include flex-shrink(0);
    width: 50%;
    float: left;
    font-size: 16px;
    color: #fff;
    flex-shrink: 0;
    background: #333;
    text-align: center;
    height: 48px;

  }
  .fotterFixedRight {
    @include flex-shrink(0);
    width: 50%;
    float: right;
    text-align: center;
    background: #333;
    height: 48px;
    color: #fff;
    font-size: 15px;
    span {
      font-size: 14px;
      color: #ba9f6e;
    }
  }

  // 应付金额
  .pay-amount {
    @include flex-shrink(0);
    height: 50px;
    margin-bottom: 5px;
    background-color: transparent;
    color: #101010;
    font-size: 16px;
  }

  // 去支付
  .submit-btn {
    margin-bottom: 10px;
    @include flex-shrink(0);
    height: 40px;
    background-color: transparent;
    .md-button {
      max-width: 95%;
      border-radius: 0;
      margin: 5px 0 15px 0;
      height: 40px;
      color: #fff;
      font-size: 15px;
    }
  }

  //弹出框
  .logout {
    border-radius: 6px;
    .dialogTitle {
      width: 280px;
      text-align: center;
      border-bottom: 1px solid #d5d5d5;
      font-size: 16px;
      color: #101010;
      padding: 20px 0;
      max-width: 310px;
      min-width: 280px;
    }
    div.select {
      width: 100%;
      div.left, div.right {
        height: 45px;
        font-size: 15px;
        line-height: 45px;
        border-right: 1px solid #d5d5d5;
        span {
          width: 100%;
          height: 100%;
          text-align: center;
        }
      }
      div.left {
        color: #999999;
      }
      div.right {
        color: #ba9f6e;
      }
    }
  }

}