.ks-hotelShare {
  .ks-header {
    background: #101010;
    height: 44px;
    font-size: 16px;
    color: #fff;
    min-height: 44px;
    .ks-icon {
      font-size: 16px;
      margin-left: 13px;
      color: #fff;
      line-height: 20px;
      width: 40px;
      margin-top: 3px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
      font-size: 14px;
      color: #fff;
      line-height: 44px;
    }

    .md-icon-button:last-child {
      width: auto;
    }
    h1 {
      font-size: 20px;
      color: #fff;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
  }

  .title {
    margin: 40px auto 60px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .parent-wrap {
    margin: 0 68px;
    .input-wrap {
      white-space: nowrap;
      div {
        width: 100%;
        border: none;
        font-size: 16px;
        color: #101010;
        text-align: center;
        outline: none;
        height: 24px;
      }
      .ks-icon {
        font-size: 16px;
        text-align: right;
        padding-right: 5px;
        line-height: 16px;
        min-width: 16px;
        min-height: 16px;
      }
    }
  }

  .back {
    .backScreen {
      background-color: #333;
      opacity: 0.95;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
    }
    .changeNick {
      position: absolute;
      z-index: 99;
      left: 50%;
      top: 50%;
      width: 270px;
      margin-left: -135px;
      background-color: #f5f5f5;
      border-radius: 2px;
      margin-top: -77px;
      .title {
        font-size: 18px;
        margin: 15px 0;
        text-align: center;
        font-weight: bold;
      }
      .changeTxt {
        padding: 0 20px 20px 20px;
        border-bottom: 1px solid #d5d5d5;
        input {
          width: 99%;
          height: 28px;
          margin: 0;
          padding: 0;
          border: 1px solid #d5d5d5;
          text-indent: 10px;
        }
      }
      .btns {
        font-size: 16px;
        text-align: center;
        height: 46px;
        line-height: 46px;
        color: #007aff;
        .isBtn {
          height: 46px;
        }
      }
      .leftBtn {
        border-right: 1px solid #d5d5d5;
      }
    }
  }
}