.ks-email{
  //header开始
  .ks-header._md {
    height: 30px;
    margin: 0px auto;
    position: relative;
    background: #fff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
      }
    }
  }

  //主体部分
  .content-divWrap {
    .txtEmailBox{
      margin-top:50px;
      text-align: center;
      p{
        font-size: 14px;
        color: #101010;
      }
      p.emailCode{
        font-size: 16px;
        margin-top:10px;
        margin-bottom:10px;
      }
      div.but{
        height: 24px;
        width: 80px;
        border:1px solid #101010;
        text-align: center;
        line-height: 24px;
        font-size: 14px;
        color: #101010;
        margin: 20px auto 0 auto;
      }
    }
  }


}
