.ks-vipDetail {
  .ks-header {
    background: #fff;
    height: 44px;
    font-size: 16px;
    color: #101010;
    min-height: 44px;
    .ks-icon {
      font-size: 16px;
      margin-left: 13px;
      color: #101010;
      line-height: 20px;
      width: 40px;
      margin-top: 3px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
      font-size: 14px;
      color: #fff;
      line-height: 44px;
    }

    .md-icon-button:last-child {
      width: auto;
    }
    h1 {
      font-size: 20px;
      color: #101010;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
  }
  ks-swiper-container {
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 10px !important;
      display: inherit !important;
    }
    .swiper-container {
      width: 100%;
      .swiper-wrapper {
        img {
          left: 0;
          top: 0;
          width: 100%;
        }
      }
    }
    .swiper-pagination-bullet{
      background: #fff;
    }
    .swiper-pagination-bullet-active {
      background: #fff;
    }
  }

  .CommodityName {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 8px;
  }
  .commodityPrice {
    padding: 0 10px;
    color: #ba9f6e;
    font-weight: bold;
    font-size: 20px;
    span {
      font-size: 14px;
      color: #999;
    }
  }
  .CommodityRemarks {
    padding: 0 10px;
    font-size: 14px;
    color: #ccc;
    margin: 5px 0 10px 0;
  }
  .salesSupport {
    padding: 0 10px;
    background: #fff9eb;
    height: 80px;
    border-top: 1px solid #d5d5d5;
    div {
      padding: 10px 0;
      font-size: 14px;
      color: #808080;
      span {
        margin-right: 10px;
        font-size: 14px;
        .ks-icon {
          box-sizing: border-box;
          font-size: 15px;
          color: #4c4c4c;
          line-height: 22px;
        }
      }
    }
    div:nth-of-type(1) {
      border-bottom: 1px dashed #d5d5d5;
    }
  }
  .line {
    background: #f5f5f5;
    height: 10px;
  }
  .CommodityAttribute {
    border-bottom: 1px #d5d5d5 solid;
    padding: 15px 0;
    background: #fff;
    color: #101010;
    font-size: 16px;
    text-indent: 10px;
  }
  .AttributeCourent{
    .AttributeCourentCenter{
      margin: 10px;
      h3{
        font-size: 14px;
        color: #999;
        margin: 0 0 4px 0;
      }
      p{
        margin: 0 0 23px 0;
      }
    }
  }
  .fotter {
    @include flex-shrink(0);
    height: 48px;
    text-align: center;
    .fotterLeft {
      text-align: center;
      background: #666;
      div {
        .ks-icon {
          line-height: 28px;
          text-align: center;
          font-size: 18px;
          color: #fff;
          margin-top: 3px;
        }
      }
    }
    .btns {
      background-color: #d5d5d5;
      font-size: 16px;
    }
    .btn {
      background-color: #333;
      font-size: 16px;
    }
  }
}

