.ks-vip {
  .ks-header {
    background: #101010;
    height: 44px;
    font-size: 16px;
    color: #fff;
    min-height: 44px;
    .ks-icon {
      margin-left: -18px;
      font-size: 16px;
      color: #333;
      line-height: 20px;
      width: 40px;
      margin-top: 3px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
      font-size: 14px;
      text-align: center;
      color: #fff;
      line-height: 40px;
      margin-right: 6px;
    }

    .md-icon-button:last-child {
      width: auto;
    }
    h1 {
      font-size: 20px;
      color: #fff;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
  }
  /*  .ceshi {
      display: block;
      width: 100px;
      height: 100px;
      background: red;
      position: relative;
    }

    .qianda {
      display: block;
      width: 100px;
      height: 100px;
      background: red;
      opacity: 0;
      position: relative;
      animation: mymove 5s 1;
      -moz-animation: mymove 5s infinite; !* Firefox *!
      -webkit-animation: mymove 5s infinite; !* Safari and Chrome *!
      -o-animation: mymove 5s infinite; !* Opera *!
    }

    !*
            animation: name duration timing-function delay iteration-count direction;
            animation-name                      规定需要绑定到选择器的 keyframe 名称。。
            animation-duration                  规定完成动画所花费的时间，以秒或毫秒计。
            animation-timing-function           规定动画的速度曲线。
            animation-delay                     规定在动画开始之前的延迟。
            animation-iteration-count           规定动画应该播放的次数。
            animation-direction                 规定是否应该轮流反向播放动画。
    *!

    @keyframes mymove {
      from {
        top: 200px;
        opacity: 1;
      }
      to {
        top: 0px;
        opacity: 0;
      }
    }
      @-moz-keyframes mymove !* Firefox *!
      {
        from {
          top: 0px;
        }
        to {
          top: 200px;
        }
      }

      @-webkit-keyframes mymove !* Safari and Chrome *!
      {
        from {
          top: 0px;
        }
        to {
          top: 200px;
        }
      }

      @-o-keyframes mymove !* Opera *!
      {
        from {
          top: 0px;
        }
        to {
          top: 200px;
        }
      }*/

  //上部签到黑块
  .msgWrap {
    position: relative;
    background: #1e1e1e;
    overflow: hidden;
    min-height: 330px;
    &:before {
      content: "";
      display: block;
      padding-top: 66%;
    }
    ul {
      width: 1000px;
      position: absolute;
      height: 100%;
      min-height: 1000px;
      background: #171717;
      left: 0;
      margin: 0;
      top: -65px;
      padding: 0;
      transform: rotate(45deg);
      transform-origin: 90% 40%;
      li {
        list-style: none;
        width: 20px;
        height: 100%;
        min-height: 300px;
        background: #101010;
        margin: 0 10px;
        float: left;

      }
    }
    .msg {
      background: rgba(255, 255, 255, 0.16);
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      font-size: 14px;
      height: 32px;
      width: 100%;
      min-height: 32px;
      color: #fff;
      line-height: 32px;
    }
    .wrap {
      position: absolute;
      width: 100%;
      top: 0;
      height: 80%;
      .signBtn {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: relative;
        left: 50%;
        margin-left: -40px;
        color: #101010;
        font-weight: bold;
        text-align: center;
        line-height: 80px;
      }
      .beginBtn {
        background: #ba9f6e;
        font-size: 18px;
      }
      .finshBtn {
        background: #666;
        font-size: 16px;
      }
      .first {
        position: absolute;
        left: 65%;
        top: 30%;
        opacity: 0;
      }

      .signMsg {
        width: 80px;
        height: 20px;
        font-size: 14px;
        color: #ba9f6e;
        background: transparent;
        position: absolute;
        left: 90%;
        top: 30%;
        animation: mymove 2s 1;
        -webkit-animation: mymove 2s 1;
        animation-fill-mode: forwards;
      }

      @keyframes mymove {
        from {
          top: 10%;
          opacity: 1;
        }
        to {
          top: 0%;
          opacity: 0;
        }
      }
      @-webkit-keyframes mymove {
        from {
          top: 10%;
          opacity: 1;
        }
        to {
          top: 0%;
          opacity: 0;
        }
      }
      .walletEnters {
        /*width: 100px;
        height: 36px;*/
        line-height: 36px;
        padding: 0 20px 0 24px;
        color: #fff;
        border: 1px solid #ba9f6e;
        margin: 30px auto 0;
        white-space: nowrap;
        .txtWarp {
          font-size: 16px;
          color: #ba9f6e;
          white-space: nowrap;
        }

        .ks-icon {
          box-sizing: border-box;
          padding: 7px;
          line-height: 7px;
          margin-left: -10px;
          margin-right: 5px;
          color: #ba9f6e;
          font-size: 20px;
        }
      }
      .vipWrap {
        position: absolute;
        width: 32px;
        height: 32px;
        background: #101010;
        border: 2px solid #1f1f1f;
        border-radius: 50%;
        font-style: normal;
        text-align: center;
        line-height: 32px;
        right: 20px;
        top: -10px;
        .ks-icon {
          font-size: 18px;
          line-height: 22px;
          color: #ba9f6e;
        }
      }
    }

    .bottomSign {
      height: 60px;
      background: #101010;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      span {
        color: #fff;
        font-size: 16px;
      }
      span:nth-of-type(1) {
        margin-top: 8px;
      }
      span:nth-of-type(2) {
        margin-top: -8px;
      }
      span.bold {
        font-weight: bold;
      }
      .ks-icon {
        color: #999;
        margin: auto 10px;
        font-size: 12px;
        line-height: 12px;
        min-width: 12px;
        min-height: 12px;
      }
    }
  }

  //白线背景
  .line-bg {
    width: 100%;
    height: 10px;
    background: #fff;
  }

  //轮播图
  .slideindex {
    width: 100%;
    margin: 0 auto;
    ks-swiper-container {
      ks-swiper-slide {
        width: 100%;
        position: relative;
        overflow: hidden;
        &:before {
          content: "";
          display: block;
          padding-top: 50%;
        }
      }
      img {
        /* position: absolute;*/
        left: 0;
        top: 0;
        width: 100%;
      }

      .swiper-container, .swiper-slide {
        float: left;
      }
      .swiper-pagination-bullet {
        background: #fff !important;
        height: 7px;
        width: 7px;
      }
      .swiper-pagination-bullet-active {
        background: #fff !important;
      }

      .swiper-slide {
        overflow: hidden;
      }
      /* .swiper-container {
         height: 70%;
       }*/
    }
    .swiper-container {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      z-index: 1;
      width: 100%;
    }
  }

  //tab按钮
  .tab {
    width: 100%;
    height: 44px;
    background: #fff9eb;
    overflow: hidden;
    .tabWrap {
      width: 1000px;
      background: #fff9eb;
      height: 100%;
      div {
        font-weight: bold;
        height: 100%;
        font-size: 16px;
        float: left;
        width: 100px;
        line-height: 44px;
        color: #999;
        text-align: center;
      }
      div.active {
        color: #101010;
      }
    }
    ::-webkit-scrollbar {
      width: 0px
    }
  }

  /*.md-nav-bar {
    border: none;
    background: #fff9eb;
    height: 40px;
    overflow: hidden;
    nav {
      overflow: scroll;
      overflow-x: auto;
    }
    md-nav-ink-bar {
      display: none;
    }
    .md-button.md-accent {
      color: #999;
    }
    .md-button.md-accent.md-active {
      color: #101010;
    }
    .md-button._md-nav-button {
      line-height: 28px;
      ._md-nav-button-text {
        display: block;
        margin-top: -5px;
      }
    }
  }
  .navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
  }

  md-tabs-canvas.md-paginated {
    margin: 0 auto;
  }

  md-tabs-wrapper md-prev-button, md-tabs-wrapper md-next-button {
    display: none;
  }*/
  .guess {
    background-color: #fff;
    margin-top: 20px;
    .title {
      font-size: 16px;
      color: #101010;
      height: 46px;
    }

    // 推荐商品
    .rec-item {
      margin-bottom: 15px;
      background: #fff;
      // 奇数
      &:nth-child(odd) > div {
        //border: 1px solid blue;
        margin: 5px 5px 5px 10px;
      }

      // 偶数
      &:nth-child(even) > div {
        //border: 1px solid greenyellow;
        margin: 5px 10px 5px 5px;
      }

      /* 前两个 */
      &:nth-child(-n+2) > div {
        margin-top: 0;
      }

      /* 倒数第二个并且是基数、最后一个元素并且是偶数 */
      &:nth-last-child(-n+2):nth-child(odd) > div, &:last-child:nth-child(even) > div {
        margin-bottom: 10px;
      }

      // 商品图片
      .item-img {
        width: 100%;
        position: relative;
        overflow: hidden;

        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
        img {
          position: absolute;
          top: 0;
          padding: 0;
          width: 100%;
        }
      }

      .item-title {
        height: 42px;
        min-height: 42px;
        margin: 6px 0 4px 0;
        font-size: 14px;
        color: #101010;
        line-height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .item-price {
        font-size: 14px;
        color: #ba9f6e;
        margin-top: -4px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .positionWap {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 64px;
        height: 22px;
        background: rgba(51, 51, 51, 0.9);
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        .ks-icon {
          font-size: 14px;
          color: #ba9f6e;
          line-height: 26px;
          margin: 0;
        }
        span {
          color: #ba9f6e;
        }
      }

    }

  }
}