.ks-weal {
  .ks-header {
    background: #101010;
    height: 44px;
    font-size: 16px;
    color: #fff;
    min-height: 44px;
    .ks-icon {
      font-size: 16px;
      margin-left: 13px;
      color: #fff;
      line-height: 20px;
      width: 40px;
      margin-top: 3px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
      font-size: 14px;
      color: #fff;
      line-height: 44px;
    }

    .md-icon-button:last-child {
      width: auto;
    }
    h1 {
      font-size: 20px;
      color: #fff;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
  }

  .topMsg {
    position: relative;
    width: 100%;
    background: url("https://o96iiewkd.qnssl.com/FiXHpPNU6uzLvN2RR078Ql2IAW_p") 0 -25px no-repeat;
    overflow: hidden;
    min-height: 130px;
    background-size: cover;
    flex-shrink: 0;
    &:before {
      content: "";
      display: block;
      padding-top: 33%;
    }
    .iconWrap {
      width: 50px;
      height: 50px;
      border: 1px solid #ba9f6e;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      left: 10px;
      text-align: center;
      line-height: 48px;
      .ks-icon {
        font-size: 22px;
        color: #ba9f6e;
        line-height: 22px;
      }
    }
    .txt {
      position: absolute;
      left: 78px;
      font-size: 18px;
      color: #ba9f6e;
      font-weight: bold;
      display: block;
      height: 20px;
      line-height: 20px;
      top: 50%;
      margin-top: -10px;
    }
  }
  .wrap {
    border-bottom: 1px solid #d5d5d5;
    box-sizing: border-box;
    padding-bottom: 10px;
    margin: 15px 10px 10px 10px;
    .iconMsg {
      width: 30px;
      height: 30px;
      background: #101010;
      color: #ba9f6e;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      .ks-icon {
        font-size: 18px;
        color: #ba9f6e;
      }
    }
    .txtMsg {
      p {
        margin: 0;
        padding: 0 0 0 13px;
        .titleMsg {
          font-size: 16px;
          color: #101010;
          font-weight: bold;
        }
        .rope {
          display: block;
          font-size: 14px;
          line-height: 2em;
          color: #101010;
        }
      }
    }

    .title {
      font-size: 16px;
      color: #101010;
      font-weight: bold;
    }
    .text {
      word-break: break-all;
      font-size: 14px;
      color: #101010;
      padding-right: 10px;
      line-height: 2em;
      span {
        word-break: break-all;
      }
    }

    #text {
      p {
        margin: 0;
        word-break: break-all;
        font-size: 14px;
        color: #101010;
        line-height: 2em;
        img {
          width: 100%;
        }
      }
    }
  }
}