.ks-center {
  background: #fff;
  .header-wrap {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    //height: 187px;
    //background: #fecdbc;
    background: url(../assets/vip/centerBg.png) no-repeat center center;
    background-size: 100% 100%;

    &:before {
      content: "";
      display: block;
      padding-top: 60%;
    }
    #img-wrap {
      width: 74px;
      height: 74px;
      border: 2px solid #fff;
      border-radius: 50%;
      margin: 0;
      padding: 0;
      vertical-align: bottom;
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
      img {
        position: absolute;
        top: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .name {
      line-height: 1em;
      color: #fff;
      margin-top: 15px;
    }

    .vip-wrap {
      height: 24px;
      font-size: 12px;
      color: #d15976;
      border-radius: 30px;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      right: -10px;
      width: 95px;
      background: #fff;
      line-height: 24px;
      font-weight: bold;
      text-align: center;
    }
  }

  .icon-txt {
    background: #fff;
    height: 75px;
    min-height: 75px;
    //background: blue;
    .icon-wra {
      .ks-icon {
        color: #8c2d2a;
        font-size: 20px;
        line-height: 20px;
      }
      .wra-txt {
        line-height: 1em;
        font-size: 14px;
        color: #101010;
        margin-top: 8px;
      }
      .wra-word {
        font-size: 16px;
        color: #d0af73;
      }
    }
    .line-red {
      width: 1px;
      height: 40px;
      background: #d5d5d5;
      -webkit-transform: scaleX(0.5);
      -webkit-transform-origin: 0 0;
      overflow: hidden;
    }
  }

  .line {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
    min-height: 10px;
  }
  md-divider {
    height: 1px;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    overflow: hidden;
    margin-right: 10px;
  }
  .det-wrap {
    height: 59px;
    min-height: 59px;
    line-height: 59px;
    .det {
      .ks-icon {
        font-size: 20px;
        line-height: 20px;
        color: #101010;
        width: 60px;
        text-align: center;
      }
      .det-word {
        font-size: 16px;
        color: #333;
      }
      .det-right {
        margin-right: 10px;
        .right-word {
          font-size: 14px;
          color: #999;
        }
        .ks-icon {
          width: 1em;
          font-size: 14px;
          color: #d5d5d5;
        }
      }
    }
  }
}