.md-menu-toolbar.ks-header.ks-invoice-header{

  .md-toolbar-tools{
    padding: 0 10px;
    md-icon{
      margin-top: -2px;
      font-size: 16px;
      color: #101010;
    }
  }
}
// 新增发票抬头
.ks-invoice-add {

  & > md-content {
    padding: 0 10px;
    background-color: #fff;
  }

  // 内容块
  .block {

    // 标题行
    .title-row {
      color: #101010;
      height: 44px;
      line-height: 44px;

      // 选中/未选中
      md-icon {
        font-size: 16px;
        text-align: center;
        color: #999;
      }

    }

    // 标题行下面的虚线
    md-divider.dashed {
      margin-left: 24px;
    }

    // 内容行
    .content-row {
      height: 44px;
      line-height: 44px;
      color: #999;
      margin: 0 20px 0 24px;

      &.no-right {
        margin-right: 0;
        overflow: hidden;
      }

      input {
        height: 20px;
        border-radius: 0px;
        margin-top:10px;
        width: 100%;
        border: none;
      }
    }
  }

  // 设为默认
  .set-default-row {
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    div.swmr{
      color: #101010;
    }
    .switchBtn{
      height: 12px;
    }
    ._md-bar{
      background-color: rgb(213,213,213);
    }
    .md-checked ._md-thumb{
      background-color: #ba9f6e;
    }
  }
  .confirm-row{
    .invoiceBtn{
      height: 40px;
      font-size: 15px;
    }
  }
}

/*
.md-autocomplete-suggestions li, .md-button*/
