.ks-wallets {
  background: #fff;
  .ks-header {
    background: #282f3a;
    height: 44px;
    font-size: 16px;
    color: #fff;
    min-height: 44px;
    .ks-icon {
      font-size: 16px;
      margin-left: 13px;
      color: #fff;
      line-height: 20px;
      width: 40px;
      margin-top: 3px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
      font-size: 14px;
      color: #fff;
      line-height: 44px;
    }

    .md-icon-button:last-child {
      width: auto;
    }
    h1 {
      font-size: 20px;
      color: #fff;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
  }

  .top-button {
    height: 106px;
    min-height: 106px;
    background: #282f3a;
    .btn-wrap {
      height: 100%;
      position: relative;
      .btn-num {
        font-size: 18px;
        font-weight: bold;
        color: #999;
      }
      .btn-txt {
        color: #999;
        font-size: 16px;
      }
      .btn-line {
        position: absolute;
        height: 4px;
        background: #ba9f6e;
        width: 60px;
        left: 50%;
        margin-left: -30px;
        bottom: 0;
      }
    }
    .active {
      .btn-num {
        color: #ba9f6e;
      }
      .btn-txt {
        color: #ba9f6e;
      }
    }
  }
  .center-button {
    height: 67px;
    min-height: 67px;
    background: #fff;
    .btn-wrap {
      width: 255px;
      height: 32px;
      line-height: 32px;
      border: 1px solid #ba9f6e;
      border-radius: 4px;
      overflow: hidden;
      margin-top: -5px;
      > div {
        text-align: center;
        font-size: 16px;
        color: #ba9f6e;
      }
      .btnActive {
        background: #ba9f6e;
        color: #fff;
      }
    }
  }

  // 11111
  .txt-des {
    margin: 0 10px;
    height: 78px;
    min-height: 78px;
    .txt-wrap {
      .txt-top {
        font-size: 16px;
        color: #333;
        line-height: 1em;
      }
      .txt-time {
        font-size: 12px;
        color: #999;
        line-height: 1em;
        margin-top: 15px;
      }
    }
    .txt-right {
      font-size: 18px;
      color: #ba9f6e;
      font-weight: bold;
    }
  }

  //22222
  //.commission {
  //  width: 100%;
  //  .commission-header {
  //    > div {
  //      text-align: center;
  //    }
  //  }
  //}

  /*
    佣金
  */
  .commissionContent {
    height: 44px;
    margin: 0 10px;

    border-bottom: 1px solid #d5d5d5;
    .contentWord {
      font-size: 14px;
      color: #101010;
    }
    .contentWord.jiu {
      color: #999;
    }
  }

  .fixed {
    width: 100%;
    position: fixed;
    bottom: 0;
    div {
      max-width: 600px;
      height: 48px;
      background: #fff9eb;
      text-align: center;
      span {
        line-height: 48px;
        text-align: center;
        font-size: 15px;
        color: #ba9f6e;
      }

    }

  }

  /*
    钱币钱币
  */
  .totalWrap, .paymentWrap {
    padding-bottom: 30px;
    width: 100%;
    .totalMsg, .paymentMsg {
      margin: 0 10px;
      height: 44px;
      border-bottom: 1px solid #d5d5d5;
      .totalLeftMsg, .totalRightMsg, .paymentLeftMsg, .paymentRightMsg {
        height: 44px;
        font-size: 14px;
        color: #101010;
        line-height: 44px;
      }
      .totalRightMsg {
        text-align: right;
        span {
          margin-left: 10px;
        }
      }
      .paymentLeftMsg {
        max-width: 50%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        span:nth-of-type(1) {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: inline-block;
          max-width: 80%;
        }
        .price-s {
          min-width: 42px;
          margin-right: 2px;
        }
      }
      .paymentRightMsg {
        text-align: right;
        color: #ccc;
      }
    }
  }

  .icon {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 10px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e6e6e6), to(#f5f5f5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .txt {
    color: #999;
  }

  .coin-btn {
    text-align: center;
    flex-shrink: 0;
    height: 44px;
    min-height: 44px;
    margin: 20px 20px 20px 20px;
    border-radius: 30px;
    background: #e4c58b; /* 一些不支持背景渐变的浏览器 */
    background: -webkit-linear-gradient(left, #e4c58b, #ceab6b);
    background: -moz-linear-gradient(left, #e4c58b, #ceab6b);
    background: -webkit-gradient(linear, 0 0, 0 right, from(#ceab6b), to(#e4c58b));
    background: -o-linear-gradient(right, #ceab6b, #e4c58b);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 8px 20px #e8e1d4;
  }

  /*
    服务卡
  */
  .transactionRecord {
    .month {
      background: #f5f5f5;
      height: 30px;
      padding-left: 10px;
      z-index: 2;
      line-height: 30px;
      span {
        line-height: 30px;
        font-size: 14px;
        color: #333;
      }
    }

    .introduceWrap {
      margin: 0px;
      &:last-child .contentUserName {
        border-bottom: none !important;
      }
      .contentUserName {
        height: 64px;
        padding: 12px 0;
        border-bottom: 1px solid #d5d5d5;
        margin: 0 10px;

        .contentUserNameOne {
          font-size: 14px;
          line-height: 1.3em;
          color: #999;
        }
        .contentUserNameTwo {
          .img1 {
            width: 34px;
            height: 34px;
            position: relative;
            border-radius: 50%;
            background-color: #333;
            .imgIcon {
              color: #fff;
              width: 34px;
              height: 34px;
              text-align: center;
              line-height: 34px;
              font-size: 18px;
            }
          }
        }
        .contentUserNameThree {
          .inv-name {
            font-size: 15px;
            color: #333;
          }
          .ivt-status {
            font-size: 12px;
            color: #666;
          }
        }
        .contentUserNameFor {
          font-size: 12px;
          color: #999;
          padding-top: 5px;
        }
      }
    }
  }

  .fotter {
    height: 50px;
    background: #d5d5d5;
    div {
      margin: 10px;
      input {
        width: 100%;
        height: 30px;
        color: #666;
        -webkit-appearance: none;
        outline: none;
        border: none;
        border-radius: 0;
        padding: 0px 20px 0 10px;
      }
      span {
        height: 30px;
        line-height: 30px;
        background: #333;
        color: #fff;
      }
    }
  }

  .empty {
    .icon {
      font-size: 60px;
      line-height: 60px;
      margin: 0 0 10px;
    }
    .txt {
      color: #999;
    }
  }

}