.ks-cleansilk{
  .ks-header._md {
    height: 30px;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    .ks-header-divWrap {
      padding: 0 10px;
      height: 100%;
      color: #101010;
      .divTop {
        text-align: center;
        position: relative;
        line-height: 44px;
        .chevron_left {
          color: #101010;
          position: absolute;
          left: 0;
          font-size: 14px;
          line-height: 44px;
        }
        .regSpan{
          font-size: 18px;
        }
      }
    }
  }
  /*这个是头部tab*/
  .sample md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    color: #101010;
    font-size: 16px;
  }
  .md-tab{
    font-weight: normal;
  }
  .sample .md-tab {
    padding: 10px 6px;
  }
  .sample .md-tab.md-active {
    color: #00bd78;
  }
  .sample md-tabs md-ink-bar {
    flex-shrink: 0;
    color: #00bd78;
    height: 4px;
    margin: 0 0 -4px 0;
    background-color: #00bd78;
  }
  .sample {
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    height: 44px;
    background: #fff;
    min-height: 44px;
    padding: 0 10px;
    border-bottom: 4px solid #d5d5d5;
    md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon .tabsdemoDynamicHeight md-content {
      flex-shrink: 0;
      background: #fff !important;
    }
    md-tabs-canvas {
      flex-shrink: 0;
      overflow: visible;
      height: 40px;
    }
    md-tabs[md-border-bottom] md-tabs-wrapper {
      flex-shrink: 0;
      border-width: 0 0 4px;
      border-color: #d5d5d5;
    }
    md-pagination-wrapper {
      flex-shrink: 0;
      height: 40px;
    }
  }
  .sample .md-tab.md-active{
    font-size: 16px;
  }
  /*这个是头部tab  结束*/
  /*服务详情  开始*/
  .details md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    color: #101010;
    font-size: 16px;
  }
  .details .md-tab {
    padding: 12px 6px;
  }
  .details .md-tab.md-active {
    color: #fff;
  }
  .details md-tabs md-ink-bar {
    flex-shrink: 0;
    color: #fff;
  }
  .details{
    md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon .tabsdemoDynamicHeight md-content {
      flex-shrink: 0;
      background: #00bd78 !important;
    }
    md-tabs-canvas {
      flex-shrink: 0;
      overflow: visible;
      height: 44px;
    }
    md-tabs[md-border-bottom] md-tabs-wrapper {
      flex-shrink: 0;
      border-top: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5;
      margin: 0;
    }
    md-pagination-wrapper {
      flex-shrink: 0;
      height: 44px;
    }
  }
  /*上面是tabs样式比较乱,这里是details自己的样式*/
  .details{
    .md-infos{
      padding: 20px 10px;
      img{
        display: block;
        margin: 0;
        width: 100%;
      }
      p{
        margin: 0;
      }
    }
    .md-info{
      padding: 20px 10px;
      .AttributeCourent {
        .AttributeCourentTop {
          border-bottom: 1px #d5d5d5 solid;
          .txt {
            float: left;
            font-size: 12px;
            color: #101010;
            height: 24px;
            line-height: 24px;
            padding: 0 5px;
            margin: 15px 10px 15px 0;
            background: #f5f5f5;
          }
          .txt.active {
            padding: 0px 15px;
            background: #333;
            color: white;
          }
        }
        .AttributeCourentCenter {
          padding: 0 0 5px 0;
          margin: 0;
          border-bottom: 1px #d5d5d5 solid;
          flex-shrink: 0;
          .centermainTop {
            padding: 0 5px;
            margin: 20px 5px 10px 0;
            flex-shrink: 0;
            .topImg {
              flex-shrink: 0;
              width: 30px;
              height: 30px;
              position: relative;
              border-radius: 50%;
              .empty {
                padding-top: 100%;
                position: relative;
              }
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                padding: 0;
              }
            }
            .centermainTopTxt {
              float: left;
              margin-left: 40px;
              margin-top: -35px;
              .txt1 {
                font-size: 14px;
                color: #101010;
                display: block;
              }
              .txt2 {
                display: block;
                font-size: 12px;
                color: #999;
              }
            }
          }
          .centermainBottom {
            p {
              font-size: 13px;
              line-height: 1.5em;
              color: #101010;
              word-wrap: break-word;
              word-break: break-all;
            }
            .bottomImg {
              display: inline-block;
              margin-right: 10px;
              margin-bottom: 10px;
              width: 70px;
              position: relative;
              &:before {
                content: "";
                display: block;
                padding-top: 100%;
              }
              img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
              }
            }
          }
        }

      }
    }
  }
  .tag{
    margin: 0 5px 15px 5px;
    background-color: #fff;
    justify-content: space-between;
    .tags{
      text-align: center;
      background-color: #f1f1f1;
      display: block;
      height: 30px;
      line-height: 30px;
      margin: 15px 5px 0 5px;
      width: 23%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .actives{
      color: #fff;
      background-color: #00bd78;
    }
  }
  /*服务详情  结束*/
  .myClean {
    margin: 15px 10px 15px 10px;
    border-left: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    .myTitle{
      text-align: center;
      height: 40px;
      line-height: 40px;
      background-color: #f5f5f5;
      font-size: 14px;
      color: #666;
      border-bottom: 1px solid #d5d5d5;
      border-right: 1px solid #d5d5d5;
    }
    .cleanling {
      .cl_item {
        min-height: 150px;
        border-right: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
        position: relative;
        .cl_tiele {
          font-size: 14px;
          color: #101010;
          text-align: center;
          width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0 auto 3px;
        }
        .cl_pri {
          text-align: center;
          font-size: 14px;
          color: #dd191d;
          margin-bottom: 25px;
          .pri_del {
            text-decoration: line-through;
            color: #999;
            font-size: 12px;
          }
        }
        img {
          width: 80%;
          margin: 10px auto 6px;
          display: block;
        }
        .radio{
          position: absolute;
          top: 3px;
          right: 5%;
          text-align: center;
          line-height: 18px;
          border-radius: 50%;
          height: 22px;
          background: #e84e40;
          color: #ffffff;
          font-size: 11px;
          font-style: normal;
          min-width: 22px;
          padding: 0 3px;
          border: 2px solid #fff;
          box-sizing: border-box;
        }
      }
    }
  }
  //底部栏
  div.sheet-footer{
    border-top: 1px solid #d5d5d5 ;
    min-height: 78px;
    div.msg{
      height:30px;
      background: #fff9eb;
      font-size: 14px;
      width: 100%;
      text-align: center;
      line-height: 30px;
      color: #999999;
    }
    div.but{
      height: 48px;
      width: 100%;
      line-height: 48px;

      div.heji{
        background: #666;
        position: relative;

        span{
          color: #fff;
          text-indent: 60px;
          display: inline-block;
        }
        .icoImg{
          text-align: center;
          width: 60px;
          height:60px;
          border-radius: 50%;
          background: #666;
          position: absolute;
          top:-13px;

          .gift{
            margin-top: 15px;
            font-size: 30px;
            color: #fff;
          }
        }
        div.yuanxing{
          position: absolute;
          top: -5px;
          left: 33px;
          text-align: center;
          line-height: 18px;
          border-radius: 50%;
          height: 22px;
          background: #e84e40;
          color: #ffffff;
          font-size: 11px;
          font-style: normal;
          min-width: 22px;
          padding: 0 3px;
          border: 2px solid #666;
          box-sizing: border-box;
        }
      }
      div.xiadan{
        background: #00bd78;
        font-size: 16px;
        color: #fff;
        text-align: center;
      }
    }
  }

}

