.ks-extension {
  .header {
    background: #101010;
    height: 44px;
    font-size: 16px;
    color: #fff;
    .ks-icon {
      margin-left: -5px;
      font-size: 16px;
      color: #fff;
      line-height: 20px;
    }
    md-icon.question-o{
      font-size: 18px;
      margin: 0 0 0 5px;
    }
    .md-icon-button {
      width: 40px;
      margin-top: 3px;
    }

    .chevron_left_Wrap {
      padding-right: 34px;
      width: 20px;
      .chevron_left {
        color: #101010;
        line-height: 24px;
        font-size: 16px;
        margin-top: 2px;
      }
    }
    h1 {
      color: #fff;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin:0;
      font-weight: normal;
    }

  }
  .topContent {
    background: #101010;
    height: 160px;
    div {
      color: #ba9f6e;
      text-align: center;
    }
    .topTxt {
      margin: 20px 0;
      span {
        font-size: 14px;
      }
    }
    .centerTxt {
      margin: 15px 0 0 0;
      span {
        font-size: 30px;
      }
    }
    .bottomTxt {
      font-size: 13px;
      .ks-icon {
        font-size: 8px;
        color: #ba9f6e;
        line-height: 23px;
      }
    }
  }

  .contentWarp {
    border-bottom: 1px solid #d5d5d5;
    background: #fff9eb;
    text-align: center;
    height: 75px;
    .warpLeft, .warpRight {
      margin: 15px 0;
      span {
        font-size: 14px;
        color: #101010;
      }
      div {
        span {
          margin-left: 20px;
          font-size: 16px;
          color: #ba9f6e;
        }
        .ks-icon {
          margin-left: -3px;
          font-size: 8px;
          color: #ba9f6e;
          line-height: 21px;
        }
      }
    }
    .warpLeft {
      border-right: 1px solid #d5d5d5;
    }

  }
  .contentNext {
    border-bottom: 1px #d5d5d5 solid;
    .txtWarp {
      margin: 0 0 0 20px;
      height: 44px;

      .warpLeft {
        float: left;
      }
      .warpRight {
        float: right;
        margin-right: 20px;
      }
    }
    .txtWarp:nth-of-type(1) {
      border-bottom: 1px solid #d5d5d5;
    }
  }
}