<md-bottom-sheet class="md-grid ks-select-spec ks-selsectProduct" layout="column" ng-cloak>
    <div class="header" layout="row">
        <div class="item-img">
            <img ng-src="{{vmd.imgUrl}}{{vmd.detail.imgs[0].key}}"/>
        </div>
        <div flex>
            <!--<div class="Htop" ng-if="vmd.isShow">-->
            <!--￥{{vmd.tempCheckSku.price/100|num:1}}-->
            <!--</div>-->
            <!--<div class="Htop" ng-if="!vmd.isShow">-->
            <!--当前商品缺货-->
            <!--</div>-->
            <!--&lt;!&ndash; <div class="txtWarp" ng-if="vmd.isShow">-->
            <!--库存{{vmd.tempCheckSku.storage}}件-->
            <!--</div>&ndash;&gt;-->
            <div flex>
                <div class="Htop" ng-if="vmd.buyStatus =='2'">
                    ￥{{vmd.checkedSku.activityPrice/100}}
                </div>
                <div class="Htop" ng-if="vmd.buyStatus =='1'">
                    ￥{{vmd.checkedSku.price/100}}
                </div>
            </div>
        </div>
        <md-icon flex="5" class="chevron_left ks-icon" md-font-set="ks-icon" ng-click="vmd.cancel()">close</md-icon>
    </div>
    <md-divider></md-divider>

    <md-content flex="" stop-touch-event>
        <div class="contentTxt" layout="row" ng-repeat="spec in vmd.detail.specs track by $index">
            <div class="selectLeft">{{spec.specName}}：</div>
            <div flex>
                <!--点中之后加active状态-->
                <div class="slectBtn"
                     ng-class="{active:vmd.selectSpecs[spec.specId] == specValue.id}" ng-style="disabled"
                     ng-click="vmd.clickedSpec(spec,specValue)"
                     ng-repeat="specValue in spec.specValues track by $index">
                    {{specValue.name}}
                </div>
            </div>
        </div>
        <div class="contentTxt" layout="row" style="padding-bottom: 14px">
            <div class="selectLeft">数量:</div>
            <div layout="row" class="count">
                <div class="minus" ng-mobile-click="vmd.skuNumCount(-1)" layout="" layout-align="center center">
                    <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ks-minus"></md-icon>
                </div>
                <input type="number" ng-model="vmd.skuNum " layout="" layout-align="center center" readonly/>
                <div class="add" ng-mobile-click="vmd.skuNumCount(1)" layout="" layout-align="center center">
                    <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ks-plus-bold"></md-icon>
                </div>

            </div>
            <div layout="row" style="margin-left: 10px;font-size: 13px;color: #999" layout-align="center center">
                件
            </div>
        </div>

    </md-content>
    <!--<div class="footer" layout="row">-->
    <!--<div class="btnLeft" flex ng-click="vmd.checkSubmit(0)">加入进货单</div>-->
    <!--<div class="btnRight" flex ng-click="vmd.checkSubmit(1)">确定</div>-->
    <!--</div>-->
    <div class="group-fotter" layout="row">
        <div flex="100" class="group" layout="column" layout-align="center" ng-click="vmd.checkSubmit(1)">
            <span>确认</span>
        </div>
    </div>
    <div style="padding-bottom: 80px; background:#fff; flex-shrink: 0"></div>
</md-bottom-sheet>
