<div flex="" layout="column" class="ks-giftCommon ks-main md-whiteframe-z2 ">
 <!--   <md-toolbar class="md-menu-toolbar ks-header topToolbar">
        <div flex layout="row" class="ks-header-divWrap ks-user-divWrap">
            <div class="divTop" flex>
                <md-icon md-font-set="ks-icon" class="chevron_left" ng-click="fallbackPage()">arrow_left</md-icon>
                <span class="regSpan">礼包</span>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>-->
    <md-content class="parent" flex>
        <div id="giftCommon" class="parentDiv1" style="padding-bottom: 20px">
          <!--  <img src="https://o96iiewkd.qnssl.com/ef5c7c9b41a186800bbbaabbf176dcd2" style="width: 100%">
            <div class="wrap">
                <div class="topTitle">产品洗护找小皇叔</div>
                <div class="nextTitle">
                    <i>24</i>
                    <span>年成熟产品经验</span>
                </div>
                <div class="nextTitle">
                    <i>6</i>
                    <span>大专业洗护服务</span>
                </div>
                <div class="centerContent">
                    &lt;!&ndash;  <div class="centerTop">
                          <span class="circle"></span>
                          <span class="txt">清洗/杀菌/去味/清洁/平整</span>
                      </div>&ndash;&gt;
                    <div class="centerBottom">
                        <input type="text" ng-model="data.phone" placeholder="输入手机号"/>
                    </div>
                    <div class="centerBottom">
                        <input type="text" ng-model="data.verifyCode" placeholder="验证码"/>
                    </div>
                    <span style="border-left: 1px solid #9bd8c4; padding:0 15px;position: absolute;right: 20px;bottom: 13px"
                          ng-click="sendCode()">{{fsyzm}}</span>
                </div>
                <div class="bottom">
                    <div class="circleOut" ng-click="exchangeGiftCard()">
                        <div class="circleIn">领</div>
                    </div>
                </div>
            </div>
            <img src="https://o96iiewkd.qnssl.com/Fsz9K89Ocw2NgPMAXEBRKRKWCEpb"
                 style="width: 100%;margin-bottom: -50px">-->
        </div>
    </md-content>
    <!--  <div class="fotter" ng-if="data.getEnum =='EXCHANGE'">
          <div layout="row" layout-align="center stretch">
              <input type="text" placeholder="请输入兑换码" flex ng-model="data.giftCardCode">
              <span flex="25" ng-click="exchangeGiftCard()">兑换</span>
          </div>
      </div>-->
</div>
<!--
<style>
    .parentDiv1 {
        width: 100%;
        background: #fbc50d;
    }

    .parentDiv1 > p {
        margin: 0;
        padding: 0;
    }

    .parentDiv1 > p > img {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .parentDiv1 .wrap {
        width: 300px;
        height: 290px;
        border: 2px solid #c89510;
        border-radius: 16px;
        margin: 30px auto;
        background: #fbc50d;
    }

    .parentDiv1 .wrap .topTitle {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #532f15;
        background: #fbc50d;
        width: 165px;
        margin: -15px auto 0 auto;
    }

    .parentDiv1 .wrap .nextTitle {
        text-align: center;
        font-size: 20px;
        color: #532f15;
        margin: 0 auto;
    }

    .parentDiv1 .wrap .nextTitle > i {
        font-weight: bold;
    }

    .parentDiv1 .wrap .nextTitle > span {
        font-size: 18px;
    }

    .parentDiv1 .wrap .centerContent {
        margin: 0 auto;
    }

    .parentDiv1 .wrap .centerContent .centerTop {
        width: 254px;
        height: 38px;
        margin: 0 auto;
        background: #c89510;
        border-radius: 30px 30px 30px 30px;
        text-align: center;
    }

    .parentDiv1 .wrap .centerContent .centerTop .circle {
        width: 12px;
        height: 12px;
        background: #522e15;
        border-radius: 50%;
        display: inline-block;
        line-height: 38px;
    }

    .parentDiv1 .wrap .centerContent .centerTop .txt {
        color: #532f15;
        display: inline-block;
        font-size: 18px;
        line-height: 38px;
    }

    .parentDiv1 .wrap .centerContent .centerBottom {
        width: 254px;
        height: 38px;
        margin: 15px auto 0 auto;
        border: 2px solid #c89510;
        background: #f6e7c1;
        border-radius: 30px 30px 30px 30px;
        text-align: center;
    }

    .parentDiv1 .wrap .centerContent .centerBottom > input {
        color: #532f15;
        display: inline-block;
        font-size: 18px;
        line-height: 38px;
        border: none;
        padding-left: 10px;
        background: transparent;
    }

    .parentDiv1 .wrap .centerContent .centerBottom > input::-webkit-input-placeholder { /* WebKit browsers */
        color: #532f15;
        font-size: 18px;
    }

    .parentDiv1 .wrap .centerContent .centerBottom > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #532f15;
        font-size: 18px;
    }

    .parentDiv1 .wrap .centerContent .centerBottom > input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #532f15;
        font-size: 18px;
    }

    .parentDiv1 .wrap .bottom {
        height: 24px;
        background: #c89510;
        margin: 50px auto 0 auto;
        position: relative;
    }

    .parentDiv1 .wrap .bottom .circleOut {
        position: absolute;
        left: 50%;
        top: -25px;
        margin-left: -38px;
        width: 76px;
        height: 76px;
        background: #532f14;
        border-radius: 50%;
    }

    .parentDiv1 .wrap .bottom .circleOut .circleIn {
        width: 68px;
        height: 68px;
        border: 1px dashed #c89510;
        border-radius: 50%;
        margin: 3px auto;
        font-size: 40px;
        color: #fbc50d;
        text-align: center;
        line-height: 70px;
    }
</style>-->
