<div flex="" layout="column" class="ks-main ks-confirm-order">

    <md-toolbar class="md-menu-toolbar ks-header">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button">
                <md-icon md-font-set="ks-icon" md-font-icon="ks-arrow_left"></md-icon>
            </md-button>
            <h1 flex>确认订单</h1>
            <div class="icon-placeholder-right"></div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>

    <md-content flex >

        <!-- 有 padding 的 -->
        <div class="order-detail">

            <!-- 收货地址 -->
            <div class="block">

                <div class="title-row" layout-align="center center" layout="">
                    <div class="color-block"></div>
                    <div flex layout="" layout-align="start center">收货地址</div>

                    <div layout="" layout-align="center" class="select-left">
                        <div>选择收货地址</div>
                        <md-icon md-font-set="ks-icon" md-font-icon="ks-arrow_right"></md-icon>
                    </div>
                </div>
                <md-divider class="dashed"></md-divider>
                <div class="content-row" layout="column">
                    <div>毛豆豆 1515***1144</div>
                    <div>浙江省/杭州市/江干区/下沙传媒学院生活区2幢110室</div>
                </div>
                <md-divider></md-divider>
            </div>

            <!-- 商品清单 -->
            <div class="block">

                <div class="title-row" layout-align="center center" layout="">
                    <div class="color-block"></div>
                    <div flex layout="" layout-align="start center">商品清单</div>

                    <div layout="" layout-align="center" class="select-left">
                        <div>选择收货地址</div>
                        <md-icon md-font-set="ks-icon" md-font-icon="ks-arrow_right"></md-icon>
                    </div>
                </div>
                <md-divider class="dashed"></md-divider>

                <div ng-repeat="orderItem in orderItems track by $index">
                    <div layout="row"
                         class="item-row"
                         layout-align="center center">

                        <div class="item-img">
                            <img src="http://placehold.it/600x600"/>
                            <div class="ribbon" ng-if="$last">赠品</div>
                        </div>

                        <div flex layout="column" class="item-desp">
                            <div class="item-title">title title title title title title title title title title title title title title title title title title title title title
                            </div>
                            <div class="item-specs">尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸 尺寸</div>
                            <div flex layout="row" layout-align="" class="price-row">
                                <div flex class="item-price" ng-class="{free:$last}">&nbsp;￥1000.00&nbsp;</div>
                                <div class="count-show">
                                    x 0
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-divider class="dashed" ng-if="!$last"></md-divider>
                </div>
                <md-divider></md-divider>
            </div>


            <!-- 配送方式 -->
            <div class="block">

                <div class="title-row" layout-align="center center" layout="">
                    <div class="color-block"></div>
                    <div flex layout="" layout-align="start center">收货地址</div>
                </div>
                <md-divider class="dashed"></md-divider>
                <div class="content-row" layout="column">
                    <div>快递 包邮</div>
                </div>
                <md-divider></md-divider>
            </div>


            <!-- 优惠券 -->
            <div class="block">

                <div class="title-row" layout-align="center center" layout="">
                    <div class="color-block"></div>
                    <div flex layout="" layout-align="start center">优惠券</div>
                    <div layout="" layout-align="center" class="select-left">
                        <div>暂无可用优惠券</div>
                        <md-icon md-font-set="ks-icon" md-font-icon="ks-arrow_right"></md-icon>
                    </div>
                </div>
                <div class="content-row no-right" layout="row">
                    <span flex="">首月免单 - ￥999.99</span>
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-trash-can-o"></md-icon>
                </div>
            </div>


            <!-- 发票抬头 -->
            <div class="block">
                <div class="title-row" layout-align="center center" layout="">
                    <div class="color-block"></div>
                    <div flex layout="" layout-align="start center">发票抬头</div>
                    <div layout="" layout-align="center" class="select-left">
                        <div>选择</div>
                        <md-icon md-font-set="ks-icon" md-font-icon="ks-arrow_right"></md-icon>
                    </div>
                </div>
                <md-divider class="dashed"></md-divider>
                <div class="content-row no-right" layout="row">
                    <div flex>钱皇网络股份有限公司</div>
                    <md-icon md-font-set="ks-icon" md-font-icon="ks-trash-can-o"></md-icon>
                </div>
                <md-divider></md-divider>
            </div>

            <!-- 订单总额，优惠金额 -->
            <div class="block summary" layout="column" layout-align="center center">
                <div>商品金额： ￥9999.99</div>
                <div>不使用优惠券</div>
            </div>

        </div>


        <md-divider></md-divider>
        <div class="buyer-memo" layout="">
            <textarea flex="" placeholder="补充说明..."></textarea>
        </div>

        <md-divider></md-divider>

    </md-content>
    <div class="pay-amount" layout="row" layout-align="center center">
        应付金额： ￥9999.99
    </div>
    <div class="submit-btn" layout="row" layout-align="center center">
        <md-button class="md-primary md-raised" flex="90">提交订单</md-button>
    </div>
</div>