/**
 * 顶部菜单条
 */
.ks-header {
  @include flex-shrink(0);
  @include transform(none);
  @include transition(none);
  height: $ks-header-height;
  min-height: $ks-header-height;

  .md-toolbar-tools {
    height: $ks-header-height;
    max-height: $ks-header-height;
  }
  md-icon {
    vertical-align: inherit;
  }
  h1 {
    text-align: center;
  }

  .icon-placeholder-left {
    box-sizing: border-box;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 6px 0 -8px;
  }
  .icon-placeholder-right {
    box-sizing: border-box;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 -8px 0 6px;
  }

  // TODO 媒体查询：横向、纵向时特别处理，参考 angular-materials.scss $toolbar-height-mobile-landscape
  min-height: 44px;
}